{% extends "two_factor/_base.html" %}
{% load i18n two_factor %}

{% block content %}
  <h1>{% block title %}{% trans "Sicurezza account" %}{% endblock %}</h1>

  {% if default_device %}
    {% if default_device_type == 'TOTPDevice' %}
      <p>{% trans "I token saranno generati dal tuo dispositivo." %}</p>
    {% elif default_device_type == 'PhoneDevice' %}
      <p>{% blocktrans with primary=default_device|device_action %}Metodo primario: {{ primary }}{% endblocktrans %}</p>
    {% elif default_device_type == 'RemoteYubikeyDevice' %}
      <p>{% blocktrans %}I token saranno generati dalla tua YubiKey.{% endblocktrans %}</p>
    {% endif %}
    {% comment %}
    <h2>{% trans "Backup Phone Numbers" %}</h2>
    <p>{% blocktrans %}Qualora il metodo di generazione token non fosse disponibile (Google Authenticator o YubiKey), 
	il sistema provvederà ad inviare un token ai numeri di telefono di seguito elencati.{% endblocktrans %}</p>
    <ul>
      {% for phone in backup_phones %}
        <li>
          {{ phone|device_action }}
          <form method="post" action="{% url 'two_factor:phone_delete' phone.id %}"
                onsubmit="return confirm('Sei sicuro di voler procedere?')">
            {% csrf_token %}
            <button class="btn btn-xs btn-warning"
                    type="submit">{% trans "Unregister" %}</button>
          </form>
        </li>
      {% endfor %}
    </ul>
    <p><a href="{% url 'two_factor:phone_create' %}"
       class="btn btn-info">{% trans "Aggiungi numero di telefono" %}</a></p>
    {% endcomment %}

    <h2>{% trans "Backup Tokens" %}</h2>
    <p>
      {% blocktrans %}Qualora non avessi con te il generatore di token, 
	  potrai effettuare l'accesso utilizzando un codice temporaneo tra quelli elencati.{% endblocktrans %}
      {% blocktrans count counter=backup_tokens %}
        Hai ancora a disposizione UN SOLO token di backup.
      {% plural %}
        Hai ancora a disposizione {{ counter }} token di backup.
      {% endblocktrans %}
    </p>
    <p><a href="{% url 'two_factor:backup_tokens' %}"
          class="btn btn-info">{% trans "Mostra codici" %}</a></p>

    {% if request.user.is_superuser %}
      <h3>{% trans "Disabilita doppia autenticazione" %}</h3>
      <p>{% blocktrans %}However we strongly discourage you to do so, you can
        also disable two-factor authentication for your account.{% endblocktrans %}</p>
      <p><a class="btn btn-default" href="{% url 'two_factor:disable' %}">
        {% trans "Disabilita doppia autenticazione" %}</a></p>
    {% endif %}
  {% else %}
    <p>{% blocktrans %} La doppia autenticazione non è attualmente abilitata per il tuo 
	  account, ti chiediamo di abilitarla al fine di aumentarne il livello di sicurezza.{% endblocktrans %}</p>
    <p><a href="{% url 'two_factor:setup' %}" class="btn btn-primary">
      {% trans "Abilita doppia autenticazione" %}</a>
    </p>
  {% endif %}
{% endblock %}
