{% extends "anagrafica_utente_vuota.html" %}

{% load bootstrap3 %}

{% block menu_laterale %}
    <div class="col-md-2 well well-sm">
        <ul id="sezione" role="navigation" class="nav nav-pills nav-stacked navbar-collapse collapse">
            <li class="dropdown-header grassetto piu-grande">Articoli</li>
                <li role="presentation" {% if link_url in request.path %}class="active"{% endif %}>
                    <a href="{% url 'articoli:lista' %}">
                        <i class="fa fa-newspaper-o fa-fw"></i>
                        Elenco
                    </a>
                </li>
            <hr />
        </ul>
    </div>
{% endblock %}

{% block app_contenuto %}
    <div class="articolo">
        {% include "includes/articolo.html" %}
        <p><a href='{% url 'articoli:lista' %}'><i class="fa fa-level-up" ></i> torna all'elenco</a></p>
    </div>
{% endblock %}
