{% extends "anagrafica_utente_vuota.html" %}

{% load bootstrap3 %}

{% block pagina_titolo %}Articoli{% endblock %}

{% block menu_laterale %}
    <div class="col-md-2 well well-sm">
        <ul id="sezione" role="navigation" class="nav nav-pills nav-stacked navbar-collapse collapse">
            <li class="dropdown-header grassetto piu-grande">Articoli</li>
                <li role="presentation" {% if link_url in request.path %}class="active"{% endif %}>
                    <a href="{{ link_url|urlencode }}">
                        <i class="fa fa-newspaper-o fa-fw"></i>
                        Elenco
                    </a>
                </li>
            <hr />
        </ul>
    </div>
{% endblock %}

{% block app_contenuto %}
    <h2 class="allinea-centro text-success">
        Articoli
    </h2>

    <div class="alert alert-info">
        <h4><i class="fa fa-info-circle"></i> Benvenuto nella sezione dedicata alle notizie.</h4>
    </div>

    <div class="panel">
        <form method='GET' action=".">
            <label for="query-articoli">Ricerca articoli per titolo</label>
            <input type="text" name="q" id="query-articoli">
            <input id="selettore-data-mese-anno" name="date" placeholder="m-Y" type="text"/>
            <button type="submit" class="btn btn-primary">
                <i class="fa fa-fw fa-check-circle"></i>Cerca
            </button>
        </form>
    </div>

    {% for articolo in articoli %}
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h4 class="panel-title">
                <i class="fa fa-fw fa-newspaper-o"></i>
                <span>{{articolo.titolo}}</span> - <span>{{articolo.data_inizio_pubblicazione}}<span>
            </h4>
        </div>
        <div class="panel-body">
            <p>{{articolo.estratto}}</p>
            <p><a href={{articolo.get_absolute_url}}>Link</a></p>
        </div>
    </div>
    {% empty %}
        <div class="alert alert-info alert-block">
            <h4><i class="fa fa-info-circle"></i> Nessun articolo</h4>
                    <p>Non &egrave; stato trovato alcun articolo.</p>
         </div>
    {% endfor %}
{% endblock %}
