{% extends "anagrafica_utente_vuota.html" %}

{% load bootstrap3 %}

{% block pagina_titolo %}Articoli{% endblock %}

{% block menu_laterale %}
    <div class="col-md-2 well well-sm">
        <ul id="sezione" role="navigation" class="nav nav-pills nav-stacked navbar-collapse collapse">
            <li class="dropdown-header grassetto piu-grande">Articoli</li>
                <li role="presentation" {% if link_url in request.path %}class="active"{% endif %}>
                    <a href="{{ link_url|urlencode }}">
                        <i class="fa fa-newspaper-o fa-fw"></i>
                        Elenco
                    </a>
                </li>
            <hr />
        </ul>
    </div>
{% endblock %}

{% block app_contenuto %}
    <h2 class="allinea-centro text-success">
        Articoli
    </h2>

    <div class="alert alert-info">
        <h4><i class="fa fa-info-circle"></i> Benvenuto nella sezione dedicata alle notizie.</h4>
    </div>

    <div class="panel">
        <form method='GET' action=".">
            <label for="query-articoli">Ricerca articoli per titolo</label>
            <input type="text" name="q" id="query-articoli">
            <select name="anno" value="">Scegli un anno</option>
                {% for anno in anni %}
                    <option value='{{anno}}'>{{anno}}</option>
                {% endfor %}
            </select>
            <select name="mese" value="">Scegli un mese</option>
                <option value='01'>Gennaio</option>
                <option value='02'>Febbraio</option>
                <option value='03'>Marzo</option>
                <option value='04'>Aprile</option>
                <option value='05'>Maggio</option>
                <option value='06'>Giugno</option>
                <option value='07'>Luglio</option>
                <option value='08'>Agosto</option>
                <option value='09'>Settembre</option>
                <option value='10'>Ottobre</option>
                <option value='11'>Novembre</option>
                <option value='12'>Dicembre</option>
            </select>
            <button type="submit" class="btn btn-primary">
                <i class="fa fa-fw fa-check-circle"></i>Cerca
            </button>
        </form>
    </div>

    {% for articolo in articoli %}
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h4 class="panel-title">
                <i class="fa fa-fw fa-newspaper-o"></i>
                <span>{{articolo.titolo}}</span> - <span>{{articolo.data_inizio_pubblicazione}}<span>
            </h4>
        </div>
        <div class="panel-body">
            <p>{{articolo.estratto}}</p>
            <p><a href={{articolo.get_absolute_url}}>Link</a></p>
        </div>
    </div>
    {% empty %}
        <div class="alert alert-info alert-block">
            <h4><i class="fa fa-info-circle"></i> Nessun articolo</h4>
                    <p>Non &egrave; stato trovato alcun articolo.</p>
         </div>
    {% endfor %}
        {% if is_paginated %}
        <div class="pagination">
            <span class="page-links">
                {% if page_obj.has_previous %}
                    <a href="/articoli?page={{ page_obj.previous_page_number }}">Precedente</a>
                {% endif %}
                <span class="page-current">
                    Pagina {{ page_obj.number }} di {{ page_obj.paginator.num_pages }}.
                </span>
                {% if page_obj.has_next %}
                    <a href="/articoli?page={{ page_obj.next_page_number }}">Successiva</a>
                {% endif %}
            </span>
        </div>
    {% endif %}
{% endblock %}
