<nav class="navbar navbar-inverse navbar-fixed-bottom">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand">
          <i class="fa fa-bug"></i>
          <span class="text-danger">Ehi, tu!</span>
          Stai usando una versione di prova di Gaia.
      </a>
    </div>
    <div id="navbar" class="navbar-collapse collapse allinea-destra">
            <p class="navbar-btn btn-group">
                <a class="btn btn-sm btn-default" data-toggle="modal" data-target="#avviso-staging">
                    <i class="fa fa-question-circle"></i>
                    Cosa vuol dire?
                </a>

                <a class="btn btn-sm btn-primary" href="https://gaia.cri.it">
                    <i class="fa fa-sign-out"></i>
                    Vai a gaia.cri.it (produzione)
                </a>
            </p>
    </div><!--/.navbar-collapse -->
  </div>
</nav>

<!-- Modal -->
<div class="modal fade" id="avviso-staging" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">
            <i class="fa fa-bug"></i>
            Versione di prova di Gaia
        </h4>
      </div>
      <div class="modal-body">

            <h4>Cosa vuol dire versione di prova?</h4>
            <p>Non stai usando il sito web ufficiale del Progetto Gaia. Questa &egrave; una versione di prova,
                nota anche come versione di <i>staging</i> o di <i>sviluppo</i>.</p>
            <p>Queste versioni di Gaia sono utilizzate per il training del personale di supporto, per le
                giornate di formazione sulla piattaforma, nelle dimostrazioni, oppure dagli sviluppatori
                per assicurarsi che le nuove funzionalit&agrave; siano pronte per il rilascio al pubblico.</p>
            <p>Se non sai cosa &egrave; una versione di prova, e sei finito/a qui per sbaglio, niente paura.
                Usa il pulsante sotto per accedere alla versione ufficiale di Gaia, quella che &egrave;
                accessibile all'indirizzo <strong>gaia.cri.it</strong>.</p>
            <p>&nbsp;</p>

            <h4>Che differenze ci sono?</h4>
            <p>Le versioni di prova di Gaia sono generalmente molto simili alla versione ufficiale, ma
                con delle piccole differenze. Ad esempio, possono contenere delle nuove funzionalit&agrave;
                che devono essere messe alla prova prima di essere rilasciate al pubblico.</p>
            <p>In genere, possono esserci delle discordanze tra i dati in questa versione e quelli sulla versione
                ufficiale di Gaia. In quel caso, fai affidamento sulla versione ufficiale. Non &egrave; detto
                che le funzionalit&agrave; in questa versione di prova verranno integrate in Gaia.</p>
            <p>&nbsp;</p>

            <h4>Che succede se premo questo pulsante?</h4>
            <p>Niente timore, premi quel pulsante e scoprilo. </p>
            <p>Per quanto questa versione simuler&agrave; le stesse procedure di Gaia, e troverai dei messaggi nella
                tua casella di posta in uscita su questa versione di Gaia, le procedure non saranno iniziate veramente
                e questa versione di Gaia non inoltra davvero i messaggi di posta agli altri utenti.</p>
            <p>Sentiti libero di effettuare tenativi. Ricorda per&ograve; di rispettare sempre i termini e le condizioni
                del servizio, e la privacy degli altri.</p>
            <p>&nbsp;</p>

            <h4>Altri quesiti?</h4>
            <p>Se hai domande su questa versione di Gaia, vuoi utilizzare una versione di prova di Gaia per della
                formazione nel tuo Comitato, se vuoi segnalare un malfunzionamento, o per qualunque altra domanda,
                scrivici a:</p>
            <p>
                <a href="mailto:info@gaia.cri.it">
                    <i class="fa fa-envelope"></i>
                    info@gaia.cri.it
                </a>
            </p>


      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">
            Chiudi questo messaggio
        </button>
        <a class="btn btn-primary" href="https://gaia.cri.it">
            Vai alla versione ufficiale di Gaia (gaia.cri.it)
        </a>
      </div>
    </div>
  </div>
</div>