language: python
python:
- '3.4'
- '3.5'
addons:
  postgresql: "9.4"

env:
  global:
    - ENABLE_TEST_APPS=1

cache: pip

before_script:
- export DISPLAY=:99.0
- sh -e /etc/init.d/xvfb start
- sleep 3
- psql -U postgres -c 'CREATE DATABASE test_jorvik;'
- psql -U postgres -c "CREATE EXTENSION postgis" -d test_jorvik
- psql -U postgres -c "CREATE EXTENSION postgis_topology" -d test_jorvik
- pg_restore -O -d test_jorvik ./base/test_jorvik.pgsql
install:
- pip install -U pip wheel
- pip install -r requirements.txt
script:
- travis_retry python ./manage.py test -k -v 3 --parallel 2
