version: '3'

services:
  db:
    image: mdillon/postgis
    volumes:
      - .:/code
    ports:
      - "5432:5432"

  web:
    build: .
    volumes:
      - .:/code
      - /tmp/media:/tmp/media
    ports:
      - "8000:8000"
    links:
      - db
      - pdf
      - broker
    depends_on:
      - db
      - pdf
    hostname: web
    environment:
      - "DJANGO_LIVE_TEST_SERVER_ADDRESS=web:8081-8181"

  broker:
    image: redis
    ports:
      - "6379:6379"  # Redis TCP

  celery:
    build: .
    volumes:
      - .:/code
      - /tmp/media:/tmp/media
    depends_on:
      - broker
    environment:
      - "SKIP_DJANGO_COLLECSTATIC=1"
      - "SKIP_DJANGO_MIGRATE=1"
    command: "celery worker -b redis://broker -A jorvik -l info -Q queue_monitoraggio,queue_formazione,coda_email_rischedula,coda_email_invio,queue_monitoraggio,periodic_ufficio_soci,shared_ufficio_soci -B"

  pdf:
    build: https://github.com/CroceRossaItaliana/gaia-dompdf.git#master
