{% extends "base_avviso.html" %}

{% load bootstrap3 %}

{% block pagina_titolo %}Modifica password{% endblock %}

{% block avviso_titolo_classe %}text-success{% endblock %}

{% block avviso_titolo %}
    <i class="fa fa-key"></i>
    Modifica password
{% endblock %}

{% block avviso_corpo %}

    <hr />
{% if link_valido %}
        <div class="row">
            <div class="col-md-8 col-md-offset-2">

                <form method="post">
                {% csrf_token %}
                {% bootstrap_form modulo %}

                    <button type="submit" class="btn btn-block btn-primary">
                        <i class="fa fa-send"></i>
                        Modifica password
                    </button>

                    <input type="hidden" name="next" value="{{ next }}" />

                </form>

                <p>&nbsp;</p>

            </div>
        </div>
    {% else %}

        <p>Il collegamento che hai seguito non &egrave; pi&ugrave; valido. Questo &egrave; generalmente causato da una delle seguenti ragioni:</p>
        <ul>
          <li>Hai seguito un collegamento che ti &egrave; stato inviato pi&ugrave; di {{scadenza_token}} ore fa, ed &egrave; gi&agrave; scaduto. <a href="/recupera_password/">Richiedi un nuovo collegamento</a>.;</li>
          <li>Hai gi&agrave; reimpostato la tua password usando questo collegamento. <a href="/login/">Accedi a Gaia con la nuova password</a>.</li>
        </ul>
        <p>Se sei assolutamente certo/a di non aver richiesto che la tua password venisse reimpostata, il tuo account di posta potrebbe essere stato compromesso: contatta immediatamente il tuo Ufficio Soci ed il supporto tecnico del tuo fornitore del servizio di posta elettronica.</p>

    {% endif %}
{% endblock %}
