{% extends 'base_autorizzazioni_vuota.html' %}

{% load base_tags %}

{% block pagina_titolo %}({{ richieste.count }}) Richieste{% endblock %}

{% block app_contenuto %}
    <div class="alert alert-info piu-piccolo">
        <i class="fa fa-fw fa-info-circle"></i> Suggerimento &mdash; Cliccando su 'Conferma' o 'Nega' con il tasto centrale del mouse, aprir&agrave; la pagina in una nuova finestra.
    </div>

    {% for richiesta in richieste %}
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-9">
                        {% include richiesta.template_path %}
                    </div>
                    <div class="col-md-3">
                        <div class=" btn-group-vertical btn-group-sm btn-block">
                            <a class="btn btn-success" href="{% autorizzazione_concedi_url richiesta %}"
                               onclick="return confirm('Sei sicuro di voler confermare la richiesta?')"><i class="fa fa-fw fa-check"></i> {% richiesta_autorizzazione_button_text %}</a>

                            {% richiesta_autorizzazione_button 'nega' as richiesta_autorizzazione_nega_button %}
                            {% if richiesta_autorizzazione_nega_button %}
                                {% if richiesta.oggetto.titolo.tipo == 'TC' %}
                                    <a class="btn btn-danger" href="/autorizzazioni/{{ richiesta.pk }}/nega/"
                                       onclick="return confirm('Sei sicuro di voler respingere la richiesta?')"><i class="fa fa-fw fa-times"></i> Respingi</a>
                                {% else %}
                                    <a class="btn btn-danger" href="/autorizzazioni/{{ richiesta.pk }}/nega/"
                                       onclick="return confirm('Sei sicuro di voler negare la richiesta?')"><i class="fa fa-fw fa-times"></i> Nega</a>
                                {% endif %}
                            {% endif %}

                            {# Titolo.TITOLO_CRI #}
                            {% if richiesta.oggetto.titolo.tipo == 'TC' %}
                                {% if not richiesta.mail_verifica %}
                                    <p style="padding-top:6px;">
                                        <a href="{% url 'cv:notifica_comitato_regionale_dati_errati' richiesta.pk %}"><i class="fas fa-exclamation-circle"></i>
                                            Comunicare al Comitato Regionale che i dati inseriti sono errati</a>
                                    </p>
                                {% else %}
                                    <p style="padding-top:6px;">
                                        <i class="fas fa-exclamation-circle"></i>
                                        Comunicare al Comitato Regionale che i dati inseriti sono errati
                                    </p>
                                {% endif %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel-footer piu-piccolo">
                <div class="row">
                    <div class="col-md-7">
                        <i class="fa fa-fw fa-clock-o"></i> Richiesta inoltrata {{ richiesta.creazione }} da {{ richiesta.richiedente.nome_completo }}.
                    </div>

                    <div class="col-md-5 allinea-destra">
                        In dubbio?
                        <a href="{{ richiesta.richiedente.messaggio_url }}" target="_new">Scrivi un messaggio a {{ richiesta.richiedente.nome }} <i class="fa fa-fw fa-envelope-o"></i></a>
                    </div>
                </div>

                {% if richiesta.scadenza %}
                    <span class="text-warning grassetto">
                        <i class="fa fa-fw fa-warning"></i> La richiesta
                            {% if richiesta.tipo_gestione == richiesta.NG_AUTO %} scadrà
                            {% elif richiesta.tipo_gestione == richiesta.AP_AUTO %} verrà automaticamente approvata
                            {% endif %}

                        {{ richiesta.scadenza|date:"DATETIME_FORMAT" }}.
                    </span>
                {% endif %}
            </div>
        </div>

    {% empty %}
        <div class="alert alert-block alert-success">
            <h4><i class="fa fa-fw fa-check-circle"></i> Ben fatto!</h4>
            <p>Non ci sono richieste in attesa.</p>
        </div>
    {% endfor %}

{% endblock %}
