{% extends "base_avviso.html" %}

{% load bootstrap3 %}

{% block pagina_titolo %}Recupera password{% endblock %}

{% block avviso_titolo_classe %}text-success{% endblock %}

{% block avviso_titolo %}
    <i class="fa fa-key"></i>
    Recupera password
{% endblock %}

{% block avviso_corpo %}

    <hr />

    <div class="row">
        <div class="col-md-8 col-md-offset-2">

            {% if errore %}
            <div class="alert alert-danger">
                <i class="fa fa-warning fa-fw"></i> <strong>Dati non corretti</strong>.
                {% if errore == 1 %}
                Account non esistente. <a href='/registrati/volontario/comitato/'>Registrati</a>.
                {% elif errore == 2 %}
                Nessuna utenza. Chiedi al tuo Ufficio Soci di attivare la tua utenza.
                {% include 'base_informazioni_delegati.html' with delegati=delegati %}
                {% elif errore == 3 %}
                Email errata. Chiedi al tuo Ufficio Soci di cambiare la tua e-mail.
                {% include 'base_informazioni_delegati.html' with delegati=delegati %}
                {% endif %}
            </div>
            {% endif %}

            <form method="post" action="/recupera_password/">
                {% csrf_token %}

                {% bootstrap_form modulo %}

                <button type="submit" class="btn btn-block btn-primary">
                    <i class="fa fa-send"></i>
                    Richiedi nuova password
                </button>

                <input type="hidden" name="next" value="{{ next }}" />

            </form>

            <p>&nbsp;</p>

        </div>
    </div>

{% endblock %}
