{% extends 'base_avviso.html' %}

{% load bootstrap3 %}

{% block pagina_titolo %}
    {% if richiesta.oggetto.titolo.is_titolo_cri %}
        Respingi
    {% else %}
        Nega
    {% endif %}
{% endblock %}

{% block avviso_titolo %}
    {% if richiesta.oggetto.titolo.is_titolo_cri %}
        Respingi
    {% else %}
        Nega
    {% endif %}
{% endblock %}


{% block avviso_corpo %}

    {% if richiesta.necessaria %}

        <p>Per {% if richiesta.oggetto.titolo.is_titolo_cri %}respingere{% else %}negare{% endif %} questa richiesta, &egrave; necessario aggiungere le seguenti informazioni.</p>

        <form method="POST">
            {% csrf_token %}
            {% bootstrap_form modulo %}

            <button type="submit" class="btn btn-block btn-danger">
                <i class="fa fa-fw fa-times">
                    {% if richiesta.oggetto.titolo.is_titolo_cri %}
                        Respingi richiesta
                    {% else %}
                        Nega richiesta
                    {% endif %}
                </i>
            </button>
        </form>

    {% else %}

        <p class="text-success grassetto">
            {% if richiesta.oggetto.titolo.is_titolo_cri %}
                Richiesta respinta.
            {% else %}
                Richiesta negata.
            {% endif %}
        </p>


    {% endif %}

    <a class="btn btn-block btn-default" href="{{ torna_url }}">
        <i class="fa fa-fw fa-mail-reply"></i>
        Torna all'elenco richieste in attesa
    </a>

    <p>&nbsp;</p>

{% endblock %}