{% load thumbnail %}

<a href="{{ richiesta.oggetto.file.url }}" target="_new" title="Vedi fototessera">
    {% thumbnail richiesta.oggetto.file "400x400" crop as im %}
    <img src="{{ im.url }}" width="150" height="150" align="left" alt="Anteprima fototessera" style="margin-right: 8px; margin-bottom: 5px; border: 1px solid black;" />
</a>

<p>{{ richiesta.oggetto.persona.link|safe }} chiede l'approvazione della seguente fotografia per l'uso come fototessera.
    <a href="{{ richiesta.oggetto.file.url }}" target="_new" title="Vedi fototessera">Vedi fotografia.</a>
</p>

<p>&Egrave; necessario assicurarsi che la fototessera rispetti le norme riportate
    <a target="_new" href="https://training.cri.it/pluginfile.php/593/mod_resource/content/1/Norme%20fototessera.pdf">in questa pagina</a>.
</p>
