{% extends 'base_autorizzazioni_vuota.html' %}

{% block pagina_titolo %}
    ({{ richieste.count }}) Richieste
{% endblock %}

{% block app_contenuto %}

    <div class="alert alert-info piu-piccolo">
        <i class="fa fa-fw fa-info-circle"></i>
        Suggerimento &mdash; Cliccando su 'Conferma' o 'Nega' con il tasto centrale del mouse,
            aprira la pagina in una nuova finestra.
    </div>

    {% for richiesta in richieste %}

        <div class="panel panel-default ">
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-9">
                        {% include richiesta.template_path %}

                        {% if richiesta.scadenza %}
                            <div class="alert alert-warning">
                                la richiesta sarà automaticamente
                                {% if richiesta.tipo_gestione == richiesta.NG_AUTO %}
                                    negata
                                {% elif richiesta.tipo_gestione == richiesta.AP_AUTO %}
                                    approvata
                                {% endif %}
                                il {{ richiesta.scadenza|date:"SHORT_DATETIME_FORMAT" }}
                            </div>
                        {% endif %}
                    </div>
                    <div class="col-md-3">
                        <div class=" btn-group-vertical btn-group-sm btn-block">
                            <a class="btn btn-success" href="/autorizzazioni/{{ richiesta.pk }}/concedi/">
                                <i class="fa fa-fw fa-check"></i>
                                Conferma
                            </a>
                            <a class="btn btn-danger" href="/autorizzazioni/{{ richiesta.pk }}/nega/">
                                <i class="fa fa-fw fa-times"></i>
                                Nega

                            </a>

                        </div>

                    </div>

                </div>

            </div>
            <div class="panel-footer piu-piccolo">
                <i class="fa fa-fw fa-clock-o"></i>
                Richiesta inoltrata il {{ richiesta.creazione }}
                da {{ richiesta.richiedente.nome_completo }}.

                <p class="pull-right">
                    In dubbio?
                    <a href="{{ richiesta.richiedente.messaggio_url }}" target="_new">
                        Scrivi un messaggio a {{ richiesta.richiedente.nome }}
                        <i class="fa fa-fw fa-envelope-o"></i>

                    </a>
                </p>
            </div>

        </div>

    {% empty %}

        <div class="alert alert-block alert-success">
            <h4>
                <i class="fa fa-fw fa-check-circle"></i>
                Ben fatto!
            </h4>
            <p>
                Non ci sono richieste in attesa.
            </p>

        </div>
    {% endfor %}

{% endblock %}