{% extends "base_vuota.html" %}

{% load bootstrap3 %}

{% block pagina_titolo %}Sicurezza su Gaia{% endblock %}

{% block pagina_principale %}

    <div class="container">
        <div class="col-md-12">
            <h2><i class="fa fa-shield"></i> Per favore, leggi attentamente le condizioni d'uso di Gaia.</h2>
            <hr />
            <h3>Informativa ex art. 13 D.Lgs. n. 196/2003 per il trattamento dei dati personali
            degli utenti che desiderano registrarsi sul portale Gaia</h3>

            <p>Gentile Volontario/a,
            desideriamo informarti che il decreto legislativo del 30 giugno 2003 n. 196 "Codice in materia
            di protezione dei dati personali" prevede la tutela delle persone fisiche e giuridiche in relazione al
            trattamento dei dati personali, ed ai sensi del suo articolo 13 ti preghiamo di leggere attentamente come
            verranno trattati i tuoi dati personali una volta inseriti sul Portale a cui stai per registrarti.</p>
            <p>La titolarità del trattamento dei dati personali che inserirai o che comunicherai al tuo Comitato di
            appartenenza sia quando ti iscrivi, sia al momento della registrazione al portale e durante il tuo volontariato
            in CRI, è della Croce Rossa Italiana e per ogni variazione, problema, richiesta di aggiornamento, dubbio, ecc.
            sul trattamento dei tuoi dati personali potrai rivolgerti al Presidente del tuo Comitato, personalmente, per
            corrispondenza anche via mail o, se hai un problema tecnico, potrai rivolgerti direttamente agli amministratori
            di sistema all’indirizzo email <a href='mailto:supporto@gaia.cri.it'><i class="fa fa-envelope-o"></i> supporto@gaia.cri.it</a>.
            Il Responsabile del trattamento dei dati personali è il Direttore Regionale CRI.</p>

            <ul>
                <li>
                    <h4>Finalità del trattamento dei dati</h4>
                    <p>I dati personali inseriti sul portale saranno trattati esclusivamente per
                    le finalità istituzionali della Croce Rossa Italiana, nonché quelle amministrative ad esse strumentali,
                    ed in particolare per la gestione del tuo rapporto di volontariato con la Croce Rossa Italiana,
                    compresi il tuo aggiornamento e i tuoi servizi.</p>
                </li>

                <li>
                    <h4>Modalità di trattamento dei dati</h4>
                    <p>I dati personali da te forniti saranno trattati nel rispetto delle norme sulla protezione dei dati
                    personali e, in particolare, delle misure di sicurezza previste nell’allegato B del Codice, del Regolamento
                    sul trattamento dei dati sensibili e giudiziari della CRI e dei regolamenti che prevedono l’utilizzo dei
                    dati personali dei volontari. </p>
                    <p>Inoltre, i dati personali saranno trattati in base ai principi di correttezza, liceità e
                    trasparenza e di tutela della tua riservatezza e dei tuoi diritti.</p>
                    <p>Tu stesso potrai inserire, aggiornare, modificare i tuoi dati personali sul Portale
                    o richiedere al Presidente del tuo Comitato che ciò venga fatto. E’ importante per noi
                    che i tuoi dati siano sempre corretti e aggiornati.</p>
                    <p>Per inserire e modificare i tuoi dati sul Portale dovrai seguire le procedure
                    che ti saranno indicate per poi attendere la relativa autenticazione e autorizzazione.</p>
                </li>

                <li>
                    <h4>Tipologie di dati personali</h4>
                    <p>I dati che ti verranno richiesti di inserire sul portale si distinguono in:</p>
                    <p>
                        <ol>
                            <li> dati che dovrai fornire necessariamente, in quanto indispensabili per
                            gestire l’anagrafica dei soci attivi (nome, cognome, luogo, data di nascita, residenza, codice fiscale….);</li>
                            <li> dati personali che dovrai inserite nel caso di richiesta di autorizzazione a trasferimenti,
                            inserimento nel ruolo di riserva o estensione e che saranno trattati dai responsabili dei vari
                            settori, incaricati del trattamento;</li>
                            <li> informazioni personali relative alle tue presenze e/o assenze nei turni di servizi
                            secondo le varie attività, finalizzate sia all’organizzazione dei turni stessi che alla
                            redazione dei riepiloghi periodici delle attività e delle ore di servizio svolte e che saranno trattati
                            dai responsabili dei servizi della tua sede; </li>
                            <li> dati che potrai fornire facoltativamente (patenti civili e/o di Croce Rossa,
                            qualifiche personali e/o professionali) e i recapiti personali (telefono personale e/o indirizzo mail personale);
                            per questi ultimi dovrai fornire uno specifico consenso se permetterai il loro inserimento nella rubrica del Comitato</li>
                        </ol>
                    </p>
                    <p>I dati richiesti serviranno per autorizzare la tua presenza in corsi di aggiornamento specifici
                    o attività per cui è necessaria una particolare qualifica.</p>
                </li>

                <li>
                    <h4>Dati sensibili e giudiziari</h4>
                    <p>Al momento non è previsto l’inserimento sul Portale di dati sensibili e giudiziari,
                    e ti raccomandiamo di non comunicare tramite il portale eventuali malattie causa della tua assenza dai turni. </p>
                    <p>Ti raccomandiamo di non inserire sul portale dati personali che potrebbero inficiare la riservatezza
                    tua o di altre persone; non inserire informazioni che, direttamente o indirettamente, possono
                    evidenziare dati su etnia, razza, opinioni politiche, filosofiche, religiose, appartenenze sindacali,
                    stato di salute o vita sessuale sia tuoi che di altri; ed inoltre, non inserire dati giudiziari.</p>
                </li>

                <li>
                    <h4>I tuoi diritti sui dati personali</h4>
                    <p>Potrai sempre rivolgerti senza particolari formalità, per far valere i tuoi diritti, così come previsto
                    dall’articolo 7 del D.Lgs. n. 196/2003 all'Ufficio Soci o al Presidente del tuo Comitato di appartenenza.</p>
                    <p>In particolare il Codice ti dà il diritto di ottenere la conferma dell'esistenza o meno di dati personali
                    che ti riguardano, ed inoltre potrai ottenerne l'aggiornamento, la rettifica, l'integrazione o la cancellazione.
                    Potrai chiedere l’accesso ai tuoi dati o opporti al trattamento, con le conseguenze che ne possono derivare.</p>
                </li>

                <li>
                    <h4>Chi tratta i dati personali inseriti</h4>
                    <p>I dati che inserirai o chiederai di inserire sul portale saranno trattati da personale,
                    volontario e/o dipendente, specificatamente incaricato, autorizzato e formato per un corretto
                    trattamento e che adotterà tutte le cautele tecniche e di riservatezza per tutelare i tuoi dati personali;
                    potranno accedere ai tuoi dati personali, inoltre, il Presidente del Comitato, i referenti per gli obiettivi
                    strategici, i Delegati tecnici delle Aree di attività in cui hai chiesto o chiederai di svolgere
                    la tua attività, e loro eventuali delegati, i referenti dell’Ufficio Soci del tuo Comitato;
                    tutti saranno incaricati del trattamento e con livelli di accesso ai dati personali specifici per la
                    funzione che svolgono.</p>
                </li>

                <li>
                    <h4>Per la sicurezza dei tuoi dati personali</h4>
                    <p>Al fine di preservare l’integrità e la riservatezza dei tuoi dati, è necessario che tu:</p>
                    <p>
                        <ul>
                            <li>segua attentamente le istruzioni che ti verranno date man mano che vorrai inserire o verificare
                            i tuoi dati personali sul Portale;</li>
                            <li>non inserisca dati personali che non vuoi che vengano conosciuti; in particolare ti raccomandiamo
                            di non inserire dati riservati, quali malattie o assenze per malattie;</li>
                            <li>tenga la tua userid e la tua password strettamente riservate; sono le tue credenziali per
                            l’accesso ai tuoi dati e non devi assolutamente comunicarle ad alcuno o lasciarle incustodite se le scrivi.</li>
                        </ul>
                    </p>
                    <p>Al fine di garantire, così come richiesto dalla legge, una migliore sicurezza dei tuoi dati
                    ti raccomandiamo inoltre di:</p>
                    <p>
                        <ul>
                            <li>non digitarle davanti ad altre persone; </li>
                            <li>cambiare la password ogni volta che ti sarà richiesto dal sistema; </li>
                            <li>nella tua password non usare informazioni che sono a te riconducibili (nome, data di nascita, ecc.);</li>
                            <li>è preferibile che la tua password non abbia un significato compiuto, ma che alternassi numeri a lettere;</li>
                            <li>non lasciare il computer su cui stai digitando i tuoi dati personali con le credenziali di accesso attivate.</li>
                        </ul>
                    </p>
                </li>

                <li>
                    <h4>Comunicazione dei dati personali</h4>
                    <p>I tuoi dati comuni, assieme alla tua abilità relativa al servizio da espletare, potrebbero essere comunicati
                    dalla Croce Rossa Italiana – in modo riservato - nel caso di operatività tramite gli enti vigilanti o le
                    organizzazioni internazionali del Movimento di Croce Rossa.</p>
                    <p>Gli eventuali dati personali “sensibili” o “giudiziari” da te forniti alla Croce Rossa non saranno
                    oggetto di diffusione; potranno tuttavia essere comunicati ad altri soggetti se ed in quanto ciò si renda
                    necessario per lo svolgimento delle attività istituzionali previste dalle vigenti disposizioni in materia
                    sanitaria o giudiziaria e per la gestione del rapporto di volontariato nella CRI, solo per quanto esplicitamente
                    previsto nel Regolamento per il trattamento dei dati sensibili e giudiziari della CRI, approvato dall’Autorità
                    Garante per la protezione dei dati personali e dal Ministero della Salute.</p>
                    <p>Ti informiamo, inoltre, che le informazioni e i dati personali da te inseriti saranno verificati come previsto
                    dal D.P.R. n. 445/2000 in materia di autocertificazioni.</p>
                </li>

                <li>
                    <h4>Fotografia</h4>
                    <p>Se desideri, puoi inserire sul portale tua fotografia; se decidi di pubblicarla ti chiediamo di acconsentire
                    al suo utilizzo, ai sensi della Legge n. 633/1941.</p>

                    <p>Per ulteriori chiarimenti in merito alle finalità perseguite da Croce Rossa Italiana e
                    per avere altre informazioni circa l'organizzazione dell'Associazione La invitiamo a visitare
                    il sito web <a href='http://www.cri.it'>www.cri.it</a>.</p>
                    <p>Per avere ulteriori informazioni in ordine ai Suoi diritti sulla privacy La invitiamo a
                    visitare il sito web dell'Autorità Garante per la protezione dei dati personali all'indirizzo
                    <a href='http://www.garanteprivacy.it/web/guest'>www.garanteprivacy.it</a>.</p>

                    <hr />
                </li>

            <h3>Condizioni d'Uso</h3>
            <p>Il presente portale Web (di seguito definito "Portale") è offerto da Croce Rossa Italiana
            come implementazione del Progetto Gaia. Le seguenti Condizioni d'Uso disciplinano l'accesso al Portale
            e il suo utilizzo. Inoltre, condizioni d’uso particolari si applicheranno a specifici contenuti, dati,
            materiali o informazioni riportati Portale (di seguito definiti "Contenuti"), o a specifici contenuti, dati,
            materiali o informazioni che l’utente inserisce presenta e/o pubblica sul Portale (di seguito definiti "Contenuti -
            utente") o a transazioni concluse tramite il Portale . Tali condizioni d’uso particolari si aggiungeranno
            alle presenti Condizioni d'Uso o, solo se sia espressamente indicato, prevarranno su di esse.</p>

            <ol>
                <li>
                    <h4>Accettazione delle Condizioni d'Uso</h4>
                    <p>Accedendo o utilizzando il presente Portale, l'utente accetta di essere vincolato dalle Condizioni d’Uso,
                    da tutti i termini e le condizioni ivi contenute o citate o da termini o condizioni aggiuntive che siano previste
                    nel presente Portale. In caso di mancata accettazione di tutte le suddette condizioni, l'utente NON è autorizzato
                    ad accedere e a utilizzare il Portale.</p>
                </li>

                <li>
                    <h4>Modifica delle condizioni d'uso</h4>
                    <p>Croce Rossa Italiana si riserva il diritto di modificare le presenti Condizioni d'Uso in qualsiasi momento:
                    le Condizioni d’Uso così come modificate saranno applicabili dal momento della pubblicazione. L'utente non
                    potrà accedere o utilizzare il Portale dopo tale pubblicazione fino a che non avrà accettato le nuove condizioni
                    d’uso. Si consiglia all’utente di verificare regolarmente le condizioni applicabili.</p>
                    <p>Croce Rossa Italiana si riserva il diritto di provvedere, in qualsiasi momento e senza necessità di preavviso,
                    a eliminare o apportare modifiche o aggiornamenti al Portale e ai relativi Contenuti. GAIA si riserva il diritto,
                    in qualsiasi momento, con effetti immediati, senza necessità di preavviso, a propria esclusiva discrezione e
                    per qualunque motivo, di limitare, rifiutare o interrompere, del tutto o in parte, l'accesso al Portale, o a
                    parte di esso, da parte di qualsiasi utente.</p>
                </li>

                <li>
                    <h4>Responsabilità</h4>
                    <p>Tutte le informazioni (compresi, a titolo esemplificativo e non esaustivo, testi, immagini, elementi
                    grafici, collegamenti e altri materiali) riportati nel presente Portale sono forniti "così come sono" e
                    "come disponibili". Croce Rossa Italiana, esclude espressamente qualsiasi dichiarazione o garanzia di ogni
                    tipo, esplicita o implicita, comprese garanzie di idoneità a un particolare scopo, di non-violazione o simili,
                    in relazione al funzionamento del presente portale e ai contenuti o contenuti - utente. </p>
                    <p>Croce Rossa Italiana e i collaboratori del Progetto Gaia non si assumono alcuna responsabilità in
                    merito a eventuali interruzioni od omissioni riguardanti i servizi Internet, di rete o di hosting e non
                    garantiscono che il Portale, i servizi che ne determinano la disponibilità o l’invio delle comunicazioni
                    elettroniche da parte di CRI siano esenti da virus o altri elementi dannosi.</p>
                    <p>Il download o le altre operazioni, effettuate mediante questo Portale, di qualsiasi materiale avviene
                    a discrezione e a rischio dell’utente. L’utente si assume l'esclusiva responsabilità di eventuali danni al
                    suo sistema informatico o perdite di dati provocate dai contenuti scaricati.</p>
                </li>

                <li>
                    <h4>Registrazione</h4>
                    <p>Al fine di consentire l’accesso a determinate aree del Portale e
                    utilizzare determinate funzioni o elementi del Portale, all'utente venga richiesto di
                    registrarsi in qualità di Volontario o Aspirante Volontario CRI: tale registrazione è gratuita.</p>
                    <p>All'atto della registrazione, l'utente dovrà inserire il proprio codice fiscale, una sola password e fornire
                    un solo indirizzo e-mail, valido, in uso e verificabile. Non è consentita la presenza di codici fiscali e indirizzi
                    e-mail identici, se il nome o l’indirizzo inseriti dall’utente siano già stati utilizzati, l'utente verrà
                    informato di ciò.</p>
                    <p>Il Portale invierà all'utente una e-mail di conferma con i dati di registrazione: in caso di mancato recapito,
                    per qualsiasi motivo, di tale informazione, l'accesso o l'utilizzo di aree, funzioni o elementi, per cui sia
                    necessaria detta registrazione, possono essere negati o interrotti. L'utente è tenuto ad aggiornare tempestivamente
                    la registrazione, perché sia accurata e attuale. L’utente si assume inoltre l'esclusiva responsabilità di
                    garantire la riservatezza della propria password. Gli amministratori del Portale si riservano il diritto
                    di eliminare dal Portale i contenuti prodotti da un utente o di rifiutarne o annullarne la registrazione nel
                    caso questi indichi dei dati che a loro insindacabile giudizio siano osceno, indecente, volgare o altrimenti
                    improprio.</p>
                    <p>L'utente si assume inoltre l'esclusiva
                    responsabilità di limitare l'accesso al proprio o ai propri computer.</p>
                    <p> L’utente si assume
                    l’esclusiva responsabilità in relazione a qualsiasi attività, riguardante il suo account,
                    nome utente e/o password, imputabile alla sua condotta, mancato intervento o negligenza. </p>
                    <p>Nel caso l’utente venga a conoscenza di comportamenti sospetti o non autorizzati concernenti i suoi account,
                    nome utente e/o password, l'utente è tenuto a contattare immediatamente il supporto del Portale via e-mail. </p>
                    <p>Gli amministratori del Portale si riservano il diritto di precludere, a propria discrezione, la registrazione dell'utente
                    a determinati servizi.</p>
                </li>

                <li>
                    <h4>Utente che inserisce Contenuti</h4>
                    <p>Nell’inviare Contenuti – utente al Portale, l'utente garantisce che i materiali
                    siano adeguati, costruttivi, rilevanti e privi di elementi potenzialmente illegali
                    o comunque inadatti alla pubblicazione, compresi, a titolo esplicativo e non esaustivo,
                    elementi:</p>
                    <p>
                        <ol>
                            <li>potenzialmente diffamatori od offensivi nei confronti di altre persone o entità;</li>
                            <li>potenzialmente dannosi nei confronti di persone o proprietà o aventi carattere diffamatorio
                            o vessatorio nei confronti di persone od organizzazioni;</li>
                            <li>potenzialmente in grado di violare i diritti (compresi quelli relativi alla privacy
                            e alla pubblicità) di qualsiasi persona;</li>
                            <li>aventi carattere pornografico, osceno, offensivo, volgare, indecente o intimidatorio;</li>
                            <li>aventi carattere culturalmente, etnicamente o altrimenti discutibile; </li>
                            <li>tali da suggerire o incoraggiare qualsiasi attività illegale.</li>
                        </ol>
                    </p>
                    <p>L'utente farà del proprio meglio, nei limiti del ragionevole, al fine di rilevare
                    la presenza e rimuovere eventuali virus o altri elementi dannosi nei materiali da inviare.
                    L'utente dovrà inoltre astenersi dal trasmettere lettere a catena, diagrammi a piramide,
                    sondaggi e sollecitazioni tramite il Portale. </p>
                    <p>L’utente non falsificherà intestazioni o
                    manipolerà elementi identificativi o altri dati per celare l'origine di eventuali Contenuti
                    e/o Contenuti - utente trasmessi mediante il Portale, né camufferà la sua presenza sul Portale.</p>
                    <p>L'utente si asterrà inoltre dall'interferire con o manomettere i siti, server e reti del Portale o
                    dall'intraprendere iniziative tali da imporre un carico irragionevole o sproporzionato alla
                    infrastruttura del Portale.</p>
                    <p>L'utente afferma, dichiara e garantisce che i Contenuti - utente inviati al Portale
                    non violano alcun diritto di proprietà di terzi compresi, a titolo esplicativo e non
                    esaustivo, diritti relativi a copyright, marchi registrati o brevetti o obblighi di
                    riservatezza.</p>
                    <p>L'utente riconosce e accetta che le sue idee, i suoi contributi o discussioni o eventuali
                    altri Contenuti - utente inviati al Portale, che non siano soggetti ad alcun vincolo di
                    salvaguardia dei diritti di proprietà intellettuale, potranno essere utilizzati da qualsiasi
                    altro utente senza alcun compenso o riconoscimento.</p>
                    <p>L'utente concede a Croce Rossa Italiana una licenza globale, irrevocabile, esente da royalty, non esclusiva,
                    sub-licenziabile e/o trasferibile a usare, riprodurre, creare opere derivate, distribuire, utilizzare pubblicamente,
                    esporre pubblicamente, trasmettere e pubblicare i Contenuti - utente da lui inseriti nel presente Portale esclusi i
                    dati personali relativi all’utente, in qualsiasi altro sito CRI o nei materiali di pubbliche relazioni CRI , mediante
                    qualsiasi strumento.</p>
                    <p>L'utente si assume l'esclusiva responsabilità dei Contenuti - utente e delle eventuali conseguenze determinate
                    dal loro invio, trasmissione e/o pubblicazione. Croce Rossa Italiana si riserva il diritto, senza assumere alcun
                    obbligo al riguardo, di esaminare e monitorare i Contenuti - utente prima e/o dopo la loro trasmissione.
                    Ciononostante l'utente riconosce l'impossibilità per Croce Rossa Italiana di verificare e monitorare tutti i
                    Contenuti – utente. Croce Rossa Italiana non si assume in nessun caso alcuna responsabilità in merito alla
                    accuratezza, completezza, qualità o validità dei Contenuti - utente, inviati da terzi al Portale.</p>
                    <p>Croce Rossa Italiana non avvalla alcun Contenuto - utente o alcuna opinione, raccomandazione o consiglio ivi contenuti e
                    non assume responsabilità di nessun tipo, in merito a detti Contenuti – utente.</p>
                    <p>Croce Rossa Italiana si riserva l'esclusivo diritto e facoltà di modificare e/o eliminare, per qualsiasi
                    motivo, in qualunque momento, senza alcun preavviso o necessità di autorizzazione e a propria esclusiva
                    discrezione, messaggi o qualsiasi altro Contenuto - utente discutibile, sconveniente o altrimenti contrario
                    alle presenti Condizioni d'Uso. Gli utenti convinti del carattere discutibile e sconveniente di Contenuti –
                    utente sono invitati a contattare immediatamente gli amministratori del Portale via e-mail. Al ricevimento di
                    tali comunicazioni, gli amministratori del Portale si sforzeranno, entro limiti ragionevoli, di prendere, in
                    tempi ragionevolmente brevi, i provvedimenti reputati necessari: vista la natura non automatica di tale processo,
                    l'utente è avvisato che l'immediata eliminazione o modifica dei Contenuti incriminati potrebbe non essere
                    possibile.</p>
                </li>

                <li>
                    <h4>Limitazione di responsabilità</h4>
                    <p>Croce Rossa Italiana non si assume in nessun caso alcuna responsabilità per danni diretti, indiretti,
                    conseguenziali, punitivi, speciali, incidentali o di altro tipo risultanti da, provocati da o correlati
                    all'accesso o utilizzo del presente Portale e dei relativi contenuti e contenuti - utente o all'impossibilità
                    di accedere ai medesimi, anche nel caso in cui gli amministratori del Portale siano stati informata in merito
                    alla possibilità di tali danni, fatti salvi i soli casi di dolo e/o colpa grave.</p>
                    <p>Qualora l'utente viva in un paese o stato in cui non sia lecito prevedere le precedenti limitazioni
                    di responsabilità o le esclusione di cui al precedente Paragrafo 4 e al seguente Paragrafo 8, dette limitazioni
                    ed esclusioni saranno applicabili solo nella misura in cui siano consentite. In tal caso, le limitazioni
                    ed esclusioni in questione saranno tanto estese quanto sia consentito dalla legge applicabile.</p>
                </li>

                <li>
                    <h4>Contenuti/software di terzi</h4>
                    <p>Croce Rossa Italiana non assume alcuna responsabilità in merito ai contenuti di qualsiasi sito di
                    proprietà di terzi eventualmente connesso al Portale mediante un collegamento ipertestuale, indipendentemente
                    dal fatto che detto collegamento sia fornito dal Portale o da una terza parte in conformità alle Condizioni d'Uso.
                    L'eventuale presenza sul Portale di collegamenti ad altri siti non comporta l'avallo dei medesimi, né un giudizio
                    o garanzia in merito alla precisione, tempestività o idoneità del contenuto dei siti ai quali il Portale possa
                    fare rinvio tramite un link e gli amministratori del portale non assumono alcuna responsabilità al riguardo.</p>
                    <p>Qualsiasi software scaricabile da o attraverso il presente Portale è concesso in licenza secondo le condizioni
                    dei contratti di licenza applicabili.</p>
                    <p> Croce Rossa Italiana nega espressamente qualsiasi ulteriore dichiarazione e garanzia di qualsiasi tipo,
                    esplicita o implicita, comprese garanzie di commerciabilità, di idoneità a un particolare scopo o di non-violazione
                    in relazione al software.</p>
                </li>

                <li>
                    <h4>Diritti di proprietà sul Portale</h4>
                    <p>L'utente riconosce che i Contenuti - utente eventualmente presentati e/o discussi sul Portale potranno essere
                    oggetto di elaborazione e sviluppo di parti del Portale. </p>
                    <p>Se l’utente sa o ha il sospetto che i materiali presenti sul Portale siano stati utilizzati o copiati in modo tale da violare
                    il diritto di copyright, è pregato di inviare una comunicazione agli amministratori del Portale
                    allegando:</p>
                    <p>
                        <ul>
                            <li>Una firma autografa o elettronica del proprietario del copyright o della persona
                            autorizzata ad agire per conto del proprietario del diritto esclusivo che si asserisce
                            essere stato violato;</li>
                            <li>Identificazione dell’opera protetta da copyright che si ritiene violata o, se
                            una molteplicità di opere si ritengono violate nello stesso sito, una lista di dette opere;</li>
                            <li>Identificazione del materiale in violazione o che sia oggetto di attività in violazione,
                            che si ritiene debba essere rimosso o al quale debba rendersi impossibile l’accesso e
                            le informazioni utili a individuarlo;</li>
                            <li>Informazioni ragionevolmente sufficienti per permettere di contattare l’utente ,
                            come l’indirizzo , il numero di telefono e, se esistente, indirizzo di posta elettronica;</li>
                            <li>Una dichiarazione che l’utente è in buona fede nel credere che l’utilizzo del materiale
                            nelle modalità contestate avviene senza l’autorizzazione del proprietario, del suo
                            rappresentante o contro la legge;</li>
                            <li>Una dichiarazione che le informazioni fornite nella comunicazione sono accurate e
                            soggette a sanzione in caso di dichiarazione mendace e che l’utente è il proprietario del
                            copyright o è autorizzato ad agire per conto del proprietario esclusivo del diritto che si
                            asserisce violato.</li>
                        </ul>
                    </p>
                    <p>Gli amministratori del Portale cui comunicare la violazione di un diritto di copyright sono contattabili
                    come segue:</p>
                    <p>Tramite email al servizio di supporto del Portale:</p>
                    <p>
                        <ul>
                            <li><a href='mailto:supporto@gaia.cri.it'><i class="fa fa-envelope-o"></i> supporto@gaia.cri.it</a></li>
                            <li><a href='mailto:info@gaia.cri.it'><i class="fa fa-envelope-o""></i> info@gaia.cri.it</a></li>
                        </ul>
                    </p>
                    <p>Tramite posta elettronica certificata:</p>
                    <p>
                        <ul>
                            <li><a href='mailto:gaia@cert.cri.it'><i class="fa fa-envelope-o""></i> gaia@cert.cri.it</a></li>
                        </ul>
                    </p>
                </li>

                <li>
                    <h4>Indennità ed esclusione di responsabilità</h4>
                    <p>L'utente accetta di tenere indenni Croce Rossa Italiana e gli amministratori del Portale e a sollevarli
                    da qualsiasi responsabilità per danni, oneri, costi e spese (compresi onorari legali e professionali ragionevoli
                    e spese legali) derivati dalla pubblicazione, contenuto o trasmissione di qualsiasi messaggio, informazione,
                    materiale o altri Contenuti - utente pubblicati sul Portale o da qualsiasi violazione delle presenti Condizioni
                    d’Uso da parte dell'utente. Nell'eventualità di reclami o azioni legali dovuti a messaggi o Contenuti -utente
                    inviati dall’utente, gli amministratori del Portale si riservano il diritto di rivelare l'identità del medesimo
                    e qualsiasi altra informazione sul suo conto eventualmente in suo possesso.</p>
                    <p>In caso di controversie con altri utenti, l'utente solleva Croce Rossa Italiana e gli amministratori del
                    Portale da qualsiasi responsabilità per reclami, rivendicazioni e danni (effettivi e consequenziali) di qualsiasi
                    tipo e natura, nota e ignota, derivanti da o in qualunque modo connessi a tali controversie.</p>
                </li>

                <li>
                    <h4>Servizi forniti dal Portale</h4>
                    <p>Il Portale può contenere riferimenti a specifici servizi che possono risultare non (immediatamente) disponibili.
                    Tali riferimenti non implicano o garantiscono la disponibilità, in qualsiasi momento, di tali prodotti o
                    servizi.</p>
                </li>

                <li>
                    <h4>Clausole Invalide</h4>
                    <p>Nell'eventualità che una qualsiasi delle presenti Condizioni d'Uso venga dichiarata non valida o non
                    applicabile, la suddetta verrà sostituita da una disposizione valida e applicabile tale da avvicinarsi il più
                    possibile al contenuto di quella originaria, mentre le altre verranno regolarmente applicate.</p>
                </li>
            </ol>

            <h3>Utenti responsabili del trattamento dei dati dei Soci e dei Procedimenti</h3>
            <p>Le categorie di utenti che hanno responsabilità sul trattamento dei dati degli utenti afferenti
            ad un comitato, e che rivestono quindi il ruolo di titolari dei procedimenti riguardo
            dati dei soci, sono:</p>
            <p>
                <ul>
                    <li> Presidente </li>
                    <li> Referenti Ufficio Soci </li>
                    <li> Referenti Centrale Operativa </li>
                    <li> Delegati di Area</li>
                    <li> Referenti di progetto </li>
                    <li> Responsabili di attività</li>
                </ul>
            </p>
            <p>Accettando le condizioni d'uso i titolari dei procedimenti riguardo i dati dei soci:</p>
            <p>
                <ul>
                    <li>si impegnano a vigilare sull'operato degli addetti (es. referenti Ufficio soci o referenti di ogni altra struttura
                    sotto il coordinamento del presidente) riguardo all'utilizzo del Portale.</li>
                    <li> dichiarano di considerare valide le istanze e le dichiarazioni presentate per via
                    telematica tramite il Portale Gaia e di di essere a conoscenza che il mancato avvio del procedimento
                    da parte del titolare dell'ufficio competente a seguito di istanza o dichiarazione inviate
                    tramite Gaia comporta responsabilità dirigenziale e responsabilità disciplinare dello stesso.</li>
                </ul>
            </p>
            <p>Grazie per aver prestato attenzione a queste informazioni.</p>
        </div>
    </div>

{% endblock %}
