{% extends "base_vuota.html" %}

{% load bootstrap3 %}

{% block pagina_titolo %}Aggiornamenti su Gaia{% endblock %}

{% block pagina_principale %}

    <div class="container">
        <div class="row">
            <div class="col-md-8">
		        <h3>
			        <i class="fa fa-rss"></i>
			        Aggiornamenti, novit&agrave; e miglioramenti
		        </h3>
		        <p><strong>Questa pagina raccoglie tutti gli ultimi aggiornamenti, correzioni di errori e miglioramenti che vengono effettuati al software di Gaia dagli sviluppatori.</strong></p>
		        <p>Nessun cambiamento viene nascosto &mdash; Crediamo nella filosofia di un progetto aperto, chiunque pu&ograve; accedere al software di Gaia per studiarlo, migliorarlo o per segnalarci criticit&agrave;.</p>
                <p class="alert alert-warning">
                    <i class="fa fa-warning"></i>
                    <strong>Nota</strong>: Questa pagina viene generata automaticamente, ogni 60 minuti, attraverso il software usato dagli sviluppatori di Gaia per gestire il progetto.
                    Per un elenco tecnico, dettagliato ed in tempo reale, <a href="https://github.com/CroceRossaCatania/jorvik/commits/master" target="_blank">clicca qui</a>.
                </p>

		        <hr />

                <!-- <p class="alert alert-info">
                    <i class="icon-info-sign"></i>
                    Questa prima tabella elenca gli aggiornamenti pi&ugrave; importanti dell'ultimo mese con la relativa data di pubblicazione.
                </p>
                <table class="table table-condensed table-striped">
                    <thead>
                        <th>Data aggiornamento</th>
                        <th>Oggetto e revisore</th>
                        <th>Dettagli</th>
                    </thead>
                    <tbody id="lista-pull-requests">
                        # TODO RECUPERO PULL
                    </tbody>
                </table> -->

                <p class="alert alert-info">
                    <i class="fa fa-info-circle"></i>
                    Questa tabella pu&ograve; avere contenuti molto tecnici ed elenca le ultime contribuzioni degli sviluppatori al codice di Gaia
                    (non sono visualizzate le contribuzioni che non sono sono state ancora rilasciate).
                </p>
                <table class="table table-striped">
                    <tbody id="lista-commits">
                        <tr><td colspan="3"><i class="fa fa-fw fa-spinner fa-spin"></i> Attendi...</td></tr>
                    </tbody>
                </table>

            </div>


            <div class="col-md-4">

                <div class="alert alert-block alert-success">
                    <h4><i class="fa fa-comments"></i> Feedback & Supporto</h4>
                    <p>Crediamo davvero nella collaborazione, infatti, come parte fondamentale del processo di sviluppo,
                       durante le riunioni di progettazione, ci fermiamo sempre un momento per leggere e
                       prendere in considerazione il feedback ricevuto dagli utenti.</p>

                    <p><strong>Se hai nuove idee, critiche o suggerimenti, scrivi all'indirizzo email:</strong></p>
                    <a class="btn btn-large btn-success btn-block" href="mailto:feedback@gaia.cri.it?subject=Feedback+Gaia">
                        <i class="fa fa-envelope-o"></i>
                        feedback@gaia.cri.it
                    </a>
                    <p></p>
                    <p><strong>Se hai bisogno di aiuto, scrivi invece a </strong></p>
                    <a class="btn btn-large btn-success btn-block" href="mailto:supporto@gaia.cri.it?subject=Richiesta+di+Supporto">
                        <i class="fa fa-envelope-o"></i>
                        supporto@gaia.cri.it
                    </a>
                </div>

                <div class="alert alert-block alert-info">
                    <h4><i class="fa fa-bug"></i> White hat</h4>
                    <p>Sei uno sviluppatore ed hai individuato del codice che credi possa essere migliorato?</p>
                    <p>Per favore contattaci a <a href="mailto:info@gaia.cri.it?subject=White+hat+Segnalazione">info@gaia.cri.it</a> non appena possibile.</p>
                </div>


            </div>
        </div>
    </div>

    <script type="text/javascript">
    $("document").ready(function() {
        var repo = "CroceRossaItaliana/jorvik";
        // var pull_requests_url = "https://api.github.com/repos/" + repo + "/pulls";
        var commits_url = "https://api.github.com/repos/" + repo + "/commits";

        // Get pull requests
        $.getJSON(commits_url, function(data) {
            var rows = "";
            for (var i in data) {
                var author_name = data[i].commit.author.name;
                var author_login = data[i].author.login;
                var author_url = data[i].author.html_url;
                var author_avatar = data[i].author.avatar_url;
                var commit_msg = data[i].commit.message;
                var commit_url = data[i].commit.html_url;

                var commit_date = new Date(data[i].commit.author.date);
                rows += "<tr>";
                rows += "  <td>" + commit_date.toLocaleDateString() + "</td>";
                rows += "  <td><strong>" + commit_msg + "</strong><br />";
                rows += "      <img height='30' width='30' class='img-circle' src='" + author_avatar + "'> " + author_name;
                rows += "      (<a href='" + author_url + "'>" + author_login + "</a>)";
                rows += "  </td>";
                rows += "  <td><a href='" + commit_url + "'>Vedi commit</a></td>";
                rows += "</tr>";
            }
            $("#lista-commits").html(rows);
        });

    });
    </script>

{% endblock %}
