{% extends "base_vuota.html" %}

{% load bootstrap3 %}

{% block pagina_titolo %}Sicurezza su Gaia{% endblock %}

{% block pagina_principale %}

    <div class="container">
        <div class="col-md-12">
            <h2><i class="fa fa-shield"></i> Per favore, leggi attentamente le condizioni d'uso di Gaia.</h2>
            <hr />

            {% include "base_privacy_policy.html" %}

            <p>Grazie per aver prestato attenzione a queste informazioni.</p>
        </div>
    </div>

{% endblock %}
