{% extends "base_vuota.html" %}

{% load bootstrap3 %}
{% load mptt_tags %}
{% load l10n %}
{% load cache %}

{% block pagina_titolo %}Elenco Sedi CRI con Recapiti e Mappa{% endblock %}

{% block pagina_principale %}
{% cache 1800 informazioni_sedi_v4 %}


    <div class="container">

        <div class="row">

            <div class="col-md-8">

                <h2>
                    <i class="fa fa-globe text-warning"></i>
                    Dov'&egrave; Croce Rossa attorno a me?
                </h2>
                <p>Elenco delle Sedi CRI che aderiscono al Progetto Gaia, con i relativi Recapiti ed una mappa.</p>
            </div>

            <div class="col-md-4 alert alert-info allinea-centro">
                <h4>
                    <big><big>
                        {{ sedi.count }}
                    </big></big>
                    <br />
                    Sedi CRI aderiscono al Progetto Gaia
                </h4>

            </div>

        </div>

        <hr />

        <div class="row">
            <div class="col-md-6">

                <p class="text-info grassetto">
                    <i class="fa fa-info-circle fa-fw"></i>
                    Clicca sul nome di una Sede per maggiori informazioni, inclusi indirizzo, recapiti telefonici ed e-mail.
                </p>

                <ul class="root">
                    {% recursetree sedi %}
                        <li>
                            <p>
                                <a href="{{ node.url }}"><strong>{{ node.nome }}</strong></a>, {{ node.get_estensione_display }}
                            </p>
                            {% if not node.estensione == massimo_lista and not node.is_leaf_node %}
                                <ul class="children">
                                    {{ children }}
                                </ul>
                            {% endif %}
                        </li>
                    {% endrecursetree %}
                </ul>


            </div>

            <div class="col-md-6">
                <div class="row">

                    {% load utils %}
                    {% mappa sedi %}
                        <strong>{{ elemento.link|safe }}</strong><br />
                        {{ elemento.get_estensione_display }}, {{ elemento.get_tipo_display }}<br />
                        {{ elemento.locazione.formattato }}

                    {% icona_colore %}
                        {{ elemento.colore_mappa }}
                    {% endmappa %}

                </div>
            </div>



        </div>
    </div>


{% endcache %}
{% endblock %}
