{% extends 'base_avviso.html' %}

{% load bootstrap3 %}

{% block pagina_titolo %}Nega{% endblock %}

{% block avviso_titolo %}Nega{% endblock %}


{% block avviso_corpo %}

    {% if richiesta.esito == richiesta.ESITO_PENDING %}

        <p>Per negare questa richiesta, &egrave; necessario specificare la motivazione.</p>

        <form method="POST">
            {% csrf_token %}
            {% bootstrap_form modulo %}

            <button type="sybmit" class="btn btn-block btn-danger">
                <i class="fa fa-fw fa-times">
                    Nega richiesta
                </i>
            </button>
        </form>

    {% else %}

        <p class="text-success grassetto">
            Richiesta negata.

        </p>


    {% endif %}

    <a class="btn btn-block btn-default" href="/autorizzazioni/">
        <i class="fa fa-fw fa-mail-reply"></i>
        Torna all'elenco richieste in attesa
    </a>

{% endblock %}