{% extends "base_bootstrap.html" %}

{% block pagina_titolo %}Senza titolo{% endblock %}
{% load static %}
{% load base_tags %}

{% block pagina_corpo %}

    {% block pagina_testata %}

        {% if not embed %}
            <nav class="navbar navbar-default">
              <div class="container">
                <div class="navbar-header">
                  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Mostra navigazione</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </button>
                  <a class="navbar-brand" {% if me %}href="/utente/"{% else %}href="/"{% endif %}>
                      <img id="navbar-logo" class="pull-left" src="{% static 'img/logo-semplice.png' %}" alt="CRI" />

                      <span class="rosso-scuro">Croce Rossa Italiana</span>
                      |
                      <strong>Gaia</strong>
                  </a>
                </div>
                <div id="navbar" class="navbar-collapse collapse allinea-destra">

                    {% block login_buttom %}
                    {% if me %}
                        <p class="navbar-btn btn-group">
                            <a class="btn btn-sm btn-primary" href="/utente/">
                                <i class="fa fa-user"></i>
                                Ciao, <strong>{{ me.nome }}</strong>
                            </a>
                            {% if me.admin %}
                                <a class="btn btn-default btn-sm" href="/admin/">
                                    <i class="fa fa-cogs"></i>
                                    Amministrazione
                                </a>
                            {% endif %}
                            <a class="btn btn-sm btn-info" href="{% url 'logout' %}">
                                <i class="fa fa-sign-out"></i>
                                Logout
                            </a>
                        </p>
                    {% else %}
                        <p class="navbar-btn btn-group">

                            {% if not site_url %}
                                <a class="btn btn-sm btn-danger" href="/login/">
                                <i class="fa fa-key"></i> Accedi
                            </a>
                            {% endif %}

                            {% block base_admin_navbar %}{% endblock %}

                        </p>
                    {% endif %}
                    {% endblock %}


                </div><!--/.navbar-collapse -->
              </div>
            </nav>

            {% if debug %}
                {% include "includes/debug.html" %}
            {% endif %}

            {% for message in messages %}
                <div class="text-center alert {{ message|level_to_bootstrap }}" role="alert">{{ message }}</div>
            {% endfor %}


        {% endif %}
        
    {% endblock %}

    <!--<p style="padding: 0px 0px 0px 0px; margin: 0px 0px 0px 0px; padding-top: 50px; height: 0px;" id="nav-spacer">&nbsp;</p>-->

    {% if msg_errore %}
        <div class="container alert-dismissible alert-danger alert">
            <i class="fa fa-warning fa-fw"></i> <strong>Errore</strong> &mdash; {{ msg_errore }}
        </div>
    {% endif %}

    {% block base_admin_breadcrumbs %}
    {% endblock %}

    {% block pagina_principale %}
    {% endblock %}

    {% if not embed %}
    <div class="container">

      <hr>

      <footer class="row">
      {% block pagina_footer %}
          <div class="col-md-6">
            <p class="margine-nullo-sotto">
                &copy;2017 <strong>Il Progetto Gaia</strong>
            </p>
            <p class="piu-piccolo">
                <strong class="rosso-scuro">Croce Rossa Italiana</strong>. Un'Italia che aiuta.</p>
            </p>
          </div>

          <div class="col-md-6 allinea-destra">
            <a href="/supporto/" class="grassetto">
                <i class="fa fa-support"></i> Supporto
            </a> |
            <a href="/informazioni/">
                Informazioni
            </a> |
            <a href="/informazioni/verifica-tesserino/">
                Verifica un tesserino CRI
            </a> |
            <a href="http://wiki.gaia.cri.it/">
                Manuale d'uso
            </a>
          </div>
      {% endblock %}
      </footer>

    </div> <!-- /container -->
    {% endif %}

{% endblock %}
