{% extends "base_vuota.html" %}

{% load staticfiles %}
{% block pagina_titolo %}Home page{% endblock %}
{% block pagina_principale %}

<div style="background-image: url('{% static 'img/croce_mani.jpg' %}'); margin-top: -20px; margin-left: -0px; margin-right: -0px; padding-top:256px; padding-bottom:256px; background-position: center center; background-repeat: no-repeat; background-size: cover;" class="row allinea-centro testo-bianco testo-ombra-nera">
    <h2>Vuoi entrare in Croce Rossa?</h2>
    <p>Clicca sul pulsante qui sotto per registrarti e trovare il prossimo corso base a te vicino.</p>
    <p>&nbsp;</p>
    <p><a href="/registrati/aspirante/" class="btn btn-lg btn-danger ">Registrati</a></p>
</div>

<div class="container">
    <div class="row allinea-centro ">
        <div class="col-md-6">
            <p>&nbsp</p>
            <div class="well">
                <a href="/informazioni/" class="btn btn-lg btn-block btn-primary testo-ombra-nulla"><i class="fa fa-hand-o-right"></i> Cosa &egrave; Gaia</a>
            </div>
            <p>Organizziamo continuamente corsi base per gli aspiranti volontari.</p>
            <p>Il volontariato in Croce Rossa ti cambierà la vita, <a href="http://www.cri.it/diventavolontario" target="_new" ><i class="icon-link"></i> scopri perché</a>.</p>
        </div>

        <div class="col-md-6">
            <p>&nbsp</p>
            <div class="well" style="margin:0 auto">
                <div class="btn-group-vertical btn-block" role="group" aria-label="...">
                    <!--<a href="/registrati/aspirante/" class="btn btn-lg btn-primary btn-block">
                        <i class="fa fa-fw fa-home "></i>
                        Home
                    </a>-->
                    <a href="/attivita/" class="btn btn-lg btn-default btn-block">
                        <i class="fa fa-fw fa-calendar"></i>
                        Attività organizzate in CRI
                    </a>
                    <a href="/informazioni/sedi/" class="btn btn-lg btn-default btn-block">
                        <i class="fa fa-fw fa-map-marker"></i>
                        Comitati di Croce Rossa Italiana
                    </a>
                    <a href="/informazioni/verifica-tesserino/" class="btn btn-lg btn-default btn-block">
                        <i class="fa fa-fw fa-barcode"></i>
                        Verifica un Tesserino CRI
                    </a>
                    {% if request.user.is_authenticated %}
                        <a href="/informazioni/formazione/" class="btn btn-lg btn-default btn-block">
                            <i class="fa fa-fw fa-desktop"></i>
                            Formazione online
                            <span class="badge">1</span>
                        </a>
                    {% else %}
                          <a href="http://training.cri.it" class="btn btn-lg btn-default btn-block">
                            <i class="fa fa-fw fa-desktop"></i>
                            Formazione online
                            <span class="badge">1</span>
                        </a>
                    {% endif %}
                </div>
            </div>
        </div>

    </div>
</div>

<!--<div style="background-image: url('{% static 'img/footer.jpg' %}');background-position: center center; background-repeat: no-repeat; background-size: cover;" class="row allinea-centro testo-bianco testo-ombra-nera padding-verticale-60"></div>-->
<p>&nbsp;</p>

{% if not request.COOKIES.cookie_approvati %}
<div class="container">
    <div class="row allinea-centro">
        <div class="alert alert-info col-md-12">
            <form method="get" action="{% url 'informazioni:imposta_cookie' %}" ><button type="submit" class="close">Nascondi &times;</button></form>
            <br clear="all">
            <i class="icon-info-sign"></i>
            <strong>Gaia utilizza i <i>cookies</i> per offrirti le sue funzionalit&agrave; e per scopi statistici.</strong><br />
            Continuando a navigare su gaia.cri.it, acconsenti all'uso dei cookie su questo sito web.<br />
            <a href="{% url 'informazioni:cookie' %}" target="_new">
                Clicca qui per le informazioni sull'uso dei Cookie in Gaia
            </a> oppure
            <a href="{% url 'informazioni:condizioni' %}" target="_new">
                clicca qui per leggere l'informativa sulla Privacy.
            </a>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}
