{% extends "base_bootstrap.html" %}

{% block pagina_titolo %}Senza titolo{% endblock %}

{% block pagina_corpo %}

    {% block pagina_testata %}
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Mostra navigazione</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">
              Gaia <strong>Jorvik</strong><sup class="piu-piccolo">Beta</sup>
          </a>
        </div>
        <div id="navbar" class="navbar-collapse collapse allinea-destra">
            {% if user.is_authenticated %}
                <p class="navbar-btn btn-groupgi">
                    <a class="btn btn-sm btn-primary" href="/utente/">
                        <i class="fa fa-user"></i>
                        Ciao, <strong>{{ user.nome }}</strong>
                    </a>
                    <a class="btn btn-sm btn-info" href="/logout/">
                        <i class="fa fa-sign-out"></i>
                        Logout
                    </a>
                </p>
            {% else %}
                <p class="navbar-btn">
                    <a class="btn btn-sm btn-danger" href="/login/">
                        <i class="fa fa-key"></i> Accedi
                    </a>
                </p>
            {% endif %}
        </div><!--/.navbar-collapse -->
      </div>
    </nav>
    {% endblock %}

    <p style="padding: 0px 0px 0px 0px; margin: 0px 0px 0px 0px; padding-top: 50px; height: 0px;" id="nav-spacer">&nbsp;</p>

    {% block pagina_principale %}
    {% endblock %}

    <div class="container">

      <hr>

      <footer class="row">
      {% block pagina_footer %}
          <div class="col-md-6">
            <p class="margine-nullo-sotto">
                &copy;2015 <strong>Il Progetto Gaia</strong>
            </p>
            <p class="piu-piccolo">
                <strong class="rosso-scuro">Croce Rossa Italiana</strong>. Persone in prima persona.</p>
            </p>
          </div>

          <div class="col-md-6 allinea-destra">
            <a href="/supporto/" class="grassetto">
                <i class="fa fa-support"></i> Supporto
            </a> |
            <a href="/informazioni/">
                Informazioni
            </a> |
            <a href="http://confluence.gaia.cri.it/">
                Manuale d'uso
            </a>
          </div>
      {% endblock %}
      </footer>

    </div> <!-- /container -->

{% endblock %}