{% extends "base_vuota.html" %}

{% load bootstrap3 %}

{% block pagina_titolo %}Informazioni su Gaia{% endblock %}

{% block pagina_principale %}

    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h2><i class="fa fa-info"></i> Il progetto Gaia</h2>
                <hr />
                <h3>La storia</h3>
                <p>Gaia nasce nell'estate del 2012 con l'idea di una profonda rivoluzione in Croce Rossa, che mostri il dinamismo, la forza e la giovinezza dell'associazione.</p>
                <p>Nel 2015 Gaia viene interamente riscritta (progetto Jorvik) al fine di migliorare l'esperienza dell'utente mutuandone il feedback ricevuto negli anni di sviluppo.</p>
                <p>Crediamo in una Croce Rossa Italiana che sa muoversi velocemente, più trasparente ed aperta a tutti.</p>
                <p>&nbsp;</p>

                <h3>L'obiettivo</h3>
                <p>Vogliamo ottenere un sistema informativo efficiente e di facile consultazione.</p>
                <p>&nbsp;</p>

                <h3>Punti chiave del progetto</h3>
                <p>
                    <ul>
                        <li><strong>Efficienza</strong>: Bisogna cavare il potenziale inespresso di Croce Rossa.</li>
                        <li><strong>Semplicità</strong>: Il sistema deve essere semplice per chiunque.</li>
                        <li><strong>Trasparenza</strong>: Croce Rossa è aperta e trasparente a tutti.</li>
                    </ul>
                </p>
                <p>&nbsp;</p>

                <h3>Il nome</h3>

                <p>
                    <blockquote>

                        <p>
                          G.A.I.A. è l'acronimo di "Gestione Avanzata ed Integrata dell'Anagrafica"
                          ed identifica la web-application ideata dai volontari della Croce Rossa di
                          Catania per semplificare le quotidiane attività di gestione del personale e dei
                          mezzi dell'associazione.
                      </p>
                      <p>
                          Gaia è anche il nome di un pianeta immaginario, frutto della fantasia di Isaac Asimov, in
                          cui grazie alla perfetta integrazione di ognuna della sue parti l'intero sistema
                          si mantiene in un perfetto equilibrio con un costante flusso di comunicazione ed una
                          stretta interdipendenza.
                      </p>
                      <small>cit. Alfio Musmarra</small>
                  </blockquote>
              </p>
              <p>&nbsp;</p>

              <h3>Le persone</h3>

              <p>Gaia è stato ideato all'interno dei Servizi Informatici del Comitato Provinciale di Catania.</p>
              <p><strong>È un progetto aperto e collaborativo, ed è sviluppato da volontari CRI in tutta Italia.</strong></p>
              <p>Per informazioni, puoi contattarci all'indirizzo email <code>info@gaia.cri.it</code>.</p>
              <p><span class="text-success"><i class="fa fa-info-circle"></i> <strong>Vuoi collaborare?</strong>
                Scopri come visitando <a href="https://github.com/CroceRossaItaliana/jorvik">la pagina del progetto</a>.
            </span></p>


        </div>

        <div class="col-md-4">
            <h2><i class="fa fa-heart-o"></i> Aiuto</h2>

            <p><a href="http://wiki.gaia.cri.it" class="btn btn-large btn-primary btn-block">
                <i class="fa fa-question-circle"></i>
                Hai già letto il nostro WIKI?
            </a></p>

            <p>Oppure contattaci per email a <a href="mailto:supporto@gaia.cri.it"><i class="fa fa-envelope-o"></i> supporto@gaia.cri.it</a>.</p>



            <hr />

            <h2><i class="fa fa-question-circle"></i> Usare Gaia</h2>

            <p>Per usare Gaia nel tuo Comitato, invia una mail a <a href="mailto:info@gaia.cri.it"><i class="fa fa-envelope-o"></i> info@gaia.cri.it</a> includendo i tuoi recapiti. Ti risponderemo appena possibile con le istruzioni.</p>

            <hr />

            <h2><i class="fa fa-github"></i> Collabora</h2>

            <p>Gaia è un progetto open source sviluppato da volontari e rilasciato con <a href="https://github.com/CroceRossaItaliana/jorvik/LICENSE.txt" target="_new"><i class="fa fa-link"></i> licenza GPL v3</a>. Per informazioni sul come collaborare, visita la pagina del progetto:</p>

            <a href="https://github.com/CroceRossaItaliana/jorvik" target="_new" class="btn btn-block btn-large btn-default">
                Progetto su GitHub
            </a>

            <hr />

            <h2><i class="fa fa-rss"></i> Aggiornamenti</h2>

            <p>Se vuoi sapere di pi&ugrave; sugli ultimi aggiornamenti, miglioramenti e novit&agrave; del software Gaia,
               <a href="/informazioni/aggiornamenti/">visita questa pagina</a>.</p>

            <hr />

            <h2><i class="fa fa-lock"></i> Sicurezza in Gaia</h2>

            <p>I tuoi dati personali sono veramente importanti per noi. <a href="/informazioni/sicurezza/">Scopri come vengono protetti</a> su Gaia.</p>

            <hr />


            <h2><i class="fa fa-shield"></i> Condizioni d'uso</h2>

            <p>Leggi l'informativa sul trattamento dei dati e scopri le <a href="/informazioni/condizioni/">condizioni d'uso</a> di Gaia e le <a href="{% url 'informazioni_cookie' %}">politiche di uso dei cookie</a>.</p>

            <h2><i class="fa fa-shield"></i> Browser supportati</h2>

            <p>Controlla che il tuo browser sia correttamente supportato <a href="{% url 'browser_supportati' %}">qua</a>.</p>

            </div>
        </div>
    </div>

{% endblock %}
