{% extends "base_vuota.html" %}

{% load bootstrap3 %}
{% load mptt_tags %}
{% load l10n %}

{% block pagina_titolo %}Elenco Sedi CRI con Recapiti e Mappa{% endblock %}

{% block pagina_principale %}


    <div class="container">

        <div class="row">

            <div class="col-md-8">

                <h2>
                    <i class="fa fa-globe text-warning"></i>
                    Dov'&egrave; Croce Rossa attorno a me?
                </h2>
                <p>Elenco delle Sedi CRI che aderiscono al Progetto Gaia, con i relativi Recapiti ed una mappa.</p>
            </div>

            <div class="col-md-4 alert alert-info allinea-centro">
                <h4>
                    <i class="fa fa-bar-chart fa-2x"></i><br />
                    <span class="label label-success">{{ sedi.count }}</span>
                    Sedi CRI aderiscono al Progetto Gaia
                </h4>

            </div>

        </div>

        <hr />

        <div class="row">
            <div class="col-md-6">

                <p class="text-info grassetto">
                    <i class="fa fa-info-circle fa-fw"></i>
                    Clicca sul nome di una Sede per maggiori informazioni, inclusi indirizzo, recapiti telefonici ed e-mail.
                </p>

                <ul class="root">
                    {% recursetree sedi %}
                        <li>
                            <a href="{{ node.url }}">
                                {{ node.nome }}
                            </a>
                            ({{ node.get_estensione_display }})

                            {% if not node.is_leaf_node %}
                                <ul class="children">
                                    {{ children }}
                                </ul>
                            {% endif %}
                        </li>
                    {% endrecursetree %}
                </ul>


            </div>


            <div class="col-md-6" id="laMappa" style="min-height: 700px;">

            </div>

        </div>
    </div>

    <script type="text/javascript">

        {% localize off %}

        var messaggi = {};
        var marcatori = {};

        function initialize() {
            var opzioni = {
                zoom: 6,
                center: new google.maps.LatLng(41.9, 12.4833333),
                mapTypeId: google.maps.MapTypeId.ROADMAP
            }
            var map = new google.maps.Map(document.getElementById("laMappa"), opzioni);

            {% for sede in sedi %}
                {% if sede.locazione %}
                    messaggio = new google.maps.InfoWindow({
                        content: "<strong><a href='{{ sede.url }}'>{{ sede.nome }}</a></strong><small><br />{{ sede.get_tipo_display }}, {{ sede.get_estensione_display }}</small><br />{{ sede.locazione.indirizzo }}"
                    });
                    marcatore = new google.maps.Marker({
                        position: new google.maps.LatLng({{ sede.locazione.geo.y }}, {{ sede.locazione.geo.x }}),
                        map: map,
                        animation: google.maps.Animation.DROP,
                        icon: '{{ sede.icona }}'
                    });
                    messaggi.sede{{sede.pk}} = messaggio;
                    marcatori.sede{{sede.pk}} = marcatore;
                    google.maps.event.addListener(marcatori.sede{{sede.pk}}, 'click', function () {
                        messaggi.sede{{sede.pk}}.open(map, marcatori.sede{{sede.pk}});
                    });
                {% endif %}
            {% endfor %}
        }

        {% endlocalize %}

        function loadScript() {
          var script = document.createElement("script");
          script.type = "text/javascript";
          script.src = "https://maps.google.com/maps/api/js?sensor=false&callback=initialize";
          document.body.appendChild(script);
        }
        window.onload = loadScript;
    </script>

{% endblock %}
