{% extends "base_avviso.html" %}

{% load bootstrap3 %}

{% block pagina_titolo %}Recupera password{% endblock %}

{% block avviso_titolo_classe %}text-success{% endblock %}

{% block avviso_titolo %}
    <i class="fa fa-key"></i>
    Recupera password
{% endblock %}

{% block avviso_corpo %}

    <hr />

    <div class="row">
        <div class="col-md-8 col-md-offset-2">

            <form method="post" action="/recupera-password/">
                {% csrf_token %}

                {% bootstrap_form modulo %}

                <button type="submit" class="btn btn-block btn-primary">
                    <i class="fa fa-send"></i>
                    Richiedi nuova password
                </button>

                <input type="hidden" name="next" value="{{ next }}" />

            </form>

            <p>&nbsp;</p>

        </div>
    </div>

{% endblock %}
