{% extends "base_vuota.html" %}

{% load staticfiles %}

{% block pagina_titolo %}Home page{% endblock %}

{% block pagina_principale %}

<div style="background-image: url('{% static 'img/home_img1.jpg' %}');" class="row allinea-centro testo-bianco testo-ombra-nera padding-verticale-60">
    <h2>Prendi parte alla Rivoluzione</h2>
    <p>Facciamo una Croce Rossa Italiana nuova.</p>
    <p><a href="/informazioni/" class="btn btn-lg btn-danger testo-ombra-nulla">Cosa &egrave; Gaia</a></p>
</div>

<div class="container">
    <div class="row allinea-centro ">
        <div class="col-md-6">
            <h2>Vuoi entrare in Croce Rossa?</h2>
            <div class="well">
                <a href="/registrati/aspirante/" class="btn btn-lg btn-primary btn-block">
                    <i class="fa fa-hand-o-right"></i>
                    Iscriviti al prossimo corso base
                </a>
            </div>

            <p>Organizziamo continuamente corsi base per gli aspiranti volontari.</p>
            <p>Il volontariato in Croce Rossa ti cambierà la vita, <a href="http://www.cri.it/diventavolontario" target="_new" ><i class="icon-link"></i> scopri perché</a>.</p>
            <p>Clicca sul pulsante qui sopra: verrai richiamato da un volontario ed informato sul prossimo corso base a te vicino.</p>
            <p>&nbsp;</p>

        </div>


        <div class="col-md-6">
            <p>&nbsp</p>
            <div class="well" style="margin:0 auto">
                <div class="btn-group-vertical btn-block" role="group" aria-label="...">
                    <!--<a href="/registrati/aspirante/" class="btn btn-lg btn-primary btn-block">
                        <i class="fa fa-fw fa-home "></i>
                        Home
                    </a>-->
                    <a href="/attivita/" class="btn btn-lg btn-default btn-block">
                        <i class="fa fa-fw fa-calendar"></i>
                        Attività organizzate in CRI
                    </a>
                    <a href="/informazioni/sedi/" class="btn btn-lg btn-default btn-block">
                        <i class="fa fa-fw fa-map-marker"></i>
                        Comitati di Croce Rossa Italiana
                    </a>
                    <a href="/informazioni/verifica-tesserino/" class="btn btn-lg btn-default btn-block">
                        <i class="fa fa-fw fa-barcode"></i>
                        Verifica un Tesserino CRI
                    </a>
                    <a href="/formazione/" class="btn btn-lg btn-default btn-block">
                        <i class="fa fa-fw fa-desktop"></i>
                        Formazione online
                        <span class="badge">1</span>
                    </a>
                </div>
            </div>
        </div>

    </div>
</div>


<div style="background-image: url('{% static 'img/home_img2.jpg' %}');" class="row allinea-centro testo-bianco testo-ombra-nera padding-verticale-60">
    <div class="col-md-6">
        <h3>(Nome di un comitato)</h3>
        <h3>&egrave; su Gaia.</h3>
    </div>
    <div class="col-md-6">
        <h3>{{ numero_comitati }} sedi CRI sono gi&agrave; su Gaia.</h3>
        <p class="grassetto" id=""></p>
        <p>
            <a href="/informazioni/sedi/" class="btn btn-lg btn-default testo-ombra-nulla">
                <i class="fa fa-globe"></i>
                Mappa completa delle Sedi con recapiti
            </a>
        </p>

    </div>

    <script type="text/javascript">
    </script>


</div>

<p>&nbsp;</p>

<div class="container">
    <div class="row allinea-centro">

        <div class="col-md-4">
            <h1 style="font-size: 4em;">
                <span style="transform: rotate(10deg); -webkit-transform: rotate(10deg);" class="text-info">
                    -
                        <i class="fa fa-clock-o"></i>
                        <i class="fa fa-file-o"></i>
                </span>

                <br />

                &nbsp; &nbsp; &nbsp;

                <span class="text-success">
                    +
                        <i class="fa fa-group"></i>
                        <i class="fa fa-bolt"></i>
                </span>
            </h1>

        </div>
        <div class="col-md-4 well well-sm sf2">
            <h3 class="text-muted"><i class="fa fa-minus-circle"></i> Carte</h3>
            <h2 class="text-danger"><i class="fa fa-plus-circle"></i> Volontariato</h2>
        </div>

        <div class="col-md-4">
            <p>&nbsp;</p>
            <p>Gaia nasce per <strong>eliminare carte e tempi morti</strong>.</p>
            <p>Via il superfluo, <big>resta il volontariato</big>.</p>
            <p>Trasparente ed efficiente.</p>
        </div>

    </div>
</div>


{% endblock %}