{% extends "base_vuota.html" %}

{% load bootstrap3 %}

{% block pagina_titolo %}Sicurezza su Gaia{% endblock %}

{% block pagina_principale %}

    <div class="container">
        <div class="row">
            <div class="span12">
                <h2><i class="fa fa-lock"></i> Il cuore di Gaia è la sicurezza.</h2>
                <hr />
                <p>I tuoi dati personali sono molto importanti per noi, attraverso questa pagina potrai comprendere come vengono protetti. </p>

                <h3><strong>Sicurezza del sistema</strong></h3>
                <p>Prima di effettuare qualsiasi accesso a Gaia dovrai verificare di essere correttamente collegato al nostro sito web. </p>
                <p><strong>Come puoi fare questo?</strong></p>
                <p>E' molto semplice, prendi visione dell'URL presente nella barra degli indirizzi del tuo browser, se quest'ultimo inizierà con http<strong>s</strong>:// potrai procedere senza problemi.  In caso contrario ti chiediamo di non effettuare il login e di segnalarcelo tramite email all'indirizzo <a href="mailto:supporto@gaia.cri.it"><i class="icon-envelope-alt"></i> supporto@gaia.cri.it</a></p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 allinea-centro">
                <h3 class="text-success"> Sicuro </h3>
                <img src='https://datafiles.gaia.cri.it/assets/img/informazioni_sicurezza_gaiassl.png' />
            </div>

            <div class="col-md-6 allinea-centro">
                <h3 class="text-error"> Non Sicuro </h3>
                <img src='https://datafiles.gaia.cri.it/assets/img/informazioni_sicurezza_gaianossl.png' />
            </div>
            <p>&nbsp;</p>
        </div>

        <div class="row">
            <div class="col-md-12">
                <p>Perchè ti chiediamo questo?</p>
                <p>Per Gaia la sicurezza è tutto.</p>
                <p>Attraverso una connessione sicura <em>(Secure Sockets Layer)</em> i tuoi dati saranno al sicuro.</p>
                <p>Questo tipo di comunicazione garantisce che solamente il client ed il server (mediante certificati di sicurezza) siano in grado di conoscere il contenuto della comunicazione inviata.</p>
                <p>Il certificato che ti proteggerà è erogato da <strong>COMODO RSA.</strong></p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 allinea-centro">
                <img src='https://datafiles.gaia.cri.it/assets/img/informazioni_sicurezza_gaiaverifica.png' />
            </div>
            <p>&nbsp;</p>
        </div>

        <div class="row">
            <div class="col-md-12">
                <h3><strong>Sicurezza Dati e gestione accessi</strong></h3>
                <p>Ogni singolo accesso a Gaia ed al server viene registrato in un file di log criptato, mantenuto dagli amministratori di sistema e distrutto in automatico dopo 365 giorni così come disposto dal Garante per la protezione dei dati personali. </p>
                <p>Il cuore di Gaia è costantemente protetto da un enorme scudo (Firewall) che si occupa di tener lontani i "nemici" della rete. L'accesso ai sistemi di gestione ed al server avviene mediante delle connessioni sicure e crittografate chiamate VPN. </p>
                <p>Ogni nostro collaboratore accede in queste modalità con un proprio certificato di sicurezza personale, volto a salvaguardare l'univocità della persona.</p>
                <p>I dati sensibili contenuti all'interno di Gaia (database) sono cifrati con un algoritmo unidirezionale SHA1 "salato" a doppia passata, nessuno potrà essere in grado di recuperare l'eventuale occorrenza.</p>
                <p>Il futuro di Gaia prevede l'implementazione di alcuni standard di sicurezza che la renderanno unica tra cui la multi-factor authentication. </p>
                <p>Vogliamo rendere la tua esperienza unica.</p>
            </div>
        </div>
    </div>

{% endblock %}
