{% extends "base_avviso.html" %}

{% load bootstrap3 %}

{% block pagina_titolo %}Accedi a Gaia{% endblock %}

{% block avviso_titolo_classe %}text-success{% endblock %}

{% block avviso_titolo %}
    <i class="fa fa-key"></i>
    Accedi a Gaia
{% endblock %}

{% block avviso_corpo %}

    <hr />

    <div class="row">
        <div class="col-md-6">

            <form method="post">
            {% csrf_token %}

            {% bootstrap_form form %}

            <button type="submit" class="btn btn-block btn-primary">
                <i class="fa fa-send"></i>
                Accedi ora
            </button>

            <input type="hidden" name="next" value="{{ next }}" />

            </form>

            <p>&nbsp;</p>

        </div>
        <div class="col-md-6">
            <p>Inserisci la tua email e la password che hai fornito alla registrazione.</p>
            <hr/>
            <h3><i class="fa fa-key"></i> Recupera password</h3>
            <p>Se non ricordi la tua password, puoi richiederne una nuova.</p>
            <a href="/recupera_password/" class="btn btn-block btn-primary">
                <i class="fa fa-send"></i>
                Recupera Password
            </a>
        </div>
    </div>

{% endblock %}
