{% extends "base_bootstrap.html" %}

{% block pagina_titolo %}Senza titolo{% endblock %}
{% load static %}
{% load base_tags %}

{% block pagina_corpo %}
    {% block pagina_testata %}
        {% if not embed %}
            <nav class="navbar">
              <div class="container">
                <div class="navbar-header">
                  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Mostra navigazione</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </button>
                  <a class="navbar-brand" {% if me %}href="/utente/"{% else %}href="/"{% endif %}>
                      <img width="200" id="navbar-logo" class="pull-left" src="{% static 'img/cri-logo-m.jpg' %}" alt="Croce Rossa Italiana" />
                  </a>
                </div>
                <div id="navbar" class="navbar-collapse collapse allinea-destra">
                    {% block login_buttom %}
                    {% if me %}
                        <p class="navbar-btn btn-group topnavbar-r">
                            <a class="btn btn-sm topnavbar-r__welcome-user-btn" href="/utente/">
                                <i class="fa fa-user"></i> Ciao, <strong>{{ me.nome }}</strong>
                            </a>
                            {% if me.admin %}
                                <a class="btn btn-sm" href="/admin/">
                                    <i class="fa fa-cogs"></i> Amministrazione
                                </a>
                            {% endif %}
                            <a class="btn btn-sm topnavbar-r__login-btn" href="{% url 'logout' %}">
                                <i class="fa fa-sign-out"></i> Logout
                            </a>
                        </p>
                    {% else %}
                        <p class="navbar-btn btn-group">
                            {% if not site_url %}
                                <a class="btn btn-sm topnavbar-r__login-btn" href="/login/"><i class="fa fa-key"></i> Accedi </a>
                            {% endif %}
                            {% block base_admin_navbar %}{% endblock %}
                        </p>
                    {% endif %}
                    {% endblock %}
                </div><!--/.navbar-collapse -->
              </div>
            </nav>

            {% if debug %}
                {% include "includes/debug.html" %}
            {% endif %}

            {% for message in messages %}
                <div class="text-center alert {{ message|level_to_bootstrap }}" role="alert">{{ message }}</div>
            {% endfor %}

        {% endif %}
    {% endblock %}

    {% if msg_errore %}
        <div class="container alert-dismissible alert-danger alert">
            <i class="fa fa-warning fa-fw"></i> <strong>Errore</strong> &mdash; {{ msg_errore }}
        </div>
    {% endif %}

    {% block base_admin_breadcrumbs %}{% endblock %}
    {% block pagina_principale %}{% endblock %}

    {% if not embed %}
    <div class="container-fluid footer-container-fluid">
      <img class="footer-main__logo-uica" src="{% static 'img/un-italia-che-aiuta.png' %}" alt="Un'Italia che aiuta">
      <footer class="row footer-main">
      {% block pagina_footer %}
        <ul class="footer-main__nav">
          <li class="footer-main__link"><strong><a href="{% url 'supporto_page' %}"><i class="fa fa-support"></i> Supporto</a></strong></li>
          <li class="footer-main__link"><a href="{% url 'informazioni' %}">Informazioni</a></li>
          <li class="footer-main__link"><a href="{% url 'informazioni_verifica_tesserino' %}">Verifica un tesserino CRI</a></li>
          <li class="footer-main__link"><a href="http://wiki.gaia.cri.it/">Manuale d'uso</a></li>
        </ul>
        <div>
          <p class="footer-container-fluid__copyright">&copy;2015-2019, <strong>Il Progetto Gaia</strong></p>
        </div>
      {% endblock %}
      </footer>
    </div> <!-- /container -->
    {% endif %}

{% endblock %}
