{% extends "anagrafica_utente_vuota.html" %}

{% load bootstrap3 %}

{% block pagina_titolo %}Documenti{% endblock %}

{% block menu_laterale %}
    <div class="col-md-2 well well-sm">
        <ul id="sezione" role="navigation" class="nav nav-pills nav-stacked navbar-collapse collapse">
            <li class="dropdown-header grassetto piu-grande">Documenti</li>
                <li role="presentation" {% if link_url in request.path %}class="active"{% endif %}>
                    <a href="{{ link_url|urlencode }}">
                        <i class="fa fa-newspaper-o fa-fw"></i>
                        Elenco
                    </a>
                </li>
            <hr />
        </ul>
    </div>
{% endblock %}

{% block app_contenuto %}
    <h2 class="allinea-centro text-success">
        Documenti
    </h2>

    <div class="alert alert-info">
        <h4><i class="fa fa-info-circle"></i> Benvenuto nell'archivio dei documenti.</h4>
    </div>

    <div class="panel">
        <form method='GET' action="{{ url_vista }}">
            <label for="query-nome">Ricerca file per nome</label>
            <input type="text" name="q" id="query-nome">
            <button type="submit" class="btn btn-primary">
                <i class="fa fa-fw fa-check-circle"></i>Cerca
            </button>
            <a href="{{ url_vista }}" class="btn btn-primary">
                <i class="fa fa-fw fa-times-circle-o"></i>Annulla
            </a>
        </form>
    </div>
    <h3>{{ cartella }}</h3>

    <table class="table table-striped">
    <thead>
        <th>tipo</th>
        <th>nome</th>
        <th>dimensione</th>
        <th>accessi</th>
    </thead>
    <tbody>
    {% if cartelle %}
        {% for cartella in cartelle %}
            <tr>
                <th><i class="fa fa-fw fa-folder-o"></i></th>
                <td><a href='{% url 'lista_documenti' cartella.pk %}'>{{cartella.name}}</a></td>
                <td></td>
                <td></td>
            </tr>
        {% endfor %}
    {% endif %}

    {% if documenti %}
        {% for documento in documenti %}
            <tr>
                <th><i class="fa fa-fw {{ documento.icona }}"></i></th>
                <td><a href="{{ documento.url_scarica }}">{{ documento.label }}</a></td>
                <td>{{documento.size|filesizeformat}}</td>
                <td>{{documento.downloads}}</td>
            </tr>
        {% endfor %}
    {% endif %}
    </tbody>
    <tfoot>
    <td colspan="4">
        {% if not livello_superiore == 'root' %}
            {% if livello_superiore %}
                <a class="fa fa-level-up" href='{% url 'lista_documenti' livello_superiore.pk %}'> ritorna</a>
            {% else %}
                <a class="fa fa-level-up" href='{% url 'lista_documenti' %}'> ritorna</a>
            {% endif %}
        {% endif %}
        {% if is_paginated %}
            <div class="pagination">
                <span class="page-links">
                    {% if page_obj.has_previous %}
                        <a class="fa fa-backward" href="/documenti?page={{ page_obj.previous_page_number }}"> PRec </a>
                    {% endif %}
                    <span class="page-current">
                        Pagina {{ page_obj.number }} di {{ page_obj.paginator.num_pages }}.
                    </span>
                    {% if page_obj.has_next %}
                        <a class="fa fa-forward" href="/documenti?page={{ page_obj.next_page_number }}">Successiva</a>
                    {% endif %}
                </span>
            </div>
        {% endif %}
    </td>
    </tfoot>
    </table>
{% endblock %}
