{% extends "anagrafica_utente_vuota.html" %}

{% load bootstrap3 %}

{% block pagina_titolo %}Documenti{% endblock %}

{% block menu_laterale %}
    <div class="col-md-2 well well-sm">
        <ul id="sezione" role="navigation" class="nav nav-pills nav-stacked navbar-collapse collapse">
            {% for sezione_nome, sezione_pagine in menu.documenti %}
                <li class="dropdown-header grassetto piu-grande">{{ sezione_nome }}</li>
                {% for link_nome, link_icona, link_url, link_contatore in sezione_pagine %}
                    <li role="presentation" {% if link_url == request.path %}class="active"{% endif %}>
                        <a href="{{ link_url|urlencode }}"><i class="fa {{ link_icona }} fa-fw"></i> {{ link_nome }}</a>
                    </li>
                {% endfor %}
                <hr />
            {% endfor %}
        </ul>
    </div>
{% endblock %}

{% block app_contenuto %}

    {% if cartella %}{% url 'documenti:lista_documenti' cartella.pk as url_base %}
    {% else %}{% url 'documenti:lista_documenti' as url_base %}
    {% endif %}
    <div class="row">


        <div class="col-md-8">

            {% if query %}
                <h3>
                    <i class="fa fa-fw fa-search"></i>
                    <span class="text-muted">Hai cercato:</span>
                    {{ query }}
                </h3>

            {% else %}

                <h3>
                    <i class="fa fa-fw fa-folder-open-o"></i>
                    <span class="text-muted">Sei in:</span>
                    <a href="{% url 'documenti:lista_documenti' %}"> Documenti </a>&nbsp;/
                    {% for parent in cartella.get_ancestors %}
                        <a href="{% url 'documenti:lista_documenti' parent.pk %}">{{ parent }}</a>&nbsp;/
                    {% endfor %}
                    {{ cartella }}
                </h3>
            {% endif %}

        </div>

        <div class="col-md-4 padding-verticale-20">
            <form method='GET' action="{{ url_vista }}">

                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Cerca documento per nome..."
                           name="q" id="query-nome" value="{{ query }}"
                    >
                    <span class="input-group-btn">
                        <button class="btn btn-primary" type="submit">
                            <i class="fa fa-fw fa-search"></i>
                            <span class="sr-only">Cerca</span>
                        </button>
                        {% if query %}
                        <a href="{{ url_vista }}" class="btn btn-danger">
                            <i class="fa fa-fw fa-times"></i>
                            <span class="sr-only">Annulla</span>
                        </a>
                        {% endif %}

                    </span>

                </div><!-- /input-group -->

            </form>

        </div>

    </div>



    <table class="table table-striped">
    <thead>
        <th><i class="fa fa-fw fa-file-o"></i></th>
        <th>Nome del documento</th>
        {% if query %}<th>Locazione</th>{% endif %}
        <th>Pubblicato il</th>
        <th>Peso</th>
        <th>N. Accessi</th>
    </thead>
    <tbody>
    {% if cartelle %}
        {% for cartella in cartelle %}
            <tr class="info">
                <th><i class="fa fa-fw fa-folder-o"></i></th>
                <td class="grassetto"><a href='{% url 'documenti:lista_documenti' cartella.pk %}'>{{ cartella.name }}</a></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        {% endfor %}
    {% endif %}

    {% if documenti %}
        {% for documento in documenti %}
            <tr>
                <th><i class="fa fa-fw {{ documento.icona }}"></i></th>
                <td><a target="_blank" href="{{ documento.url_scarica }}">{{ documento.label }}</a></td>
                {% if query and documento.folder.pk%}
                    <td><a href="{% url 'documenti:lista_documenti' documento.folder.pk %}">
                        <i class="fa fa-fw fa-folder"></i> {{ documento.folder }}</a>
                    </td>
                {% endif %}
                <td>{{documento.data_pubblicazione|date:"DATE_FORMAT"}}</td>
                <td>
                    {% if documento.size %}
                        {{documento.size|filesizeformat}}
                    {% else %}
                        <i class="fa fa-fw fa-question-circle text-muted"></i>
                    {% endif %}
                </td>
                <td>{{documento.downloads}}</td>
            </tr>
        {% endfor %}
    {% endif %}

    {% if not cartelle and not documenti %}

        <tr class="alert alert-warning">

            {% if query %}
                <td colspan="6">
                    <i class="fa fa-fw fa-info-circle"></i>
                    Nessun risultato trovato per il termine di ricerca specificato.
                </td>

            {% else %}
                <td colspan="5">
                    <i class="fa fa-fw fa-info-circle"></i>
                    Nessun documento in questa cartella.
                </td>


            {% endif %}
        </tr>

    {% endif %}
    </tbody>
    <tfoot>
    <td colspan="5">
        {% if is_paginated %}
            <div class="pagination">
                <span class="page-links">
                    {% if page_obj.has_previous %}
                        <a href="{{ url_base }}?page={{ page_obj.previous_page_number }}"><i class="fa fa-backward" ></i> Prec.</a>
                    {% endif %}
                    <span class="page-current">
                        Pagina {{ page_obj.number }} di {{ page_obj.paginator.num_pages }}.
                    </span>
                    {% if page_obj.has_next %}
                        <a href="{{ url_base }}?page={{ page_obj.next_page_number }}"><i class="fa fa-forward" ></i> Succ.</a>
                    {% endif %}
                </span>
            </div>
        {% endif %}
    </td>
    </tfoot>
    </table>
{% endblock %}
