{% extends "anagrafica_utente_vuota.html" %}

{% load bootstrap3 %}

{% block pagina_titolo %}Documenti{% endblock %}

{% block menu_laterale %}
    <div class="col-md-2 well well-sm">
        <ul id="sezione" role="navigation" class="nav nav-pills nav-stacked navbar-collapse collapse">
            <li class="dropdown-header grassetto piu-grande">Documenti</li>
                <li role="presentation" {% if link_url in request.path %}class="active"{% endif %}>
                    <a href="{{ link_url|urlencode }}">
                        <i class="fa fa-newspaper-o fa-fw"></i>
                        Elenco
                    </a>
                </li>
            <hr />
        </ul>
    </div>
{% endblock %}

{% block app_contenuto %}
    <h2 class="allinea-centro text-success">
        Documenti
    </h2>

    <div class="alert alert-info">
        <h4><i class="fa fa-info-circle"></i> Benvenuto nell'archivio dei documenti.</h4>
    </div>

    <div class="panel">
        <form method='GET' action="{{ url_vista }}">
            <label for="query-nome">Ricerca file per nome</label>
            <input type="text" name="q" id="query-nome" value="{{ query }}">
            <button type="submit" class="btn btn-primary">
                <i class="fa fa-fw fa-check-circle"></i>Cerca
            </button>
            <a href="{{ url_vista }}" class="btn btn-primary">
                <i class="fa fa-fw fa-times-circle-o"></i>Annulla
            </a>
        </form>
    </div>
    <h3>
        <a href="{% url 'lista_documenti' %}"> documenti </a>&nbsp;/
        {% for parent in cartella.get_ancestors %}
            <a href="{% url 'lista_documenti' parent.pk %}">{{ parent }}</a>&nbsp;/
        {% endfor %}
        {{ cartella }}
    </h3>

    <table class="table table-striped">
    <thead>
        <th>tipo</th>
        <th>nome</th>
        {% if query %}<th>cartella</th>{% endif %}
        <th>data pubbl.</th>
        <th>dimensione</th>
        <th>accessi</th>
    </thead>
    <tbody>
    {% if cartelle %}
        {% for cartella in cartelle %}
            <tr>
                <th><i class="fa fa-fw fa-folder-o"></i></th>
                <td><a href='{% url 'lista_documenti' cartella.pk %}'>{{ cartella.name }}</a></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        {% endfor %}
    {% endif %}

    {% if documenti %}
        {% for documento in documenti %}
            <tr>
                <th><i class="fa fa-fw {{ documento.icona }}"></i></th>
                <td><a target="_blank" href="{{ documento.url_scarica }}">{{ documento.label }}</a></td>
                {% if query %}<td>{{ documento.folder }}</td>{% endif %}
                <td>{{documento.data_pubblicazione|date}}</td>
                <td>{{documento.size|filesizeformat}}</td>
                <td>{{documento.downloads}}</td>
            </tr>
        {% endfor %}
    {% endif %}
    </tbody>
    <tfoot>
    <td colspan="5">
        {% if is_paginated %}
            <div class="pagination">
                <span class="page-links">
                    {% if page_obj.has_previous %}
                        <a href="/documenti?page={{ page_obj.previous_page_number }}"><i class="fa fa-backward" ></i> Prec.</a>
                    {% endif %}
                    <span class="page-current">
                        Pagina {{ page_obj.number }} di {{ page_obj.paginator.num_pages }}.
                    </span>
                    {% if page_obj.has_next %}
                        <a href="/documenti?page={{ page_obj.next_page_number }}"><i class="fa fa-forward" ></i> Succ.</a>
                    {% endif %}
                </span>
            </div>
        {% endif %}
    </td>
    </tfoot>
    </table>
{% endblock %}
