[celery]

broker_url = sentinel://criredis01.cri.it:26379/2;sentinel://criredis02.cri.it:26379/2;sentinel://criredis03.cri.it:26379/2
result_backend = sentinel://criredis01.cri.it:26379/2;sentinel://criredis02.cri.it:26379/2;sentinel://criredis03.cri.it:26379/2

[riaccoda]
# 3600s = 1h
periodo = 3600
