[celery]

broker_url = sentinel://criredis01.cri.it:26379/0;sentinel://criredis02.cri.it:26379/0;sentinel://criredis03.cri.it:26379/0
result_backend = sentinel://criredis01.cri.it:26379/0;sentinel://criredis02.cri.it:26379/0;sentinel://criredis03.cri.it:26379/0

[riaccoda]
# 3600s = 1h
periodo = 3600
