[celery]

broker_url = sentinel://devcriredis01.cri.it:26379/0;sentinel://devcriredis02.cri.it:26379/0;sentinel://devcriredis03.cri.it:26379/0
result_backend = sentinel://devcriredis01.cri.it:26379/0;sentinel://devcriredis02.cri.it:26379/0;sentinel://devcriredis03.cri.it:26379/0

[riaccoda]
# 3600s = 1h
periodo = 3600
