<style>.grassetto{font-weight:bold;}</style>

{% block top %}<body style="font-family: 'Verdana', 'Tahoma'; color: #333;">{% endblock %}
{% block top_extra %} {% endblock %}
{% block header %} {% endblock %}
{% block corpo %}<p>&nbsp;</p>{% endblock %}

<hr/>

{% block corpo_allegati %}

    {% if allegati %}
        <h4>Allegati ({{ allegati|length }})</h4>
        <ul>
            {% for allegato in allegati %}
                <li>
                    <strong>{{ allegato.nome }}</strong> (<a href="{{ allegato.download_url }}" target="_new" download>Scarica</a>) <br />
                    Peso {{ allegato.file.size|filesizeformat }}, scadenza {{ allegato.scadenza }}
                </li>
            {% endfor %}
        </ul>
        <hr />

    {% else %}
    {% endif %}

{% endblock %}

{% block footer %}
    <p style="font-size:11px;">
        <span style="color:#009900;font-weight:bold;">Rispetta l'ambiente, non stampare questa email se non è necessario.</span>
        <br><br>
        <strong>Informativa sulla Privacy - come previsto ai sensi dell’art. 13 del Regolamento UE 679/2016.</strong><br>
        Si precisa che le informazioni contenute in questo messaggio sono riservate e ad uso esclusivo del destinatario.<br>
        Qualora questo messaggio Le fosse pervenuto per errore, La preghiamo di eliminarlo senza copiarlo e di non inoltrarlo a terzi, dandocene gentilmente comunicazione.<br>
        Grazie per la collaborazione.<br><br>
        Croce Rossa Italiana. <strong>Un'Italia che aiuta.</strong>
    </p>
{% endblock %}

{% block bottom_extra %} {% endblock %}
{% block bottom %}</body>{% endblock %}
