{% extends 'email.html' %}

{% load utils %}

{% block corpo %}

    <p class="grassetto">Ciao {{ delega.tipo|nomina_presidenziale }}</p>

    <p>Ricevi questo messaggio perch&eacute; sei di recente stat{{ delega.persona.genere_o_a }}
        nominat{{ delega.persona.genere_o_a }}
        Presidente del {{ delega.oggetto.link|safe }}. Vogliamo approfittare di questa occasione per
        congratularci per la tua nuova carica e augurarti un ottimo futuro ricco di soddisfazioni.</p>

    <p>Ti inviamo questa e-mail per aiutarti nel completare rapidamente tutte le cose da fare su Gaia.</p>

    <h4>Cosa fare ora?</h4>

    <p>Come saprai, &egrave; tua responsabilit&agrave; nominare i delegati, responsabili, referenti
        delle attivit&agrave;, ecc., per il {{ delega.oggetto.link|safe }} quanto prima possibile,
        al fine di garantire la continuit&agrave; del servizio del Comitato.</p>

    <p style="font-weight: bold;">
        Per semplificare e velocizzare la procedura, abbiamo preparato per te una semplice check-list,
        contenente tutte le deleghe da effettuare. Questo strumento vuole essere d'aiuto per aiutarti a non
        dimenticare proprio nessuna nomina e nessuna attivit&agrave; &mdash; affinch&eacute; il
        {{ delega.oggetto.link|safe }} possa continuare a dare il suo meglio sul territorio.
    </p>

    <p style="font-size: larger;">
        <a href="{{ delega.oggetto.url_checklist }}">
            Check-list per il {{ delega.oggetto }}
        </a>
    </p>

    <p>&nbsp;</p>

    <h4>Siamo qui per te.</h4>

    <p>Vogliamo inoltre approfittare dell'occasione per ricordarti che la Squadra di Assistenza di Gaia
        &egrave; a tua completa disposizione, e siamo pronti ad assisterti per ogni problema nell'utilizzo
        di Gaia, dal pi&ugrave; semplice dubbio sull'utilizzo del portale, fino alle pi&ugrave; complesse
        necessit&agrave; (ci proveremo!).</p>

    <p>In fondo ad ogni pagina, trovi un collegamento "<strong>Supporto</strong>", che ti permetter&agrave;
        di scrivere alla nostra Squadra. Ricorda sempre di accedere a Gaia prima di cliccare su questo collegamento:
        identificandoti, infatti, gestiremo la tua richiesta pi&ugrave; rapidamente e potremo assegnare una
        priorit&agrave; maggiore alla tua richiesta, in quanto Presidente del {{ delega.oggetto.link|safe }}.</p>

    <p>
        Buona giornata,<br />
        La Squadra di Gaia.
    </p>


{% endblock %}
