{% extends 'email.html' %}

{% block corpo %}
    <p class="grassetto">Ciao {{ nome }}, benvenuto/a!</p>
    <p>La tua casella email di servizio CRI è stata attivata.</p>
    <p></p>
    <p>Indirizzo e-mail: <b>{{ email_servizio }}</b></p>
    <p>Password temporanea: <b>{{ password }}</b></p>
    <p></p>
    <p><b>Attenzione:</b> se non sei stato tu a richiedere la nuova casella ti suggeriamo di
        cambiare la tua password d'accesso al portale GAIA e di contattarci
        rispondendo a questa email.</p>
    <p></p>
    <p>Per qualunque ulteriore informazione contattaci rispondendo a questa email.</p>
{% endblock %}
