{% extends 'email.html' %}

{% block corpo %}
    <p>Ricevi questo messaggio perch&eacute; &egrave; necessario che tu conceda o neghi una richiesta di autorizzazione:</p>

    <hr />
    {% include richiesta.template_path %}
    <hr />

    <p class="grassetto">Azioni disponibili:
        <a href="/autorizzazioni/{{ richiesta.id }}/concedi/">CONCEDI</a>
        o
        <a href="/autorizzazioni/{{ richiesta.id }}/nega/">NEGA</a>
        l'autorizzazione.
    </p>

    <p>Alla <a href="/autorizzazioni/">pagina "Richieste"</a> su Gaia trovi l'elenco completo delle
        richieste di autorizzazione in attesa della tua firma.
    </p>

{% endblock %}
