{% extends 'email.html' %}

{% block corpo %}

<p class="grassetto">Salve {{ persona.nome_completo }}.</p>
<p> Ti ricordiamo che risult{{ persona.trasferimenti_manuali|pluralize:"a,ano" }} {{ persona.trasferimenti_manuali|length }} richiest{{ persona.trasferimenti_manuali|pluralize:"a,e" }} di trasferimento in attesa di approvazione.</p>
<p>Per ragioni tecniche -risolte a partire dal {{ DATA_AVVIO_TRASFERIMENTI_AUTO|date:"SHORT_DATE_FORMAT" }}- non è possibile approvarl{{ persona.trasferimenti_automatici|pluralize:"a,e" }} in automatico.</p>
<p>Vai nella <a href="/autorizzazioni/">Sezione Richieste</a> per approvarl{{ persona.trasferimenti_manuali|pluralize:"a,e" }} o negarl{{ persona.trasferimenti_manuali|pluralize:"a,e" }}.</p>

{% endblock %}