{% extends 'email.html' %}

{% block corpo %}

    <p>La richiesta di {{ richiesta.oggetto.RICHIESTA_NOME }} inoltrata il {{ richiesta.creazione|date:"SHORT_DATE_FORMAT" }} è stata <strong>APPROVATA</strong>
        {% if firmatario %} da {{ firmatario.nome_completo }}{% elif automatica %}automaticamente{% endif %}.</p>

    {% if testo_extra %}
    <p>{{ testo_extra }}</p>
    {% endif %}

    <p>Segue il contenuto della richiesta:</p>
    <hr />
    {% include richiesta.template_path with notifica_approvazione=True %}
    <hr />

{% endblock %}
