{% extends 'email.html' %}

{% block corpo %}
    <p class="grassetto">Ciao {{ nome }}, benvenuto/a!</p>
    <p>Questa è una email di conferma della tua registrazione al portale Gaia.</p>
    <p>Da oggi nasce un portale online per la gestione avanzata ed integrata dell’anagrafica e delle attività: Il Portale Gaia!</p>
    <p>Gaia è l'acronimo di "Gestione Avanzata ed Integrata dell'Anagrafica" potrai, sin da subito, inserire e gestire i tuoi dati anagrafici e scaricare le ricevute delle tue donazioni.</p>
    <p>I tuoi dati sono stati caricati sul sistema, vai sul sito https://gaia.cri.it, clicca su accedi, inserisci il tuo indirizzo email e la password che hai scelto.</p>
    <p>Per qualunque ulteriore informazione contattaci rispondendo a questa email.</p>
{% endblock %}
