{% block top %}
    <body style="font-family: 'Verdana', 'Tahoma'; color: #333;">
{% endblock %}

{% block top_extra %}
{% endblock %}

{% block header %}
    <img src="https://gaia.cri.it/img/headermail.jpg"/>
{% endblock %}

    <hr/>

{% block corpo %}
    <p>&nbsp;</p>
{% endblock %}

    <hr/>

{% block corpo_allegati %}

    {% if allegati %}
        <h4>Allegati ({{ allegati|length }})</h4>
        <ul>
            {% for allegato in allegati %}
                <li>
                    <strong>{{ allegato.nome }}</strong>
                    (<a href="{{ allegato.download_url }}" target="_new" download>Scarica</a>)
                    <br />
                    Peso {{ allegato.file.size|filesizeformat }}, scadenza {{ allegato.scadenza }}
                </li>
            {% endfor %}
        </ul>
        <hr />

    {% else %}

    {% endif %}

{% endblock %}

{% block footer %}
    <p>
        <a href="https://gaia.cri.it/login/&ref=mail" style="color: #C00; font-weight: bold;">Clicca qui per entrare su Gaia &mdash; https://gaia.cri.it</a><br />
        <span style="color: #666; font-weight: bold">Se hai bisogno di aiuto, sentiti libero di rispondere a questa email.</span><br />
        <a href="https://www.facebook.com/cri.progettogaia" style="color: #0404B4; font-weight: bold;">Segui il progetto Gaia su Facebook per conoscere sempre le ultime novità!</a>
        <br /><br />
        <span style="color: #009900; "> <strong>Rispetta l'ambiente, non stampare questa email se non è necessario.</strong></span>
        <br /><br />
        <strong>Informativa sulla Privacy - come previsto dal D. Lgs n. 196/2003</strong><br />
        Si precisa che le informazioni contenute in questo messaggio sono riservate e ad uso esclusivo del destinatario. <br />
        Qualora questo messaggio Le fosse pervenuto per errore, La preghiamo di eliminarlo senza copiarlo e di non inoltrarlo a terzi, dandocene gentilmente comunicazione. <br>
        Grazie per la collaborazione. <br /><br />
        Croce Rossa Italiana. <strong>Un'Italia che aiuta.</strong>
    </p>
{% endblock %}

    <style>.grassetto{font-weight:bold;}</style>

{% block bottom_extra %}
{% endblock %}

{% block bottom %}
    </body>
{% endblock %}