{% extends 'email.html' %}

{% block corpo %}

    <p class="grassetto">Gentile {{ persona }},</p>
    <p>con la presente si comunica che ai sensi della recente direttiva emessa dal</p>
    <p>Comitato Nazionale CRI, che recepisce, quanto indicato dal art. 17 comma V del D.LGS</p>
    <p>117/17 (codice del Terzo settore ), si è proceduto ad effettuare la Sua iscrizione sul</p>
    <p>gestionale GAIA nel ruolo di Dipendente fino a cessata esigenza contrattuale.</p>
    <p>Cordiali saluti</p>

{% endblock %}