{% extends 'email.html' %}

{% block corpo %}

    <p class="grassetto">Ciao {{ email }}.</p>
    <p>Ricevi questo messaggio perch&eacute; hai chiesto di registrarti su Gaia.</p>
    <hr />
    <p>Per confermare la richiesta, clicca sul link sottostante:</p>
    <p><a href='https://gaia.cri.it/registrati/{{tipo}}/{{step}}/?code={{code}}&registration={{sessione}}'>Conferma</a></p>
    <p><strong>IMPORTANTE:</strong> Il link è valido solo per pochi minuti, quindi conferma subito
        la tua nuova email!</p>
    <hr />
    <p><strong>IMPORTANTE:</strong> Dopo la conferma del nuovo indirizzo potrai procedere
        e completare la registrazione.</p>
    <hr />

{% endblock %}