{% extends 'email.html' %}

{% block corpo %}

<p class="grassetto">Ciao</p>
<p>La richiesta di riserva del volontario <strong>{{ riserva.persona.nome_completo }}</strong> dal <strong> {{ riserva.inzio|date:"SHORT_DATE_FORMAT" }} </strong> al <strong> {{ riserva.inzio|date:"SHORT_DATE_FORMAT" }} </strong> è stata <strong>annullata</strong> dal volontario stesso.</p>

<p>Se pensi che ci sia stato un errore, ti invitiamo a rispondere a questa email indicandoci cosa c'è da correggere.</p>

{% endblock %}