{% extends 'email.html' %}

{% block corpo %}

<p>Ciao {{ persona.nome }},</p>
<p>&Egrave; stato richiesto il reset della tua password per accedere a Gaia.</p>
<p>Puoi continuare con questa operazione <strong><a href="/reimposta_password/{{uid}}/{{reset_pw_link}}">cliccando su questo collegamento</a></strong> entro {{scadenza_token}} ore dalla ricezione di questa e-mail.</p>
<p>Se non hai richiesto che la tua password venga reimpostata, non preoccuparti: puoi rispondere a questo messaggio per ulteriori informazioni.</p>

{% endblock %}