{% extends 'posta_vuota.html' %}

{% load bootstrap3 %}

{% block pagina_titolo %}

    {% if messaggio %}
        {{ messaggio.oggetto }} &mdash;
    {% endif %}

    {% if direzione == "in-arrivo" %}
        Posta in arrivo
    {% else %}
        Posta in uscita
    {% endif %}

{% endblock %}


{% block app_contenuto %}

<div class="row">
    <div class="col-md-12 padding-sotto-15">
        <form method='GET' action='/posta/{{ direzione }}/'>
            <div class="form-check">
                <label class="margine-nullo">Cerca per</label>
                <label class="form-check-label radio-inline">
                    <input class="form-check-input" type="radio" name="mailfilterby" {% if filterby == 'oggetto' %}checked{% endif %} value="oggetto">Oggetto
                </label>
                {% if direzione == 'in-arrivo' %}
                    <label class="radio-inline">
                        <input type="radio" name="mailfilterby" {% if filterby == 'mittente' %}checked{% endif %} value="mittente">Mittente
                    </label>
                {% else %}
                    <label class="radio-inline">
                        <input type="radio" name="mailfilterby" {% if filterby == 'destinatario' %}checked{% endif %} value="destinatario">Destinatario   
                    </label>
                {% endif %}
            </div>
            <div class="input-group">
                <input type="text" class="form-control" placeholder="testo da ricercare"
                        name="q" id="query-nome" value="{{ query }}"
                >
                <span class="input-group-btn">
                    <button class="btn btn-primary" type="submit">
                        <i class="fa fa-fw fa-search"></i>
                        <span class="sr-only">Cerca</span>
                    </button>
                    {% if query %}
                        <a href="/posta/{{ direzione }}" class="btn btn-danger">
                            <i class="fa fa-fw fa-times"></i>
                            <span class="sr-only">Annulla</span>
                        </a>
                    {% endif %}

                </span>

            </div><!-- /input-group -->
        </form>
    </div>
</div>

<div class="row">

    <div class="col-md-{% if messaggi|length > 0 %}4{% else %}12{% endif %}" >

        {% for msg in messaggi %}
            <div class="panel-messaggio panel panel-{% if messaggio and messaggio.pk == msg.pk %}primary{% else %}info{% endif %}"
                onclick="location.href='/posta/{{ direzione }}/{{ pagina }}/{{ msg.pk }}/#leggi';return false;">
                <div class="panel-heading">
                    <h3 class="panel-title hidden-xs hidden-sm">
                        <a href="/posta/{{ direzione }}/{{ pagina }}/{{ msg.pk }}/"
                                >{{ msg.oggetto }}</a>
                    </h3>
                    <h3 class="panel-title hidden-md hidden-lg">
                        <a href="/posta/{{ direzione }}/{{ pagina }}/{{ msg.pk }}/#leggi"
                                >{{ msg.oggetto }}</a>
                    </h3>
                </div>
                <div class="panel-body">
                    {% if direzione == "in-arrivo" %}
                        <i class="fa fa-fw fa-user"></i> Da:
                            {% if msg.mittente %}
                                <strong>{{ msg.mittente.link|safe }}</strong>
                            {% else %}
                                <strong><i class="fa fa-fw fa-info-circle"></i> Notifica Gaia</strong>
                            {% endif %}

                        <br />
                        <i class="fa fa-fw fa-clock-o"></i> Ricevuto: {{ msg.creazione|date:"SHORT_DATETIME_FORMAT" }}

                    {% else %}
                        {% if msg.destinatari.count < 2 %}
                            <i class="fa fa-fw fa-user"></i> A: <strong>{{ msg.destinatari.first.link|safe }}</strong>

                        {% else %}
                            <i class="fa fa-fw fa-group"></i> A: <strong>({{ msg.destinatari.count }} destinatari)</strong>

                        {% endif %}
                            <br />
                            <i class="fa fa-fw fa-clock-o"></i> Inviato: {{ msg.creazione|date:"SHORT_DATETIME_FORMAT" }}

                    {% endif %}
                </div>

            </div>

        {% empty %}
            <div class="alert alert-warning allinea-centro">
                <h4>Nessun messaggio.</h4>
                <p>La ricerca non ha prodotto risultati.</p>
            </div>

        {% endfor %}


        {% if messaggi|length > 0 %}
            <div class="allinea-centro">
                <ul class="pagination">


                    {% if ha_precedente %}
                        <li class="prev">
                            <a href="/posta/{{ direzione }}/{{ pagina_precedente }}/">
                                <i class="fa fa-arrow-left"></i>
                            </a>
                        </li>
                    {% else %}
                        <li class="prev disabled">
                            <a href="#">
                                <i class="fa fa-arrow-left"></i>
                            </a>
                        </li>

                    {% endif %}

                    <li class="active">
                        <a href="#">Pag. {{ pagina }} di {{ pagine }}</a>
                    </li>

                    {% if ha_successivo %}
                        <li class="prev">
                            <a href="/posta/{{ direzione }}/{{ pagina_successiva }}/">
                                <i class="fa fa-arrow-right"></i>
                            </a>
                        </li>
                    {% else %}
                        <li class="prev disabled">
                            <a href="#">
                                <i class="fa fa-arrow-right"></i>
                            </a>
                        </li>

                    {% endif %}

                </ul>

                {% if messaggi|length > 0 %}<p>{{ totale  }} messaggi in questa casella.</p>{% endif %}
            </div>
        {% endif %}

    </div>

    <div class="col-md-8">

        {% if messaggio %}
            <a id="leggi">&nbsp;</a>
            <div class="row">
                <div class="row allinea-centro">
                    <h3>{{ messaggio.oggetto }}</h3>
                </div>
                <hr />

                {% if inviato %}
                    <div class="alert alert-success">
                        <i class="fa fa-fw fa-check-circle-o"></i>
                        Il messaggio &egrave; stato inviato.
                    </div>

                {% elif accodato %}
                    <div class="alert alert-success">
                        <i class="fa fa-fw fa-check-circle-o"></i>
                        Il messaggio &egrave; stato accodato per l'invio.
                    </div>

                {% endif %}

                <div class="row allinea-centro ">

                    <div class="col-md-4">
                        <span class="text-muted">
                            <i class="fa fa-fw fa-clock-o"></i> Spedito
                        </span><br />
                        {{ messaggio.creazione|date:"SHORT_DATETIME_FORMAT" }}
                    </div>

                    <div class="col-md-4">
                        <span class="text-muted">
                            <i class="fa fa-fw fa-user"></i> Mittente
                        </span><br />
                        {% if messaggio.mittente %}
                            {{ messaggio.mittente.link|safe }}
                        {% else %}
                            <i class="fa fa-fw fa-info-circle"></i>
                            Notifica Gaia
                        {% endif %}

                    </div>

                    <div class="col-md-4">
                        {% if direzione == "in-arrivo" %}
                            <span class="text-muted">
                                <i class="fa fa-fw fa-mail-forward"></i> Destinatario
                            </span><br />
                            {{ me.link|safe }} (Tu)


                        {% else %}

                            {% if messaggio.destinatari.count < 2 %}
                                <span class="text-muted">
                                    <i class="fa fa-fw fa-mail-forward"></i> Destinatario
                                </span><br />
                                <strong>{{ messaggio.destinatari.first.link|safe }}</strong>

                            {% else %}
                                <span class="text-muted">
                                    <i class="fa fa-fw fa-mail-forward"></i> Destinatari
                                </span><br />
                                <strong>{{ messaggio.destinatari.count }} persone</strong>

                            {% endif %}
                            <br />
                            <a href="#" class="piu-piccolo" onclick="maggiori_dettagli();">
                                maggiori dettagli
                            </a>

                        {% endif %}
                    </div>

                </div>

                {% if not direzione == "in-arrivo" %}
                    <script type="text/javascript">
                    function maggiori_dettagli() {
                        $("#maggiori-dettagli").toggle();
                    }
                    </script>
                    <div class="row" id="maggiori-dettagli" style="display: none;">
                        <div class="col-md-12">
                            <table class="table table-condensed">
                                <thead>
                                    <th>
                                        <i class="fa fa-fw fa-user"></i>
                                        Destinatario
                                    </th>
                                    <th>
                                        <i class="fa fa-fw fa-mail-forward"></i>
                                        Stato e-mail
                                    </th>
                                    <th>
                                        <i class="fa fa-fw fa-clock-o"></i>
                                        Invio / Ultimo tentativo
                                    </th>
                                </thead>
                                <tbody>
                                    {% for oggetto_destinatario in messaggio.primi_oggetti_destinatario %}
                                        <tr {% if oggetto_destinatario.inviato %}class="alert-success"{% else %}class="alert-warning"{% endif %}>
                                            <td>{{ oggetto_destinatario.persona.link|safe }}</td>
                                            <td>
                                                {% if oggetto_destinatario.inviato %}
                                                    <i class="fa fa-fw fa-check"></i> Inviato

                                                {% elif oggetto_destinatario.errore %}
                                                    <i class="fa fa-fw fa-warning"></i> In coda

                                                {% else %}
                                                    <i class="fa fa-fw fa-clock-o"></i> In coda

                                                {% endif %}
                                            </td>
                                            <td>
                                                {{ oggetto_destinatario.tentativo|default:"A breve" }}
                                            </td>

                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                {% endif %}

                <hr />

                <div class="row" style="padding: 0% 10%;">

                    {% if messaggio.eliminato %}

                        <div class="alert alert-info">
                            <i class="fa fa-fw fa-info-circle"></i>
                            Il contenuto di questo messaggio &egrave; stato eliminato da Gaia perch&eacute; pi&ugrave;
                            vecchio di 6 mesi.

                            {% if direzione == "in-arrivo" %}
                                Questo messaggio &egrave; stato inviato alla tua casella di posta elettronica
                                il {{ messaggio.creazione|date:"SHORT_DATE_FORMAT" }}.
                            {% endif %}
                        </div>

                    {% else %}
                       {{ messaggio.corpo_body|safe }}

                    {% endif %}

                </div>
            </div>



        {% elif messaggi|length == 0 %}
<!--            <div style="display:none" class="alert alert-info allinea-centro">-->
<!--                <p>&nbsp;</p>-->
<!--                <h4>-->
<!--                    <i class="fa fa-fw fa-info-circle"></i>-->
<!--                    Ancora nessun messaggio.-->
<!--                </h4>-->
<!--                <p>Nessun problema.</p>-->
<!--                <p>Quando ci saranno dei messaggi da visualizzare, li troverai qui.</p>-->
<!--                <p>&nbsp;</p>-->
<!--            </div>-->


        {% else %}
            <div class="alert alert-info allinea-centro">
                <p>&nbsp;</p>
                <h4>
                    <i class="fa fa-fw fa-info-circle"></i>
                    Seleziona un messaggio da visualizzare.
                </h4>
                <p>Clicca sull'oggetto di un messaggo dall'elenco per visualizzarne il contenuto.</p>
                <p>&nbsp;</p>
            </div>

        {% endif %}

    </div>

</div>

{% endblock %}