{% extends 'posta_vuota.html' %}

{% load bootstrap3 %}

{% block pagina_titolo %}

    Scrivi un messaggio

{% endblock %}


{% block app_contenuto %}


    <h3 class="allinea-centro">
        <i class="fa fa-fw fa-pencil"></i>
        Scrivi un nuovo messaggio
    </h3>

    <div class="col-md-8 col-md-offset-2">

        <div class="alert alert-info">
            <i class="fa fa-fw fa-info-circle"></i>
            Puoi utilizzare questo modulo per inviare messaggi ad altre persone su Gaia. I messaggi inviati da Gaia
            verranno recapitati su Gaia, nonc&eacute; tramite e-mail.
        </div>
        
        <div class="alert alert-warning">
            <i class="fa fa-fw fa-info-circle"></i>
            <strong>ATTENZIONE:</strong> ti ricordiamo che l'invio massivo di comunicazioni tramite GAIA è consentito unicamente per comunicazioni isituzionali.<br />
            Eventuali comunicazioni contenenti <strong>auguri natalizi</strong> e di <strong>festività</strong> in generale dovranno essere inviate dalle caselle di posta del comitato, al fine di non recare disservizio ai sistemi di posta.<br /><br/>
            L'invio di eventuali comunicazioni non consentite tramite GAIA causerà la <strong>sospensione automatica</strong> di questa funzionalità. <br />
         </div>

        <form method="POST" enctype="multipart/form-data">

            {% csrf_token %}
            {% bootstrap_form modulo %}

            <button type="submit"
                    class="btn btn-primary btn-success btn-block btn-lg">
                <i class="fa fa-fw fa-send-o"></i>
                Invia il messaggio
            </button>

        </form>

    </div>

{% endblock %}
