{% extends 'aspirante_corso_base_scheda.html' %}

{% load humanize %}
{% load bootstrap3 %}
{% load formazione_templatetags %}

{% block scheda_titolo %}Lezioni{% endblock %}

{% block scheda_contenuto %}
<style>
  .esonero-text {font-size: 12px; padding: 4px 6px;}
  .lezione-scheda-text {display:block; margin-bottom:15px; text-align:center; color:red; font-weight:bold;}
  .toggle-bg {background-color: #c00 !important; color: #fff;}
</style>

<div class="row">
    <form method="POST">
        {% csrf_token %}

        <div class="col-md-9">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h2 class="panel-title"><i class="fa fa-fw fa-list"></i> Lezioni</h2>
                </div>

                <div class="panel-body">
                    <table class="table table-striped">
                        {% for lezione, modulo, partecipanti_lezione in lezioni %}
                            <tr class="lezione-head" style="margin-bottom:6px;">
                                <td colspan="2">
                                    <div class="toggleLezione" data-lezione-id="#{{ lezione.pk }}" style="cursor:pointer; font-size:22px;">
                                        <strong>{{ lezione.nome }}</strong>
                                        <div style="margin:0 0 7px 0; font-size:14px;">
                                            <span {% if puo_modificare and lezione.non_revisionata %}class="scheda-lezione-non-revisionata"{% endif %}>
                                                {{ lezione.inizio.date|naturalday:"DATE_FORMAT" }}, {{ lezione.inizio.time|date:"TIME_FORMAT" }}
                                            </span>
                                            {% if lezione.fine %} &mdash; {{ lezione.fine.time|date:"TIME_FORMAT" }}{% endif %}
                                            {% if lezione.lezione_ore and not lezione.divisa %}(<strong>{{ lezione.lezione_ore }}</strong> ore){% endif %}
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr class="lezione-data" id="{{ lezione.pk }}" style="display:none;">
                                <td style="width: 40%">
                                    {% if lezione.precaricata %}<p class="lezione-scheda-text">Lezione precompilata come da scheda corso</p>{% endif %}
                                    {% if lezione.divisa %}<span class="lezione-scheda-text" style="color:blue;">Lezione divisa</span>{% endif %}

                                    {% bootstrap_form modulo %}

                                    {% if invalid_forms and lezione.pk in invalid_forms  %}
                                        <div style="margin:15px 0; color:red; font-size:16px; text-align:center; font-weight:bold;">Verificare i dati inseriti per questa lezione.</div>
                                    {% endif %}

                                    <button type="submit" name="azione" value="salva" class="btn btn-primary btn-block"><i class="fa fa-fw fa-save"></i> Salva informazioni</button>

                                    {% if lezione.precaricata and not lezione.divisa and lezione.puo_dividere %}
                                        <a href="{{ lezione.url_dividi }}" class="btn btn-block"><i class="fa fa-fw fa-columns"></i> Dividi lezione</a>
                                    {% endif %}

                                    {% if not lezione.precaricata or lezione.precaricata and lezione.divisa %}
                                        <a href="{{ lezione.url_cancella }}" class="btn btn-sm btn-danger btn-block" data-conferma="Cancellare questa lezione? Questo eliminerà anche le assenze registrate.">
                                            <i class="fa fa-fw fa-trash"></i> Cancella lezione
                                        </a>
                                    {% endif %}
                                </td>
                                <td>
                                    <table class="table table-striped table-condensed">
                                        <thead>
                                        <tr>
                                            <th>Pres.</th>
                                            <th>Nome</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                            {% for partecipante in partecipanti %}
                                                {% lezione_partecipante_pk_shortcut lezione partecipante as lezione_partecipante_pk %}
                                                {% lezione_esonero lezione partecipante as assenza_lezione_esonero %}

                                                <tr>
                                                    <td id="actions-{{partecipante.pk}}" style="min-width: 125px;">
                                                        <label style="margin-bottom: -1px;"><input type="checkbox"
                                                             id="presenza-{{ lezione_partecipante_pk }}"
                                                             name="presenze-{{ lezione.pk }}"
                                                             value="{{ partecipante.pk }}"
                                                             {% if partecipante in partecipanti_lezione %}checked="checked"{% endif %} /> S&igrave;
                                                        </label>

                                                        <label style="margin: 0 0 0 8px;"><input type="checkbox"
                                                             class="esoneroCheckbox"
                                                             name="esonero-checkbox-{{ lezione_partecipante_pk }}"
                                                             data-esonero="#esonero-{{ lezione_partecipante_pk }}"
                                                             data-lezione-partecipante="{{ lezione_partecipante_pk }}"
                                                             {% if assenza_lezione_esonero %}checked="checked"{% endif %}> Esonero
                                                        </label>

                                                        <input type="text" style="{% if not assenza_lezione_esonero %}display:none;{% endif %}"
                                                             class="esonero-text"
                                                             id="esonero-{{ lezione_partecipante_pk }}"
                                                             name="esonero-{{ lezione_partecipante_pk }}"
                                                             placeholder="Motivazione dell'esonero"
                                                             value='{{ assenza_lezione_esonero.esonero_motivazione|default:"" }}'>
                                                    </td>
                                                    <td>
                                                        <a href="{% url 'profilo:main' partecipante.pk %}">{{partecipante.cognome}} {{partecipante.nome}}</a>
                                                    </td>
                                                </tr>
                                            {% empty %}
                                                <tr class="alert alert-warning">
                                                    <td colspan="2">Nessun iscritto confermato.</td>
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                    <button type="submit" name="azione" value="salva" class="btn btn-primary btn-block"><i class="fa fa-fw fa-save"></i> Salva presenze</button>
                                </td>
                            </tr>

                        {% empty %}
                            <tr class="alert alert-warning">
                                <td colspan="2">
                                    <i class="fa fa-fw fa-warning"></i> Ancora nessuna lezione inserita. Inserisci una lezione col modulo in questa pagina.
                                </td>
                            </tr>
                        {% endfor %}

                        {% if invalid_forms %}
                            <script>
                                $('#{{ invalid_forms.0 }}').show();
                                document.getElementById("{{ invalid_forms.0 }}").scrollIntoView({
                                  behavior: 'smooth'
                                });
                            </script>
                        {% endif %}

                        <script>
                            $('.toggleLezione').on('click', function(e){
                              let lezione_id = $(this).data('lezione-id');
                              let TOGGLE_BG_CLASS = "toggle-bg";

                              $('.lezione-head').removeClass(TOGGLE_BG_CLASS);
                              $('.lezione-data').hide();
                              $(lezione_id).toggle();

                              let tr_parent = $(this).closest('tr');

                              if ( !tr_parent.hasClass(TOGGLE_BG_CLASS)  ) {
                                $(tr_parent).addClass(TOGGLE_BG_CLASS);
                              } else {
                                $(tr_parent).removeClass(TOGGLE_BG_CLASS);
                              }
                            });
                        </script>

                        <script>
                          $('.esoneroCheckbox').on('click', function(e){
                            let esonero_id = $(this).data('esonero');
                            $(esonero_id).toggle();

                            if ($(this).is(":checked")) {
                              $(this).prop('checked', 'checked');
                            } else {
                              $(this).prop('checked', '');
                            };


                            // checkbox "Presenza"
                            let presenza_lezione_partecipante = $(this).data('lezione-partecipante')
                            let checkbox_presenza = $('#presenza-' +presenza_lezione_partecipante);

                            if (checkbox_presenza.prop('checked')) {
                              // if ($(this).prop('checked') === false) {
                              //  checkbox_presenza.prop('checked', '');
                              // }
                            } else {
                              checkbox_presenza.prop('checked', 'checked');
                            }
                          });
                        </script>
                    </table>
                </div>
            </div>
        </div>
    </form>

    <form method="POST">
        {% csrf_token %}
        <div class="col-md-3">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h2 class="panel-title"><i class="fa fa-fw fa-plus-circle"></i> Completa Lezioni</h2>
                </div>
                <div class="panel-body">
                    {% bootstrap_form modulo_nuova_lezione %}
                    <button type="submit" name="azione" value="nuova" class="btn btn-primary btn-block">
                        <i class="fa fa-fw fa-check-circle"></i> Aggiungi lezione
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>
{% endblock %}
