{% extends 'aspirante_corso_base_scheda.html' %}
{% load utils %}
{% load bootstrap3 %}

{% block scheda_titolo %}Modifica{% endblock %}

{% block scheda_contenuto %}
<div class="panel panel-primary">
    <div class="panel-heading"><h2 class="panel-title"><i class="fa fa-fw fa-pencil"></i> Modifica corso</h2></div>
    <div class="panel-body">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {% bootstrap_form modulo %}

            <h4>Condividi il materiale didattico</h4>
            {{ file_formset.as_p }}
            {{ link_formset.as_p }}

            {% if not_upload_file == True %}
            <script>alert("Attenzione! Il formato del file non è valido. Tipi di file supportati: csv, zip, rar, gif, png, jpg,  jpeg, tiff, rtf, pdf, ods, odt, doc, docx, xls, xlsx.");</script>
            {% endif %}

            <button type="submit" class="btn btn-primary btn-block"><i class="fa fa-fw fa-save"></i> Salva modifiche
            </button>
        </form>

        {% if sede_modifica_form %}
        <hr>

        <form method="POST" action="{% url 'aspirante:position_change' corso.pk %}?norefresh">
            {% csrf_token %}
            {% bootstrap_form sede_modifica_form %}
            <input type="hidden" name="modifica_sede_dopo_attivazione" value="1">
            <button type="submit" class="btn btn-primary btn-block"><i class="fa fa-fw fa-save"></i> Modifica sede
            </button>
        </form>
        {% endif %}
    </div>
</div>
{% endblock %}
