{% extends 'aspirante_corso_base_scheda.html' %}

{% block scheda_titolo %}Iscritti{% endblock %}

{% load utils %}

{% block scheda_contenuto %}

    {% if in_attesa.exists %}
        <div class="alert alert-block alert-warning">
            <h4><i class="fa fa-fw fa-warning"></i> Ci sono {{ in_attesa.count }} richieste di iscrizione</h4>
            <p>
                I <strong>direttori del corso</strong> e i <strong>responsabili alla formazione del Comitato</strong>
                possono confermare o negare le richieste di iscrizione dalla
                <a href="/autorizzazioni/57/"><i class="fa fa-fw fa-link"></i> sezione Richieste</a>.
            </p>
        </div>
    {% endif %}

    {% if corso.possibile_aggiungere_iscritti %}
        <div class="alert alert-block alert-info">
            <a href="{{ corso.url_iscritti_aggiungi }}" class="pull-right btn btn-info btn-xs">
                <i class="fa fa-fw fa-plus-circle"></i> Invita Persone al corso
            </a>
            <p>Vuoi iscrivere persone a questo corso?</p>
        </div>
    {% endif %}

    {% elenco elenco %}

{% endblock %}
