{% extends 'aspirante_corso_base_scheda.html' %}

{% block scheda_titolo %}
    Iscritti
{% endblock %}

{% load utils %}

{% block scheda_contenuto %}

    {% if in_attesa.exists %}
        <div class="alert alert-block alert-warning">
            <h4>
                <i class="fa fa-fw fa-warning"></i>
                Ci sono {{ in_attesa.count }} richieste di iscrizione
            </h4>
            <p>
                I direttori del corso possono confermare o negare le richieste
               di iscrizione dalla
                <a href="/autorizzazioni/57/"><i class="fa fa-fw fa-link"></i> sezione Richieste</a>.
            </p>
        </div>

    {% endif %}

    {% elenco elenco %}

{% endblock %}