{% extends "aspirante_vuota.html" %}

{% load bootstrap3 %}
{% load static %}
{% load utils %}

{% block app_contenuto %}



    <h2><i class="fa fa-fw fa-globe"></i> Dove vuoi fare il Corso Base?</h2>

    <div class="alert alert-info">
        <i class="fa fa-fw fa-info-circle"></i>
        Da questa pagina puoi cambiare l'indirizzo che verr&agrave; usato da Gaia
        per trovare Corsi Base e Sedi CRI nelle vicinanze. Questo pu&ograve; essere
        diverso dal tuo indirizzo di residenza.
    </div>

    {% localizzatore me.aspirante solo_italia=1 %}


    <p>&nbsp;</p>

    {% if me.cancellabile %}
    <div class="alert alert-danger">
        <i class="fa fa-fw fa-times"></i>
        Non vuoi pi&ugrave; entrare a far parte di Croce Rossa Italiana?
        <a data-conferma="Sei davvero sicur{{ me.genere_o_a }}? Cancelleremo tutti i tuoi dati. Se ci ripenserai, dovrai registrarti nuovamente a Gaia."
           href="/aspirante/impostazioni/cancella/">
                Cancella il tuo profilo da Gaia.
        </a>
    </div>
    {% endif %}

{% endblock %}