{% extends 'aspirante_corso_base_scheda.html' %}
{% load utils %}
{% load bootstrap3 %}

{% block scheda_titolo %}Informa persone{% endblock %}

{% block scheda_contenuto %}
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h2 class="panel-title"><i class="fa fa-fw fa-pencil"></i> Informare persone di questo corso</h2>
        </div>
        <div class="panel-body">
            <form method="POST">
                {% csrf_token %}

                <button type="submit" class="btn btn-primary btn-block"><i class="fa fa-fw fa-save"></i> Vai</button>
            </form>
        </div>
    </div>
{% endblock %}
