{% extends 'aspirante_corso_base_scheda.html' %}

{% block scheda_titolo %}Aggiungi Iscritti{% endblock %}

{% load utils %}
{% load bootstrap3 %}

{% block scheda_contenuto %}
<div class="row">
    <div class="col-md-4">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h2 class="panel-title"><i class="fa fa-fw fa-plus-circle"></i> Aggiungi Iscritti</h2>
            </div>
            <div class="panel-body">
                <p>Ricerca per Codice Fiscale o E-mail la persona da iscrivere a questo corso.</p>
                <p>Presidente e Ufficio Soci possono inserire i sostenitori dal pannello "Soci" > "Aggiungi Persona".</p>

                <form method="POST">
                    {% csrf_token %}
                    {% bootstrap_form modulo %}
                    <p><button type="submit" class="btn btn-block btn-primary">
                        <i class="fa fa-fw fa-check"></i>
                        Controlla e iscrivi
                    </button></p>
                </form>
                <p>
                    <a href="{{ corso.url_iscritti }}" class="btn btn-default btn-block">
                        <i class="fa fa-fw fa-mail-reply"></i>
                        Torna all'elenco
                    </a>
                </p>
            </div>
            <div class="panel-footer">
                <i class="fa fa-fw fa-envelope-o"></i>
                Avviseremo per e-mail le persone che verranno iscritte al corso; le persone dovranno accettare l'iscrizione perché sia effettiva.
            </div>
        </div>
    </div>

    <div class="col-md-8">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h2 class="panel-title">
                    <i class="fa fa-fw fa-cogs"></i>
                    Esito iscrizione
                </h2>
            </div>
            <div class="panel-body">
                <table class="table table-striped table-bordered">
                    <thead>
                    <tr>
                        <th>Persona</th>
                        <th>Può iscriversi?</th>
                        <th>Iscritto/a</th>
                    </tr>
                    </thead>
                    <tbody>
                        {% for r in risultati %}
                        <tr
                            {% if r.ok > 0 %}
                                class="success"
                            {% else %}
                                class="danger"
                            {% endif %}
                        >
                            <td>{{ r.persona.link|safe }}</td>
                            <td>
                                {% if r.esito in corso.PUOI_ISCRIVERTI %}
                                    Può iscriversi

                                {% elif r.esito in corso.SEI_ISCRITTO %}
                                    Già iscritt{{ r.persona.genere_o_a }} al corso

                                {% elif r.esito in corso.NON_PUOI_ISCRIVERTI_SOLO_SE_IN_AUTONOMIA %}
                                    Iscrivibile, ma non in autonomia

                                {% elif r.esito in corso.NON_PUOI_ISCRIVERTI  %}
                                    {% if r.esito == corso.NON_PUOI_ISCRIVERTI_GIA_VOLONTARIO %}
                                        Già volontario

                                    {% elif r.esito == corso.NON_PUOI_ISCRIVERTI_GIA_ISCRITTO_ALTRO_CORSO %}
                                        Già iscritt{{ r.persona.genere_o_a }} a un altro corso

                                    {% elif r.esito == corso.NON_HAI_DOCUMENTO_PERSONALE_VALIDO %}
                                        Questo utente non ha un documento di riconoscimento valido/rinnovato

                                    {% elif r.esito == corso.NON_HAI_CARICATO_DOCUMENTI_PERSONALI %}
                                        Questo utente non ha caricato un documento d'identità

                                    {% elif r.esito == corso.NON_PUOI_ISCRIVERTI_ESTENSIONI_NON_COINCIDONO %}
                                        Questa persona non ha appartenenze che coincidono con la sede organizzatrice del corso
                                        oppure con le sedi impostati nelle estensioni a livello regionale.

                                    {% else %}
                                        Non può iscriversi: esito non definito

                                    {% endif %}

                                {% else %}
                                    Esito sconosciuto

                                {% endif %}
                            </td>
                            <td class="grassetto">
                                {% if r.ok == r.partecipazione.ISCRITTO %}
                                    <i class="fa fa-fw fa-check"></i>
                                    Sì
                                {% elif  r.ok == r.partecipazione.IN_ATTESA_ASPIRANTE %}
                                    <i class="fa fa-fw fa-times"></i>
                                    In attesa
                                {% elif  r.ok == r.partecipazione.INVITO_INVIATO %}
                                    <i class="fa fa-fw fa-warning"></i>
                                    Già invitato
                                {% else %}
                                    <i class="fa fa-fw fa-times"></i>
                                    No
                                {% endif %}
                            </td>
                        </tr>
                        {% empty %}
                            <tr class="alert alert-warning">
                                <td colspan="3">
                                    Seleziona una o pi&ugrave; persone da iscrivere al corso{% if not corso.is_nuovo_corso %} base{%endif%}. Qui vedrai l'esito della procedura di iscrizione.
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}
