{% extends 'formazione_vuota.html' %}

{% load formazione_templatetags %}

{% block pagina_titolo %}Catalogo corsi{% endblock %}
{% block app_contenuto %}
  <style>
    .area-nome {
      margin-top: 20px;
      font-size: 22px;
      color: #c0504d;
      cursor: pointer;
      border-bottom: 1px dashed #c0504d;
    }
    .corso-nome {margin:0 0 6px; padding:8px; border:1px solid #c0504d; color:#c0504d; cursor:pointer;}
    .corso-lezioni-table {}
    .corso-lezioni-table-head-td {
      padding: 8px 14px;
      text-align: center;
      font-weight: bold;
      background-color: #dfa7a6;
      font-size: 15px;
    }
    .corso-lezioni-table-tr td {
      padding: 10px 0 0;
    }
    .corso-scheda-completa {
      text-align: center;
      font-size: 16px;
      margin-bottom: 15px;
    }
  </style>

{#  <h3>Catalogo corsi formazione</h3>#}
  <span style="display:block; margin-bottom:6px; font-size:12px;">Totale corsi: {{ titoli_total }}</span>

  <form method="get">
    <input type="hidden" name="search">

    <span>{{ form }}</span>
    <span><button type="submit">Cerca corso</button></span>
  </form>

  <div class="area-nome" data-settore-id="#settore_id_X" style="color: black;">Catalogo corsi formazione </div>
  <div class="area-levels" id="settore_id_X">
    {% include 'titoli_menu.html' with titoli=titoli margine_sezione="15px" suffix=''%}
  </div>

  <div class="area-nome" data-settore-id="#settore_id_Y" style="color: black;">Catalogo corsi formazione online</div>
  <div class="area-levels" id="settore_id_Y">
    {% include 'titoli_menu.html' with titoli=titoli_online margine_sezione="15px" suffix='online'%}
  </div>


  <script>
    $('.area-levels').hide();
    $('.area-nome').on('click', function() {
      let scheda_id = $(this).data('settore-id');
      $(scheda_id).toggle();
    });

    $('.corso-scheda').hide();
    $('.corso-nome').on('click', function() {
      let scheda_id = $(this).data('titolo-id');
      $(scheda_id).toggle();
    });
  </script>

{% endblock %}
