{% extends 'email.html' %}

{% block corpo %}

<p>Ciao {{ persona.nome }},</p>
<p class="grassetto">ti scriviamo per informarti che {{ mittente.nome_completo }} ha annullato la tua iscrizione al "corso base" per Volontari CRI
    organizzato dal {{ corso.sede.link|safe }} con inizio il
    {{ corso.data_inizio|date:"SHORT_DATETIME_FORMAT" }}, presso:
    <a href="{{ corso.url_mappa }}">{{ corso.locazione }} (vedi in mappa)</a>.</p>

<hr />

<p><strong>Qualora tu ritenga che la disiscrizione sia un errore ti invitiamo a rivolgerti al {{ corso.sede.link|safe }} per maggiori informazioni</strong></p>

{% endblock %}