{% extends 'email.html' %}

{% block corpo %}

    <p>Ciao {{ persona.nome_completo }},</p>

    <p>è stato attivato un Evento di formazione per Volontari CRI!</p>

    <p>
        L'evento è stato organizzato dal {{ evento.sede.link|safe }} e si svolgerà dal {{ evento.data_inizio|date:"SHORT_DATETIME_FORMAT" }}
        al {{ evento.data_fine|date:"SHORT_DATETIME_FORMAT" }}, al seguente indirizzo:
        <a href="/login/?next={{ evento.url_mappa }}">{{ evento.locazione }} (vedi in mappa)</a>.
    </p>
    <div>
        Durante <a href="{{ evento.url }}">l'evento</a> saranno organizzati i seguenti Corsi di formazione:
        <ul>
            {% for corso in evento.corsi_associati %}
                <li>{{ corso }} <a href="/login/?next={{ corso.url }}">Entra in Gaia (clicca qui)</a>, Direttore del Corso: {{ corso.direttori_corso.first }}</li>
            {% endfor %}
        </ul>
    </div>

    <div>
        Per maggiori informazioni sull'organizzazione dell'Evento formativo puoi contattare il/i referente/i organizzativo
        <ul>
            {% for delega in evento.referenti_evento %}
                    <li> {{ delega.persona.nome_completo }}  {{ delega.persona.email }}</li>
            {% endfor %}
        </ul>
    </div>

    Per maggiori informazioni sui Corsi di formazione puoi contattare direttamente i Direttori del Corso.

{% endblock %}
