{% extends 'evento_base_scheda.html' %}

{% load utils %}
{% load social %}
{% load humanize %}
{% load bootstrap3 %}
{% load formazione_templatetags %}




{% block scheda_contenuto %}

    <div class="row">
        <div class="panel panel-primary">
            <div class="panel-body">
                <h3 style="margin:0 0 15px;">Attivazione Evento</h3>
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% bootstrap_form modulo %}

                    <h4>Condividi informazioni aggiuntive</h4>
                    {{ file_formset.as_p }}
                    {{ link_formset.as_p }}
                    <button type="submit" class="btn btn-block btn-primary">
                        <i class="fa fa-fw fa-asterisk"></i> Modifica evento
                    </button>
                </form>
            </div>
        </div>
    </div>

{% endblock %}
