{% extends 'evento_base_scheda.html' %}

{% block scheda_titolo %}
    Mappa
{% endblock %}

{% block scheda_contenuto %}

    {% if evento.locazione %}


    {% else %}
        <div class="alert alert-warning">
            <h4><i class="fa fa-fw fa-warning"></i> Locazione sconosciuta</h4>
            <p>Non &egrave; stato ancora impostato alcun indirizzo per questo corso.</p>
            <p>Vai su <a href="../">Informazioni</a> e contatta il referente per maggiori informazioni.</p>
        </div>

    {% endif %}


    {% load utils %}
    {% mappa evento %}
        <strong>{{ elemento.nome }}</strong><br />
        {{ elemento.locazione.formattato }}

    {% icona_colore %}
        red
    {% endmappa %}

{% endblock %}
