{% extends 'us_elenchi_inc_persone.html' %}

{% block elenco_intestazione_extra %}
    <!--formazione_elenchi_inc_iscritti-->
    <th>Stato</th>
    <th>Appartenenza</th>
{% endblock %}

{% block elenco_riga_extra %}
    <td>
        {% if not persona.aspirante or elenco.args.0.0.pk not in persona.aspirante.inviti_attivi %}
            Iscritto
        {% else %}
            Invitato
        {% endif %}
    </td>
    <td>
        {% if persona.volontario %}
            {% for app in persona.appartenenza_volontario %}
                {{ app.sede }}<br>
            {% endfor %}
        {% else %}
            -
        {% endif %}
    </td>
{% endblock %}

{% block elenco_riga_azioni %}
    {{ block.super }}
    {% load utils %}
    {% permessi_almeno persona "modifica" as puo_modificare %}
    {% permessi_almeno persona "lettura" as puo_leggere %}

    <a href="{% url 'aspirante:formazione_iscritti_cancella' pk=elenco.args.0.0.pk iscritto=persona.pk %}" class="btn btn-default" target="_new">
        <i class="fa fa-fw fa-remove"></i> Cancella
    </a>
{% endblock %}
