{% extends 'formazione_vuota.html' %}

{% load bootstrap3 %}
{% load mptt_tags %}

{% block pagina_titolo %}
    Domanda Formativa per Corsi Base
{% endblock %}

{% block app_contenuto %}

    <h2 class="allinea-centro text-success">
        Domanda Formativa per Corsi Base
    </h2>

    <div class="alert alert-info">
        <h4><i class="fa fa-info-circle"></i> Cosa &egrave; la domanda formativa?</h4>
        <p>Per ogni Sede CRI, la domanda formativa rappresenta il numero di aspiranti volontari che hanno registrato
            su Gaia il proprio interesse per entrare in Croce Rossa in una zona che comprende la Sede. &Egrave;
            possibile usare questo numero per la programmazione di nuovi corsi. Gli aspiranti che si iscrivono
            a un Corso Base non vengono pi&ugrave; considerati in questo numero.</p>
        <p>Attivando un nuovo Corso Base su Gaia, verranno inviate delle notifiche di attivazione
            del corso a tutti gli aspiranti nella zona considerati in questa cifra.</p>
        <p><strong>Nota</strong>: Cerchiamo costantemente di migliorare la qualit&agrave; dello strumento,
            utilizzando varie tecniche, come la disattivazione automatica degli aspiranti che
            non sembrano pi&ugrave; interessati ad un corso, oppure il ricalcolo
            del raggio d'interesse di ogni aspirante. Questo potrebbe, periodicamente,
            variare leggermente il numero riportato.</p>
    </div>

    <table class="table table-striped ">

        <thead>
        <tr>
            <th>Nome della Sede</th>
            <th>Aspiranti nelle vicinanze</th>
            <th>Raggio medio di ricerca corsi</th>
            <th>Suggerimento</th>
        </tr>
        </thead>
        <tbody>
            {% for sede in sedi %}
                <tr>

                    <td class="grassetto">{{ sede.link|safe }}</td>

                    <td>
                        {{ sede.domanda_formativa }} aspiranti
                    </td>

                    <td>
                        {{ sede.domanda_formativa_raggio_medio }} km

                        <a data-alert=
"Questo rappresenta il numero massimo di km che,
 mediamente, un aspirante è disposto a viaggiare
 per raggiungere la Sede. Questo dipende generalmente
 dalla località della Sede e dalla densità di altre
 Sedi nelle vicinanze.

Questo numero garantisce che ogni aspirante venga
 informato dell'attivazione di corsi presso un
 numero di almeno {{ min_sedi }} Sedi nelle sue
 vicinanze, ma a non più di {{ max_km }} chilometri
 di distanza.
"
                           >
                            <i class="fa fa-fw fa-question-circle"></i>
                        </a>
                    </td>

                    <td>
                        {% if sede.domanda_formativa > 300 %}
                            <span class="label label-danger">
                                <i class="fa fa-fw fa-warning"></i>
                                Alta: Attivazione nuovo corso fortemente consigliata
                            </span>

                        {% elif sede.domanda_formativa > 100 %}
                            <span class="label label-warning">
                                <i class="fa fa-fw fa-info-circle"></i>
                                Media: Considera l'attivazione di un nuovo corso
                            </span>

                        {% else %}
                            <span class="label label-success">
                                <i class="fa fa-fw fa-info-circle"></i>
                                Bassa: Considera attendere ancora un po'
                            </span>

                        {% endif %}

                    </td>

                </tr>
            {% endfor %}
        </tbody>


    </table>

    <div class="alert alert-success">
        <h4><i class="fa fa-asterisk"></i> Vuoi pianificare un nuovo corso?</h4>
        <p>Se vuoi pianificare un nuovo corso base, clicca su
            <a href="/formazione/corsi-base/nuovo/" class="btn btn-xs btn-success">Pianifica un Nuovo Corso</a>.</p>
        <p>Potrai assegnare un Direttore del Corso che si occuper&agrave; di organizzarne i particolari.</p>
    </div>



{% endblock %}