{% extends 'formazione_vuota.html' %}

{% load bootstrap3 %}
{% load mptt_tags %}

{% block pagina_titolo %}Pianifica un corso{% endblock %}

{% block app_contenuto %}
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h2 class="panel-title">
                        <i class="fa fa-fw fa-calendar"></i>
                        Pianifica un nuovo corso
                    </h2>
                </div>
                <div class="panel-body">
                    <form method="POST">
                        {% csrf_token %}
                        {% bootstrap_form modulo %}
                        <button type="submit" class="btn btn-block btn-primary"
                            data-conferma="Confermi di voler pianificare il corso?">
                            <i class="fa fa-fw fa-asterisk"></i>
                            Pianifica il Corso
                        </button>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="alert alert-info">
                <i class="fa fa-fw fa-calendar"></i> <strong>Data ed ora di inizio</strong>:
                Ti consigliamo di inserire in questo campo la data e l'ora nella quale sar&agrave;
                effettuata la presentazione del Corso. Questa data sar&agrave; comunicata
                agli aspiranti nella tua zona come data di inziio del Corso.
            </div>
            <div class="alert alert-info">
                <i class="fa fa-fw fa-info-circle"></i> <strong>Nota bene</strong>:
                Dopo questo step potrai nominare uno o pi&ugrave; direttori del corso.
                Questi potranno inserire gli ulteriori dettagli sul corso,
                come le date delle lezioni, la descrizione, nonch&eacute; gestire
                interamente il corso per te.
            </div>
        </div>
    </div>

<script>
    var form_group = $('#id_titolo_cri').closest('.form-group');
    console.log(!$('#id_tipo option:selected').val() == "C1");
    if ($('#id_tipo option:selected').val() != "C1") {
        form_group.hide();
    }
    $('#id_tipo').on('change', function(e){
        let value = $(this).find('option:selected').val();
        if (value && value == 'C1') {form_group.show();}
        else {form_group.hide();}
    });
</script>

{% endblock %}