{% extends 'formazione_vuota.html' %}

{% load bootstrap3 %}
{% load mptt_tags %}
{% load staticfiles %}

{% block pagina_titolo %}Pianifica un corso{% endblock %}

{% block app_contenuto %}
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default course-panels">
                <div class="heading attivazione">
                    <h2 class="panel-title"><i class="fa fa-fw fa-calendar"></i> Attivazione Corso</h2>
                </div>
                <div class="heading dettagli">
                    <h2 class="panel-title"><i class="fa fa-fw fa-info"></i> Dettagli corso ed iscrizioni</h2>
                </div>
                <div class="heading lezioni">
                    <h2 class="panel-title"><i class="fa fa-fw fa-calendar"></i> Lezioni</h2>
                </div>
                <div class="heading esami">
                    <h2 class="panel-title"><i class="fa fa-fw fa-file-excel-o"></i> Esami e verbale</h2>
                </div>
                <div class="heading questionario">
                    <h2 class="panel-title"><i class="fa fa-fw fa-thumbs-up"></i> Questionario</h2>
                </div>
            </div>
            <div style="display:none;" class="panel panel-primary attivazionePanelWithForm">
                <div class="panel-body">
                    <h3 style="margin:0 0 15px;">Attivazione Corso</h3>
                    <form id="formazioneCorsoNuovoForm" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        {% bootstrap_form modulo %}
                        <button type="submit" class="btn btn-block btn-primary" data-conferma="Confermi di voler pianificare il corso?">
                            <i class="fa fa-fw fa-asterisk"></i> Attiva il Corso
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>

<script>
    const url_cv_cdf_titolo_json = "{% url 'cv:cdf_titolo_json' %}";
    const _csrf_token = "{{ csrf_token }}";
</script>
<script>
    $('#id_delibera_file').on('click', function(e){
        alert("Non inserire file con nominativo contenente spazi, lettere accentate e caratteri speciali");
    });
</script>
<script src="{% static 'js/formazione/formazione.js' %}"></script>

{% endblock %}
