{% extends 'us_elenchi_inc_vuoto.html' %}
{% load formazione_templatetags %}


{% block elenco_intestazione %}
    <th>Cognome Nome</th>
    <th>Comitato di app.</th>
    <th>Titolo/Ottenimento</th>
    {% block elenco_intestazione_extra %}{% endblock %}
{% endblock %}


{% block elenco_riga %}
    <td>{{ persona.cognome }} {{ persona.nome }}</td>
    <td>{{ persona.sede_riferimento }}</td>
    <td class="persona-{{persona.id}}" style="font-size:10px;">
      {% titoli_del_corso persona cleaned_data as titoli %}

      {% for title in titoli.lista %}
        {{ title.titolo|truncatechars:80 }} -

        <!-- <span style="{% if title.is_expired_course_title %}background-color:red;color:white;padding:1px 2px;{% endif %}"></span> -->
        <span><b>{{ title.data_ottenimento|date:"d/m/Y" }}</b></span><br>

      {% empty %}
        {% if not titoli.num_of_titles %}
          <p style="text-align:center;">0 risultati</p>
        {% endif %}
      {% endfor %}

      <a href="{% url 'formazione:albo_titoli_corso_full_list' %}?persona_id={{persona.pk}}" target="_blank" style="text-align:center; display:block; font-size:14px;">Vedi elenco completo</a>
    </td>

    {% block elenco_riga_extra %}{% endblock %}
{% endblock %}


{% block elenco_riga_azioni %}
    {% load utils %}
    {% permessi_almeno persona "modifica" as puo_modificare %}
    {% permessi_almeno persona "lettura" as puo_leggere %}

    {% if puo_leggere %}
        <a href="{{ persona.url }}" class="btn btn-default" target="_new"><i class="fa fa-fw fa-file-o"></i> Scheda</a>
    {% endif %}

    <a href="{{ persona.messaggio_url }}" class="btn btn-default" target="_new"><i class="fa fa-fw fa-envelope-o"></i> Msg.</a>

    {% block elenco_riga_azioni_extra %}{% endblock %}
{% endblock %}
