{% extends 'formazione_vuota.html' %}

{% load bootstrap3 %}
{% load formazione_templatetags %}

{% block pagina_titolo %}Formazione{% endblock %}

{% block app_contenuto %}
    <h2 class="allinea-centro text-success">Formazione</h2>
    <p class="allinea-centro"><img src="https://upload.wikimedia.org/wikipedia/it/thumb/4/4a/Emblema_CRI.svg/300px-Emblema_CRI.svg.png" width="120" alt="Emblema CRI"></p>

    <div class="alert alert-info">
        <h4><i class="fa fa-info-circle"></i> Benvenuto nella sezione dedicata alla Formazione CRI.</h4>
        <p>Usa il men&ugrave; sulla sinistra che ti permetter&agrave; di accedere alle funzioni relative alla gestione dei Corsi Base e dei Corsi di Formazione CRI.</p>
        <p>Se sei Presidente, Comissario o Responsabile Formazione puoi vedere anche i <a href="{% url 'formazione:osserva_corsi' %}">corsi sul territorio</a>.</p>
        <p>I corsi annullabili sono solamente i corsi "In preparazione" o in stato "attivo" se non sono ancora iniziate le lezioni.</p>
    </div>

    {% if corsi %}

    <div class="row ">
        <div class="col-md-3 allinea-centro">
            <h3>{{ corsi.count }}</h3>
            <p class="grassetto">Corsi Gestiti</p>
        </div>

        <div class="col-md-3 allinea-centro">
            <h3>{{ sedi.count }}</h3>
            <p class="grassetto">Sedi Gestite</p>
        </div>

        <div class="col-md-6">
            <p>Sei abilitato alla gestione della Formazione per le seguenti sedi:</p>
            <ul>
                {% for sede in sedi %}
                    <li>{{ sede.link|safe }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <table class="formazione-courses__table table table-striped table-bordered">
        <thead>
            <th width="15%" class="formazione-courses__th">Stato <div class="filter-tag">{% corsi_filter %}</div></th>
            <th class="formazione-courses__th">Corso e Sede</th>
            <th class="formazione-courses__th">Luogo e data</th>
            <th class="formazione-courses__th">Iscritti</th>
        </thead>

        {% for corso in corsi %}
            <tr>
                <td>
                    {{ corso.get_stato_display }}<br>
                    {% if posso_annullare %}
                        {% if corso.annullabile %}
                            <strong><a href="{{ corso.url_annulla }}" data-conferma="Vuoi annullare questo corso?">Annulla</a></strong>
                        {% endif %}
                    {% endif %}
                </td>
                <td>
                    <i class="fa fa-fw fa-pencil"></i> <strong>{{ corso.link|safe }}</strong><br />
                    <i class="fa fa-fw fa-home"></i> {{ corso.sede.link|safe }}
                    {% if puo_pianificare %}
                        <br /><i class="fa fa-fw fa-group"></i> <a href="{{ corso.url_direttori }}">{{ corso.deleghe.count }} direttori</a>
                    {% endif %}
                </td>

                <td class="piu-piccolo">
                    <i class="fa fa-fw fa-map-marker"></i>
                        {% if corso.locazione %}
                            {{ corso.locazione }}
                        {% else %}
                            (Nessun indirizzo specificato)
                        {% endif %}
                        <br />
                    <i class="fa fa-fw fa-calendar"></i>
                        Inizia: {{ corso.data_inizio }}
                        <br />
                    <i class="fa fa-fw fa-calendar"></i>
                        Esami: {{ corso.data_esame }}

                    <br>
                    <br>
                    {% if corso.online %}
                        <b style="color: #00ff1d;">
                            <i class="fa fa-exclamation"></i>
                            Corso online
                        </b>
                    {% endif %}

                </td>

                <td>
                    <strong>{{ corso.partecipazioni_confermate_o_in_attesa.count }} richieste</strong>
                    <br>
                    <span class="piu-piccolo text-muted">
                        <i class="fa fa-fw fa-check"></i> {{ corso.partecipazioni_confermate.count }} confermate<br>
                        <i class="fa fa-fw fa-clock-o"></i> {{ corso.partecipazioni_in_attesa.count }} in attesa<br>
                        <i class="fa fa-fw fa-times"></i> {{ corso.partecipazioni_negate.count }} neg./rit.<br>
                    </span>
                </td>
            </tr>

        {% empty %}
            <tr class="info">
                <td colspan="4">
                    <h4><i class="fa fa-fw fa-info-circle"></i> Ancora nessun corso pianificato.</h4>
                    <p>Puoi controllare la domanda formativa della zona e valutare l'attivazione di un nuovo corso.</p>
                </td>
            </tr>
        {% endfor %}
    </table>
    {% endif %}

    {% if puo_pianificare %}
        <div class="alert alert-success" style="margin-top:20px;">
            <h4><i class="fa fa-asterisk"></i> Vuoi pianificare un nuovo corso?</h4>
            <p>Se vuoi pianificare un nuovo corso, clicca su <a href='{% url "formazione:new_course" %}' class="btn btn-xs btn-success">Attiva un Nuovo Corso</a>.</p>
            <p>Potrai assegnare un Direttore del Corso che si occuper&agrave; di organizzarne i particolari.</p>
        </div>
    {% endif %}

{% endblock %}
