{% extends 'pdf_standard.html' %}

{% load static %}

{% block corpo %}
  <style>
    .main-div {font-family:'Georgia', serif; padding: 0.2cm 0.3cm 0.3cm 0.3cm; background: transparent; border: 3.00pt solid #cc0000; color:#555;}
    .cri-logo {display: block; margin: 30px auto 0 auto; max-width: 300px;}
    .comitato-title {text-align: center; color: #c00; font-family: Arial; font-weight: bold; font-size: 22px;}
    .heading-section {text-align: center; margin-top:60px;}
    .heading-h1 {text-transform: uppercase; font-size: 37px;}
    .heading-h2 {font-size: 26px; font-weight: normal;}
    .details {font-size: 18px; max-width: 70%; margin: 0 auto;}
  </style>
  <div class="main-div" lang="it-IT" text="#000000" dir="ltr">
    <div>
      <img class="cri-logo" src="{% static 'img/Emblema_CRI.png' %}" alt="Emblema CRI">
      <div class="comitato-title">Comitato Nazionale <!--{{corso.sede.comitato}}--></div>
    </div>
    <div class="heading-section">
      <h1 class="heading-h1">Attestato di<br> partecipazione</h1>
      <h2 class="heading-h2">{{ persona.nome_completo }}</h2>
    </div>
    <div class="details">
      {% if corso.titolo_cri %}
        <p>Nome del corso <span>{{ corso.titolo_cri }}</span></p>
      {% endif %}
      <p>Data inizio <span>{{ corso.data_inizio|date:"DATE_FORMAT" }}</span></p>
      <p>Data fine <span>{{ corso.data_esame|date:"DATE_FORMAT" }}</span></p>
      <p>Sede di svolgimento <span>{{ corso.sede.nome }}</span></p>
      <p>Presidente <span>{{ corso.sede.presidente.nome_completo }}</span></p>

      <p style="margin-bottom: 80px;">
        {% if corso.direttori_corsi.length > 1 %}Direttori del corso{% else %}Direttore del corso{% endif %}
        <span>
          {% for persona in corso.direttori_corso %}
            {{ persona.nome_completo }}<br>
          {% endfor %}
        </span>
      </p>
      <p>Codice identificativo: {{ corso.nome }}</p>

      <!--<p>Obiettivi formativi <span>{{ corso. }}</span></p>-->
      <!--<p>Contenuti <span>{{ corso. }}</span></p>-->
      <!--<p>Livello del Quadro Europeo delle Qualifiche <span>{{ corso. }}</span></p>-->
      <!--<p>Tipologia verifica finale <span>{{ corso. }}</span></p>-->
    </div>
  </div>
{% endblock %}
