{% extends 'pdf_standard.html' %}

{% load staticfiles %}
{% load base_tags %}

{% block corpo %}

<style>
    body {padding: 0; margin: 0; }
    *, html, body {font-family: "Arial", sans-serif;}
    .front-page-logo {display:block; margin:0 auto; width: 100%; max-width: 125px;}
    .firme-cri {margin-bottom:40px;}
    .firme-cri span {display:inline-block; width:45%; text-align:center;}
</style>

{% get_url_for_staticfiles as SITE_URL %}

<div lang="it-IT" text="#000000" dir="ltr" style="text-align:center; padding: 10px 10px 10px 10px; background: transparent; border: 3.00pt solid #cc0000; padding-top: 0.2cm; padding-bottom: 0.3cm; padding-left: 0.3cm; padding-right: 0.3cm">
    <p class="western" align="center" style="margin-bottom: 0cm; line-height: 115%">
        <img class="front-page-logo" src="{{SITE_URL}}{% static 'img/attestato/cri-logo-transparent-small.png' %}" alt="Croce Rossa Italiana">
        <span style="display:block; margin:10px 0; font-size: 9ptl color: #cc0000">{{ corso.sede.comitato }}</span>
    </p>
    <p class="western" align="center" style="margin-bottom: 0.25cm; line-height: 115%">
    </p>
    <p class="western" style="margin-bottom: 0cm; line-height: 100%">
        <br/>
    </p>
    <p class="western" align="center" style="margin-bottom: 0cm; line-height: 100%">
        <font face="Arial, sans-serif" size="7" style="font-size: 36pt">
            <i><b>ATTESTATO</b></i>
        </font>
    </p>
    <p class="western" style="margin-bottom: 0cm; line-height: 100%">
    </p>
    <p class="western" align="center" style="margin-bottom: 0cm; line-height: 100%">
        <font face="Arial, sans-serif">
            Visto il verbale della Commissione d’Esame
        </font>
    </p>
    <p class="western" align="center" style="margin-bottom: 0cm; line-height: 100%">
        <font face="Arial, sans-serif">
            In data
        </font>
        <font face="Arial, sans-serif">
            <b>{{ corso.data_esame|date:"DATE_FORMAT" }}</b>
        </font>
        <font face="Arial, sans-serif">
            si attesta che
        </font>
    </p>
    <p class="western" align="center" style="margin-bottom: 0cm; line-height: 100%">
        <br/>
    </p>
    <p class="western" align="center" style="margin-bottom: 0cm; line-height: 100%">
        <font face="Arial, sans-serif" size="5" style="font-size: 18pt">
            <b><i> {{ persona.nome_completo }}</i></b>
        </font>
    </p>
    <p class="western" align="center" style="margin-bottom: 0cm; line-height: 100%">
        <br/>
    </p>
    <p class="western" align="center" style="margin-bottom: 0cm; line-height: 100%">
        C.F. <b>{{ persona.codice_fiscale }}</b>
    </p>
    <p class="western" style="margin-bottom: 0cm; line-height: 100%">
        <br/>
    </p>
    <p class="western" align="center" style="margin-bottom: 0cm; line-height: 100%">
        <font face="Arial, sans-serif">
            Avendo sostenuto con profitto l’esame finale del
        </font>
    </p>
    <p class="western" align="center" style="margin-bottom: 0cm; line-height: 100%">
        <font face="Arial, sans-serif">
            <b>Corso di Formazione per Volontari della Croce Rossa Italiana,</b>
        </font>
    </p>
    <p class="western" align="center" style="margin-bottom: 0cm; line-height: 100%">
        <font face="Arial, sans-serif">
            ai sensi dell’ O.C. 0592/11 del 7 dicembre 2011 della Croce Rossa Italiana è
        </font>
    </p>
    <p class="western" align="center" style="margin-bottom: 0cm; line-height: 100%">
        <br/>
    </p>
    <p class="western" align="center" style="margin-bottom: 0cm; line-height: 100%">
        <font face="Arial, sans-serif" size="5" style="font-size: 20pt">
            <b>Volontari{{ persona.genere_o_a }} della C.R.I.</b>
        </font>
    </p>
    <p class="western" align="center" style="margin-bottom: 0cm; line-height: 100%">
    </p>
    <p class="western" style="margin-bottom: 0cm; line-height: 100%">
        <br/>
    </p>

    <p class="firme-cri">
        <span>Il Direttore del Corso</span>
        <span>Il Presidente del Comitato</span>
    </p>

    <p class="western" style="margin-bottom: 0cm; line-height: 100%">
        <font face="Arial, sans-serif">
            {{ corso.locazione.comune }}, li {{ corso.data_esame }}
        </font>
    </p>
</div>
{% endblock %}
