{% extends 'pdf_standard.html' %}

{% load static %}
{% load base_tags %}

{% block css_extra %}
    .heading-main {text-align: center; margin: 0 0 20px 0; line-height: 115%;}
    .heading-logo-cri {display:block; margin:0 auto 10px; width:150px;}
    .heading-comitato-name {font-family: Arial, sans-serif; font-size: 9pt; color:#cc0000;}
{% endblock %}


{% block corpo %}

{% get_url_for_staticfiles as SITE_URL %}

<div style="font-family: 'Arial, sans-serif', 'Tahoma'; padding: 8px 10px 8px 10px; color: #000; font-size: 12pt">
    <div class="western heading-main">
        <img class="heading-logo-cri" src='{{ SITE_URL }}{% static "img/Emblema_CRI.png" %}' name="Logo CRI">
        <span class="heading-comitato-name">{{ corso.sede.comitato }}</span>
    </div>
    <p class="western" align="center" style="margin-bottom: 0.25cm; line-height: 115%"></p>
    <p class="western" align="center" style="margin-bottom: 0cm; line-height: 115%">
        <font face="Arial, sans-serif" size="4" style="font-size: 14pt">
            <b>CORSO DI FORMAZIONE PER VOLONTARI CROCE ROSSA ITALIANA</b>
        </font>
    </p>
    <p class="western" align="center" style="margin-bottom: 0cm; line-height: 115%">
        <font face="Arial, sans-serif"size="4" style="font-size: 12pt">
            <b>Verbale di Esame Finale</b>
        </font>
    </p>
    <p class="western" align="center" style="margin-top: 0.10cm; margin-bottom: 0.25cm; line-height: 115%">
        <font face="Arial, sans-serif" size="2" style="font-size: 11pt">
            <u>VALUTAZIONE PERSONALE</u>
        </font>
    </p>
    <p class="western" align="center" style="margin-bottom: 0.35cm; line-height: 115%">
        <font face="Arial, sans-serif" size="2" style="font-size: 11pt">
            Verbale n. <b> {{ corso.progressivo }}</b> del <b> {{ corso.data_esame|date:"DATE_FORMAT" }}</b>
        </font>
        <br/>
    </p>
    <p class="western" style="margin-bottom: 0cm; line-height: 115%">
        <font face="Arial, sans-serif" size="1" style="font-size: 10pt">
            Candidato/a <b> {{ persona.nome_completo }}</b> Codice Fiscale: <b> {{ persona.codice_fiscale }}
            </b>nato/a a <b> {{ persona.luogo_nascita }}</b> il <b> {{ persona.data_nascita|date:"DATE_FORMAT" }}</b>
        </font>
    </p>
    <p class="western" style="margin-bottom: 0.25cm; line-height: 115%">
        <font face="Arial, sans-serif" size="2" style="font-size: 11pt">
            <i><b>I PARTE: La Croce Rossa</b></i>
        </font>
        <br/>
        <font face="Arial, sans-serif" size="2" style="font-size: 10pt">
            <span style="font-weight: normal">
                <b>{{ partecipazione.get_esito_parte_1_display }}. </b>Argomenti: {{ partecipazione.argomento_parte_1 }}
            </span>
        </font>
    </p>
    <p class="western" style="margin-bottom: 0.25cm; line-height: 115%">
        <font face="Arial, sans-serif" size="2" style="font-size: 11pt">
            <i><b>II PARTE: gesti salvavita ed elementi di Primo Soccorso</b></i>
        </font>
        <br/>
        <font face="Arial, sans-serif" size="2" style="font-size: 10pt">
            <b>{{ partecipazione.get_esito_parte_2_display }}. </b> Argomenti: {{ partecipazione.argomento_parte_2 }}
        </font>
    </p>
    <table>
        <tr>
            <td valign="top">
                {% if partecipazione.extra_1 %}X{% else %}_{% endif %}
            </td>
            <td style="font-size: 10pt">
                <b>Prova pratica su gesti salvavita ed elementi di Primo Soccorso sostituita da colloquio </b>(ai sensi dell’art. 10.3 del Regolamento sul Corso di Formazione per Volontari della Croce Rossa Italiana)
            </td>
        </tr>
        <tr>
            <td valign="top">
                <br/>{% if partecipazione.extra_2 %}X{% else %}_{% endif %}
            </td>
            <td style="font-size: 10pt">
                <br/><b>Verifica effettuata solo sulla Parte I del programma del corso </b>(ai sensi dell’art. 10.4 del Regolamento sul Corso di Formazione per Volontari della Croce Rossa Italiana)
            </td>
        </tr>
    </table>
    <br/>
    <p class="western" style="margin-bottom: 0.25cm; line-height: 115%">
        <font face="Arial, sans-serif" size="2" style="font-size: 11pt">
            <i><b>ESITO FINALE</b></i>
        </font>
        <br/>
        <font face="Arial, sans-serif" size="1" style="font-size: 10pt">
            In base ai risultati ottenuti dalle domande teoriche e nelle prove pratiche, {{ persona.nome_completo }} è risultat{{ persona.genere_o_a }}
        </font>
    </p>
    <p class="western" align="center" style="margin-bottom: 0.35cm; line-height: 115%">
        <font face="Arial, sans-serif" size="4" style="font-size: 14pt">
            <b>{{ partecipazione.get_esito_esame_display }}</b>
        </font>
    </p>
    <p class="western" style="margin-bottom: 0.20cm; line-height: 115%">
        <font face="Arial, sans-serif" size="2" style="font-size: 10pt">
            <i><b>La Commissione Esaminatrice</b></i>
        </font>
    </p>
    <table style="font-size: 10pt">
        <tr><td>__________________________________</td><td> Docente del Corso/Direttore</td></tr>
        {% for nome in corso.commissione_nomi_as_list %}
            <tr><td>__________________________________</td><td> {{ nome|title }}</td></tr>
        {% endfor %}
    </table>
</div>
{% endblock %}
