{% extends 'base_vuota.html' %}

{% load bootstrap3 %}

{% block pagina_titolo %}
    Statistiche Gaia CRI {{ ora }}
{% endblock %}


{% block pagina_principale %}

    <p>&nbsp;</p>

    <div class="container">

        <h3>
            Statistiche
            <span class="text-muted">
                al {{ ora }}
            </span>

        </h3>

        <p class="alert alert-info">
            <i class="fa fa-fw fa-info-circle"></i>
            Tutti i dati in questa pagina sono calcolati in tempo reale.
        </p>

        <div class="panel panel-primary">
            <div class="panel-heading">
                <h2 class="panel-title">
                    <i class="fa fa-fw fa-search"></i>
                    Statistiche
                </h2>
            </div>
            <div class="panel-body">
                <form method="POST" action="">
                    <p class="text-info piu-piccolo">
                        <i class="fa fa-fw fa-info-circle"></i>
                        Selezione una delle tipologie di statistiche
                    </p>
                    {% csrf_token %}
                    <p>{% bootstrap_form modulo %}</p>
                    <button type="submit" class="btn btn-primary btn-block">
                        <i class="fa fa-fw fa-search"></i>
                        Cerca
                    </button>
                </form>
            </div>
        </div>

        {% if type == 'generali' %}
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>Nome metrica</th>
                        <th>Valore metrica</th>
                        <th>Rapporti</th>
                        <th>Descrizione</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="nome">Numero di Persone</td>
                        <td class="metrica">{{ obj.persone_numero }}</td>
                        <td class="parziale">&nbsp;</td>
                        <td class="descrizione">Include tutti i Soggetti registrati su Gaia.</td>
                    </tr>
                    <tr>
                        <td class="nome">Numero di Soci CRI</td>
                        <td class="metrica">{{ obj.soci_numero }}</td>
                        <td class="parziale">{{ obj.soci_percentuale }}% delle Persone</td>
                        <td class="descrizione">Persone con appartenenza attuale come Socio CRI.</td>
                    </tr>
                    <tr>
                        <td class="nome">Numero di Soci CRI Giovani</td>
                        <td class="metrica">{{ obj.soci_giovani_35_numero }}</td>
                        <td class="parziale">{{ obj.soci_giovani_35_percentuale }}% dei Soci CRI</td>
                        <td class="descrizione">
                            Soci CRI con et&agrave; inferiore ai 36 anni
                        </td>
                    </tr>
                    <tr>
                        <td class="nome">Numero di Sedi CRI</td>
                        <td class="metrica">{{ obj.sedi_numero }}</td>
                        <td class="parziale">&nbsp;</td>
                        <td class="descrizione">Include Sede Nazionale, Regionali, Comitati e
                            Unit&agrave; Territoriali distaccate.</td>
                    </tr>

                    <tr>
                        <td class="nome">Numero di Comitati CRI</td>
                        <td class="metrica">{{ obj.comitati_numero }}</td>
                        <td class="parziale">&nbsp;</td>
                        <td class="descrizione">Include Sede Nazionale, Regionali e Comitati.</td>
                    </tr>
                </tbody>
            </table>
        {% endif %}

        {% if type != 'generali' %}

            <table class="table table-bordered table-striped">

                <thead>
                    <tr>
                        <th>Comitato</th>
                        <th>Valori</th>
                    </tr>
                </thead>
                <tbody>
                    {% if obj.nazionali %}

                        <tr>
                            <td colspan="4" style="text-align: center; font-weight: bold; font-size: 14px">
                                {{ obj.nome }}&nbsp;Nazionale
                            </td>
                        </tr>

                        {% for nazione in obj.nazionali %}
                            <tr>
                                <td class="nome">{{ nazione.comitato.link|safe }}</td>
                                <td class="metrica" colspan="2">
                                    {% for k, v in nazione.statistiche.items %}
                                        {{ k }} {{ v }}<br>
                                    {% endfor %}
                                </td>
                            </tr>
                        {% endfor %}

                    {% endif %}


                    {% if obj.regionali %}

                        <tr>
                            <td colspan="4" style="text-align: center; font-weight: bold; font-size: 14px">
                                {{ obj.nome }}&nbsp;Regionale
                            </td>
                        </tr>

                        {% for regione in obj.regionali %}
                            <tr>
                                <td class="nome">{{ regione.comitato.link|safe }}</td>
                                <td class="metrica" colspan="2">
                                    {% for k, v in regione.statistiche.items %}
                                        {{ k }} {{ v }}<br>
                                    {% endfor %}
                                </td>
                            </tr>
                        {% endfor %}

                    {% endif %}

                {% if obj.locali %}

                    <tr>
                        <td colspan="4" style="text-align: center; font-weight: bold; font-size: 14px">
                            {{ obj.nome }}&nbsp;Locale
                        </td>
                    </tr>

                    {% for locale in obj.locali %}
                        <tr>
                            <td class="nome">{{ locale.comitato.link|safe }}</td>
                            <td class="metrica" colspan="2">
                                {% for k, v in locale.statistiche.items %}
                                    {{ k }} {{ v }}<br>
                                {% endfor %}
                            </td>
                        </tr>
                    {% endfor %}

                {% endif %}

                {% if obj.territoriali %}

                    <tr>
                        <td colspan="4" style="text-align: center; font-weight: bold; font-size: 14px">
                            {{ obj.nome }}&nbsp;Territoriale
                        </td>
                    </tr>

                    {% for territoriale in obj.locali %}
                        <tr>
                            <td class="nome">{{ territoriale.comitato.link|safe }}</td>
                            <td class="metrica" colspan="2">
                                {% for k, v in territoriale.statistiche.items %}
                                    {{ k }} {{ v }}<br>
                                {% endfor %}
                            </td>
                        </tr>
                    {% endfor %}

                {% endif %}
                {% if obj.tot %}

                    {% for subtot in obj.tot %}
                        <tr>
                            <td colspan="4" style="text-align: center; font-weight: bold; font-size: 14px">
                                {{ subtot.nome }}
                            </td>
                        </tr>
                        {% for k, v in subtot.statistiche.items %}
                            <tr>
                                <td class="nome">{{ k }}</td>
                                <td class="metrica" colspan="2">{{ v }}</td>
                            </tr>
                        {% endfor %}
                    {% endfor %}

                {% endif %}
                </tbody>

            </table>

        {% endif %}
    </div>
    <style>
        .metrica {
            font-family: monospace;
            text-align: right;
            font-size: larger;
        }
        .descrizione {
            font-size: smaller;
        }
    </style>
{% endblock %}

