{% extends 'base_vuota.html' %}

{% load bootstrap3 %}

{% block pagina_titolo %}
    Statistiche Gaia CRI {{ ora }}
{% endblock %}


{% block pagina_principale %}

    <p>&nbsp;</p>

    <div class="container">

        <h3>
            Statistiche
            <span class="text-muted">
                al {{ ora }}
            </span>

        </h3>

        <p class="alert alert-info">
            <i class="fa fa-fw fa-info-circle"></i>
            Tutti i dati in questa pagina sono calcolati in tempo reale.
        </p>

        <div class="panel panel-primary">
            <div class="panel-heading">
                <h2 class="panel-title">
                    <i class="fa fa-fw fa-search"></i>
                    Statistiche
                </h2>
            </div>
            <div class="panel-body">
                <form method="POST" action="">
                    <p class="text-info piu-piccolo">
                        <i class="fa fa-fw fa-info-circle"></i>
                        Selezione una delle tipologie di statistiche
                    </p>
                    {% csrf_token %}
                    <p>{% bootstrap_form modulo %}</p>
                    <button type="submit" class="btn btn-primary btn-block" name="btn-cerca">
                        <i class="fa fa-fw fa-search"></i>
                        Cerca
                    </button>
                </form>
            </div>
        </div>
        {% for v in views %}
            {% include v %}
        {% endfor %}
    </div>
    <style>
        .tiolo-metrica {
            font-family: monospace;
            text-align: left;
            font-size: larger;
        }
        .metrica {
            font-family: monospace;
            text-align: center;
            font-size: larger;
        }
        .descrizione {
            font-size: smaller;
        }
    </style>
    <script>

        $(document).ready(function () {
            changeForm("{{ type }}");
        });

        $('[name=tipo_statistiche]').change(function () {
            changeForm($(this).val());
        });

        function showAnnoRiferimento() {
            $('input[name=livello_riferimento]').parent().hide();
                    $('input[name=nome_corso]').parent().hide();
                    $('input[name=area_riferimento]').parent().hide();
                    $('select[name=anno_di_riferimento]').parent().show();
        }

        function changeForm(val) {
            switch (val){
                case 'num_corsi':
                    $('input[name=livello_riferimento]').parent().show();
                    $('input[name=nome_corso]').parent().show();
                    $('input[name=area_riferimento]').parent().show();
                    $('select[name=anno_di_riferimento]').parent().hide()
                    break;
                case 'num_soci_vol':
                    showAnnoRiferimento();
                    break;
                case 'num_nuovi_vol':
                    showAnnoRiferimento();
                    break;
                case 'num_dimessi':
                    showAnnoRiferimento();
                    break;
                case 'num_sedi':
                    showAnnoRiferimento();
                    break;
                case 'num_sedi_nuove':
                    showAnnoRiferimento();
                break;
                default:
                    $('input[name=livello_riferimento]').parent().hide();
                    $('input[name=nome_corso]').parent().hide();
                    $('input[name=area_riferimento]').parent().hide();
                    $('select[name=anno_di_riferimento]').parent().hide();
                    break;
            }
        }

    </script>
{% endblock %}


