{% extends 'base_vuota.html' %}

{% load bootstrap3 %}

{% block pagina_titolo %}
    Statistiche Gaia CRI {{ ora }}
{% endblock %}


{% block pagina_principale %}

    <p>&nbsp;</p>

    <div class="container">

        <h3>
            Statistiche
            <span class="text-muted">
                al {{ ora }}
            </span>

        </h3>

        <p class="alert alert-info">
            <i class="fa fa-fw fa-info-circle"></i>
            Tutti i dati in questa pagina sono calcolati in tempo reale.
        </p>

{#        {% bootstrap_formset formset %}#}

        <div class="container download">
            <button id='download' type="button" class="btn btn-primary">
            <i class="fa fa-fw fa-download"></i>
            Scarica
            </button>
        </div>

        <div class="panel panel-primary">
            <div class="panel-heading">
                <h2 class="panel-title">
                    <i class="fa fa-fw fa-search"></i>
                    Statistiche
                </h2>
            </div>
            <div class="panel-body">
                <form method="POST" action="">
                    <p class="text-info piu-piccolo">
                        <i class="fa fa-fw fa-info-circle"></i>
                        Selezione una delle tipologie di statistiche
                    </p>
                    {% csrf_token %}
                    <p>{% bootstrap_form modulo %}</p>
                    <button type="submit" class="btn btn-primary btn-block" name="btn-cerca">
                        <i class="fa fa-fw fa-search"></i>
                        Cerca
                    </button>
                </form>
            </div>
        </div>
        {% for v in views %}
            {% include v %}
        {% endfor %}
    </div>

    <style>
        .tiolo-metrica {
            font-family: monospace;
            text-align: right;
            font-size: larger;
        }
        .nome {
            font-family: monospace;
            text-align: left;
        }
        .metrica {
            font-family: monospace;
            text-align: right   ;
            font-size: larger;
        }
        .descrizione {
            font-size: smaller;
        }
        .download {
            margin-bottom: 1em;
            text-align: right;
            width: 100%;
        }
    </style>
    <script>

        $(document).ready(function () {
            changeForm("{{ type }}");
        });

        $('[name=tipo_statistiche]').change(function () {
            changeForm($(this).val());
        });

        $('button[id=download]').click(function () {
            window.location.href='download/{{ type }}'
        });

        function showFiltroAnno(){
            $('input[name=dal]').parent().hide();
            $('input[name=al]').parent().hide();
            $('select[name=anno_di_riferimento]').parent().show();
        }

        function showFiltroDate(){
            $('input[name=dal]').parent().show();
            $('input[name=al]').parent().show();
            $('select[name=anno_di_riferimento]').parent().hide();
        }

        $('input[id=id_tipo_filtro_0]').click(function () {
            showFiltroAnno()
        });


        $('input[id=id_tipo_filtro_1]').click(function () {
            showFiltroDate()
        });

        function showAnnoRiferimento() {
            $('select[name=livello_riferimento]').parent().hide();
            $('input[name=nome_corso]').parent().hide();
            $('select[name=area_riferimento]').parent().hide();
            $('div[id=id_tipo_filtro]').parent().show()   ;
            if($('#id_tipo_filtro_0').is(':checked')){
                showFiltroAnno()
            }else{
                showFiltroDate()
            }
        }

        function showNumCorsi() {
            $('select[name=livello_riferimento]').parent().show();
            $('select[name=area_riferimento]').parent().show();
            $('input[name=nome_corso]').parent().show();
            $('div[id=id_tipo_filtro]').parent().show();
            if($('#id_tipo_filtro_0').is(':checked')){
                showFiltroAnno()
            }else{
                showFiltroDate()
            }
        }

        function showDefault() {
            if($('#id_tipo_filtro_0').is(':checked')){
                showFiltroAnno()
            }else{
                showFiltroDate()
            }
            $('select[name=livello_riferimento]').parent().hide();
            $('input[name=nome_corso]').parent().hide();
            $('select[name=area_riferimento]').parent().hide();
            $('input[name=dal]').parent().hide();
            $('input[name=al]').parent().hide();
            $('select[name=anno_di_riferimento]').parent().hide();
            $('div[id=id_tipo_filtro]').parent().hide();

        }

        function changeForm(val) {
            switch (val){
                case 'num_corsi':
                    showNumCorsi();
                    break;
                case 'num_soci_vol':
                    showAnnoRiferimento();
                    break;
                case 'num_nuovi_vol':
                    showAnnoRiferimento();
                    break;
                case 'num_dimessi':
                    showAnnoRiferimento();
                    break;
                case 'num_sedi':
                    showAnnoRiferimento();
                    showFiltroAnno();
                    $('div[id=id_tipo_filtro]').parent().hide();
                    break;
                case 'num_sedi_nuove':
                    showAnnoRiferimento();
                    break;
                default:
                    showDefault();
                    break;
            }
        }

    </script>
{% endblock %}


