{% extends 'anagrafica_profilo.html' %}

{% load bootstrap3 %}

{% block pagina_css_extra %}
    <script>
    var moduli = Array();
    </script>
{% endblock %}

{% block profilo_corpo %}


    <div class="panel panel-info">

        <div class="panel-heading">
            <h4 class="panel-title">
                <i class="fa fa-fw fa-list"></i>
                Appartenenze ({{ persona.appartenenze.count }})
            </h4>
        </div>

        <div class="panel-body">
            <table class="table table-striped">
                <thead>
                    <th>Stato</th>
                    <th>Tipo</th>
                    <th>Sede</th>
                    <th>Inizio e fine</th>
                    <th>Registrata</th>
                    <th>Azioni</th>

                </thead>
                <tbody>

                {% for app, modulo, terminabile in appartenenze %}
                    <tr {% if app.attuale %}class="success"{% endif %}>
                        <td>
                            {{ app.esito }}
                            {% if app.esito == app.ESITO_OK %}
                                {% if app.attuale %}
                                    (<strong>Attuale</strong>)
                                {% else %}
                                    (<strong>Passata</strong>)
                                {% endif %}
                            {% endif %}
                        </td>
                        <td>
                            <strong>{{ app.get_membro_display }}</strong>
                        </td>
                        <td>
                            {{ app.sede.link|safe }}
                        </td>
                        <td>
                            Inizio: {{ app.inizio|date:"SHORT_DATE_FORMAT" }}

                            <br />
                            Fine: {% if app.fine %} {{ app.fine|date:"SHORT_DATE_FORMAT" }} {% else %} Indeterminata {% endif %}
                            {% if app.terminazione %}<br />
                                Fine per {{ app.get_terminazione_display }}
                            {% endif %}

                            {% if modulo %}
                                <!-- Modulo modifica data inizio appartenenza -->
                                <button type="button" class="btn btn-default btn-xs" data-toggle="modal" data-target="#mod{{ app.pk }}">
                                  <i class="fa fa-fw fa-pencil"></i>
                                </button>
                                <!-- Modal -->
                                <form method="POST">
                                    <div class="modal fade" id="mod{{ app.pk }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                      <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                          <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                            <h4 class="modal-title" id="myModalLabel">Modifica data inizio appartenenza</h4>
                                          </div>
                                          <div class="modal-body">
                                              {% csrf_token %}
                                              {% bootstrap_form modulo %}
                                          </div>
                                          <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Chiudi</button>
                                            <button type="submit" class="btn btn-primary"><i class="fa fa-fw fa-save"></i> Salva modifica</button>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                </form><!--/Modulo modifica data inizio appartenenza -->
                                {% if modulo.errors %}
                                    <script>moduli.push('#mod{{ app.pk }}');</script>
                                {% endif %}
                            {% endif %}
                        </td>
                        <td>
                            {{ app.creazione }}
                        </td>
                        <td>
                            {% if app.attuale and app.esito == app.ESITO_OK and app.membro == es and terminabile %}

                                <a href="/us/estensione/{{ app.pk }}/termina/"
                               data-conferma="Vuoi veramente terminare l'estensione?">
                                Termina Estensione
                                </a>

                            {% endif %}
                        </td>

                    </tr>

                {% empty %}
                    <tr class="alert alert-warning">
                        <td colspan="5">
                            Nessuna appartenenza registrata.
                        </td>
                    </tr>

                {% endfor %}

                </tbody>

            </table>

        </div>
    </div>

{% endblock %}

{% block pagina_javascript_extra %}
<script>
(function() {
    for(item of moduli) {
        $(item).modal('show');
    }
})();
</script>
{% endblock %}