{% extends 'presidente_vuota.html' %}

{% load bootstrap3 %}
{% load mptt_tags %}
{% load utils %}

{% block pagina_titolo %}Gestione nominativi della sede {{ sede.nome_completo }}{% endblock %}

{% block app_contenuto %}
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h2 class="panel-title">Aggiungi nuovo nominativo</h2>
                </div>
                <div class="panel-body">
                    <form style="max-width:350px;" action="." method="post">
                        {% csrf_token %}
                        {% bootstrap_form form %}
                        <button class="btn btn-success" type="submit">Aggiungi</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
