{% extends 'anagrafica_profilo.html' %}

{% load bootstrap3 %}

{% block profilo_corpo %}

    <div class="row">

        <div class="col-md-6">

            <div class="panel panel-info">

                <div class="panel-heading">
                    <h4 class="panel-title">
                        <i class="fa fa-fw fa-list"></i>
                        Appartenenze
                    </h4>
                </div>

                <div class="panel-body">
                    <table class="table table-striped">
                        <thead>
                            <th>Stato</th>
                            <th>Sede</th>
                            <th>Inizio e fine</th>

                        </thead>
                        <tbody>

                        {% for app in persona.appartenenze.all %}
                            <tr {% if app.attuale %}class="success"{% endif %}>
                                <td>
                                    {{ app.esito }}
                                    {% if app.esito == app.ESITO_OK %}
                                        {% if app.attuale %}
                                            (<strong>Attuale</strong>)
                                        {% else %}
                                            (<strong>Passata</strong>)
                                        {% endif %}
                                    {% endif %}<br />
                                    <strong>{{ app.get_membro_display }}</strong>
                                </td>
                                <td>
                                    {{ app.sede.link|safe }}
                                </td>
                                <td>
                                    Inizio: {{ app.inizio|date:"SHORT_DATE_FORMAT" }}<br />
                                    Fine:   {% if app.fine %}
                                                {{ app.fine|date:"SHORT_DATE_FORMAT" }}
                                            {% else %}
                                                Indeterminata
                                            {% endif %}
                                    {% if app.terminazione %}<br />
                                        Fine per {{ app.get_termianazione_display }}
                                    {% endif %}
                                </td>

                            </tr>

                        {% empty %}
                            <tr class="warning">
                                <td colspan="5">
                                    Nessuna appartenenza registrata.
                                </td>
                            </tr>

                        {% endfor %}

                        </tbody>

                    </table>

                </div>
            </div>

         <div class="panel panel-info">

                <div class="panel-heading">
                    <h4 class="panel-title">
                        <i class="fa fa-fw fa-list"></i>
                        Deleghe
                    </h4>
                </div>

                <div class="panel-body">
                    <table class="table table-striped">
                        <thead>
                            <th>Stato</th>
                            <th>Delega</th>
                            <th>Inizio e fine</th>

                        </thead>
                        <tbody>

                        {% for d in persona.deleghe.all %}
                            <tr {% if d.attuale %}class="success"{% endif %}>
                                <td>
                                    {% if d.attuale %}
                                        Attiva

                                    {% else %}
                                        Passata

                                    {% endif %}
                                </td>
                                <td>
                                    <strong>{{ d.get_tipo_display }}</strong> per<br />
                                    {{ d.oggetto.link|safe }}
                                </td>
                                <td>
                                    Inizio: {{ d.inizio|date:"SHORT_DATE_FORMAT" }}<br />
                                    Fine:   {% if d.fine %}
                                                {{ d.fine|date:"SHORT_DATE_FORMAT" }}
                                            {% else %}
                                                Indeterminata
                                            {% endif %}
                                </td>

                            </tr>

                        {% empty %}
                            <tr class="warning">
                                <td colspan="5">
                                    Nessuna appartenenza registrata.
                                </td>
                            </tr>

                        {% endfor %}

                        </tbody>

                    </table>

                </div>
            </div>

        </div>

        <div class="col-md-6">


            <div class="panel panel-info">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <i class="fa fa-fw fa-info-circle"></i>
                        Informazioni aggiuntive

                    </h4>
                </div>
                <div class="panel-body">
                    <p>Qui sono riassunte le informazioni aggiuntive o calcolate
                        per il profilo di {{ persona.nome }}.</p>

                    <table class="table table-striped table-responsive">
                        <tbody>

                            <tr>
                                <td>Et&agrave;</td>
                                <td>{{ persona.eta }} anni</td>
                            </tr>
                            <tr>
                                <td>Giovane</td>
                                <td>
                                    {% if persona.giovane %}
                                        <i class="fa fa-fw fa-check"></i>
                                        S&iacute;
                                        (meno di {{ persona.ETA_GIOVANE }} anni)

                                    {% else %}
                                        <i class="fa fa-fw fa-times"></i>
                                        No
                                        (pi&ugrave; di {{ persona.ETA_GIOVANE }} anni)

                                    {% endif %}

                                </td>
                            </tr>
                            <tr>
                                <td>Genere (da CF)</td>
                                <td>
                                    {% if persona.genere_codice_fiscale == persona.MASCHIO %}
                                        <i class="fa fa-fw fa-male"></i>
                                        Maschio

                                    {% elif persona.genere_codice_fiscale == persona.FEMMINA %}
                                        <i class="fa fa-fw fa-female"></i>
                                        Femmina

                                    {% else %}
                                        <i class="fa fa-fw fa-question-circle"></i>
                                        Sconosciuto

                                    {% endif %}
                                </td>
                            </tr>
                            <tr
                                {% if persona.codice_fiscale_verosimile %}
                                    class="success"
                                {% else %}
                                    class="danger"
                                {% endif %}
                            >
                                <td>Codice Fiscale</td>
                                <td>
                                    {% if persona.codice_fiscale_verosimile %}
                                        <i class="fa fa-fw fa-check-circle"></i>
                                        Sembra corretto

                                    {% else %}
                                        <i class="fa fa-fw fa-warning"></i>
                                        Sembra errato!

                                    {% endif %}

                                    <br />
                                    <span class="piu-piccolo">
                                        Verifica di nome, cognome e data di nascita.
                                    </span>

                                </td>
                            </tr>

                        </tbody>

                    </table>

                </div>
            </div>

        </div>

    </div>

{% endblock %}