{% extends "base_vuota.html" %}

{% load bootstrap3 %}
{% block pagina_principale %}

<div class="container">

    <div class="row allinea-centro">

        <h2>Registrati <span class="text-muted">come {{ tipo|title }}</span></h2>
        <h3 class="grassetto">{{ attuale_nome }}</h3>
        <hr />

    </div>

    <div class="row">

        <div class="col-md-3">

            <h4>Step</h4>
            <ol>
            {% for s in lista_step %}
                <li>
                    {% if s.completato %}
                        <a href="/registrati/{{ tipo }}/{{ s.slug }}/" title="Torna indietro allo step: {{ s.nome }}">
                            <i class="fa fa-check-square"></i>
                            {{ s.nome }}
                        </a>
                    {% else %}
                        {% if s.attuale %}
                            <i class="fa fa-plus-square"></i>
                            <strong>{{ s.nome }}</strong> (attuale)
                        {% else %}
                            <i class="fa fa-square-o"></i>
                            {{ s.nome }}
                        {% endif %}
                    {% endif %}
                </li>
            {% endfor %}
            </ol>

        </div>

        <div class="col-md-9">
            <form action="/registrati/{{ tipo }}/{{ attuale_slug }}/" method="POST">
                {% csrf_token %}

                {% block step_contenuto %}
                    <pre>step_contenuto</pre>
                {% endblock %}

                {% block step_modulo %}
                    {% if modulo %}
                        {% bootstrap_form modulo %}
                    {% endif %}
                {% endblock %}

                <div class="row allinea-destra">

                    {% if step_successivo %}
                    <button class="btn btn-success" type="submit">
                        Prosegui
                        <i class="fa fa-arrow-right"></i>
                    </button>
                    {% endif %}

                </div>
            </form>
        </div>

    </div>






</div>

{% endblock %}