{% extends "anagrafica_utente_vuota.html" %}

{% load bootstrap3 %}

{% block pagina_titolo %}Richiesta Estensione{% endblock %}

{% block app_contenuto %}

    <div class="alert bg-info">
        <p>
            <i class="fa fa-info-circle fa-fw"></i> Da questa pagina potrai visionare lo stato delle estensioni.
        </p>
    </div>

     <div class="alert bg-info">
         <p>
              <i class="fa fa-quote-right fa-fw"></i> Che cosa prevede il <a href="https://gaia.cri.it/documenti/scarica/282/">regolamento</a>?
          </p>
       
         <h1>10. ESTENSIONE DI SERVIZIO</h1>
         <h4>10.1 Il Volontario C.R.I. che intende svolgere servizio continuativo anche in un altro Comitato C.R.I., presenta motivata richiesta al proprio Presidente.</h4>
         <h4>10.2 L&rsquo;estensione di servizio &egrave; disposta, senza altra formalit&agrave;, di concerto fra i due Presidenti di Comitato C.R.I. Dell&rsquo;estensione &egrave; data idonea informativa al competente Presidente Regionale.</h4>
         <h4>10.3 La richiesta di estensione di servizio non pu&ograve; essere rigettata, salvo che la motivazione sia assente o incongrua. Il rigetto &egrave; impugnabile dinanzi al Presidente Regionale.</h4>
         <h4>10.4 In ogni caso, il Volontario C.R.I. deve mantenere i requisiti minimi di permanenza nello status di Socio nel Comitato C.R.I. in cui &egrave; iscritto.</h4>
         
        </div>

    <div class="row">

    <div class="col-md-8">
        <div class="panel panel-info">

            <div class="panel-heading">
                <h4 class="panel-title">
                    <i class="fa fa-folder-o fa-fw"></i> Storico estensioni
                </h4>


            </div>

            <div class="panel-body">

                {% if in_attesa %}
                <div class="alert bg-info">
                    <p>
                        <i class="fa fa-info-circle fa-fw"></i> Hai attualmente {{ in_attesa|length }} estension{{ in_attesa|pluralize:"e,i" }} in attesa di approvazione.<br>
                        Per informazioni puoi rivolgerti al delegato Ufficio Soci, oppure al Presidente di competenza:
                        <ul>
                            {% for delega, persone in delegati.items %}
                                {% if persone %}<strong>{{ delega }}</strong>{% endif %}
                                {% for persona in persone %}
                                <li>
                                    <a href="{{ persona.url_messaggio }}">
                                        {{ persona.nome_completo }}
                                    </a>
                                </li>
                                {% endfor %}
                            {% endfor %}
                        </ul>
                    </p>
                </div>
                {% endif %}

                <div class="row">
                    <div class="col-md-12">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Stato</th>
                                    <th>Richiedente e data</th>
                                    <th>Destinazione</th>
                                    <th>Motivo</th>
                                    <th>Azioni</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for estensione in storico %}
                                <tr {% if estensione.attuale %}class="success"
                                    {% elif estensione.esito == estensione.ESITO_PENDING %}class="warning"
                                    {% endif %}>
                                    <td>
                                        {% if estensione.esito == estensione.ESITO_OK %}

                                            {% if estensione.attuale %}
                                                <i class="fa fa-check fa-fw"></i>
                                                Attuale
                                            {% else %}
                                                <i class="fa fa-folder fa-fw"></i>
                                                Passata
                                            {% endif %}

                                        {% elif estensione.esito == estensione.ESITO_PENDING %}
                                            <i class="fa fa-clock-o fa-fw"></i>
                                            In attesa
                                        {% else %}
                                            <i class="fa fa-remove fa-fw"></i>
                                            Negata
                                        {% endif %}
                                    </td>
                                    <td>
                                        <i class="fa fa-fw fa-user"></i> {{ estensione.richiedente }}<br />
                                        <i class="fa fa-fw fa-calendar"></i> {{ estensione.creazione|date:"SHORT_DATETIME_FORMAT" }}
                                        {% if estensione.appartenenza.fine %}
                                        <i class="fa fa-fw fa-calendar"></i> {{ estensione.appartenenza.fine|date:"SHORT_DATETIME_FORMAT" }}
                                        {% endif %}
                                    </td>
                                    <td>{{ estensione.destinazione.link|safe }}</td>
                                    <td>{{ estensione.motivo }}</td>
                                    <td>
                                        <a href="{{ estensione.url_pdf }}" target="_blank">Scarica PDF</a>
                                        {% if estensione.attuale %}
                                        <a href="/utente/estensione/{{ estensione.pk }}/estendi/"
                                           data-conferma="Vuoi veramente estendere l'estensione?">
                                            Estendi
                                        </a>
                                        <a href="/utente/estensione/{{ estensione.pk }}/termina/"
                                           data-conferma="Vuoi veramente termina l'estensione?">
                                            Termina
                                        </a>
                                        {% endif %}
                                    </td>
                                </tr>
                                {% empty %}
                                    <tr>
                                        <td colspan="5" class="bg-warning">
                                            <i class="fa fa-info"></i> Nessuna estensione passata.
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-primary">

            <div class="panel-heading">
                <h4 class="panel-title">
                    <i class="fa fa-plus"></i> Richiedi Estensione
                </h4>

            </div>

            <div class="panel-body">
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% bootstrap_form modulo %}
                    <button type="submit" class="btn btn-primary">Invia</button>
                </form>

            </div>

        </div>
    </div>
</div>

{% endblock %}
