{% extends "anagrafica_utente_vuota.html" %}

{% load bootstrap3 %}

{% block pagina_titolo %}Modifica i tuoi recapiti E-mail e Numeri di telefono{% endblock %}

{% block app_contenuto %}

    <div class="alert bg-info">
        <p>
            <i class="fa fa-info-circle fa-fw"></i> Da questa pagina potrai modificare il tuo indirizzo e-mail di
            accesso, il tuo indirizzo e-mail di contatto e gestire i tuoi numeri di telefono.
        </p>
    </div>

    <form action="/utente/contatti/" method="POST" >

        {% csrf_token %}

        <div class="row">

            <div class="col-lg-6">


                <div class="panel panel-info">

                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <i class="fa fa-fw fa-key"></i>
                            E-mail di accesso
                        </h4>

                    </div>

                    <div class="panel-body">
                        <p>
                            Questo indirizzo e-mail viene usato per effettuare l'accesso a Gaia, assieme alla tua password.
                            Per motivi di sicurezza, &egrave; fondamentale che l'indirizzo sia sotto il tuo completo e
                            solo controllo.
                        </p>
                        {% bootstrap_form modulo_email_accesso %}

                        {% if stato_conferma_accesso %}
                        <table class="table">
                            <tbody>
                                <tr class="success">
                                    <td colspan="3">
                                        <p class="grassetto">
                                            <i class="fa fa-fw fa-check"></i> Nuovo indirizzo email confermato!
                                        </p>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        {% elif errore_conferma_accesso %}
                        <table class="table">
                            <tbody>
                                <tr class="danger">
                                    <td colspan="3">
                                        <p class="grassetto">
                                            <i class="fa fa-fw fa-warning"></i> Errore nella conferma indirizzo email
                                        </p>
                                        <p>
                                            Conferma il nuovo indirizzo email:<br><b>{{ request.session.modifica_mail }}</b><br>
                                            visitando il link che ti è stato inviato via email
                                        </p>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        {% elif attesa_conferma_accesso %}
                        <table class="table">
                            <tbody>
                                <tr class="warning">
                                    <td colspan="3">
                                        <p class="grassetto">
                                            <i class="fa fa-fw fa-warning"></i> Conferma nuovo indirizzo email
                                        </p>
                                        <p>
                                            Conferma il nuovo indirizzo email:<br><b>{{ request.session.modifica_mail }}</b><br>
                                            visitando il link che ti è stato inviato via email
                                        </p>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        {% endif %}
                        <button class="btn btn-block btn-info" type="submit">
                             <i class="fa fa-save fa-fw"></i>
                             {% if not attesa_conferma_accesso %}
                                Salva E-mail di accesso
                             {% else %}
                                Rimanda conferma E-mail accesso
                             {% endif %}
                        </button>

                    </div>

                </div>

                <div class="panel panel-info">

                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <i class="fa fa-fw fa-envelope"></i>
                            E-mail di contatto
                            <span class="text-muted">(opzionale)</span>
                        </h4>

                    </div>

                    <div class="panel-body">
                         <p>
                            Questo indirizzo e-mail viene usato per inviarti tutte le notifiche relative a Gaia, nonch&eacute;
                            tutti i messaggi inviati dagli utenti, come ad esempio le comunicazioni di massa. Se non impostato,
                            verr&agrave; usato l'indirizzo E-mail di accesso.
                        </p>
                        {% bootstrap_form modulo_email_contatto %}

                        {% if stato_conferma_contatto %}
                        <table class="table">
                            <tbody>
                                <tr class="success">
                                    <td colspan="3">
                                        <p class="grassetto">
                                            <i class="fa fa-fw fa-check"></i> Nuovo indirizzo email confermato!
                                        </p>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        {% elif errore_conferma_contatto %}
                        <table class="table">
                            <tbody>
                                <tr class="danger">
                                    <td colspan="3">
                                        <p class="grassetto">
                                            <i class="fa fa-fw fa-warning"></i> Errore nella conferma indirizzo email
                                        </p>
                                        <p>
                                            Conferma il nuovo indirizzo email:<br><b>{{ request.session.modifica_mail }}</b><br>
                                            visitando il link che ti è stato inviato via email
                                        </p>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        {% elif attesa_conferma_contatto %}
                        <table class="table">
                            <tbody>
                                <tr class="warning">
                                    <td colspan="3">
                                        <p class="grassetto">
                                            <i class="fa fa-fw fa-warning"></i> Conferma nuovo indirizzo email
                                        </p>
                                        <p>
                                            Conferma il nuovo indirizzo email:<br><b>{{ request.session.modifica_contatto }}</b><br>
                                            visitando il link che ti è stato inviato via email
                                        </p>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        {% endif %}
                        <button class="btn btn-block btn-info" type="submit">
                            <i class="fa fa-save fa-fw"></i>
                            {% if not attesa_conferma_contatto %}
                               Salva E-mail di contatto
                            {% else %}
                               Rimanda conferma E-mail di contatto
                            {% endif %}
                        </button>
                    </div>

                </div>

                <a name="gsuite"></a>

                <div class="panel panel-info">

                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <i class="fa fa-fw fa-envelope"></i>
                            E-mail di servizio
                            <span class="text-muted">(opzionale)</span>
                        </h4>

                    </div>
                    {% if me.volontario %}
                        {% if me.ha_email_servizio %}
                            <div class="panel-body">
                             <p>
                                Questa è la tua e-mail dell'organizzazione. Potrai decidere dopo averla creata
                                 se usarla come e-mail di contatto o come e-mail di login.
                            </p>

                            <pre>{{ me.email_servizio }}</pre>

                            {% if errore_reset_email_servizio %}
                                <span class="alert alert-warning">{{ errore_reset_email_servizio }}</span>
                                <br />
                            {% endif %}
                            <a class="btn btn-block btn-warning" id="btn-enable_reset_password"
                               href="{% url 'reimposta_password_servizio' %}">
                                <i class="fa fa-reload fa-fw"></i>Reset password
                            </a>
                        </div>
                        {% else %}
                            <div class="panel-body">
                                {% if me.email_servizio_candidata %}
                                <p>Vuoi attivare una e-mail di servizio?</p>
                                {% bootstrap_form modulo_email_servizio %}
                                {% if errore_crea_email_servizio %}
                                    <span class="alert alert-warning">{{ errore_crea_email_servizio }}</span>
                                    <br />
                                {% endif %}

                                <button class="btn btn-block btn-info" type="submit">
                                    <i class="fa fa-save fa-fw"></i>Attiva subito
                                </button>
                                {% else %}
                                    <p class="text-warning">Non è possibile proporre un indirizzo di servizio.</p>
                                    <p>Contatta il supporto per maggiori dettagli.</p>
                                {% endif %}
                            </div>
                        {% endif %}
                    {% endif %}
                </div>



            </div>

            <div class="col-lg-6">


                <div class="panel panel-info">

                    <div class="panel-heading">

                        <h4 class="panel-title">
                            <i class="fa fa-fw fa-phone"></i>
                            Numeri di telefono cellulare
                        </h4>

                    </div>


                    <div class="panel-body">

                        <table class="table">
                            <thead>
                                <th>Numero</th>
                                <th>Tipologia</th>
                                <th>Azioni</th>
                            </thead>
                            <tbody>
                                {% for numero in numeri %}
                                    <tr>
                                        <td class="grassetto">
                                            {{ numero }}
                                        </td>
                                        <td>
                                            {% if numero.servizio %}
                                               Di servizio
                                            {% else %}
                                                Personale
                                            {% endif %}
                                        </td>
                                        <td>
                                            <a href="/utente/contatti/cancella-numero/{{ numero.id }}/"
                                                    data-conferma="Vuoi davvero cancellare il numero {{ numero }}?">
                                                <i class="fa fa-trash"></i>
                                                Cancella
                                            </a>
                                        </td>
                                    </tr>

                                {% empty %}
                                    <tr class="warning">
                                        <td colspan="3">
                                            <p class="grassetto">
                                                <i class="fa fa-fw fa-warning"></i> Nessun numero telefonico registrato.
                                            </p>
                                            <p>
                                                Aggiungi almeno un numero di telefono, questo verr&agrave; condiviso con i
                                                responsabili delle attivit&agrave; a cui partecipi (o se sei un responsabile,
                                                con i volontari che partecipano alle attivit&agrave; da te organizzate).
                                            </p>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>


                        <div class="panel panel-primary">
                            <div class="panel-heading">

                                <h4 class="panel-title">
                                    <i class="fa fa-fw fa-plus-circle"></i>
                                    Aggiungi un numero
                                </h4>

                            </div>

                            <div class="panel-body">

                                {% bootstrap_form modulo_numero_telefono %}
                                 <button class="btn btn-block btn-primary" type="submit">
                                     <i class="fa fa-check fa-fw"></i>
                                     Aggiungi numero
                                 </button>
                            </div>

                        </div>
                    </div>

                </div>


            </div>
        </div>

    </form>

{% endblock %}