{% extends "anagrafica_utente_vuota.html" %}

{% load bootstrap3 %}

{% block pagina_titolo %}Cambia Password{% endblock %}

{% block app_contenuto %}

    <div class="alert bg-info">
        <p>
            <i class="fa fa-info-circle fa-fw"></i> Da questa pagina potrai modificare la password che usi
            per accedere a Gaia.
        </p>
    </div>

    <p>
        <i class="fa fa-fw fa-warning"></i>
        Per aiutarci a proteggere la tua privacy, assicurati sempre di avere impostato una password che sia
        sicura e abbastanza complessa. Per ulteriori consigli per la scelta della password, visita:
        <a href="https://www.commissariatodips.it/area-riservata/scelta-password.html" target="_new">
            Consigli per la scelta della password &mdash; Commissariato di Polizia Statale</a>.
    </p>


    <form action="/utente/cambia-password/" method="POST" >

        {% csrf_token %}

        <div class="row">

            <div class="col-lg-6">
                <h4>Consigli per la scelta di una password</h4>

                <ul>
                    <li class="grassetto">
                        <p>Usare almeno dieci caratteri, almeno una maiuscola, almeno una minuscola, almeno un numero ed almeno un carattere speciale;</p>
                    </li>
                    <li>
                        <p>Includere caratteri dall'apparenza simili in sostituzione di altri caratteri (ad esempio il numero "0" per la lettera "O" o il carattere "$" per la lettera "S");</p>
                    </li>
                    <li>
                        <p>Creare un acronimo univoco (ad esempio "PDRM" per "Piazza Delle Repubbliche Marinare");</p>
                    </li>
                    <li>
                        <p>Includere sostituzioni fonetiche o grafiche (ad esempio "6 arrivato" per "Sei arrivato" o "Arrivo + tardi" per "Arrivo più tardi").</p>
                    </li>


                </ul>
            </div>

            <div class="col-lg-6">

                <p>
                    E-mail di accesso:<br />
                    <big>{{ me.utenza.email }}</big>
                    <a href="/utente/contatti/">&mdash; modifica</a>
                </p>

                {% bootstrap_form form %}

                <p>&nbsp;</p>

                 <button class="btn btn-block btn-lg btn-success" type="submit">
                     <i class="fa fa-save fa-fw"></i>
                     Cambia la mia password
                 </button>

            </div>

        </div>


    </form>

{% endblock %}