{% extends 'presidente_vuota.html' %}

{% load bootstrap3 %}
{% load mptt_tags %}
{% load utils %}

{% block pagina_titolo %}
    Gestione {{ sede.nome_completo }}
{% endblock %}

{% block app_contenuto %}


    <div class="alert alert-info">
        <p><i class="fa fa-fw fa-info-circle"></i>
        Da questa pagina puoi gestire le informazioni relative
            alla Sede CRI: <strong>{{ sede.nome_completo }}</strong>.</p>
    </div>

    {% if sede.richiede_revisione_dati %}
    <div class="alert alert-danger alert-block">
        <h4><i class="fa fa-fw fa-warning"></i> Richiesta verifica dei dati del Comitato</h4>
        <p>I dati del {{ sede.nome_completo }} non sono stati cambiati da quando sei diventat{{ me.genere_o_a }}
            Presidente.</p>
        <p>Per favore, verifica la correttezza delle informazioni inserite, incluso l'indirizzo
            e la <a href="{{ sede.url }}" target="_blank">posizione sulla mappa</a>, aggiungi le informazioni mancanti,
            e clicca su 'Salva informazioni'. Una volta che le informazioni saranno aggiornate, questo
            avviso scomparir&agrave;.</p>
    </div>
    {% endif %}

    <div class="row">

        <div class="col-md-6">

            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h2 class="panel-title">
                        <i class="fa fa-fw fa-info-circle"></i>
                        Informazioni
                    </h2>
                </div>
                <div class="panel-body">

                    <form method="POST">
                        {% csrf_token %}
                        {% bootstrap_form modulo %}
                        <button type="submit"
                        class="btn btn-primary btn-block">
                            <i class="fa fa-fw fa-save"></i>
                            Salva informazioni
                        </button>
                    </form>

                </div>
                <div class="panel-footer">
                    <i class="fa fa-fw fa-info-circle"></i>
                    Ultimo aggiornamento {{ sede.ultima_modifica }}.
                </div>
            </div>

        </div>

        <div class="col-md-6">

            <div class="panel panel-info">
                <div class="panel-heading">
                    <h2 class="panel-title">
                        <i class="fa fa-fw fa-list"></i>
                        Delegati e Responsabili
                    </h2>
                </div>
                <div class="panel-body">

                    <p>Seleziona il ruolo per il quale vuoi vedere, creare o
                        terminare una delega.</p>

                    {% for sezione, ruoli in sezioni.items %}

                        <h4>{{ sezione }}</h4>
                        <ul>
                        {% for chiave, valore, numero in ruoli %}

                            <li>
                                <span class="badge">
                                    {{ numero }}
                                </span>
                                <a href="/presidente/sedi/{{ sede.pk }}/delegati/{{ chiave }}/">
                                    {{ valore }}
                                </a>

                            </li>

                        {% endfor %}
                        </ul>

                    {% endfor %}

                </div>
            </div>

        </div>



    </div>

    <div class="row">
        <div class="col-md-12">

            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h2 class="panel-title">
                        <i class="fa fa-fw fa-map-marker"></i>
                        Indirizzo e posizione geografica
                    </h2>
                </div>
                <div class="panel-body">

                    {% localizzatore sede %}

                </div>
            </div>

        </div>

    </div>




{% endblock %}