{% extends "anagrafica_utente_vuota.html" %}

{% load bootstrap3 %}

{% block pagina_titolo %}Profilo Donatore{% endblock %}

{% block app_contenuto %}

<style>

    ul.ui-autocomplete {
        list-style-type: none;
        width: 300px !important;
        cursor:pointer;
    }
    .ui-helper-hidden-accessible {
        display: none;
    }


        .ui-autocomplete-input {
            cursor:pointer;
            overflow-y:scroll;
        }

    </style>

    <div class="col-md-4">
        <div class="panel panel-primary">

            <div class="panel-heading">
                <i class="fa fa-fw fa-flask"></i>
                Registra Donazione
            </div>

            <form class="panel-body" method="POST">

                <p>
                    <i class="fa fa-fw fa-info-circle"></i>
                    Hai donato? Registra la tua donazione compilando questo modulo.
                </p>
                <label for="automplete-3">Regione: </label>
                <input id="automplete-3" class="form-control autocomplete vTextField" placeholder="Inizia a scrivere...">

                {% csrf_token %}
                {% bootstrap_form modulo %}

                <button type="submit" class="btn btn-primary btn-block">
                    <i class="fa fa-fw fa-check"></i>
                    Registra Donazione
                </button>

            </form>

        </div>



    </div>

    <div class="col-md-8">
        <div class="panel panel-info">

            <div class="panel-heading">
                <i class="fa fa-fw fa-list"></i>
                Donazioni Registrate
            </div>

            <div class="panel-body">
                <table class="table table-striped">

                    <thead>
                        <th>Donazione</th>
                        <th>Data e Luogo</th>
                        <th><i class="fa fa-trash"></i></th>
                    </thead>

                    <tbody>
                        {% for donazione in donazioni %}
                        <tr>
                            <td><strong>{{ donazione.esito }}</strong>
                                <br />
                                {{ donazione.get_tipo_display }}</td>
                            <td>
                                <i class="fa fa-fw fa-calendar"></i> {{ donazione.data }}<br />
                                <i class="fa fa-fw fa-home"></i> {{ donazione.sede }}
                            </td>
                            <td>
                                <a href="/utente/donazioni/sangue/{{ donazione.pk }}/cancella/"
                                    data-conferma="Sicuro/a di voler cancellare la donazione {{ donazione.get_tipo_display }} in data {{ donazione.data }}?"
                                    class="btn btn-xs btn-danger"
                                    title="Cancella questa donazione"
                                >
                                    <i class="fa fa-trash"></i>
                                </a>
                            </td>
                        </tr>

                        {% empty %}
                        <tr class="alert alert-warning">
                            <td colspan="3">
                                <i class="fa fa-fw fa-info-circle"></i>
                                Nessuna donazione registrata.
                            </td>
                        </tr>

                        {% endfor %}
                    </tbody>

                </table>


            </div>
        </div>

    </div>
    <script src = "https://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>

    <script type="text/javascript">
    sede_ajax_data = {};

       $(function() {
            var regione = [
               "Abruzzo",
                "Basilicata",
                "Calabria",
                "Campania",
                "Emilia Romagna",
                "Friuli Venezia Giulia",
                "Lazio",
                "Liguria",
                "Lombardia",
                "Marche",
                "Molise",
                "Piemonte",
                "Puglia",
                "Sardegna",
                "Sicilia",
                "Toscana",
                "Trentino-Alto Adige",
                "Umbria",
                "Valle D'Aosta",
                "Veneto",
            ];
            $( "#automplete-3" ).autocomplete({
               minLength:2,
               delay:500,
               source: regione
            });
         });


       $('#automplete-3').change(function () {
          let comitato = $(this).val();

          if (comitato !== '') {
              $.ajax({
                  type: "GET",
                  url: '{% url 'utente:scegliere_sedi' %}',
                  data: {
                      'comitato': comitato,
                  },
                  dataType: 'json',
                  success: function (data) {
                      let select_titolo_cri = $('#id_sede');
                      select_titolo_cri.find('option').not(':first').remove();

                      sede_ajax_data = data.sedi_di_sangue;
                      $.each(sede_ajax_data, function(id, text) {
                          select_titolo_cri.append($('<option>', {
                              value: id,
                              text: text['regione'] +
                                  ' - ' + text['provincia'] +
                                  ' - ' + text['citta'] +
                                  ': ' + text['nome'],
                          }));
                      });
                  },
              });
          }
          else {
               $.ajax({
                  type: "GET",
                  url: '{% url 'utente:scegliere_sedi' %}',
                  data: {
                      'comitato': comitato,
                  },
                  dataType: 'json',
                  success: function (data) {
                      let select_titolo_cri = $('#id_sede');
                      select_titolo_cri.find('option').not(':first').remove();

                      sede_ajax_data = data.sedi;
                      $.each(sede_ajax_data, function(id, text) {
                          select_titolo_cri.append($('<option>', {
                              value: id,
                              text: text['regione'] +
                                  ' - ' + text['provincia'] +
                                  ' - ' + text['citta'] +
                                  ': ' + text['nome'],
                          }));
                      });
                  },
              });
          }
      });

       $(function() {
          $('.ui-autocomplete').addClass('dropdown-menu');
        });

    </script>


{% endblock %}
