{% extends "anagrafica_utente_vuota.html" %}

{% load bootstrap3 %}
{% load utils %}

{% block pagina_titolo %}Storico Appartenenze e Deleghe{% endblock %}

{% block app_contenuto %}

    <div class="alert bg-info">
        <p>
            <i class="fa fa-info-circle fa-fw"></i> Da questa pagina potrai controllare le tue appartenenze e deleghe.
        </p>

    </div>



    <div class="row">

        <div class="col-lg-12">

            <h4><i class="fa fa-clock-o fa-fw"></i> Appartenenze</h4>

            <table class="table table-condensed table-bordered table-responsive">

                <thead>
                    <th>Stato</th>
                    <th>Inizio</th>
                    <th>Fine</th>
                    <th>Tipo</th>
                    <th>Sede</th>
                </thead>

                <tbody>
                {% for d in appartenenze %}
                    <tr     {% if d.esito == d.ESITO_OK and d.attuale %}class="bg-success"
                            {% elif d.esito == d.ESITO_PENDING %}class="gb-warning"
                            {% endif %}>
                        <td>
                            {% if d.esito == d.ESITO_OK %}

                                {% if d.attuale %}
                                    <i class="fa fa-check fa-fw"></i>
                                    Indeterminata
                                {% else %}
                                    <i class="fa fa-folder fa-fw"></i>
                                    Passata
                                {% endif %}

                            {% elif d.esito == d.ESITO_PENDING %}
                                <i class="fa fa-clock-o fa-fw"></i>
                                In attesa
                            {% else %}
                                <i class="fa fa-remove fa-fw"></i>
                                Negata
                            {% endif %}
                        </td>
                        <td>{{ d.inizio }}</td>
                        <td>
                            {% if d.fine %}
                                {{ d.fine }}
                                {% if d.terminazione %}
                                    <br />
                                    <span class="text-muted">
                                        per {{ d.get_terminazione_display }}
                                    </span>
                                {% endif %}
                            {% else %}
                                <span class="text-muted">
                                    Attuale
                                </span>
                            {% endif %}
                        </td>
                        <td>
                            {{ d.get_membro_display }}
                        </td>
                        <td>
                            <strong>{{ d.sede.nome_completo }}</strong><br />
                            {{ d.sede.get_tipo_display }}
                        </td>

                    </tr>

                    {% for a in d.autorizzazioni %}


                    {% endfor %}

                {% empty %}
                    <tr>
                        <td colspan="5" class="bg-warning">
                            <i class="fa fa-info"></i> Nessuna appartenenza registrata.
                        </td>
                    </tr>

                {% endfor %}


                </tbody>

            </table>



            <p>&nbsp;</p>
            <h4><i class="fa fa-money fa-fw"></i> Ricevute e quote associative</h4>

            <table class="table table-condensed table-responsive">
                <thead>
                    <th>Numero</th>
                    <th>Importo</th>
                    <th>Registrazione</th>
                    <th>Ricevuta</th>
                </thead>
                <tbody>

                    {% for q in me.quote.all %}
                        <tr>
                            <td>{{ q.progressivo }}/<span class="piu-grande">{{ q.anno }}</span></td>
                            <td>{% euro q.importo_totale %}</td>
                            <td>

                                <i class="fa fa-fw fa-check-circle"></i> Registrata da {{ q.registrato_da.link|safe }}
                                    versata il {{ q.data_versamento }}<br />

                                {% if q.stato == q.ANNULLATA %}
                                    <i class="fa fa-fw fa-times"></i> Annullata da {{ q.annullato_da }}
                                    in data {{ q.annullato_da }}

                                {% endif %}

                            </td>
                            <td>
                                <a href="{{ q.url_pdf }}" target="_blank">
                                    Scarica PDF
                                </a>
                            </td>
                        </tr>

                    {% empty %}

                        <tr class="warning">
                            <td colspan="4">
                                <p><i class="fa fa-fw fa-info-circle"></i>
                                    Nessuna ricevuta o quota associativa registrata.
                                </p>
                            </td>
                        </tr>

                    {% endfor %}
                </tbody>
            </table>


            <p>&nbsp;</p>

            <h4><i class="fa fa-clock-o fa-fw"></i> Deleghe</h4>

            <table class="table table-condensed table-responsive">

                <thead>
                    <th>Stato</th>
                    <th>Validit&agrave;</th>
                    <th>Delega</th>
                </thead>


                <tbody>
                {% for d in deleghe %}
                    <tr     {% if d.attuale and d.stato == d.ATTIVA %}class="bg-success"
                            {% endif %}>
                        <td>

                            {% if d.attuale %}

                                {% if d.stato == d.ATTIVA %}
                                    <i class="fa fa-check fa-fw"></i>
                                    Valida

                                {% else %}
                                    <i class="fa fa-check fa-fw"></i>
                                    Valida (Sospesa)
                                {% endif %}

                            {% else %}
                                <i class="fa fa-folder fa-fw"></i>
                                Archiviata
                            {% endif %}

                        </td>
                        <td>Dal {{ d.inizio }}<br />
                            {% if d.fine %}
                                al {{ d.fine }}

                            {% else %}
                                <span class="text-muted">
                                    (a tempo indet.)
                                </span>
                            {% endif %}
                        </td>
                        <td style="width: 60%;">
                            {{ d.get_tipo_display }}<br />
                            {% if d.oggetto.link %}
                                <strong>{{ d.oggetto.link|safe }}</strong>
                            {% else %}
                                <strong>{{ d.oggetto }}</strong>
                            {% endif %}

                        </td>

                    </tr>

                    {% for a in d.autorizzazioni %}


                    {% endfor %}

                {% empty %}
                    <tr>
                        <td colspan="5" class="bg-warning">
                            <i class="fa fa-info"></i> Nessuna delega registrata.
                        </td>
                    </tr>

                {% endfor %}


                </tbody>

            </table>

        </div>




    </div>




{% endblock %}