{% extends 'anagrafica_profilo.html' %}

{% load bootstrap3 %}
{% load thumbnail %}

{% block profilo_corpo %}
<form method="POST">
{% csrf_token %}

    <div class="row">

        <div class="col-md-6">

            <div class="panel panel-primary">

                <div class="panel-heading">
                    <h4 class="panel-title">

                        {% if puo_modificare %}
                            <i class="fa fa-fw fa-edit"></i>
                            Modifica scheda anagrafica

                        {% else %}
                            <i class="fa fa-fw fa-search"></i>
                            Anteprima scheda anagrafica

                        {% endif %}

                    </h4>
                </div>

                <div class="panel-body">
                        {% bootstrap_form modulo  %}

                        {% if puo_modificare %}
                            <button type="submit"
                                    class="btn btn-primary btn-block">
                                <i class="fa fa-fw fa-save"></i>
                                Salva modifiche
                            </button>
                        {% endif %}


                </div>
            </div>

        </div>

        <div class="col-md-6">

            {% if persona.avatar or persona.fototessera_attuale %}

            <div class="panel panel-info">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <i class="fa fa-fw fa-picture-o"></i>
                        Foto

                    </h4>
                </div>
                <div class="panel-body">

                    {% if persona.fototessera_attuale %}
                        {% thumbnail persona.fototessera_attuale.file "500x500" crop as im %}
                        <img src="{{ im.url }}" class="img-responsive" alt="Immagine fototessera attuale" />

                    {% elif persona.avatar %}
                        {% thumbnail persona.avatar "500x500" crop as im %}
                        <img src="{{ im.url }}" class="img-responsive" alt="Immagine del profilo attuale" />

                    {% endif %}

                </div>
            </div>

            {% endif %}

            <div class="panel panel-info">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <i class="fa fa-fw fa-phone"></i>
                        Numeri di telefono
                    </h4>
                </div>
                <div class="panel-body">

                    <table class="table">
                        <thead>
                            <th>Numero</th>
                            <th>Tipologia</th>
                            {% if puo_modificare %}
                                <th>Azioni</th>
                            {% endif %}
                        </thead>
                        <tbody>
                            {% for numero in persona.numeri_telefono.all %}
                                <tr>
                                    <td class="grassetto">
                                        {{ numero }}
                                    </td>
                                    <td>
                                        {% if numero.servizio %}
                                           Di servizio
                                        {% else %}
                                            Personale
                                        {% endif %}
                                    </td>
                                    {% if puo_modificare %}
                                        <td>
                                            <a href="/profilo/{{ persona.pk }}/telefono/{{ numero.id }}/cancella/"
                                                    data-conferma="Vuoi davvero cancellare il numero {{ numero }}?">
                                                <i class="fa fa-trash"></i>
                                                Cancella
                                            </a>
                                        </td>
                                    {% endif %}
                                </tr>

                            {% empty %}
                                <tr class="warning">
                                    <td colspan="3">
                                        <p class="grassetto">
                                            <i class="fa fa-fw fa-warning"></i> Nessun numero telefonico registrato.
                                        </p>
                                    </td>
                                </tr>
                            {% endfor %}


                        </tbody>
                    </table>

                    {% if puo_modificare %}
                        <div class="panel panel-primary">
                            <div class="panel-heading">

                                <h4 class="panel-title">
                                    <i class="fa fa-fw fa-plus-circle"></i>
                                    Aggiungi un numero
                                </h4>

                            </div>

                            <div class="panel-body">

                                {% bootstrap_form modulo_numero_telefono %}
                                 <button class="btn btn-block btn-primary" type="submit">
                                     <i class="fa fa-check fa-fw"></i>
                                     Aggiungi numero
                                 </button>
                            </div>

                        </div>
                    {% endif %}

                </div>
            </div>

            <div class="panel panel-success">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <i class="fa fa-fw fa-info-circle"></i>
                        Informazioni aggiuntive

                    </h4>
                </div>
                <div class="panel-body">
                    <p>Qui sono riassunte le informazioni aggiuntive o calcolate
                        per il profilo di {{ persona.nome }}.</p>

                    <table class="table table-striped table-responsive">
                        <tbody>

                            <tr>
                                <td>Et&agrave;</td>
                                <td>{{ persona.eta }} anni</td>
                            </tr>
                            <tr>
                                <td>Giovane</td>
                                <td>
                                    {% if persona.giovane %}
                                        <i class="fa fa-fw fa-check"></i>
                                        S&iacute;
                                        (meno di {{ persona.ETA_GIOVANE }} anni)

                                    {% else %}
                                        <i class="fa fa-fw fa-times"></i>
                                        No
                                        ({{ persona.ETA_GIOVANE }} o pi&ugrave; anni)

                                    {% endif %}

                                </td>
                            </tr>
                            <tr>
                                <td>Sesso (da CF)</td>
                                <td>
                                    {% if persona.genere_codice_fiscale == persona.MASCHIO %}
                                        <i class="fa fa-fw fa-male"></i>
                                        Maschio

                                    {% elif persona.genere_codice_fiscale == persona.FEMMINA %}
                                        <i class="fa fa-fw fa-female"></i>
                                        Femmina

                                    {% else %}
                                        <i class="fa fa-fw fa-question-circle"></i>
                                        Sconosciuto

                                    {% endif %}
                                </td>
                            </tr>
                            <tr
                                {% if persona.codice_fiscale_verosimile %}
                                    class="success"
                                {% else %}
                                    class="danger"
                                {% endif %}
                            >
                                <td>Codice Fiscale</td>
                                <td>
                                    {% if persona.codice_fiscale_verosimile %}
                                        <i class="fa fa-fw fa-check-circle"></i>
                                        Sembra corretto

                                    {% else %}
                                        <i class="fa fa-fw fa-warning"></i>
                                        Sembra errato!

                                    {% endif %}

                                    <br />
                                    <span class="piu-piccolo">
                                        Verifica di nome, cognome e data di nascita.
                                    </span>

                                </td>
                            </tr>

                        </tbody>

                    </table>

                </div>
            </div>

        </div>

    </div>
</form>

{% endblock %}