{% extends 'anagrafica_profilo.html' %}

{% load bootstrap3 %}

{% block profilo_corpo %}


    <div class="panel panel-info">

        <div class="panel-heading">
            <h4 class="panel-title">
                <i class="fa fa-fw fa-list"></i>
                Appartenenze ({{ persona.appartenenze.count }})
            </h4>
        </div>

        <div class="panel-body">
            <table class="table table-striped">
                <thead>
                    <th>Stato</th>
                    <th>Tipo</th>
                    <th>Sede</th>
                    <th>Inizio e fine</th>
                    <th>Registrata</th>

                </thead>
                <tbody>

                {% for app in persona.appartenenze.all %}
                    <tr {% if app.attuale %}class="success"{% endif %}>
                        <td>
                            {{ app.esito }}
                            {% if app.esito == app.ESITO_OK %}
                                {% if app.attuale %}
                                    (<strong>Attuale</strong>)
                                {% else %}
                                    (<strong>Passata</strong>)
                                {% endif %}
                            {% endif %}
                        </td>
                        <td>
                            <strong>{{ app.get_membro_display }}</strong>
                        </td>
                        <td>
                            {{ app.sede.link|safe }}
                        </td>
                        <td>
                            Inizio: {{ app.inizio|date:"SHORT_DATE_FORMAT" }}<br />
                            Fine:   {% if app.fine %}
                                        {{ app.fine|date:"SHORT_DATE_FORMAT" }}
                                    {% else %}
                                        Indeterminata
                                    {% endif %}
                            {% if app.terminazione %}<br />
                                Fine per {{ app.get_terminazione_display }}
                            {% endif %}
                        </td>
                        <td>
                            {{ app.creazione }}
                        </td>

                    </tr>

                {% empty %}
                    <tr class="warning">
                        <td colspan="5">
                            Nessuna appartenenza registrata.
                        </td>
                    </tr>

                {% endfor %}

                </tbody>

            </table>

        </div>
    </div>

{% endblock %}