{% extends 'presidente_vuota.html' %}

{% load bootstrap3 %}
{% load mptt_tags %}
{% load utils %}

{% block pagina_titolo %}
    Presidente
{% endblock %}

{% block app_contenuto %}

    <h2 class="allinea-centro text-success">
        Presidente CRI
    </h2>

    <p class="allinea-centro">
        <img  alt="Emblema CRI" src="https://upload.wikimedia.org/wikipedia/it/thumb/4/4a/Emblema_CRI.svg/300px-Emblema_CRI.svg.png" width="180" height="180" />
    </p>


    <div class="alert alert-info">
        <h4><i class="fa fa-info-circle"></i> Benvenuto nella sezione dedicata alla Presidenza.</h4>
        <p>Da questa sezione &egrave; possibile accedere alle funzioni di gestione delle Sedi CRI, come:</p>
        <ul>
            <li>Gestione dei Delegati,</li>
            <li>Gestione dei Responsabili,</li>
            <li>Gestione dati anagrafici della Sede.</li>
        </ul>
    </div>


    <div class="panel panel-primary">
        <div class="panel-heading">
            <h2 class="panel-title">
                <i class="fa fa-fw fa-warning"></i>
                Seleziona una Sede CRI
            </h2>
        </div>
        <div class="panel-body piu-grande">

            <table class="table table-striped">
                <thead>
                    <tr>
                        {% livello_max sedi as max %}
                        {% for i in max|volte %}
                            <th>&nbsp;</th>
                        {% endfor %}
                        <th>Sede</th>
                        <th>Tipo</th>
                        <th>Stato</th>
                        <th>Check-list</th>
                    </tr>
                </thead>
                <tbody>
                {% for sede in sedi %}
                    <tr>
                        {% for i in sede.level|volte %}
                            <td>&nbsp;</td>
                        {% endfor %}

                        {% differenza max sede.level 1 as diff %}
                        <td class="grassetto" {% if diff %}colspan="{{ diff }}"{% endif %}>
                            <a href="/presidente/sedi/{{ sede.pk }}/">
                                {{ sede.nome }}
                            </a>
                        </td>
                        <td>{{ sede.get_estensione_display }}</td>
                        <td>
                            {% if sede.richiede_revisione_dati %}
                                <span class="text-danger">
                                    <i class="fa fa-fw fa-warning"></i>
                                    Richiede verifica
                                </span> &nbsp;
                            {% else %}
                                <span class="text-success">
                                    <i class="fa fa-fw fa-check"></i>
                                    Dati aggiornati
                                </span>
                            {% endif %}
                        </td>
                        <td>
                            {% if sede.ha_checklist %}
                                <a href="{{ sede.url_checklist }}" class="text-success">
                                    <i class="fa fa-fw fa-check-square-o"></i>
                                    Check-list Comitato
                                </a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>


        </div>
    </div>




{% endblock %}