{% extends "anagrafica_utente_vuota.html" %}

{% load bootstrap3 %}

{% block pagina_titolo %}Richiesta Trasferimento{% endblock %}

{% block app_contenuto %}

<div class="alert bg-info">
    <p>
        <i class="fa fa-info-circle fa-fw"></i> Da questa pagina potrai visionare lo stato della tua richiesta di trasferimento.
    </p>
</div>


<div class="row" style="margin-top: 5px;">
    <div class="col-lg-8">
        <div class="panel panel-info">

            <div class="panel-heading">
                <h4 class="panel-title">
                    <i class="fa fa-folder-o fa-fw"></i> Storico trasferimenti
                </h4>
            </div>

            <div class="panel-body">

                {% if trasferimenti_auto_pending %}
                <div class="alert bg-info">
                    <p>
                        <i class="fa fa-info-circle fa-fw"></i> Hai attualmente un trasferimento in attesa di approvazione.<br>
                        Come previsto da regolamento il trasferimento sarà approvato automaticamente entro {{ trasferimenti_auto_pending.scadenza_autorizzazione }} giorni.<br>
                        Per informazioni puoi rivolgerti al delegato Ufficio Soci, oppure al Presidente di competenza:
                        <ul>
                            {% for delega, persone in delegati.items %}
                                {% if persone %}<strong>{{ delega }}</strong>{% endif %}
                                {% for persona in persone %}
                                <li>
                                    <a href="{{ persona.url_messaggio }}">
                                        {{ persona.nome_completo }}
                                    </a>
                                </li>
                                {% endfor %}
                            {% endfor %}
                        </ul>
                    </p>
                </div>
                {% endif %}

                {% if trasferimenti_manuali_pending %}
                <div class="alert bg-info">
                    <p>
                        <i class="fa fa-info-circle fa-fw"></i> Hai attualmente un trasferimento in attesa di approvazione.<br>
                        Per ragioni tecniche -risolte a partire dal {{ SETTINGS.DATA_AVVIO_TRASFERIMENTI_AUTO|date:"SHORT_DATE_FORMAT" }}- non è stato possibile approvare in automatico il trasferimento.<br>
                        Per informazioni puoi rivolgerti al delegato Ufficio Soci, oppure al Presidente di competenza:
                        <ul>
                            {% for delega, persone in delegati.items %}
                                {% if persone %}<strong>{{ delega }}</strong>{% endif %}
                                {% for persona in persone %}
                                <li>
                                    <a href="{{ persona.url_messaggio }}">
                                        {{ persona.nome_completo }}
                                    </a>
                                </li>
                                {% endfor %}
                            {% endfor %}
                        </ul>
                    </p>
                </div>
                {% endif %}

                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Richiedente</th>
                            <th>Destinazione</th>
                            <th>Esito</th>
                            <th>Data richiesta</th>
                            <th>Azioni</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for trasferimento in storico %}
                        <tr
                            {% if trasferimento.esito == trasferimento.ESITO_PENDING %}
                                class="warning"
                            {% endif %}
                        >
                            <td>{{ trasferimento.richiedente }}</td>
                            <td>{{ trasferimento.destinazione }}</td>
                            <td>{{ trasferimento.esito}}</td>
                            <td>{{ trasferimento.creazione|date:"SHORT_DATE_FORMAT" }}</td>
                            <td>
                                {% if not trasferimento.massivo %}
                                <a href="{{ trasferimento.url_pdf }}" target="_blank">Scarica PDF</a>
                                {% else %}
                                &nbsp;
                                {% endif %}
                                {% if trasferimento.esito == trasferimento.ESITO_PENDING %} -
                                <a href="/utente/trasferimento/{{ trasferimento.pk }}/ritira/"
                                   data-conferma="Vuoi veramente ritirare la richiesta di trasferimento?">
                                    Ritira Richiesta
                                </a>
                            {% endif %}
                            </td>
                        </tr>
                        {% empty %}
                            <tr>
                                <td colspan="5" class="bg-warning">
                                    <i class="fa fa-info"></i> Nessun trasferimento passato.
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="col-md-4">

        <div class="panel panel-primary">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <i class="fa fa-plus"></i> Registra Trasferimento
                </h4>
            </div>
            <div class="panel-body">
                {% if not me.trasferimento %}
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% bootstrap_form modulo %}
                    <button type="submit" class="btn btn-primary">Invia</button>
                </form>
                {% else %}
                    <div class="alert bg-info">
                        <p>
                            <i class="fa fa-info-circle fa-fw"></i>
                        </p>
                    </div>
                {% endif %}
            </div>
        </div>

    </div>
</div>
{% endblock %}