{% extends "anagrafica_utente_vuota.html" %}

{% load bootstrap3 %}
{% load static %}
{% load utils %}

{% block app_contenuto %}
    {% if me.aspirante %}
        <div class="alert alert-success">
            <h4><i class="fa fa-fw fa-info-circle"></i> Vuoi trovare Corsi Base vicino a te?</h4>
            <p>Clicca su "Aspirante" in alto a questa pagina per vedere i Corsi Base e le Sedi CRI.</p>
        </div>
    {% endif %}

        <div class="row" style="margin-bottom:3em;">
        <!--<div class="col col-md-3">
            <div class="alert alert-danger" role="alert" style="text-align: center; margin:0; display: grid;">
                <span class="glyphicon glyphicon-phone-alt" aria-hidden="true" style="font-size:48px; margin-bottom: 0.5em;"></span>
                <a target="_blank" href="https://telefonia.cri.it" class="alert-link testi-lunghi">Gestionale Telefonia</a>
            </div>
        </div>-->

        {% if me|partecipazione_riunione %}
            <div class="col col-md-3" style="padding-left: 5px; padding-right: 5px;" id="div_riunione">
                <div class="alert alert-success" role="alert" style="text-align: center; margin:0; display: grid;">
                    <span class="glyphicon glyphicon-facetime-video" aria-hidden="true" style="font-size:48px; margin-bottom: 0.5em;"></span>
                    <a id="riunione" class="alert-link testi-lunghi hand" data-toggle="tooltip" data-placement="top" title="Assemblea Nazionale">Assemblea Nazionale</a>
                </div>
            </div>
        {% endif %}

        {% if me|partecipazione_riunione_consiglieri %}
            <div class="col col-md-3" style="padding-left: 5px; padding-right: 5px;" id="div_riunione_consiglieri">
                <div class="alert alert-success" role="alert" style="text-align: center; margin:0; display: grid;">
                    <span class="glyphicon glyphicon-facetime-video" aria-hidden="true" style="font-size:48px; margin-bottom: 0.5em;"></span>
                    <a id="riunione_consiglieri" class="alert-link testi-lunghi hand" data-toggle="tooltip" data-placement="top" title="Assemblea Giovani">Assemblea Giovani</a>
                </div>
            </div>
        {% endif %}

        {% if me.dipendente %}
            <div class="col col-md-3" style="padding-left: 5px; padding-right: 5px;">
                <div class="alert alert-success role="alert" style="text-align: center; margin:0; display: grid;">
                    <span class="glyphicon glyphicon-check" aria-hidden="true" style="font-size:48px; margin-bottom: 0.5em;"></span>
                    <a target="_blank" href="https://criwiki.cri.it:8443/pages/viewpage.action?spaceKey=DA&title=Minute+di+Riunione" class="alert-link testi-lunghi" data-toggle="tooltip" data-placement="top" title="Minute di riunione">Minute di riunione</a>
                </div>
            </div>
        {% endif %}

        {% if me.dipendente or me.volontario or me.operatore_villa_maraini or me.servizio_civile %}
        <div class="col col-md-3" style="padding-left: 5px; padding-right: 5px;">
            <div class="alert alert-success" role="alert" style="text-align: center; margin:0; display: grid;">
                <span class="glyphicon glyphicon-road" aria-hidden="true" style="font-size:48px; margin-bottom: 0.5em;"></span>
                <a target="_blank" href="https://roadmap.cri.it" class="alert-link testi-lunghi" data-toggle="tooltip" data-placement="top" title="Roadmap">Roadmap</a>
            </div>
        </div>
        {% endif %}

        {% if me.dipendente %}
            <div class="col col-md-3" style="padding-left: 5px; padding-right: 5px;">
                <div class="alert alert-success" role="alert" style="text-align: center; margin:0; display: grid;">
                    <span class="glyphicon glyphicon-folder-open" aria-hidden="true" style="font-size:48px; margin-bottom: 0.5em;"></span>
                    <a target="_blank" href="https://sites.google.com/a/cri.it/manuale-processi/home?pli=1" class="alert-link testi-lunghi" data-toggle="tooltip" data-placement="top" title="Manuale dei processi">Manuale dei processi</a>
                </div>
            </div>
        {% endif %}

        {% if not me.operatore_villa_maraini %}
        <div class="col col-md-3" style="padding-left: 5px; padding-right: 5px;">
            <div class="alert alert-success" role="alert" style="text-align: center; margin:0; display: grid; ">
                <span class="glyphicon glyphicon-cloud" aria-hidden="true" style="font-size:48px; margin-bottom: 0.5em;"></span>
                <a target="_blank" href="https://redcloud.cri.it/?auto_login=true" class="alert-link testi-lunghi" data-toggle="tooltip" data-placement="top" title="Redcloud">Redcloud</a>
            </div>
        </div>

        <div class="col col-md-3" style="padding-left: 5px; padding-right: 5px;">
            <div class="alert alert-success" role="alert" style="text-align: center; margin:0; display: grid; ">
                <span class="glyphicon glyphicon-link" aria-hidden="true" style="font-size:48px; margin-bottom: 0.5em;"></span>
                <a target="_blank" href="https://gaia.cri.it/page/portale-convenzioni/" class="alert-link testi-lunghi" data-toggle="tooltip" data-placement="top" title="Portale Convenzioni">Portale Convenzioni</a>
            </div>
        </div>
        <!--<div class="col col-md-3" style="padding-left: 5px; padding-right: 5px;">
            <div class="alert alert-danger" role="alert" style="text-align: center; margin:0; display: grid; ">
                <span class="glyphicon glyphicon-inbox" aria-hidden="true" style="font-size:48px; margin-bottom: 0.5em;"></span>
                <a target="_blank" href="https://gestionale.cri.it" class="alert-link testi-lunghi">Gestionale SG</a>
            </div>
        </div>-->
        <div class="col col-md-3" style="padding-left: 5px; padding-right: 5px;">
            <div class="alert alert-success" role="alert" style="text-align: center; margin:0; display: grid; ">
                <span class="glyphicon glyphicon-home" aria-hidden="true" style="font-size:48px; margin-bottom: 0.5em;"></span>
                <a target="_blank" href="https://cri.it" class="alert-link testi-lunghi" data-toggle="tooltip" data-placement="top" title="CRI.IT">CRI.IT</a>
            </div>
        </div>

        <div class="col col-md-3" style="padding-left: 5px; padding-right: 5px;">
            <div class="alert alert-success" role="alert" style="text-align: center; margin:0; display: grid; ">
                <span class="glyphicon glyphicon-folder-open" aria-hidden="true" style="font-size:48px; margin-bottom: 0.5em;"></span>
                <a target="_blank" href="https://gaia.cri.it/documenti/90/" class="alert-link testi-lunghi" data-toggle="tooltip" data-placement="top" title="Toolkit Inclusione Lavorativa">Toolkit Inclusione Lavorativa</a>
            </div>
        </div>

{#        <div class="col col-md-3" style="padding-left: 5px; padding-right: 5px;">#}
{#            <div class="alert alert-success" role="alert" style="text-align: center; margin:0; display: grid; ">#}
{#                <span class="fa fa-newspaper-o" aria-hidden="true" style="font-size:48px; margin-bottom: 0.5em;"></span>#}
{#                <a target="_blank" href="https://gaia.cri.it/documenti/91/" class="alert-link testi-lunghi" data-toggle="tooltip" data-placement="top" title="Edicola digitale">Edicola digitale</a>#}
{#            </div>#}
{#        </div>#}
        {% endif %}

        {% if me.dipendente %}
            <div class="col col-md-3" style="padding-left: 5px; padding-right: 5px;">
                <div class="alert alert-success" role="alert" style="text-align: center; margin:0; display: grid;">
                    <span class="glyphicon glyphicon-globe" aria-hidden="true" style="font-size:48px; margin-bottom: 0.5em;"></span>
                    <a target="_blank" href="https://criwiki.cri.it:8443/display/DA/Mission+Report" class="alert-link testi-lunghi" data-toggle="tooltip" data-placement="top" title="Mission Report">Mission Report</a>
                </div>
            </div>
        {% endif %}

        {% if me.dipendente or me.volontario %}
            <div class="col col-md-3" style="padding-left: 5px; padding-right: 5px;">
                <div class="alert alert-success" role="alert" style="text-align: center; margin:0; display: grid;">
                    <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true" style="font-size:48px; margin-bottom: 0.5em;"></span>
                    <a target="_blank" href="https://shop.cri.it" class="alert-link testi-lunghi" data-toggle="tooltip" data-placement="top" title="CRI Shop">CRI Shop</a>
                </div>
            </div>
        {% endif %}

        <div class="col col-md-3" style="padding-left: 5px; padding-right: 5px;">
            <div class="alert alert-success" role="alert" style="text-align: center; margin:0; display: grid;">
              <span class="glyphicon glyphicon glyphicon-ok-circle" aria-hidden="true" style="font-size:48px; margin-bottom: 0.5em;"></span>
              <a target="_blank" href="https://gaia.cri.it/documenti/146/" class="alert-link testi-lunghi" data-toggle="tooltip" data-placement="top" title="Strategia CRI 2030">Strategia CRI 2030</a>
            </div>
        </div>
        <div class="col col-md-3" style="padding-left: 5px; padding-right: 5px;">
            <div class="alert alert-success" role="alert" style="text-align: center; margin:0; display: grid;">
              <span class="glyphicon glyphicon glyphicon-book" aria-hidden="true" style="font-size:48px; margin-bottom: 0.5em;"></span>
              <a target="_blank" href="https://gaia.cri.it/documenti/248/" class="alert-link testi-lunghi" data-toggle="tooltip" data-placement="top" title="Giovani CRI">Giovani CRI</a>
            </div>
        </div>

        {% if me.delegato_tempo_della_gentilezza %}
        <div class="col col-md-3" style="padding-left: 5px; padding-right: 5px;">
            <div class="alert alert-success" role="alert" style="text-align: center; margin:0; display: grid;">
              <span class="glyphicon glyphicon glyphicon-leaf" aria-hidden="true" style="font-size:48px; margin-bottom: 0.5em;"></span>
              <a target="_blank" href="https://auth2pro.cri.it/iltempodellagentilezza/auth/?sso " class="alert-link testi-lunghi" data-toggle="tooltip" data-placement="top" title="Il tempo della gentilezza">Il tempo della gentilezza</a>
            </div>
        </div>
        {% endif %}

    </div>
    <!--<div
            id="benvenuto"
            class="well well-lg allinea-centro" style="
            background-image: url('{% static 'img/welcome_img1.jpg' %}');
            background-size: cover;
            text-shadow: 1px 1px 0px white;
    ">
        <p>&nbsp;</p>
        <h1 class="nascosto">
            <span class="text-muted">Benvenut{{ me.genere_o_a }}</span>
            {{ me.nome }}<br />
        </h1>
        <h3 class="nascosto">oggi &egrave; un ottimo giorno per fare volontariato</h3>
        <p>&nbsp;</p>
        <p class="nascosto">
            Ultimo accesso {{ me.utenza.last_login }}
        </p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
    </div>-->

    {% if me.trasferimento and not me.trasferimento.con_scadenza %}
        <div class="alert alert-warning">
            <h4><i class="fa fa-fw fa-warning"></i> Hai attualmente un trasferimento in attesa di approvazione</h4>
            <p>
                Per ragioni tecniche -risolte a partire dal {{ SETTINGS.DATA_AVVIO_TRASFERIMENTI_AUTO|date:"SHORT_DATE_FORMAT" }}- non è stato possibile approvare in automatico il trasferimento.<br>
                Vai alla <a href="/utente/trasferimenti/">sezione Trasferimenti</a> per maggiori informazioni.
            </p>
        </div>
    {% endif %}

    {% if me.nuovo_presidente %}
        <div class="alert" style="border: 1px solid #f1f1f1;">
            <p class="grassetto">
                <i class="fa fa-fw fa-smile-o"></i>
                Ciao neo {{ me | select_presidente_commissario_da_persona }}!
                <a href="/presidente/">Hai gi&agrave; completato la check-list per il tuo Comitato?</a>
            </p>
        </div>
    {% endif %}

    {% if not me.numeri_telefono.exists and False %}
        <div class="alert alert-warning">
            <h4>
                <i class="fa fa-fw fa-warning"></i>
                Aggiungi il tuo numero di cellulare nella sezione Contatti
                <a href="/utente/contatti/" target="_new">
                    &mdash; vai alla sezione Contatti
                </a>

            </h4>
            <p>
                Cos&igrave; facendo, i responsabili delle attivit&agrave; alle quali parteciperai saranno
                in grado di contattarti tempestivamente, in caso di necessit&agrave;. Il tuo numero verr&agrave;
                inoltre condiviso con i delegati per le emergenze, e tutti coloro che deciderai.
            </p>
        </div>
    {% endif %}

    {% if me.titoli_personali.all.count < 3 and False %}
        <div class="alert alert-info">
            <h4>
                <i class="fa fa-fw fa-info-circle"></i>
                Completa il tuo Curriculum
                <a href="/utente/curriculum/" target="_new">
                    &mdash; vai alla sezione Competenze Personali
                </a>

            </h4>
            <p>
                {% if me.titoli_personali.all.exists %}
                    Hai solo {{ me.titoli_personali.all.count }} elementi nel
                    tuo curriculum tra competenze, patenti e titoli di studio.
                {% endif %}
                Usa il men&ugrave; "Curriculum" sulla sinistra per completare la tua scheda personale.
                Questo ti permetter&agrave; di partecipare alle attivit&agrave; che richiedono qualifiche
                particolari e di arricchire il tuo profilo.
            </p>
        </div>
    {% endif %}

    {% if not me.operatore_villa_maraini %}
        <div class="articoli">
        {% for articolo in articoli %}
            {% include "includes/elemento_lista.html" %}
        {% endfor %}
        </div>
    {% endif %}

    {% include "base_privacy_policy_popup.html" %}
    <script>
        const url_riunione = "{% url 'presidente:inscrizione_evento' %}";
        const url_riunione_consiglieri = "{% url 'utente:inscrizione_evento_consiglieri' %}";
        const _csrf_token = "{{ csrf_token }}";
    </script>

    <script>
        var load = false;
        $('#riunione').on('click', function(e) {
            var ancor = $(this);
            if (load === false) {
                load = true;
                ancor.toggleClass('wait');
                ancor.toggleClass('hand');
                $.ajax({
                    type: "POST",
                    url: url_riunione,
                    data: {
                        csrf_token: _csrf_token,
                    },
                    success: function (data) {
                        load = false;
                        ancor.toggleClass('wait');
                        ancor.toggleClass('hand');
                        window.open(data['link'], '_blank');
                    },
                    error: function (jqXHR, textStatus) {
                        load = false;
                        ancor.toggleClass('wait');
                        ancor.toggleClass('hand');
                    },
                });
            }
        });
    </script>

    <script>
        var load = false;
        $('#riunione_consiglieri').on('click', function(e) {
            var ancor = $(this);
            if (load === false) {
                load = true;
                ancor.toggleClass('wait');
                ancor.toggleClass('hand');
                $.ajax({
                    type: "POST",
                    url: url_riunione_consiglieri,
                    data: {
                        csrf_token: _csrf_token,
                    },
                    success: function (data) {
                        load = false;
                        ancor.toggleClass('wait');
                        ancor.toggleClass('hand');
                        window.open(data['link'], '_blank');
                    },
                    error: function (jqXHR, textStatus) {
                        load = false;
                        ancor.toggleClass('wait');
                        ancor.toggleClass('hand');
                    },
                });
            }
        });
    </script>

{% endblock %}
