{% extends 'anagrafica_profilo.html' %}
{% load static %}

{% load bootstrap3 %}
{% block profilo_corpo %}
{% if sezione %}
    <div class="row">
        <div class="col-lg-3" style="padding: 5px">
            <a class="btn btn-primary btn-block" href="{% url 'profilo:profilo' pk=pk sezione=sezione %}?modifica=qualificacri">
                Carica Qualifica CRI
            </a>
        </div>
        <div class="col-lg-3" style="padding: 5px">
            <a class="btn btn-primary btn-block" href="{% url 'profilo:profilo' pk=pk sezione=sezione %}?modifica=altrequalifiche">
                Carica Altre qualifiche
            </a>
        </div>
        <div class="col-lg-3" style="padding: 5px">
            <a class="btn btn-primary btn-block" href="{% url 'profilo:profilo' pk=pk sezione=sezione %}?modifica=titolistudio">
                Carica Titolo di studio
            </a>
        </div>
        <div class="col-lg-3" style="padding: 5px">
            <a class="btn btn-primary btn-block" href="{% url 'profilo:profilo' pk=pk sezione=sezione %}?modifica=competenzelinguistiche">
                Carica Competenze Linguistiche
            </a>
        </div>
        <div class="col-lg-3" style="padding: 5px">
            <a class="btn btn-primary btn-block" href="{% url 'profilo:profilo' pk=pk sezione=sezione %}?modifica=competenzeprofessionali">
                Carica Competenza professionali
            </a>
        </div>
    </div>
    <br>
{% endif %}
<div class="row">
    <div class="col-lg-8">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <i class="fa fa-folder fa-fw"></i> Curriculum ({{ persona.titoli_personali.count }})
                </h4>
            </div>
            <div class="panel-body">
                <p>Il curriculum di un volontario include competenze personali, titoli CRI, patenti civili e CRI.</p>

                <table class="table table-striped">
                    <thead>
                        <th>Tipo</th>
                        <th>Nome e Stato</th>
                        <th>Dettagli</th>
                        {% if puo_modificare %}
                            <th><i class="fa fa-trash"></i></th>
                        {% endif %}
                    </thead>
                    <tbody>
                        {% for t in persona.titoli_personali.all %}
                            <tr>
                                <td class="grassetto piu-grande">
                                    {{ t.titolo.get_tipo_display }}
                                </td>
                                <td>
                                    <p>
                                        <p class="grassetto">{{ t.titolo.nome }}</p>
                                        {% if t.titolo.tipo == 'CL' %}
                                            <span class="grassetto">Oralità:</span> {{ t.livello_linguistico_orale }}
                                            <br>
                                            <span class="grassetto">Lettura:</span> {{ t.livello_linguistico_lettura }}
                                            <br>
                                            <span class="grassetto">Scrittura:</span> {{ t.livello_linguistico_scrittura }}
                                        {% endif %}
                                        {% if t.titolo.tipo == 'CS' %}
                                            <span class="grassetto">Specializzazione:</span> {{ t.specializzazione }}
                                            <br>
                                            <span class="grassetto">Skills:</span>
                                            {% for skill in t.skills.all %}
                                                <span style="background-color: #c1bbbb; border-radius: 10px 10px 10px 10px; padding: 3px">{{ skill }}</span>
                                            {% endfor %}
                                        {% endif %}
                                    </p>

                                    {% if t.certificato %}
                                        <span class="text-success">
                                            <i class="fa fa-fw fa-asterisk"></i>
                                            Certificato
                                        </span>

                                    {% elif t.esito == t.ESITO_OK %}
                                        <span class="text-success">
                                            <i class="fa fa-fw fa-check"></i>
                                            {{ t.esito }}
                                        </span>

                                    {% elif t.esito == t.ESITO_PENDING %}
                                        <span class="alert-warning">
                                            <i class="fa fa-fw fa-clock"></i>
                                            In attesa di conferma
                                        </span>

                                    {% else %}
                                        <span class="text-danger">
                                            {{ t.esito }}
                                        </span>

                                    {% endif %}

                                </td>
                                <td class="piu-piccolo" style="width: 30% !important;">
                                    {% if t.data_ottenimento %}
                                        <i class="fa fa-fw text-muted fa-calendar"></i>
                                        {{ t.data_ottenimento|date:"SHORT_DATE_FORMAT" }}
                                        <br />
                                    {% endif %}

                                    {% if t.luogo_ottenimento %}
                                        <i class="fa fa-fw text-muted fa-map-marker"></i>
                                        {{ t.luogo_ottenimento }}
                                        <br />
                                    {% endif %}

                                    {% if t.data_scadenza %}
                                        <i class="fa fa-fw text-muted fa-clock-o"></i>
                                        {{ t.data_scadenza|date:"SHORT_DATE_FORMAT" }}
                                        <br />
                                    {% endif %}

                                    {% if t.codice %}
                                        <i class="fa fa-fw text-muted fa-barcode"></i>
                                        <span class="monospace">{{ t.codice }}</span>
                                        <br />
                                    {% endif %}

                                </td>
                                {% if puo_modificare %}
                                    <td>
                                        <a href="/profilo/{{ persona.pk }}/curriculum/{{ t.pk }}/cancella/"
                                           data-conferma="Sei sicuro/a di voler rimuovere {{ t.titolo.nome }} dal curriculum di {{ persona.nome }}?"
                                           class="btn btn-xs btn-danger" title="Rimuovi dal curriculum">
                                            <i class="fa fa-trash"></i>
                                        </a>
                                    </td>
                                {% endif %}
                            </tr>

                        {% empty %}
                            <tr class="alert alert-warning">
                                <td colspan="4">
                                    <p>Nessun contenuto inserito nel curriculum.</p>
                                </td>
                            </tr>

                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="col-lg-4">
        {% if puo_modificare and modulo %}
            <form method="POST" enctype="multipart/form-data">

                {% csrf_token %}
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <i class="fa fa-plus"></i> Aggiungi {{ tipo_titolo }}
                            </h4>
                        </div>

                        <div class="panel-body">
                            {% bootstrap_form modulo %}

                            <button class="btn btn-primary btn-block">
                                <i class="fa fa-check"></i>
                                Carica
                            </button>
                        </div>
                    </div>
            </form>
        {% endif %}

    </div>
</div>
<script>
    const url_cv_cdf_titolo_json = "{% url 'cv:argomenti_corsi_json' %}";
    const _csrf_token = "{{ csrf_token }}";
</script>
<script src="{% static 'js/curriculum/altre_qualifiche.js' %}"></script>
<script src="{% static 'js/curriculum/titoli_studio.js' %}"></script>
<script src="{% static 'js/curriculum/competenze_linguistiche.js' %}"></script>
<script src="{% static 'js/curriculum/competenza_professionali.js' %}"></script>
{% endblock %}
