{% extends 'anagrafica_profilo.html' %}

{% load bootstrap3 %}
{% load utils %}

{% block profilo_corpo %}
<div class="row">

    <div class="col-lg-12">
        <div class="panel panel-info">

            <div class="panel-heading">
                <h4 class="panel-title">
                    <i class="fa fa-folder-o fa-fw"></i> Provvedimenti disciplinari
                </h4>

            </div>

            <div class="panel-body">


                <table class="table table-bordered table-striped table-responsive">
                <thead>
                    <th>Stato</th>
                    <th>Comitato</th>
                    <th>Tipo</th>
                    <th>Inizio</th>
                    <th>Fine</th>
                    <th>Prot. Num.</th>
                    <th>Prot. Data</th>
                    <th>Motivo</th>
                </thead>
                <tbody>

                    {% for q in provvedimenti %}
                        <tr>
                            <td>{% if q.attuale %}Attuale{% else %}Passato{% endif %}</td>
                            <td>{{ q.sede.comitato }}</td>
                            <td>{{ q.get_tipo_display }}</td>
                            <td>{{ q.inizio|date:"SHORT_DATE_FORMAT" }}</td>
                            <td>{{ q.fine|date:"SHORT_DATE_FORMAT" }}</td>
                            <td>{{ q.protocollo_numero }}</td>
                            <td>{{ q.protocollo_data|date:"SHORT_DATE_FORMAT" }}</td>
                            <td>{{ q.motivazione }}</td>
                        </tr>

                    {% empty %}
                        <tr>
                            <td colspan="8" class="bg-warning">
                                <i class="fa fa-info"></i> Nessun provvedimento registrato.
                            </td>
                        </tr>

                    {% endfor %}
                </tbody>
            </table>


            </div>

        </div>



    </div>
</div>
{% endblock %}