{% extends "anagrafica_utente_vuota.html" %}

{% load bootstrap3 %}
{% load static %}
{% load utils %}

{% block app_contenuto %}

    {% if me.aspirante %}
        <div class="alert alert-success">
            <h4>
                <i class="fa fa-fw fa-info-circle"></i>
                Vuoi trovare Corsi Base vicino a te?
            </h4>
            <p>
                Clicca su "Aspirante" in alto a questa pagina per vedere i Corsi Base
                e le Sedi CRI nelle tue vicinanze.
            </p>
        </div>
    {% endif %}

    <div
            id="benvenuto"
            class="well well-lg allinea-centro" style="
            background-image: url('{% static 'img/welcome_img1.jpg' %}');
            background-size: cover;
            text-shadow: 1px 1px 0px white;
    ">
        <p>&nbsp;</p>
        <h1 class="nascosto">
            <span class="text-muted">Benvenut{{ me.genere_o_a }}</span>
            {{ me.nome }}<br />
        </h1>
        <h3 class="nascosto">oggi &egrave; un ottimo giorno per fare volontariato</h3>
        <p>&nbsp;</p>
        <p class="nascosto">
            Ultimo accesso {{ me.utenza.last_login }}
        </p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
    </div>

    {% if me.trasferimento and not me.trasferimento.con_scadenza %}
        <div class="alert alert-warning">
            <h4>
                <i class="fa fa-fw fa-warning"></i>
                Hai attualmente un trasferimento in attesa di approvazione
            </h4>
            <p>
                Per ragioni tecniche -risolte a partire dal {{ SETTINGS.DATA_AVVIO_TRASFERIMENTI_AUTO|date:"SHORT_DATE_FORMAT" }}- non è stato possibile approvare in automatico il trasferimento.<br>
                Vai alla <a href="/utente/trasferimenti/">sezione Trasferimenti</a> per maggiori informazioni.
            </p>
        </div>

    {% endif %}

    {% if me.nuovo_presidente %}
        <div class="alert alert-success">
            <p class="grassetto">
                <i class="fa fa-fw fa-smile-o"></i>
                Ciao neo {{ me | select_presidente_commissario_da_persona }}!
                <a href="/presidente/">
                    Hai gi&agrave; completato la check-list per il tuo Comitato?
                </a>
            </p>
        </div>

    {% endif %}

    {% if not me.numeri_telefono.exists %}
        <div class="alert alert-warning">
            <h4>
                <i class="fa fa-fw fa-warning"></i>
                Aggiungi il tuo numero di cellulare nella sezione Contatti
                <a href="/utente/contatti/" target="_new">
                    &mdash; vai alla sezione Contatti
                </a>

            </h4>
            <p>
                Cos&igrave; facendo, i responsabili delle attivit&agrave; alle quali parteciperai saranno
                in grado di contattarti tempestivamente, in caso di necessit&agrave;. Il tuo numero verr&agrave;
                inoltre condiviso con i delegati per le emergenze, e tutti coloro che deciderai.
            </p>
        </div>
    {% endif %}

    {% if me.titoli_personali.all.count < 3 %}
        <div class="alert alert-info">
            <h4>
                <i class="fa fa-fw fa-info-circle"></i>
                Completa il tuo Curriculum
                <a href="/utente/curriculum/" target="_new">
                    &mdash; vai alla sezione Competenze Personali
                </a>

            </h4>
            <p>
                {% if me.titoli_personali.all.exists %}
                    Hai solo {{ me.titoli_personali.all.count }} elementi nel
                    tuo curriculum tra competenze, patenti e titoli di studio.
                {% endif %}
                Usa il men&ugrave; "Curriculum" sulla sinistra per completare la tua scheda personale.
                Questo ti permetter&agrave; di partecipare alle attivit&agrave; che richiedono qualifiche
                particolari e di arricchire il tuo profilo.
            </p>
        </div>
    {% endif %}

    <div class="articoli">
    {% for articolo in articoli %}
        {% include "includes/elemento_lista.html" %}
    {% endfor %}
    </div>

    {% include "base_privacy_policy_popup.html" %}

{% endblock %}
