{% extends "base_vuota.html" %}

{% load bootstrap3 %}

{% block pagina_titolo %}
    Benvenuto in Gaia
{% endblock %}

{% block pagina_principale %}
<div class="container">

    <div class="row allinea-centro">

        <ul class="nav nav-tabs nav-justified piu-grande">
            {% for app_slug, app_nome, app_icona, app_num in user.applicazioni_disponibili %}
                <li role="presentation"{% if app_slug in request.path %} class="active"{% endif %}>
                    <a href="{{ app_slug }}" class="grassetto">
                        <i class="fa fa-fw {{ app_icona }}"></i>
                        {{ app_nome }}

                        {% if app_num %}
                            <span class="badge">
                                {{ app_num }}
                            </span>
                        {% endif %}
                    </a>
                </li>
            {% endfor %}
        </ul>

        <p>&nbsp;</p>

    </div>

    <div class="row">
            <button type="button" class="navbar-toggle collapsed btn btn-standard" data-toggle="collapse" data-target="#sezione" aria-expanded="false" aria-controls="navbar">
                <span>Mostra navigazione</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

        {% block menu_laterale %}
        <div class="{% block menu_laterale_col %}col-lg-3{% endblock %} well well-sm">


            <ul id="sezione" class="nav nav-pills nav-stacked navbar-collapse collapse">

                {% for sezione_nome, sezione_pagine in menu.utente %}

                    <li class="dropdown-header grassetto piu-grande">{{ sezione_nome }}</li>

                    {% for link_nome, link_icona, link_url in sezione_pagine %}

                        <li role="presentation" {% if request.path == link_url %}class="active"{% endif %}>
                            <a href="{{ link_url|urlencode }}">
                                <i class="fa {{ link_icona }} fa-fw"></i>
                                {{ link_nome }}
                            </a>
                        </li>

                    {% endfor %}

                    <hr />

                {% endfor %}

            </ul>

        </div>
        {% endblock %}

        <div class="{% block app_contenuto_col %}col-lg-9{% endblock %}">

            {% block app_contenuto %}
                Pagina in costruzione!
            {% endblock %}

        </div>

    </div>

</div>

{% endblock %}