<div class="row" style="margin-top: 5px;">
    <hr>
    <div class="col-md-12">
        <h3>Estesioni Attuali</h3>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Richiedente</th>
                    <th>Destinazione</th>
                    <th>Esito</th>
                    <th>Termina</th>
                </tr>
            </thead>
            <tbody>
                {% for estensione in attuali %}
                <tr>
                    {%  if estensione.attuale != 'n' %}
                    <td>{{ estensione.richiedente }}</td>
                    <td>{{ estensione.destinazione }}</td>
                    <td>{{ estensione.esito }}</td>
                    <td>
                        <a class="btn btn-danger" href="{{"/utente/estensione/"}}{{estensione.pk}}{{"/termina/"}}">
                            <i class="fa fa-trash"></i> Termina estensione.
                        </a>
                    </td>
                {% endif %}
                </tr>
                {% empty %}
                    <tr>
                        <td colspan="5" class="alert alert-warning">
                            <i class="fa fa-info-circle"></i> Nessuna estensione passata.
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <hr>
</div>


