{% extends "anagrafica_registrati.html" %}

{% block step_contenuto %}
    <div class="alert alert-info">
        <i class="fa fa-fw fa-warning"></i>
        Inserisci il tuo codice fiscale. Questo viene usato da Gaia per identificarti
        in modo univoco &mdash; assicurati quindi di inserire il codice esatatmente
        come riportato sul tuo tesserino CF o sulla tua tessera sanitaria.
    </div>

    {% if modulo.errors %}
        <div class="alert alert-danger">
            <h4>Sei gi&agrave; su Gaia?</h4>
            <p>Potresti essere gi&agrave; stato inserito.
                Prova a <a href="/password_reset/">recuperare la password</a>.</p>
        </div>
    {% endif %}

{% endblock %}