<table class="table table-striped">
    <thead>
        <th>
            <i class="fa fa-fw fa-calendar"></i>
            Turno e Attivit&agrave;
        </th>
        <th>
            <i class="fa fa-fw fa-clock-o"></i>
            Data e ora
        </th>
        <th>
            <i class="fa fa-fw fa-info-circle"></i>
            Stato
        </th>
        <th>
            <i class="fa fa-fw fa-times"></i>
            Aggiornamento
        </th>
    </thead>

    <tbody>

    {% for richiesta in storico %}
        <tr>
            <td style="width: 45%;">
                <span class="piu-grande">
                    {% if richiesta.turno.attivita.is_docenza %}
                        {{ richiesta.turno.nome }}
                    {% else %}
                        {{ richiesta.turno.link|safe }}
                    {% endif %}
                </span><br />
                {{ richiesta.turno.attivita.link|safe }}
            </td>
            <td>
                Inizio: <strong>{{ richiesta.turno.inizio|date:"SHORT_DATETIME_FORMAT" }}</strong><br />
                Fine: {{ richiesta.turno.fine|date:"SHORT_DATETIME_FORMAT" }}
            </td>
            <td>
                {% if richiesta.stato == richiesta.RICHIESTA %}

                    <p>
                    {% if richiesta.esito == richiesta.ESITO_OK %}

                        {% if richiesta.stato == richiesta.RICHIESTA %}
                            <span class="text-success grassetto piu-grande">
                                <i class="fa fa-fw fa-check"></i>
                                Approvata
                            </span>

                        {% else %}
                            <span class="text-success grassetto piu-grande">
                                <i class="fa fa-fw fa-times"></i>
                                Assente
                            </span>

                        {% endif %}


                    {% elif richiesta.esito == richiesta.ESITO_PENDING %}
                        <span class="alert-warning grassetto piu-grande">
                            <i class="fa fa-fw fa-clock-o"></i>
                            In attesa
                        </span>

                    {% elif richiesta.esito == richiesta.ESITO_RITIRATA %}
                        <span class="alert-warning grassetto piu-grande">
                            <i class="fa fa-fw fa-times"></i>
                            Ritirata
                        </span>

                    {% elif richiesta.esito == richiesta.ESITO_NO %}
                        <span class="text-danger grassetto piu-grande">
                            <i class="fa fa-fw fa-times"></i>
                            Negata
                        </span>

                    {% endif %}
                    </p>

                    <p>
                        <button type="button" class="btn btn-xs btn-block btn-default" data-container="body"
                                data-toggle="popover" data-placement="top"
                                data-html="true" data-title="Dettagli" data-content="

                            <table class='table table-condensed table-striped piu-piccolo'>
                            <tbody>
                            {% for autorizzazione in richiesta.autorizzazioni %}
                                <tr>
                                    <td>{% if autorizzazione.firmatario %}{{ autorizzazione.firmatario.nome_completo }}{% endif %}</td>
                                    <td>{{ autorizzazione.ultima_modifica }}</td>
                                    <td>
                                        {% if autorizzazione.concessa == True %}
                                            <i class='fa fa-fw fa-check'></i>
                                            Approvata

                                        {% elif autorizzazione.concessa == False %}
                                            <i class='fa fa-fw fa-times'></i>
                                            Negata

                                        {% else %}
                                            <i class='fa fa-fw fa-clock-o'></i>
                                            In attesa
                                        {% endif %}

                                    </td>
                                    <td>

                                        {% if autorizzazione.scadenza %}
                                            {{ autorizzazione.get_tipo_gestione_display }} il {{ autorizzazione.scadenza|date:"SHORT_DATETIME_FORMAT" }}
                                        {% endif %}

                                    </td>
                                </tr>


                            {% endfor %}
                            </tbody>
                            </table>


                        ">
                          Dettagli
                        </button>
                    </p>

                {% elif richiesta.stato == richiesta.NON_PRESENTATO %}
                    <span class="text-danger grassetto">
                        <i class="fa fa-fw fa-warning"></i>
                        Non presentato/a
                    </span>

                {% endif %}

            </td>
            <td>
                {{ richiesta.ultima_modifica|date:"SHORT_DATETIME_FORMAT" }}<br />
                <span class="piu-piccolo">
                    Richiesta: {{ richiesta.creazione|date:"SHORT_DATETIME_FORMAT" }}
                </span>
            </td>
        </tr>

    {% empty %}

        {% block storico_empty %}
        <tr class="info allinea-centro">
            <td colspan="4">
            <h4><i class="fa fa-fw fa-info-circle"></i> Nessuna richiesta di partecipazione</h4>
            <p>Vai al Calendario per trovare delle attivit&agrave; alle quali partecipare. Una volta richiesta
                la partecipazione, torna in questa pagina.</p>


            </td>
        </tr>
        {% endblock %}

    {% endfor %}

    </tbody>


</table>
