{% extends 'pdf_standard.html' %}

{% block corpo %}

<P ALIGN=RIGHT STYLE="margin-bottom: 0cm">Al Presidente del
{{ sede_attuale }}</P>
<P ALIGN=RIGHT STYLE="margin-bottom: 0cm"><BR>
</P>
<P ALIGN=RIGHT STYLE="margin-bottom: 0cm">E, p.c. al Presidente del
{{ trasferimento.destinazione }}</P>
<P ALIGN=RIGHT STYLE="margin-bottom: 0cm"><BR>
</P>
<P STYLE="margin-bottom: 0.35cm">Con la presente il sottoscritto
{{ trasferimento.richiedente.nome }} {{ trasferimento.richiedente.cognome }}, a nome e per conto di
{{ trasferimento.persona.nome }} {{ trasferimento.persona.cognome }} nato a {{ trasferimento.persona.comune_nascita }} il {{ trasferimento.persona.data_nascita }}, volontario presso il {{ sede_attuale }}, dal {{ data_inizio|date:"SHORT_DATE_FORMAT" }}.</P>
<P STYLE="margin-bottom: 0.35cm">Secondo l'articolo 9 del
Regolamento sull'organizzazione, attività, formazione e ordinamento dei Volontari
 approvato con delibera n° 34 del Consiglio Direttivo Nazionale del 23 settembre 2016:</P>
<P ALIGN=CENTER STYLE="margin-bottom: 0.35cm"><FONT SIZE=5><B>CHIEDE</B></FONT></P>
<P STYLE="margin-bottom: 0.35cm"><A NAME="_GoBack"></A>Il
trasferimento presso il {{ trasferimento.destinazione }} per {{ trasferimento.motivo }}</P>
<P ALIGN=RIGHT STYLE="margin-bottom: 0.35cm"><BR><BR>
</P>
<P ALIGN=LEFT STYLE="margin-bottom: 0.35cm">{{ trasferimento.creazione }}</P>
{% if not trasferimento.automatica %}
<div align="right" style="margin-top: 10px; padding-top: 10px align: right;">
			<span style="text-align: right; position: relative; right;">
				In Fede <br/>
			</span>
			<span style="text-align: right; position: relative; right;">
				F.to {{ trasferimento.richiedente.nome }} {{ trasferimento.richiedente.cognome }}
			</span>
		</div>
{% else %}
    <div style="margin-top: 10px; padding-top: 10px align: right; text-align: center">
        Il trasferimento è stato automaticamente approvato essendo decorsi trenta giorni, ai sensi dell'articolo 9.5 del "Regolamento sull'organizzazione, le attività, la formazione e l'ordinamento dei volontari"
    </div>
{% endif %}
{% endblock %}
