{% extends 'pdf_standard.html' %}

{% block corpo %}
  <P ALIGN=RIGHT STYLE="margin-bottom: 0cm">Al Presidente del
{{ sede_attuale }}</P>
<P ALIGN=RIGHT STYLE="margin-bottom: 0cm"><BR>
</P>
<P ALIGN=RIGHT STYLE="margin-bottom: 0cm">E, p.c. al Presidente del
{{ estensione.destinazione }}</P>
<P ALIGN=RIGHT STYLE="margin-bottom: 0cm"><BR>
</P>
<P STYLE="margin-bottom: 0.35cm">Con la presente il sottoscritto
{{ estensione.persona.nome }} {{ estensione.persona.cognome }} nato a {{ estensione.persona.comune_nascita }} il {{ estensione.persona.data_nascita }}, volontario presso il {{ sede_attuale }}, dal {{ appartenenza.inizio|date:"SHORT_DATE_FORMAT" }}.</P>
<P STYLE="margin-bottom: 0.35cm">Secondo l'articolo 10 del
Regolamento sull'organizzazione, attività, formazione e ordinamento dei Volontari
 approvato con delibera n° 34 del Consiglio Direttivo Nazionale del 23 settembre 2016:</P>
<P ALIGN=CENTER STYLE="margin-bottom: 0.35cm"><FONT SIZE=5><B>CHIEDE</B></FONT></P>
<P STYLE="margin-bottom: 0.35cm"><A NAME="_GoBack"></A>L'
estensione presso il {{ estensione.destinazione }} per {{ estensione.motivo }}</P>
<P ALIGN=RIGHT STYLE="margin-bottom: 0.35cm"><BR><BR>
</P>
<P ALIGN=LEFT STYLE="margin-bottom: 0.35cm">{{ estensione.creazione }}</P>
    <div align="right" style="margin-top: 10px; padding-top: 10px align: right;">
        <span style="text-align: right; position: relative; right;">
            In Fede <br/>
        </span>
        <span style="text-align: right; position: relative; right;">
            F.to {{ estensione.persona.nome }} {{ estensione.persona.cognome }}
        </span>
    </div>
{% endblock %}