<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th></th>
            <th>Valori</th>
        </tr>
    </thead>
    <tbody>
        {% if obj.tot %}

            {% for subtot in obj.tot %}
                <tr>
                    <td colspan="4" style="text-align: center; font-weight: bold; font-size: 14px">
                        {{ subtot.nome }}
                    </td>
                </tr>
                {% for k, v in subtot.statistiche.items %}
                    <tr>
                        <td class="nome">{{ k }}</td>
                        <td class="metrica" colspan="2">{{ v }}</td>
                    </tr>
                {% endfor %}
            {% endfor %}

        {% endif %}
    </tbody>
</table>
