{% extends "admin/change_list.html" %}
{% load admin_urls i18n %}

{% block object-tools %}
    <ul class="object-tools">
      {% block object-tools-items %}
        {% if has_add_permission %}
        <li>
          {% url cl.opts|admin_urlname:'add' as add_url %}
          <a href="{% add_preserved_filters add_url is_popup to_field %}" class="addlink">
            {% blocktrans with cl.opts.verbose_name as name %}Add {{ name }}{% endblocktrans %}
          </a>
        </li>
        {% endif %}
      {% endblock %}
      {% if perms.anagrafica.transfer_persona %}
        <li>
          {% url cl.opts|admin_urlname:'trasferisci' as custom_url %}
          <a href="{% add_preserved_filters custom_url is_popup to_field %}" class="customlink">
            {% blocktrans with cl.opts.verbose_name_plural as name %}Trasferisci {{ name }}{% endblocktrans %}
          </a>
        </li>
        <li>
            {% url "admin:anagrafica_persona_import_servizio_civile" as url_sevizio_civile %}
          <a href="{% add_preserved_filters url_sevizio_civile is_popup to_field %}" class="customlink">
            {% blocktrans with cl.opts.verbose_name_plural as name %}Import {{ name }} Servizio Civile{% endblocktrans %}
          </a>
        </li>
        <li>
          {% url cl.opts|admin_urlname:'report_conoscneza' as report_conoscenza_url %}
          <a href="{% add_preserved_filters report_conoscenza_url is_popup to_field %}" class="customlink" target="_blank">Report Conoscenza</a>
        </li>
      {% endif %}
    </ul>
{% endblock %}
