{% extends "anagrafica_utente_vuota.html" %}

{% load bootstrap3 %}

{% block app_contenuto %}
  <div class="articolo single-page">
    <h1>Monitoraggio 2019</h1>
    <h3>{{ section.2 }}</h3>

    <style>
      .typeform_widget {display:flex;justify-content:space-around;margin:25px 0 25px;padding:0;list-style:none;}
      .typeform_widget li {}
      .typeform_widget li a {background-color: #c00; color: #fff; padding: 7px 9px; border-radius: 3px;}
      .typeform_widget li a.done {background-color: #309f30;}
      .typeform_widget__wrapper {margin-bottom:25px;}
      .typeform_widget-tools {display: flex; justify-content: end;}
      .typeform_widget-tools ul {list-style:none; margin:0;
      .typeform_widget-tools li {padding: 0 15px;}
    </style>

    <ul class="typeform_widget">
      <li><a href="?id=by6gIZ" class="{%if type_form.by6gIZ.0 %}done{%endif%} typeform_widget__btn">Sezione A</a></li>
      <li><a href="?id=AX0Rjm" class="{%if type_form.AX0Rjm.0 %}done{%endif%} typeform_widget__btn">Sezione B</a></li>
      <li><a href="?id=FZlCpn" class="{%if type_form.FZlCpn.0 %}done{%endif%} typeform_widget__btn">Sezione C</a></li>
      <li><a href="?id=artG8g" class="{%if type_form.artG8g.0 %}done{%endif%} typeform_widget__btn">Sezione D</a></li>
      <li><a href="?id=r3IRy8" class="{%if type_form.r3IRy8.0 %}done{%endif%} typeform_widget__btn">Sezione E</a></li>
      <li><a href="?id=DhH3Mk" class="{%if type_form.DhH3Mk.0 %}done{%endif%} typeform_widget__btn">Sezione F</a></li>
      <li><a href="?id=W6G6cD" class="{%if type_form.W6G6cD.0 %}done{%endif%} typeform_widget__btn">Sezione G</a></li>
    </ul>

    <div class="typeform_widget__wrapper">
      {% if typeform_id and user_comitato and user_id %}
        <div class="typeform-widget" data-url="https://crocerossaitaliana.typeform.com/to/{{typeform_id}}?c={{user_comitato}}&u={{user_id}}" data-transparency="100" data-hide-headers=true data-hide-footer=true style="width: 100%; height: 500px;"></div>
        <script> (function() { var qs,js,q,s,d=document, gi=d.getElementById, ce=d.createElement, gt=d.getElementsByTagName, id="typef_orm", b="https://embed.typeform.com/"; if(!gi.call(d,id)) { js=ce.call(d,"script"); js.id=id; js.src=b+"embed.js"; q=gt.call(d,"script")[0]; q.parentNode.insertBefore(js,q) } })() </script>
      {% endif %}

      <p style="text-align:center;"><strong>
        {% if all_forms_are_completed %}
          Complimenti! Hai compilato tutto il monitoraggio.
        {% elif is_done %}
          Questa sezione è già compilata.
        {% endif %}
      </strong></p>
    </div>

    <div>
      <p>Puoi trovare le linee guida per compilare il monitoraggio 2019 a <a href="#">questo link</a>.</p>
    </div>

    <div class="typeform_widget-tools">
      <ul class="typeform_widget-tools__list">
        <li><a class="monitoraggio_action_btn" href="{% if all_forms_are_completed %}{% url 'pages:monitoraggio_actions' %}?action=print{% else %}#{% endif %}" target="_blank"><i class="fa fa-print fa-fw"></i> Stampa le risposte</a></li>
        <li><a class="monitoraggio_action_btn" href="{% if all_forms_are_completed %}{% url 'pages:monitoraggio_actions' %}?action=send_via_mail{% else %}#{% endif %}" target="_blank"><i class="fa fa-envelope fa-fw"></i> Invia via e-mail</a></li>
      </ul>
    </div>

    <script>
      {% if celery_task_id %}var celery_task_id = "{{ celery_task_id }}";{% endif %}

      $('.typeform_widget__btn').on('click', function(e) {
        if ($(this).hasClass('done')) {
          e.preventDefault();
          alert("Hai già compilato questa form.");
        }
      });

      var all_forms_are_completed = {{ all_forms_are_completed }};
      $('.monitoraggio_action_btn').on('click', function(e){
        if (all_forms_are_completed === 0) {
          alert('Attenzione! Compila prima le parti mancanti del monitoraggio');
          e.preventDefault();
        }
      });
    </script>
  </div>

  {% if has_privacy_popup %}
    {% include "base_privacy_policy_popup.html" %}
  {% endif %}

{% endblock %}
