{% extends "anagrafica_utente_vuota.html" %}

{% load bootstrap3 %}

{% block app_contenuto %}
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
  <div class="articolo single-page">
    <h3>Questionario Fabbisogni Formativi <span style="color:#555; font-size:24px;">- {{ comitato }}</span></h3>
      <br>
      <p style="font-size: 10pt">
          <b>La Rilevazione dei Fabbisogni Formativi per i Comitati Territoriali</b><br>
          L’obiettivo della rilevazione dei fabbisogni formativi è quello di individuare la tipologia di formazione necessaria e i relativi docenti che possano colmare le esigenze formative dei territori e conseguentemente formare Volontari sempre più consapevoli e preparati. <br>
          Nel Regolamento dei Corsi di formazione per Volontari e Dipendenti della Croce Rossa Italiana, all’articolo 51, si prevede di monitorare annualmente i bisogni formativi dei Comitati Territoriali e Regionali in modo da aver un quadro di sistema per la programmazione dei corsi per l’anno successivo. Nella norma si dà rilievo ai bisogni espressi dai Comitati in termini di <b>competenze specifiche</b> da impiegare nei territori al fine di formare Volontari competenti a fronteggiare le diverse attività di informazione, prevenzione ed emergenza. In linea con il dettato normativo si è previsto di strutturare due questionari, uno in successione temporale rispetto all’altro, il primo dedicato ai Comitati Territoriali ed il secondo dedicato ai Comitati Regionali. <br>
          Il questionario che sottoponiamo è quello dedicato ai Comitati Territoriali e potrà essere compilato da parte del Presidente, del Commissario o del Responsabile Formazione <b>entro il 30 luglio di ogni anno</b>. <br>
          Per ogni ulteriore informazione potete contattare l’Unità Operativa Formazione dei Volontari: <a href="formazione@cri.it">formazione@cri.it</a>
      </p>
      <p style="font-size: 10pt">
          Clicca <a href="https://datafiles.gaia.cri.it/media/filer_public/42/57/4257d2b0-2b65-441a-a1fe-7ededfb42883/anteprima_territoriale.xlsx" download target="_blank">QUI</a> per scaricare l'anteprima delle domande.
      </p>
    
    {% if can_compile %}
      <ul class="typeform_widget">
        <li><a href="?comitato={{user_comitato}}&id=ZrgLp6bQ" class="{%if type_form.ZrgLp6bQ.0 %}done{%endif%} typeform_widget__btn testi-lunghi hand" title="Questionario Fabbisogni Formativi">Questionario Fabbisogni Formativi</a></li>
      </ul>

      <div class="typeform_widget__wrapper">
        {% if not is_done %}
          {% if typeform_id and user_comitato and user_id %}
  {#          <div class="typeform-widget" data-url="https://crocerossaitaliana.typeform.com/to/{{typeform_id}}?c={{user_comitato}}&u={{user_id}}&nc={{nome_comitato}}&nr={{nome_regionale}}" data-transparency="100" data-hide-headers=true data-hide-footer=true style="width: 100%; height: 500px;"></div>#}
              <div id="typeform-widget" style="width: 100%; height: 550px;"></div>

              <script>
              {#(function() {#}
              {#    var qs, js, q, s, d = document,#}
              {#        gi = d.getElementById,#}
              {#        ce = d.createElement,#}
              {#        gt = d.getElementsByTagName,#}
              {#        id = "type_form",#}
              {#        b = "https://embed.typeform.com/";#}
              {#    if (!gi.call(d, id)) {#}
              {#        js = ce.call(d, "script");#}
              {#        js.id = id;#}
              {#        js.src = b + "embed.js";#}
              {#        q = gt.call(d, "script")[0];#}
              {#        q.parentNode.insertBefore(js, q)#}
              {#    }#}
              {#})()#}


              {#Vedi qua: https://github.com/Typeform/embed/blob/main/packages/demo-html/public/popup-js.html#}
              {#    o qua: https://medium.com/typeforms-engineering-blog/typeform-embed-sdk-is-going-open-source-997d2626cf2a#}
              src="https://embed.typeform.com/embed.js"
              window.typeformEmbed.makeWidget(
                  document.getElementById("typeform-widget"),
                  "https://crocerossaitaliana.typeform.com/to/{{typeform_id}}?c={{user_comitato}}&u={{user_id}}&nc={{nome_comitato}}&nr={{nome_regionale}}",
                  {
                      hideHeaders: true,
                      hideFooter: true
                  }
              );
              </script>
          {% endif %}
        {% endif %}

        <p style="text-align:center;"><strong>
          {% if all_forms_are_completed %}
            Complimenti! Hai compilato il questionario "Questionario Fabbisogni Formativi per i comitati Territoriali".<br>
            Clicca su "Invia via e-mail al Regionale" per trasmettere i dati inseriti.
          {% elif is_done %}
            Questa sezione è già compilata.
          {% endif %}
        </strong></p>
      </div>
      <p style="font-size: 10pt;">
          Per passare da una domanda all'altra scorrere con il mouse.
      </p>
{#    <div>#}
{#      <p>Prima di iniziare il questionario, puoi consultare le istruzioni per la compilazione e il glossario ai link di seguito:#}
{#        <a href="https://datafiles.gaia.cri.it/media/filer_public/7a/6e/7a6e0fe0-a3f8-42ac-bca4-5a5873355049/allegato_2-glossario.pdf" target="_blank">glossario</a>, #}
{#        <a href="https://datafiles.gaia.cri.it/media/filer_public/0a/df/0adf98bf-2789-480d-931e-400850aaff20/allegato_1-_guida_alla_compilazione_questionario_e_faq.pdf" target="_blank">istruzioni</a><br>#}
{#        Per una agevole raccolta dei dati, puoi <a target="_blank" href="https://datafiles.gaia.cri.it/media/filer_public/50/fe/50fe80bf-4f89-4b96-b486-4cc78f6c5c24/questionario_monitoraggio_comitati_2020_dati_2019.pdf">consultare il pdf</a> delle domande prima di procedere alla compilazione del questionario.#}
{#      </p>#}
{#    </div>#}

    {% endif %}
    {% if all_forms_are_completed %}
        {% if not can_compile %}
          <p class="margine-verticale-20 grassetto">Il Questionario non è più disponibile in quanto il termine ultimo è scaduto. Puoi comunque scaricare le risposte.</p>
        {% endif %}
        
        <div class="typeform_widget-tools">
          <ul class="typeform_widget-tools__list">
            <li><a class="monitoraggio_action_btn" href="{% url 'pages:monitoraggio_actions' %}?action=print&target={{ target }}&comitato={{user_comitato}}" target="_blank"><i class="fa fa-print fa-fw"></i> Stampa le risposte</a></li>
            {% if can_compile %}
              <li><a class="monitoraggio_action_btn" href="{% url 'pages:monitoraggio_actions' %}?action=send_via_mail&target={{ target }}&comitato={{user_comitato}}" target="_blank"><i class="fa fa-envelope fa-fw"></i> Invia via e-mail a te stesso</a></li>
              <li><a class="monitoraggio_action_btn" href="{% url 'pages:monitoraggio_actions' %}?action=send_via_mail_regionale&target={{ target }}&comitato={{user_comitato}}" target="_blank"><i class="fa fa-envelope fa-fw"></i> Invia via e-mail al regionale</a></li>
            {% endif %}
          </ul>
        </div>
    {% else %}
        {% if not can_compile %}
          <p class="margine-verticale-20 grassetto">Risposte non disponibili, in quanto il questionario non è stato compilato entro il termine ultimo.</p>
        {% endif %}
    {% endif %}

    <script>
      {% if celery_task_id %}var celery_task_id = "{{ celery_task_id }}";{% endif %}

      $('.typeform_widget__btn').on('click', function(e) {
        if ($(this).hasClass('finito')) {
          e.preventDefault();
          alert("Il tempo di compilare i fabbisogni formativi e finito.");
        } else if ($(this).hasClass('done')) {
            e.preventDefault();
            alert("Hai già compilato questa form. ");
        } else {
          $('body').prepend('<div class="typeform_widget-loading"><div class="text">Caricamento ...</div></div>');
        }
      });

      var all_forms_are_completed = {{ all_forms_are_completed }};
      $('.monitoraggio_action_btn').on('click', function(e){
        if (all_forms_are_completed === 0) {
          alert('Attenzione! Compila prima le parti mancanti del monitoraggio');
          e.preventDefault();
        }
      });
    </script>
  </div>

  {% if has_privacy_popup %}
    {% include "base_privacy_policy_popup.html" %}
  {% endif %}

{% endblock %}
