{% extends "anagrafica_utente_vuota.html" %}

{% load bootstrap3 %}

{% block app_contenuto %}
  <div class="articolo single-page">
    <h1>Monitoraggio 2018 <span style="color:#555; font-size:24px;">- {{ comitato }}</span></h1>
    <h3>{{ section.2 }}</h3>

    <ul class="typeform_widget">
      <li><a href="?comitato={{user_comitato}}&id=by6gIZ" class="{%if type_form.by6gIZ.0 %}done{%endif%} typeform_widget__btn">Sezione A</a></li>
      <li><a href="?comitato={{user_comitato}}&id=AX0Rjm" class="{%if type_form.AX0Rjm.0 %}done{%endif%} typeform_widget__btn">Sezione B</a></li>
      <li><a href="?comitato={{user_comitato}}&id=FZlCpn" class="{%if type_form.FZlCpn.0 %}done{%endif%} typeform_widget__btn">Sezione C</a></li>
      <li><a href="?comitato={{user_comitato}}&id=artG8g" class="{%if type_form.artG8g.0 %}done{%endif%} typeform_widget__btn">Sezione D</a></li>
      <li><a href="?comitato={{user_comitato}}&id=r3IRy8" class="{%if type_form.r3IRy8.0 %}done{%endif%} typeform_widget__btn">Sezione E</a></li>
      <li><a href="?comitato={{user_comitato}}&id=DhH3Mk" class="{%if type_form.DhH3Mk.0 %}done{%endif%} typeform_widget__btn">Sezione F</a></li>
      <li><a href="?comitato={{user_comitato}}&id=W6G6cD" class="{%if type_form.W6G6cD.0 %}done{%endif%} typeform_widget__btn">Sezione G</a></li>
    </ul>

    <div class="typeform_widget__wrapper">
      {% if not is_done %}
        {% if typeform_id and user_comitato and user_id %}
          <div class="typeform-widget" data-url="https://crocerossaitaliana.typeform.com/to/{{typeform_id}}?c={{user_comitato}}&u={{user_id}}" data-transparency="100" data-hide-headers=true data-hide-footer=true style="width: 100%; height: 500px;"></div>
          <script> (function() { var qs,js,q,s,d=document, gi=d.getElementById, ce=d.createElement, gt=d.getElementsByTagName, id="typef_orm", b="https://embed.typeform.com/"; if(!gi.call(d,id)) { js=ce.call(d,"script"); js.id=id; js.src=b+"embed.js"; q=gt.call(d,"script")[0]; q.parentNode.insertBefore(js,q) } })() </script>
        {% endif %}
      {% endif %}

      <p style="text-align:center;"><strong>
        {% if all_forms_are_completed %}
          Complimenti! Hai compilato tutto il monitoraggio.
        {% elif is_done %}
          Questa sezione è già compilata.
        {% endif %}
      </strong></p>
    </div>

    <div>
      <p>Prima di iniziare il questionario, puoi consultare le istruzioni per la compilazione e il glossario ai link di seguito:
        <a href="/page/m-glossario/" target="_blank">glossario</a>, <a href="/page/m-istruzioni/" target="_blank">istruzioni</a></p>
    </div>

    {% if all_forms_are_completed %}
    <div class="typeform_widget-tools">
      <ul class="typeform_widget-tools__list">
        <li><a class="monitoraggio_action_btn" href="{% url 'pages:monitoraggio_actions' %}?action=print" target="_blank"><i class="fa fa-print fa-fw"></i> Stampa le risposte</a></li>
        <li><a class="monitoraggio_action_btn" href="{% url 'pages:monitoraggio_actions' %}?action=send_via_mail" target="_blank"><i class="fa fa-envelope fa-fw"></i> Invia via e-mail</a></li>
      </ul>
    </div>
    {% endif %}

    <script>
      {% if celery_task_id %}var celery_task_id = "{{ celery_task_id }}";{% endif %}

      $('.typeform_widget__btn').on('click', function(e) {
        if ($(this).hasClass('done')) {
          e.preventDefault();
          alert("Hai già compilato questa form.");
        } else {
          $('body').prepend('<div class="typeform_widget-loading"><div class="text">Caricamento ...</div></div>');
        }
      });

      var all_forms_are_completed = {{ all_forms_are_completed }};
      $('.monitoraggio_action_btn').on('click', function(e){
        if (all_forms_are_completed === 0) {
          alert('Attenzione! Compila prima le parti mancanti del monitoraggio');
          e.preventDefault();
        }
      });
    </script>
  </div>

  {% if has_privacy_popup %}
    {% include "base_privacy_policy_popup.html" %}
  {% endif %}

{% endblock %}
