{% extends "anagrafica_utente_vuota.html" %}

{% load bootstrap3 %}

{% block app_contenuto %}
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
  <div class="articolo single-page">
    <h3>Questionario Trasparenza L. 124/2017 <span style="color:#555; font-size:24px;">- {{ comitato }}</span></h3>
    <p style="font-size: 10pt">
        L’Associazione, in quanto Rete Associativa Nazionale, al fine di rendere il necessario supporto al territorio e di garantire l’uniformità nella pubblicazione delle informazioni di cui alla l. 124/2017,
        ha implementato il portale GAIA prevedendo una specifica sezione dedicata all’inserimento dei dati richiesti dalla legge per la successiva pubblicazione.
        L’Associazione, una volta raccolte le informazioni necessarie, mediante la compilazione, a cura dei Presidenti dei Comitati CRI, procederà, nei termini di legge, a pubblicare, in forma aggregata,
        nell’apposita sezione del sito istituzionale CRI le informazioni così ricevute dai Comitati.
        Rimane ferma la facoltà per ciascun Comitato di procedere alla pubblicazione in forma autonoma.
    </p>
    <b>
        Il Form dovrà essere compilato entro il 31/05/2021, per consentire la successiva raccolta dei dati forniti.
    </b>
  <p style="font-size: 10pt">
      Per consultare il questionario prima della compilazione puoi cliccare <a href="https://datafiles.gaia.cri.it/media/filer_public/68/4d/684dc73f-5b5d-43a1-9869-06abcf6ae944/form_monitoraggio_l1242020_rev_1602_2_1.pdf" target="_blank">QUI</a>
      <br>
      Come strumento di supporto ti abbiamo condiviso il <a href="https://datafiles.gaia.cri.it/media/filer_public/05/7c/057ce599-879a-48b4-9774-427135008c2a/vademecum_obblighi_di_pubblcita_rev_2021_1.pdf" target="_blank">VADEMECUM</a>
  </p>

  {% if can_compile %}
    <ul class="typeform_widget">
      <li><a href="?comitato={{user_comitato}}&id=Jo7AmkVU" class="{%if type_form.Jo7AmkVU.0 %}done{%endif%} typeform_widget__btn testi-lunghi hand" title="Questionario Trasparenza L. 124/2017">Questionario Trasparenza L. 124/2017</a></li>
    </ul>

    <div class="typeform_widget__wrapper">
      {% if not is_done %}
        {% if typeform_id and user_comitato and user_id %}
          <div class="typeform-widget" data-url="https://crocerossaitaliana.typeform.com/to/{{typeform_id}}?c={{user_comitato}}&u={{user_id}}&nc={{nome_comitato}}&nr={{nome_regionale}}" data-transparency="100" data-hide-headers=true data-hide-footer=true style="width: 100%; height: 500px;"></div>
          <script> (function() { var qs,js,q,s,d=document, gi=d.getElementById, ce=d.createElement, gt=d.getElementsByTagName, id="typef_orm", b="https://embed.typeform.com/"; if(!gi.call(d,id)) { js=ce.call(d,"script"); js.id=id; js.src=b+"embed.js"; q=gt.call(d,"script")[0]; q.parentNode.insertBefore(js,q) } })() </script>
        {% endif %}
      {% endif %}

      <p style="text-align:center;"><strong>
        {% if all_forms_are_completed %}
          Complimenti! Hai compilato il questionario "Sovvenzioni, contributi, incarichi retribuzioni e vantagi economici L.N. 14/2017, Art. 1 Comma 125" per l'anno 2020".<br>
          Clicca su "Invia via e-mail al Regionale" per trasmettere i dati inseriti.
        {% elif is_done %}
          Questa sezione è già compilata.
        {% endif %}
      </strong></p>
    </div>
    <p style="font-size: 10pt;">
        Per passare da una domanda all'altra scorrere con il mouse.
    </p>

  {% endif %}

{#    <div>#}
{#      <p>Prima di iniziare il questionario, puoi consultare le istruzioni per la compilazione e il glossario ai link di seguito:#}
{#        <a href="https://datafiles.gaia.cri.it/media/filer_public/7a/6e/7a6e0fe0-a3f8-42ac-bca4-5a5873355049/allegato_2-glossario.pdf" target="_blank">glossario</a>, #}
{#        <a href="https://datafiles.gaia.cri.it/media/filer_public/0a/df/0adf98bf-2789-480d-931e-400850aaff20/allegato_1-_guida_alla_compilazione_questionario_e_faq.pdf" target="_blank">istruzioni</a><br>#}
{#        Per una agevole raccolta dei dati, puoi <a target="_blank" href="https://datafiles.gaia.cri.it/media/filer_public/50/fe/50fe80bf-4f89-4b96-b486-4cc78f6c5c24/questionario_monitoraggio_comitati_2020_dati_2019.pdf">consultare il pdf</a> delle domande prima di procedere alla compilazione del questionario.#}
{#      </p>#}
{#    </div>#}

    {% if all_forms_are_completed %}
        <div class="typeform_widget-tools">
          <ul class="typeform_widget-tools__list">
            <li><a class="monitoraggio_action_btn" href="{% url 'pages:monitoraggio_actions' %}?action=print&target={{ target }}&comitato={{user_comitato}}" target="_blank"><i class="fa fa-print fa-fw"></i> Stampa le risposte</a></li>
            {% if can_compile %}
              <li><a class="monitoraggio_action_btn" href="{% url 'pages:monitoraggio_actions' %}?action=send_via_mail&target={{ target }}&comitato={{user_comitato}}" target="_blank"><i class="fa fa-envelope fa-fw"></i> Invia via e-mail a te stesso</a></li>
              <li><a class="monitoraggio_action_btn" href="{% url 'pages:monitoraggio_actions' %}?action=send_via_mail_regionale&target={{ target }}&comitato={{user_comitato}}" target="_blank"><i class="fa fa-envelope fa-fw"></i> Invia via e-mail al regionale</a></li>
            {% endif %}
          </ul>
        </div>
        {% if not can_compile %}
          <p class="margine-verticale-20 grassetto">Il Questionario non è più disponibile in quanto il termine ultimo è scaduto. Puoi comunque scaricare le risposte.</p>
        {% endif %}
    {% else %}
        {% if not can_compile %}
          <p class="margine-verticale-20 grassetto">Risposte non disponibili, in quanto il questionario non è stato compilato entro il termine ultimo.</p>
        {% endif %}
    {% endif %}

    <script>
      {% if celery_task_id %}var celery_task_id = "{{ celery_task_id }}";{% endif %}

      $('.typeform_widget__btn').on('click', function(e) {
        if ($(this).hasClass('done')) {
          e.preventDefault();
          alert("Hai già compilato questa form.");
        } else {
          $('body').prepend('<div class="typeform_widget-loading"><div class="text">Caricamento ...</div></div>');
        }
      });

      var all_forms_are_completed = {{ all_forms_are_completed }};
      $('.monitoraggio_action_btn').on('click', function(e){
        if (all_forms_are_completed === 0) {
          alert('Attenzione! Compila prima le parti mancanti del monitoraggio');
          e.preventDefault();
        }
      });
    </script>
  </div>

  {% if has_privacy_popup %}
    {% include "base_privacy_policy_popup.html" %}
  {% endif %}

{% endblock %}
