{% extends "anagrafica_utente_vuota.html" %}

{% load bootstrap3 %}

{% block app_contenuto %}
  <div class="articolo single-page">
    <h1>{{ titolo }}</h1>

{#    <p>Per quale comitato vuoi compilare il monitoraggio?</p>#}

    {% for delega in deleghe %}
      <div>
          <a href="{% url 'pages:'|add:url %}?comitato={{ delega.oggetto.id }}{% if idtypeform %}{{ idtypeform }}{% endif %}">{{ delega.oggetto }} ({{ delega.get_tipo_display }})</a>
      </div>
    {% empty %}
      <p>L'utenza non ha deleghe attive.</p>
    {% endfor %}

  {% if has_privacy_popup %}
    {% include "base_privacy_policy_popup.html" %}
  {% endif %}

{% endblock %}
