/**
 * (c)2015 Croce Rossa Italiana
 */

.sfondo-grigio-chiaro {
    background-color: #f5f5f5;
}

.sfondo-bianco {
    background-color: #ffffff;
}

.grassetto {
    font-weight: bold;
}

.corsivo {
    font-style: italic;
}

.piu-grande {
    font-size: larger;
}

.piu-piccolo {
    font-size: smaller;
}

.rosso-scuro {
    color: #CC0000;
}

.grigio-scuro {
    color: #333;
}

.margine-nullo {
    margin: 0px 0px 0px 0px;
}

.margine-nullo-sopra {
    margin-top: 0px;
}

.margine-nullo-sotto {
    margin-bottom: 0px;
}

.margine-nullo-destra {
    margin-right: 0px;
}

.margine-nullo-sinistra {
    margin-left: 0px;
}

.padding-nullo {
    padding: 0px 0px 0px 0px;
}

.padding-nullo-sopra {
    padding-top: 0px;
}

.padding-nullo-sotto {
    padding-bottom: 0px;
}

.padding-nullo-destra {
    padding-right: 0px;
}

.padding-nullo-sinistra {
    padding-left: 0px;
}

.allinea-centro {
    text-align: center;
}

.allinea-destra {
    text-align: right;
}

.allinea-sinistra {
    text-aligh: left;
}

.margine-verticale-20 {
    margin-top: 20px;
    margin-bottom: 20px;
}

.padding-verticale-20 {
    padding-top: 20px;
    padding-bottom: 20px;
}

.padding-verticale-40 {
    padding-top: 40px;
    padding-bottom: 40px;
}

.padding-verticale-60 {
    padding-top: 60px;
    padding-bottom: 60px;
}

.bordi-arrotondati-5 {
    border-radius: 10px 10px;
}

.testo-bianco {
    color: white;
}

.testo-ombra-nera {
    text-shadow: 1px 1px 2px black, 0px 0px 1px black;
}

.testo-ombra-nulla {
    text-shadow: none;
}

#sezione {
    padding: 0px 0px;
}

#sezione li a {
    padding: 5px 10px;
}

#sezione hr {
    margin: 5px 0px;
}

.nascosto {
    display: none;
}

body, p, span, div {
    font-family: 'Telex';
}

.calendario-turno {
    padding-top: 4px;
    padding-left: 5px;
    padding-bottom: 10px;
    margin-bottom: 4px;
    border-radius: 2px;
    cursor: pointer;
    border-left: 2px solid transparent;
}

.calendario-turno:hover {
    border-left: 2px solid red;
}

.calendario-giorno {
    text-align: center;
    padding: 20px;
}

.calendario-giorno .giorno-settimana {
    padding: 4px;
    background-color: #3c3c3c;
    color: white;
    font-size: larger;
    font-weight: bold;
}

.calendario-giorno .giorno {
    font-size: xx-large;
}

.calendario-giorno .mese {
    padding: 4px;
    background-color: #222222;
    color: white;
    font-size: larger;
}

.commento-riga {
    padding: 8px;
    background-color: #fcfcfd;
    margin-bottom: 5px;
    border: 2px solid #adadad;
    border-left-width: 1px;
    border-top-width: 1px;
    border-radius: 4px;
}

.commenti-box {
    border-bottom: 2px solid #9d9d9d;
    padding: 8px;
    overflow-y: scroll;
}

.monospace {
    font-family: "Bitstream Vera Sans Mono", Monaco, "Courier New", Courier, monospace;
}

.enorme {
    font-size: 72px;
}