/**
 * (c)2015 Croce Rossa Italiana
 */

.sfondo-grigio-chiaro {
    background-color: #f5f5f5;
}

.sfondo-bianco {
    background-color: #ffffff;
}

.grassetto {
    font-weight: bold;
}

.corsivo {
    font-style: italic;
}

.piu-grande {
    font-size: larger;
}

.piu-piccolo {
    font-size: smaller;
}

.rosso-scuro {
    color: #CC0000;
}

.grigio-scuro {
    color: #333;
}

.margine-nullo {
    margin: 0px 0px 0px 0px;
}

.margine-nullo-sopra {
    margin-top: 0px;
}

.margine-nullo-sotto {
    margin-bottom: 0px;
}

.margine-nullo-destra {
    margin-right: 0px;
}

.margine-nullo-sinistra {
    margin-left: 0px;
}

.padding-nullo {
    padding: 0px 0px 0px 0px;
}

.padding-nullo-sopra {
    padding-top: 0px;
}

.padding-nullo-sotto {
    padding-bottom: 0px;
}

.padding-nullo-destra {
    padding-right: 0px;
}

.padding-nullo-sinistra {
    padding-left: 0px;
}

.allinea-centro {
    text-align: center;
}

.allinea-destra {
    text-align: right;
}

.allinea-sinistra {
    text-align: left;
}

.margine-verticale-20 {
    margin-top: 20px;
    margin-bottom: 20px;
}

.padding-verticale-20 {
    padding-top: 20px;
    padding-bottom: 20px;
}

.padding-sotto-15 {
    padding-top: 0px;
    padding-bottom: 15px;
}

.padding-verticale-40 {
    padding-top: 40px;
    padding-bottom: 40px;
}

.padding-verticale-60 {
    padding-top: 60px;
    padding-bottom: 60px;
}

.bordi-arrotondati-5 {
    border-radius: 10px 10px;
}

.testo-bianco {
    color: white;
}

.testo-ombra-nera {
    text-shadow: 1px 1px 2px black, 0px 0px 1px black;
}

.testo-ombra-nulla {
    text-shadow: none;
}

#sezione, #sezione-2 {
    padding: 0px 0px;
}

#sezione li a, #sezione-2 li a {
    padding: 5px 10px;
}

#sezione hr, #sezione-2 hr {
    margin: 5px 0px;
}

.nascosto {
    display: none;
}

body, p, span, div {
    font-family: 'Arial';
}

.calendario-turno {
    padding-top: 4px;
    padding-left: 5px;
    padding-bottom: 10px;
    margin-bottom: 4px;
    border-radius: 2px;
    cursor: pointer;
    border-left: 2px solid transparent;
}

.calendario-turno:hover {
    border-left: 2px solid red;
}

.calendario-giorno {
    text-align: center;
    padding: 20px;
}

.calendario-giorno .giorno-settimana {
    padding: 4px;
    background-color: #3c3c3c;
    color: white;
    font-size: larger;
    font-weight: bold;
}

.calendario-giorno .giorno {
    font-size: xx-large;
}

.calendario-giorno .mese {
    padding: 4px;
    background-color: #222222;
    color: white;
    font-size: larger;
}

.commento-riga {
    padding: 8px;
    background-color: #fcfcfd;
    margin-bottom: 5px;
    border: 2px solid #adadad;
    border-left-width: 1px;
    border-top-width: 1px;
    border-radius: 4px;
}

.commenti-box {
    border-bottom: 2px solid #9d9d9d;
    padding: 8px;
    overflow-y: scroll;
}

.monospace {
    font-family: "Bitstream Vera Sans Mono", Monaco, "Courier New", Courier, monospace;
}

#navbar-logo {
    margin-right: 5px;
    height: 100%;
}

.nabar-brand-custom {
    padding-top: 5px;
    padding-bottom: 5px;
    line-height: 2.3em;
}

.logo-uica {
    width:128px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#menu-applicazione ul li a {
    padding: 8px 4px;
}

.badge-danger {
    background-color: #CC0000;
}

.padding-15 {
    padding: 15px;
}

.box-ombreggiato-2 {
    box-shadow: 1px 2px 4px gray;
}

.articolo img[align=left] {
    padding: 5px 5px 5px 0;
}
.articolo img[align=right] {
    padding: 5px 0 5px 5px;
}

.table.table-striped.table-condensed.piu-piccolo td{
    padding-top: 15px;
}

.table.table-striped.table-condensed.piu-piccolo td .form-group{
    margin-bottom: 0;
}

.typeform_widget {display:flex;  margin:25px 0 25px; padding:0; list-style:none;}
.typeform_widget li {margin-right: 10px;}
.typeform_widget li a {background-color: #c00; color: #fff; padding: 7px 9px; border-radius: 3px;}
.typeform_widget li a.done {background-color: #309f30;}
.typeform_widget__wrapper {margin-bottom:25px;}
.typeform_widget-tools {display: flex; justify-content: end;}
.typeform_widget-tools ul {list-style:none; margin:0;}
.typeform_widget-tools li {padding: 0 15px;}
.typeform_widget-loading {position:absolute; z-index:100; width:100%; height:auto; min-height:100%; background-color:rgba(0,0,0,0.5);}
.typeform_widget-loading .text {text-align:center;margin: -20% 0 0 0; font-size:32px; color: #fff; font-weight: bold; padding-top: 40%;}


.testi-lunghi {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.hand:hover {
    cursor: pointer;
}

.wait:hover {
    cursor: wait;
}

.form-check {
    margin-bottom: 5px;
}

.form-check .margine-nullo {
    padding-right: 10px;
}
.form-check input[type='radio']:checked {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
}

.form-check input[type='radio']:checked:after {
    width: 13px;
    height: 13px;
    border-radius: 13px;
    position: relative;
    background: #555;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 3px solid #ccc;
    left: 1px;
}