.footer-container-fluid {
  width: 100%;
  margin-top: auto;
}
.footer-container-fluid__copyright {
  text-align: center;
  color: #fff;
}
.footer-main {
  background-color: #cc0000;
  padding-top: 25px;
  padding-bottom: 25px;
}
.footer-main__nav {
  margin: 0 auto;
  padding: 0;
  list-style: none;
  text-align: center;
  margin-bottom: 15px;
}
.footer-main__link {
  display: inline-block;
  margin-right: 10px;
}
.footer-main__link:last-child {
  margin-right: 0;
}
.footer-main__link a {
  color: #fff;
}
.footer-main__logo-uica {
  display: block;
  margin: 0 auto;
  width: 150px;
}
.single-page h1 {
  padding-bottom: 10px;
}
.single-page ul li {
  padding-bottom: 6px;
}
.single-page p {
  margin-bottom: 25px;
  line-height: 22px;
}
.theater-events {
  width: 100%;
}
.theater-events td:nth-child(1) {
  width: 30%;
}
.theater-events td a {
  display: block;
  margin-bottom: 10px;
}
.theater-events td img {
  max-width: 150px;
  width: 100%;
  display: block;
}
.collapsible-menu-active {
  margin-bottom: 3px;
  cursor: pointer;
  background-color: #c00;
  color: #fff;
  border-radius: 3px;
}
.dynamic-tabs {
  margin: 3px 0 25px;
}
.dynamic-tabs .nav {
  display: none;
}
.dynamic-tabs .displayed {
  display: block;
}
.dynamic-tabs #tabAttivazione .active_link a {
  border-bottom: 3px solid #52b733 !important;
}
.dynamic-tabs #tabDettagliCorso .active_link a {
  border-bottom: 3px solid #337ab7 !important;
}
.dynamic-tabs #tabLezioni .active_link a {
  border-bottom: 3px solid #e2c62b !important;
}
.dynamic-tabs #tabEsami .active_link a {
  border-bottom: 3px solid #cc0000 !important;
}
.dynamic-tabs #tabQuestionario .active_link a {
  border-bottom: 3px solid #972be2 !important;
}
.dynamic-tabs .active_link a {
  background-color: #f5f5f5;
  color: #333;
}
.dynamic-tabs-links li a,
.dynamic-tabs-links li .active a {
  color: #fff !important;
}
.dynamic-tabs-links li .attivazione {
  background-color: #52b733 !important;
}
.dynamic-tabs-links li .dettagli {
  background-color: #337ab7 !important;
}
.dynamic-tabs-links li .lezioni {
  background-color: #e2c62b !important;
}
.dynamic-tabs-links li .esami {
  background-color: #cc0000 !important;
}
.dynamic-tabs-links li .questionario {
  background-color: #972be2 !important;
}
.course-panels {
  border: none;
  display: flex;
  justify-content: space-between;
}
.course-panels .heading {
  padding: 10px 15px;
  color: #fff;
  margin: 0 2.5px;
  border-bottom: 1px solid transparent;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
.course-panels .heading:first-child {
  margin-left: 0;
}
.course-panels .heading:last-child {
  margin-right: 0;
}
.course-panels .heading h2 {
  font-size: 15px;
  cursor: pointer;
}
.course-panels .heading a {
  color: #fff !important;
}
.course-panels .attivazione {
  background-color: #52b733 !important;
}
.course-panels .dettagli {
  background-color: #337ab7 !important;
}
.course-panels .lezioni {
  background-color: #e2c62b !important;
}
.course-panels .esami {
  background-color: #cc0000 !important;
}
.course-panels .questionario {
  background-color: #972be2 !important;
}
#titleDescription {
  padding: 10px 0;
  font-style: italic;
  text-align: center;
}
.course__title-cri {
  max-width: 650px;
  margin: 0 auto;
  padding-bottom: 10px;
  font-size: 22px;
  text-align: center;
  font-weight: bold;
  color: #3c763d;
}
.course__name {
  margin: 0 0 20px;
  padding: 0 0 10px;
  border-bottom: 1px solid #e6e6e6;
  text-align: center;
  font-size: 16px;
}
