{% extends 'so_scheda.html' %}

{% load humanize %}
{% load thumbnail %}
{% load gravatar %}

{% block scheda_titolo %}Turni{% endblock %}

{% block scheda_contenuto %}

    {% include 'so_scheda_turni_inc_paginazione.html' %}

    <table class="table table-striped table-responsive">
        <tbody>

        {% for turno in turni %}
            <tr id="turno-{{ turno.pk }}" {% if turno.scoperto and turno.futuro %} class="alert alert-warning"{% endif %}>
                <td class="row">
                    <div class="col-md-3">
                        <h4>{{ turno.nome }}</h4>
                        <p>
                            <span class="piu-grande">
                                <i class="fa fa-fw fa-clock"></i>
                                <strong>{{ turno.inizio.date|naturalday:"SHORT_DATE_FORMAT" }} alle {{ turno.inizio.time }}</strong><br/>
                            </span>
                            fino a {{ turno.fine.date|naturalday:"SHORT_DATE_FORMAT" }} alle {{ turno.fine.time }}<br/>
                        </p>
                    </div>
                    <div class="col-md-5">
                        <p>
                            <i class="fa fa-fw fa-users"></i> <strong>Numero partecipanti:</strong> {{ turno.partecipazioni_confermate.count }}
                            <span class="">(minimo {{ turno.minimo }}, massimo {{ turno.massimo }})</span>
                        </p>

                        <p>
                            {% for partecipazione in turno.partecipazioni_confermate %}
                                {% if partecipazione.reperibilita.persona.avatar %}
                                    {% thumbnail partecipazione.reperibilita.persona.avatar "50x50" crop as im %}
                                    <a href="{{ partecipazione.reperibilita.persona.url }}">
                                        <img src="{{ im.url }}" class="img-rounded">
                                    </a>
                                {% else %}
                                    <a href="{{ partecipazione.reperibilita.persona.url }}">
                                        <img src="{% gravatar_url partecipazione.reperibilita..persona.email 50 %}" class="img-rounded">
                                    </a>
                                {% endif %}
                            {% endfor %}
                        </p>
                    </div>
                    <div class="col-md-4">
                        {% include 'so_turno_inc_azioni.html' %}
                    </div>
                </td>
            </tr>
        {% empty %}

        {% endfor %}
        </tbody>
    </table>

    {% include 'so_scheda_turni_inc_paginazione.html' %}
    {% if evidenzia_turno %}
        <!-- Salta al turno evidenziato -->
        <script type="text/javascript">
            $(document).ready(function () {
                autoscroll("#turno-{{ evidenzia_turno.pk }}");
                $("#turno-{{ evidenzia_turno.pk }}").hide().show("highlight", 3000);
            });
        </script>
    {% endif %}

{% endblock %}
