{% extends 'so_scheda.html' %}

{% load bootstrap3 %}
{% load humanize %}

{% block pagina_titolo %}Abbina mezzi e materiali{% endblock %}

{% block scheda_contenuto %}
    <style>
        .mezzo-lc {text-transform:lowercase;}
    </style>

    <div class="alert alert-block alert-info">
        <p><i class="fa fa-fw fa-info-circle"></i> Stai abbinando il <span class="mezzo-lc">{{ mezzo.get_tipo_display }}</span> <strong>{{ mezzo.nome }}</strong> al servizio <strong>{{ attivita }}</strong></p>
        <p>Per concludere la procedura devi selezionare le date di prenotazione.</p>
    </div>

    <div class="col-md-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h2 class="panel-title"><i class="fa fa-fw fa-plus-circle"></i> Abbina <span class="mezzo-lc">{{ mezzo.get_tipo_display }}</span></h2>
                </div>

                <div class="panel-body">
                    <form method="POST">
                        {% bootstrap_form form %}
                        <button type="submit" class="btn btn-block btn-primary">
                            <i class="fa fa-fw fa-check"></i> Abbina
                        </button>
                        {% csrf_token %}
                    </form>
                </div>
            </div>
        </div>

{% endblock %}
