{% extends 'pdf_standard.html' %}
{% load utils %}
{% load static %}
{% block css_extra %}
			body { padding-left: 1cm; padding-right: 1cm; padding-top: 0.5cm; padding-bottom: 0.1cm; background-image: url('{% static 'img/cartaintestata.jpg' %}'); background-position:-300px -70px; }
			P { margin-bottom: 0.21cm; direction: ltr; color: #000000; widows: 2; orphans: 2; }
{% endblock %}
{% block corpo %}

	<div align=right STYLE="padding-top: 0.3cm; margin-right: 4cm;"><strong>Croce Rossa Italiana</strong></div>
	<div align=right STYLE="margin-right: 4cm"><strong>{{ quota.sede.comitato }}</strong></div>
	<P STYLE="margin-bottom: 0cm"><BR></P>

            <P STYLE="margin-bottom: 0cm"><em>Ricevuta N.</em> {{ quota.anno }}/{{ quota.progressivo }}</P>

    <TABLE WIDTH=100% CELLPADDING=4 CELLSPACING=0>

        <TR VALIGN=TOP>
            <TD WIDTH=50% STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0.1cm; padding-bottom: 0.1cm; padding-left: 0.1cm; padding-right: 0cm">
                <P STYLE="margin-bottom: 0cm"><em>Volontario:</em>{{ quota.persona.nome_completo }}</P>
            </TD>
            <TD WIDTH=50% STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0.1cm; padding-bottom: 0.1cm; padding-left: 0.1cm; padding-right: 0cm">
                <P STYLE="margin-bottom: 0cm"><em>Richiedente:</em> {{ quota.sede.comitato }}</P>
            </TD>
        </TR>
        <TR VALIGN=TOP>
            <TD WIDTH=50% STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0.1cm; padding-bottom: 0.1cm; padding-left: 0.1cm; padding-right: 0cm">
                <P STYLE="margin-bottom: 0cm"><em>Codice Fiscale:</em> {{ quota.persona.codice_fiscale }}</P>
            </TD>
            <TD WIDTH=50% STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0.1cm; padding-bottom: 0.1cm; padding-left: 0.1cm; padding-right: 0cm">
                <P STYLE="margin-bottom: 0cm"><em>Partita IVA:</em> {{ quota.sede.partita_iva }}</P>
            </TD>
		</TR>

	<P STYLE="margin-bottom: 0cm"><BR></P>
	<TABLE WIDTH=100% CELLPADDING=4 CELLSPACING=0>
		<TR VALIGN=TOP>
			<TD WIDTH=67% STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0.1cm; padding-bottom: 0.1cm; padding-left: 0.1cm; padding-right: 0cm">
				<P ALIGN=CENTER><I><B>Descrizione</B></I></P>
			</TD>
			<TD WIDTH=33% STYLE="border: 1px solid #000000; padding: 0.1cm">
				<P ALIGN=CENTER><I><B>Importo</B></I></P>
			</TD>
		</TR>
		<TR VALIGN=TOP>
			<TD WIDTH=67% height="150" STYLE="border-top: none; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0cm; padding-bottom: 0cm; padding-left: 0.1cm; padding-right: 0cm">
				<P>{{ quota.causale }}</P>
				<P>{{ quota.causale_extra }}</P>
			</TD>
			<TD WIDTH=33% height="150" STYLE="border-top: none; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000; padding-top: 0cm; padding-bottom: 0.1cm; padding-left: 0.1cm; padding-right: 0.1cm">
				<P>{% euro quota.importo %}</P>
				<P>{% if quota.causale_extra or quota.importo_extra %}{% euro quota.importo_extra %}{% endif %}</P>
			</TD>
		</TR>
		<TR VALIGN=TOP>
			<TD WIDTH=67% STYLE="border-top: none; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0cm; padding-bottom: 0.1cm; padding-left: 0.1cm; padding-right: 0cm">
				<P ALIGN=RIGHT>Totale</P>
			</TD>
			<TD WIDTH=33% STYLE="border-top: none; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000; padding-top: 0cm; padding-bottom: 0.1cm; padding-left: 0.1cm; padding-right: 0.1cm">
				<P>{% euro quota.importo_totale %}</P>
			</TD>
		</TR>
	</TABLE>
    {% if quota.stato == quota.ANNULLATA %}
        <P STYLE="margin-bottom: 0cm"></P><br/>&nbsp;
        <P STYLE="margin-bottom: 0cm; color:#FF0000;">Quota annullata da {{ quota.annullato_da }} il {{ quota.data_annullamento }}</P>&nbsp;
        <P STYLE="margin-bottom: 0cm"></P>
    {% endif %}


	<P STYLE="margin-bottom: 0cm">{{ quota.sede.nome }}, {{ quota.data_versamento }}</P>&nbsp;
	<P STYLE="margin-bottom: 0cm"></P>
	<P style="font-size: 17px">Contributi ed oblazioni sono esenti dall'imposta di bollo per il combinato disposto degli art. 7 e 8 tabella B del DPR 26-10-1972 n. 642 e successive modificazioni ed integrazioni.</P>


{% endblock %}