{% extends 'us_vuota.html' %}

{% load bootstrap3 %}

{% block pagina_titolo %}
    Ufficio Soci
{% endblock %}

{% block app_contenuto %}

    <h2 class="allinea-centro text-success">
        Ufficio Soci
    </h2>

    <p class="allinea-centro">
        <img  alt="Emblema CRI" src="https://upload.wikimedia.org/wikipedia/it/thumb/4/4a/Emblema_CRI.svg/300px-Emblema_CRI.svg.png" width="180" height="180" />
    </p>


    <div class="alert alert-info">
        <h4><i class="fa fa-info-circle"></i> Benvenuto nella sezione dedicata all'Ufficio Soci.</h4>
        <p>Usa il men&ugrave; sulla sinistra che ti permetter&agrave; di accedere alle funzioni
        relative all'amministrazione dei Soci.</p>
    </div>

    <div class="row ">

        <div class="col-md-2 allinea-centro">
            <h3>{{ sedi.count }}</h3>
            <p class="grassetto">Sedi CRI</p>
        </div>

        <div class="col-md-2 allinea-centro">
            <h3>{{ persone.count }}</h3>
            <p class="grassetto">Persone</p>
        </div>

        <div class="col-md-2 allinea-centro">
            <h3>{{ attivi.count }}</h3>
            <p class="grassetto">Soci attivi</p>
        </div>

        <div class="col-md-6">
            <p>Sei abilitato alla gestione dell'Ufficio Soci per le seguenti sedi:</p>
            <ul>
                {% for sede in sedi %}
                    <li>{{ sede.link|safe }}</li>
                {% endfor %}
            </ul>
        </div>

    </div>

    {% if me.trasferimenti_automatici.exists %}
    <div class="alert alert-warning">
        <i class="fa fa-fw fa-warning"></i> Hai {{ me.trasferimenti_automatici|length }} richiest{{ me.trasferimenti_automatici|pluralize:"a,e" }} di trasferimento in attesa di approvazione che sar{{ me.trasferimenti_automatici|pluralize:"à,nno" }} automaticamente approvat{{ me.trasferimenti_automatici|pluralize:"a,e" }} entro 30 giorni dalla data di ciascuna richiesta.<br>
        Vai nella <a href="/autorizzazioni/">Sezione Richieste</a> per approvarl{{ me.trasferimenti_automatici|pluralize:"a,e" }} o negarl{{ me.trasferimenti_automatici|pluralize:"a,e" }}.
    </div>
    {% endif %}

    {% if me.trasferimenti_manuali.exists %}
    <div class="alert alert-warning">
        <i class="fa fa-fw fa-warning"></i> Hai {{ me.trasferimenti_manuali|length }} richiest{{ me.trasferimenti_automatici|pluralize:"a,e" }} di trasferimento.<br>
        Per ragioni tecniche -risolte a partire dal {{ SETTINGS.DATA_AVVIO_TRASFERIMENTI_AUTO|date:"SHORT_DATE_FORMAT" }}- non è possibile approvarl{{ me.trasferimenti_automatici|pluralize:"a,e" }} in automatico.<br>
        Vai nella <a href="/autorizzazioni/">Sezione Richieste</a> per approvarl{{ me.trasferimenti_automatici|pluralize:"a,e" }} o negarl{{ me.trasferimenti_automatici|pluralize:"a,e" }}.
    </div>
    {% endif %}

    {% if me.estensioni_da_autorizzare.exists %}
    <div class="alert alert-warning">
        <i class="fa fa-fw fa-warning"></i> Hai {{ me.estensioni_da_autorizzare|length }} richiest{{ me.estensioni_da_autorizzare|pluralize:"a,e" }} di estensione.<br>
        E' necessaria una tua azione per approvare o negare l{{ me.estensioni_da_autorizzare|pluralize:"a,e" }} richiest{{ me.estensioni_da_autorizzare|pluralize:"a,e" }}.<br>
        Vai nella <a href="/autorizzazioni/">Sezione Richieste</a> per approvarl{{ me.estensioni_da_autorizzare|pluralize:"a,e" }} o negarl{{ me.estensioni_da_autorizzare|pluralize:"a,e" }}.
    </div>
    {% endif %}


{% endblock %}