{% extends 'us_vuota.html' %}

{% load bootstrap3 %}
{% load utils %}

{% block pagina_titolo %}
    {{ elenco_nome }}
{% endblock %}

{% block app_contenuto %}

    <h2 class="allinea-centro">
        <i class="fa fa-fw fa-users"></i>
        {{ elenco_nome }}
    </h2>

    <hr />

    <div class="alert alert-block alert-info">
        <h4><i class="fa fa-fw fa-info-circle"></i> Seleziona Sede per {{ elenco_nome }}</h4>
        <p>Ci risulta che tu abbia i permessi per richiedere l'elenco dei soci delle seguenti Sedi e
            unit&agrave; territoriali. Seleziona le sedi che vuoi includere nell'elenco da generare, poi clicca su 'Genera Elenco'.</p>
    </div>

    <form method="POST">
        {% csrf_token %}
            {% load mptt_tags %}

        <div class="row">

            <script type="text/javascript">
                function selezionaInferiori(pk, vero) {
                    console.log(pk, vero, $("[data-genitore='" + pk + "']"));
                    $("[data-genitore='" + pk + "']").each(function(i, e) {
                        $(e).prop('checked', vero);
                        selezionaInferiori($(e).attr('value'), vero)
                    });
                }
            </script>

            <div class="col-md-9">

                        <table class="table table-striped table-condensed">
                            <thead>
                                <tr>
                                    {% livello_max sedi as max %}
                                    {% for i in max|volte %}
                                        <th>&nbsp;</th>
                                    {% endfor %}
                                    <th><i class="fa fa-fw fa-check-o"></i></th>
                                    <th>Sede</th>
                                    <th>Azioni</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for sede in sedi %}
                                <tr>
                                    {% for i in sede.level|volte %}
                                        <td>&nbsp;</td>
                                    {% endfor %}

                                    <td>
                                        <input type="checkbox" name="sedi" id="c_{{ sede.pk }}" value="{{ sede.pk }}" checked="checked" data-genitore="{{ sede.genitore.pk }}"/>
                                    </td>
                                    {% differenza max sede.level 1 as diff %}
                                    <td class="grassetto" {% if diff %}colspan="{{ diff }}"{% endif %}>
                                        <label for="c_{{ sede.pk }}" >
                                            {{ sede.nome }}
                                        </label>
                                    </td>
                                    <td>
                                        Sedi sottostanti:
                                        <div class="btn-group btn-group-xs">
                                            <button type="button" class="btn btn-default" onclick="selezionaInferiori({{ sede.pk }}, true);">
                                                <i class="fa fa-check-square"></i>
                                            </button>
                                            <button type="button" class="btn btn-default" onclick="selezionaInferiori({{ sede.pk }}, false);">
                                                <i class="fa fa-square"></i>
                                            </button>
                                        </div>

                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>

            </div>

            <div class="col-md-3">
                <button type="submit" class="btn btn-primary btn-lg btn-block">
                    <i class="fa fa-fw fa-check-circle-o"></i> Genera elenco
                </button>


            </div>
        </div>

    
    </form>

{% endblock %}