{% extends 'base_bootstrap.html' %}

{% block pagina_titolo %}Elenco{% endblock %}

{% block pagina_corpo %}

    <div class="container-fluid" style="width:100%;">

        {% block testo_pre_elenco %} {%  endblock %}

        <div class="row allinea-centro">

            <div class="col-sm-4">
                <form method="POST" data-caricamento>
                    {% csrf_token %}
                    <div class="input-group">
                        <input  type="text" class="form-control" name="filtra"
                                placeholder="Filtra elenco..." value="{{ filtra }}"
                                {% if filtra %}autofocus{% endif %}
                        >
                        <span class="input-group-btn">

                            <button class="btn btn-primary" type="submit"
                                title="Filtra risultati">
                                <i class="fa fa-fw fa-search"></i>
                            </button>

                            {% if filtra %}
                                <button class="btn btn-danger" type="submit"
                                        title="Rimuovi filtro - Mostra tutti"
                                        name="filtra" value="">
                                    <i class="fa fa-fw fa-times"></i>
                                </button>
                            {% endif %}

                        </span>
                    </div>
                </form>
            </div>

            <div class="col-sm-4">

                <ul class="pagination piu-piccolo" style="margin-top: 0px;">

                    {% if ha_precedente %}
                        <li class="prev">
                            <a href="{{ pagina_precedente }}" data-caricamento>
                                <i class="fa fa-arrow-left"></i>
                            </a>
                        </li>
                    {% else %}
                        <li class="prev disabled">
                            <a href="#">
                                <i class="fa fa-arrow-left"></i>
                            </a>
                        </li>

                    {% endif %}

                    <li class="active">
                        <a href="#">Pag. {{ pagina }} di {{ pagine }} ({{ totale }} pp.)</a>
                    </li>

                    {% if ha_successivo %}
                        <li class="prev">
                            <a href="{{ pagina_successiva }}" data-caricamento>
                                <i class="fa fa-arrow-right"></i>
                            </a>
                        </li>
                    {% else %}
                        <li class="prev disabled">
                            <a href="#">
                                <i class="fa fa-arrow-right"></i>
                            </a>
                        </li>

                    {% endif %}

                </ul>

            </div>



            <div class="col-sm-4">
                <div class="btn-group">

                    <div class="btn-group">
                      <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-fw fa-download"></i>
                        Scarica
                          <!--<span class="caret"></span>-->
                      </button>
                      <ul class="dropdown-menu">
                        <li>
                            <a href="{{ download_url }}" data-caricamento target="_blank">
                                <i class="fa fa-fw fa-file-excel-o"></i>
                                <i class="fa fa-fw fa-files-o"></i>
                                Excel: Un foglio per sede
                            </a>
                        </li>
                        <li>
                            <a href="{{ download_url }}?foglio_singolo=1" data-caricamento target="_blank">
                                <i class="fa fa-fw fa-file-excel-o"></i>
                                <i class="fa fa-fw fa-file-o"></i>
                                Excel: Foglio unico
                            </a>
                        </li>
                      </ul>
                    </div>

                    <a class="btn btn-primary"
                        data-conferma="Vuoi scrivere un nuovo messaggio da inviare a tutte le {{ totale }} persone in elenco?"
                        href="{{ messaggio_url }}" target="_new" data-caricamento
                    >
                        <i class="fa fa-fw fa-envelope"></i>
                        Invia messaggio
                    </a>

                </div>

            </div>


        </div>


        <div class="row">

            <table class="table table-striped table-condensed">
                <thead>
                    {% block elenco_intestazione %}

                    {% endblock %}

                    {% block elenco_intestazione_azioni %}
                        <th>Azioni</th>
                    {% endblock %}
                </thead>

                {% for persona in risultati %}

                    <tr class="{% block elenco_riga_classe %}{% endblock %}">

                        {% block elenco_riga %}

                        {% endblock %}

                        <td>
                            <div class="btn-group btn-group-xs">
                                {% block elenco_riga_azioni %}

                                {% endblock %}
                            </div>
                        </td>

                    </tr>


                {% empty %}

                    {% block elenco_vuoto %}

                        {% if filtra %}
                            <div class="alert alert-warning">
                                <h4><i class="fa fa-fw fa-search"></i> Nessun risultato trovato &mdash; Prova a cambiare il termine di ricerca.</h4>
                                <p><i class="fa fa-fw fa-warning"></i> Assicurati di aver digitato apostrofi ed accetti correttamente.</p>
                            </div>


                        {% else %}
                            <div class="alert alert-warning">
                                <h4><i class="fa fa-fw fa-info-circle"></i> Questo elenco &egrave; vuoto.</h4>
                                <p>Nessuna persona trovata da mostrare in questo elenco.</p>
                            </div>

                        {% endif %}

                    {% endblock %}

                {% endfor %}

            </table>



        </div>




    </div>

{% endblock %}