<div class="alert alert-info alert-block">
    <h4><i class="fa fa-fw fa-info-circle"></i> Cosa include questo elenco?</h4>
    <p>Questo strumento serve a facilitare la creazione dell'elenco di elettorato.</p>
    <p>In questo elenco sono mostrati tutte le persone registrate a Gaia che soddisfano tutti i seguenti requisiti:</p>
    <ul>
        <li>Soci attivi (volontari) del Comitato alla data delle elezioni;</li>
        <li>Per l'elettorato attivo anzianit&agrave; di 1 anno, calcolata con appartenenze di tipo Socio attivo o ordinario;</li>
        <li>Per l'elettorato attivo nessuna dimissione registrata nell'ultimo anno;</li>
        <li>Per l'elettorato passivo, et&agrave; minima di 18 anni alla data delle elezioni, anzianità di 2 anni e nessuna dimissione negli ultimi 2 anni.</li>
    </ul>
    <p>&Egrave; importante assicurarsi che i Soci in questo elenco non siano esclusi dall'elettorato,
        per ulteriori motivazioni previste dall'<a href="http://www.cri.it/elezioni-2016-ordinanze" target="_blank">
            <i class="fa fa-fw fa-external-link"></i> O.P. 268-15, titolo II</a>,
        che <strong>non</strong> sono tenute in considerazione da questo strumento, come ad esempio:</p>
    <ul>
        <li>3.2.a-b: mancato versamento della quota associativa annuale,</li>
        <li>3.2.e. percepimento di compensi da parte di Croce Rossa Italiana.</li>
    </ul>
    <p>Per ulteriori informazione sulle Elezioni 2016, visita
        <a href="http://www.cri.it/elezioni2016" target="_blank">
            <i class="fa fa-fw fa-external-link"></i> www.cri.it/elezioni2016
        </a>.</p>
</div>
