<div class="alert alert-info alert-block">
    <h4><i class="fa fa-fw fa-info-circle"></i> Cosa include questo elenco?</h4>
    <p>Questo strumento serve a facilitare la creazione dell'elenco di elettorato.</p>
    <p>In questo elenco sono mostrati tutte le persone registrate a Gaia che soddisfano tutti i seguenti requisiti:</p>
    <ul>
        <li>Volontari del Comitato alla data delle elezioni;</li>
        <li>Per l'elettorato attivo anzianità di 3 mesi, calcolata con appartenenze di tipo Volontario, nessun provvedimento disciplinare di sospensione registrato negli ultimi 24 mesi, registrazione versamento della quota associativa annuale;</li>
        <li>Per l'elettorato passivo, età minima di 18 anni, anzianità di 3 mesi, calcolata con appartenenze di tipo Volontario, nessun provvedimento disciplinare di sospensione registrato negli ultimi 24 mesi, registrazione versamento della quota associativa annuale.</li>
    </ul>
    <p>Da questo strumento non è tenuto in considerazione:</p>
    <ul>
        <li>il percepimento di compensi da parte di Croce Rossa Italiana - solamente i dipendenti vengono esclusi dagli elenchi; pertanto è responsabilità del Presidente escludere chi riceve compensi;</li>
        <li>la registrazione in Gaia della quota associativa; da escludere qundi tutti coloro che non hanno effettuato il versamento.</li>
    </ul>
    <p>Per ulteriori informazione sulle Elezioni 2020, visita
        <a href="https://www.cri.it/elezionicri2020" target="_blank"><i class="fa fa-fw fa-external-link"></i> https://www.cri.it/elezionicri2020</a>.
    </p>
</div>
