{% extends 'us_vuota.html' %}

{% load bootstrap3 %}

{% block pagina_titolo %}
    Reclama una persona
{% endblock %}

{% block app_contenuto %}

    <div class="alert alert-info">
        <i class="fa fa-fw fa-info-circle"></i>
        Puoi utilizzare questo strumento per iscrivere al tuo Comitato
        delle persone che sono iscritte a Gaia.
    </div>

    <div class="row">
        <div class="col-md-6">


            <div class="panel panel-primary">
                <div class="panel-heading">
                    Reclama appartenenza
                </div>
                <div class="panel-body">
                <form method="POST">
                    {% csrf_token %}
                    {% bootstrap_form modulo %}
                    <button type="submit" class="btn btn-primary btn-block">
                        <i class="fa fa-fw fa-check"></i>
                        Continua
                    </button>
                </form>
                </div>
            </div>




        </div>

        <div class="col-md-6">
            <h4><i class="fa fa-fw fa-question-circle"></i> Cosa posso fare?</h4>
            <p>La nuova procedura di reclamo ti permette di recuperare una persona già censita in Gaia ma attualmente non associata al tuo Comitato.</p>
            <p>L'azione di reclamo è efficace quando la persona è già censita in Gaia e si trova in una di queste condizioni:</p>
                <ul>
                    <li>Non è appartenente ad alcun Comitato;</li>
                    <li>&Egrave; un socio ordinario appartenente al Comitato Regionale.</li>
                    <li>E' registrato come dipendente CRI</li>

                </ul>
            <p>
                Nel caso di sostenitore, è possibile reclamarli, ma è prima necessario dimetterli dalla loro posizione attuale.<br>
                Per farlo puoi andare nell'elenco <b>Sostenitori</b> e selezionare <i>Dimetti</i> accanto al suo nome
            </p>
            <p>&nbsp;</p>

            <h4><i class="fa fa-fw fa-support"></i> Guida alla compilazione</h4>
            <p>Inserisci il Codice Fiscale della persona che vuoi reclamare.</p>
            <p>&nbsp;</p>


        </div>



    </div>


{% endblock %}