{% extends 'us_vuota.html' %}

{% load bootstrap3 %}

{% block pagina_titolo %}
    Nuova Riserva
{% endblock %}

{% block app_contenuto %}

    <div class="alert alert-info">
        <i class="fa fa-fw fa-info-circle"></i>
        Da qui registro un nuova riserva per un Volontario...
    </div>

    <div class="row">
        <div class="col-md-12">


            <div class="panel panel-primary">
                <div class="panel-heading">
                    Registra Riserva
                </div>
                <div class="panel-body">

                    <form method="POST">
                        {% csrf_token %}
                        {% bootstrap_form modulo %}
                        <button type="submit" class="btn btn-block btn-primary">
                            Registra Riserva
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}