{% extends 'us_vuota.html' %}


{% load bootstrap3 l10n %}

{% block pagina_titolo %}
    Nuova Ricevuta
{% endblock %}

{% block pagina_javascript %}
    {{ block.super }}
    <script type="text/javascript">
        $(document).ready(function(){
            var importo = {{ tesseramento.quota_sostenitore_value|unlocalize }};
            $(document).on('change', '[name=tipo_ricevuta]', function(event) {
                if ($('#id_tipo_ricevuta :selected').attr('value') === 'S') {
                    $('#id_importo').attr('min', importo);
                    $('#id_importo + .help-block').html('Il totale versato in euro, per un importo minimo di ' + importo + ' €.');
                }
                else {
                    $('#id_importo').attr('min', 0.01);
                    $('#id_importo + .help-block').html('Il totale versato in euro.');
                }
            });
            $('[name=tipo_ricevuta]').trigger('click');
        });
    </script>
{% endblock %}

{% block app_contenuto %}

<div class="alert alert-info">
    <p class="grassetto">
        <i class="fa fa-fw fa-info-circle"></i>
        Da questa pagina puoi registrare una nuova ricevuta generica, oppure una
         ricevuta del versamento di un Sostenitore CRI.
    </p>
    <p>
        <i class="fa fa-fw fa-info-circle"></i>
        Ricordati che:
        <ul>
            <li>Può diventare Sostenitore ogni persona che già non sia Volontario CRI e che decide di versare una quota, a partire da {% if tesseramento %}{{ tesseramento.quota_sostenitore }}{% endif %} €, ad un Comitato CRI. Un Sostenitore non è un Volontario e quindi non è un Socio CRI: il pagamento della quota da Sostenitore non dà diritto a nessun beneficio aggiuntivo alla persona in questione. Una persona può essere Sostenitore in più Comitati.</li>
            <li>L'albo dei Sostenitori non è un libro Soci, nè una sua sezione: è l'elenco delle persone che sostengono economicamente il Comitato in quell'anno solare.</li>
            <li>La quota da Sostenitore deve essere versata annualmente e la verifica del versamento è in capo ai Comitati CRI che si impegnano a rimuovere dall'elenco dei Sostenitori le persone che non hanno versato entro l'anno la quota prevista.</li>
            <li>Se un Sostenitore diviene Volontario a seguito di un Corso Base, mantiene la qualifica fino al termine dell'anno solare per il quale ha versato la quota. Sarà cura del Comitato rimuovere la persona dall'elenco dei Sostenitori a fine anno.</li>
        </ul>
    </p>
    <p>
        <i class="fa fa-fw fa-question-circle"></i>
        Vuoi registrare invece una Quota Associativa per un Volontario?
        Vai a <a href="/us/quote/nuova/">Registra Quota Associativa</a>.
    </p>
</div>

<div class="row">

    <div class="col-md-8">

        <div class="panel panel-info">
            <div class="panel-heading">
                <h2 class="panel-title">
                    <i class="fa fa-fw fa-clock-o"></i>
                    Ultime ricevute registrate da {{ me.nome_completo }}
                </h2>
            </div>
            <div class="panel-body">

                <table class="table table-striped table-condensed">
                    <thead>
                        <tr>
                            <th>Ricevuta</th>
                            <th>Persona</th>
                            <th>Registrata <i class="fa fa-fw fa-caret-down"></i></th>
                            <th>Scarica</th>
                        </tr>
                    </thead>

                    <tbody>
                        {% for r in ultime_quote %}

                        <tr {% if r.stato == r.ANNULLATA %}
                                class="danger"
                            {% elif r == appena_registrata %}
                                class="success"
                            {% endif %}
                        >

                            <td>
                                {{ r.anno }}/{{ r.progressivo }}
                            </td>
                            <td>{{ r.persona.link|safe }}</td>
                            <td>{{ r.creazione|date:"SHORT_DATETIME_FORMAT" }}</td>
                            <td>
                                <a href="{{ r.url_pdf }}" download>
                                    <i class="fa fa-fw fa-file-pdf-o"></i> Ricevuta
                                </a>
                            </td>
                        </tr>


                        {% empty %}
                        <tr class="alert alert-warning">
                            <td colspan="4">
                                Nessuna ricevuta registrata.
                            </td>
                        </tr>

                        {% endfor %}
                    </tbody>
                </table>

            </div>
            <div class="panel-footer">
                <i class="fa fa-fw fa-info-circle"></i>
                Per un elenco di tutte le ricevute registrate nell'anno per il Comitato,
                visita la pagina <a href="/us/ricevute/">Elenco Ricevute</a>.
            </div>
        </div>

    </div>

    <div class="col-md-4">

        <div class="panel {% if modulo %}panel-primary{% else %}panel-warning{% endif %}">
            <div class="panel-heading">
                <h2 class="panel-title">
                    <i class="fa fa-fw fa-plus-circle"></i>
                    Registra Ricevuta
                </h2>
            </div>
            <div class="panel-body">
                <form method="POST">
                    {% csrf_token %}
                    {% bootstrap_form modulo %}
                    <button type="submit" class="btn btn-primary btn-block">
                        <i class="fa fa-fw fa-check"></i>
                        Registra Ricevuta
                    </button>
                </form>

            </div>
            <div class="panel-footer">
                <i class="fa fa-fw fa-envelope-o"></i>
                Notificheremo alla persona la registrazione del pagamento,
                 e gli manderemo la Ricevuta tramite e-mail.
            </div>


        </div>



    </div>




</div>


{% endblock %}