{% extends 'us_vuota.html' %}

{% load bootstrap3 %}
{% load static %}

{% block pagina_titolo %}
    Scarica i tesserini
{% endblock %}

{% block app_contenuto %}

<script type="text/javascript" src="{% static 'js/us_tesserini_emissione_scarica.js' %}"></script>

<div class="row">

    <div class="col-md-6 col-md-offset-3">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h2 class="panel-title">
                    <i class="fa fa-fw fa-download"></i>
                    Scaricamento tesserini
                </h2>
            </div>
            <div class="panel-body">


                <p>Attendi mentre i tesserini vengono scaricati.</p>

                <h4 class="text-warning">
                    <span class="text-error">
                        <span id="numero-attuale">0</span> di {{ tesserini_link|length }}
                    </span>
                    &mdash;
                    <span class="text-error" id="minuti">
                        <i class="fa fa-fw fa-spinner fa-spin"></i>
                    </span>
                    minuti e
                    <span class="text-error" id="secondi_rim">
                        <i class="fa fa-fw fa-spinner fa-spin"></i>
                    </span>
                    secondi
                    rimanenti
                </h4>


                <p>
                    <div class="progress progress-striped active">
                      <div class="progress-bar" style="width: 0%;">
                        <span id="percentuale">0%</span>
                        completo

                        </div>
                    </div>
                </p>

                <label class="btn btn-small" for="pausa">
                    Metti in pausa &nbsp; <input type="checkbox" id="pausa" value="1" />
                </label>

                <p>&nbsp;</p>

                <div id="finito" class="alert alert-success nascosto alert-block">
                    <h4><i class="icon-check"></i> {{ tesserini_link|length }} tesserini scaricati.</h4>
                    <p>Grazie per aver usato questo strumento.</p>
                    <a href="/us/tesserini/emissione/" class="btn btn-success btn-block">
                        Torna all'elenco dei tesserini
                    </a>
                </div>


            </div>
        </div>


    </div>

</div>

    		<script type="text/javascript">
			var urls = {{ tesserini_link_json|safe }};
			var attesa = 0;
			var secondi = {{ tesserini_secondi }};
			var numero_attuale = 0;
			var timing = 200;
			var tick = secondi * 1000 / timing;
			var tick_attuale = tick/2;
			var finito = 0;

			function scaricaTesserini() {
				var pausa = !!$("#pausa:checked").length;
				tick_attuale += 1;

				// Aggiorna contatori
				$("#numero-attuale").text(numero_attuale);
				var secondi_rimanenti = (urls.length-numero_attuale)*secondi;
				$("#minuti").text(Math.floor(secondi_rimanenti/60));
				$("#secondi_rim").text(Math.round(secondi_rimanenti%60));
				percentuale = Math.round10((numero_attuale/urls.length*100) , -1);
				$("#percentuale").text(percentuale + "%");
				percentuale = Math.round(percentuale) + "%";
				$(".progress-bar").css('width', percentuale);
				if ( pausa || finito ) {
					$(".progress").removeClass("progress-striped");
				} else {
					$(".progress").removeClass("progress-striped").addClass("progress-striped");
				}

				// non in pausa, non scaricando, non meno di X secondi
				if (pausa || tick_attuale < tick || finito) {
					return;
				}


				tick_attuale = 0;
				$.fileDownload(urls[numero_attuale]);
				numero_attuale++;

				if (numero_attuale == urls.length) {
					finito = true;
					$("#finito").removeClass("nascosto");
				}

			}


			$(document).ready(function(){
				setInterval(scaricaTesserini, timing);
			});
		</script>


{% endblock %}