{% extends 'us_vuota.html' %}

{% load bootstrap3 %}

{% block pagina_titolo %}
    Nuova Estensione
{% endblock %}

{% block app_contenuto %}

    <p>Da qui registro una nuova richiesta di trasferimento per un Volontario...</p>

    <form method="POST">
        {% csrf_token %}
        {% bootstrap_form modulo %}

        Dovrai in seguito accettare la richiesta di trasferimento del volontario!

        <button type="submit" class="btn btn-block btn-primary">
            Registra trasferimento
        </button>
    </form>

{% endblock %}