{% extends "anagrafica_utente_vuota.html" %}

{% load bootstrap3 %}

{% block pagina_titolo %}
    Benvenuto in Gaia
{% endblock %}


{% block menu_laterale %}
<div class="col-md-3 well well-sm">


    <ul id="sezione" class="nav nav-pills nav-stacked navbar-collapse collapse">

        {% for sezione_nome, sezione_pagine in menu.us %}

            <li class="dropdown-header grassetto piu-grande">{{ sezione_nome }}</li>
            {% for link_nome, link_icona, link_url, link_contatore, nuovo in sezione_pagine %}
                {{ link_contatore }}
                <li role="presentation" {% if link_url == request.path %}class="active"{% endif %}>
                    <a href="{{ link_url|urlencode }}">
                        <i class="fa {{ link_icona }} fa-fw"></i>
                        {{ link_nome }}
                        {% if nuovo %}
                            <span class="label label-primary pull-right">
                              Nuovo!
                            </span>
                        {% endif %}
                    </a>
                </li>

            {% endfor %}

            <hr />

        {% endfor %}

    </ul>

</div>
{% endblock %}

{% block app_contenuto_col %}col-md-9{% endblock %}
