[google]

# api_key =

[nocaptcha]

# site_key =
# secret_key =

[dompdf]

endpoint = http://pdf/www/render.php

[moodle]
domain=http://training.cri.it/webservice/rest/server.php


[trippus]
domain=https://api.trippus.se
username=abb151387cd147aa9507ef4ff9de28cd
password=083a7da7aead4b35a487

[beta_80]
host=https://devcrn.cri.it
