[celery]
# questo file accetta le opzioni come descritto al seguente url
# http://docs.celeryproject.org/en/latest/userguide/configuration.html

# se si utilizza redis come broker
#broker_url = redis://:password@hostname:port/db_number

broker_url = redis://
result_backend = redis://

[cleanup]
periodo = 3600
limite = 500
