[debug]

# Modalita debug
debug = 1

# percorso del file di log relativo alla root del progetto es: ../log/debug.log per i log in /home/gaia/log/debug.log
debug_log = log/debug.log

[production]

# Host permesso (quando debug spento)
host = localhost

# Chiave segreta (qui di esempio)
secret_key = nxtg7fptenicbiqqwaqtnxtg7fptenicbiqqwaqt

[test]
driver = firefox