{% extends 'donazioni_campagna_scheda.html' %}

{% load bootstrap3 %}

{% block pagina_titolo %}
    Elenco donazioni
{% endblock %}

{% block scheda_contenuto %}

    <h4 class="allinea-centro">
        Elenco donazioni per la campagna raccolta fondi {{ campagna.nome }}
    </h4>
    <div class="alert alert-info">
        Raccolti finora: € {{ campagna.totale_donazioni }}
        <br />
        Totale Donazioni: {{ campagna.donazioni.count }}<br />

    </div>

    {% load utils %}
    {% elenco elenco %}

{% endblock %}