{% extends "donazioni_vuota.html" %}

{% load bootstrap3 %}
{% load static %}
{% load utils %}
{% load humanize %}

{% block pagina_titolo %}
    {% block scheda_titolo %}{% endblock %}
    {{ campagna.nome }} ({{ campagna.organizzatore.nome_completo }})
    &mdash; Campagna
{% endblock %}


{% block app_contenuto %}

    <h2 class="allinea-centro grassetto text-success">
        {{ campagna.nome }}
    </h2>

    <ul class="nav nav-tabs">
        <li role="presentation" {% if request.path == campagna.url %}class="active"{% endif %}>
            <a href="{{ campagna.url }}">
                <i class="fa fa-fw fa-info"></i>
                Informazioni
            </a>
        </li>
        {% if puo_modificare %}
        <li role="presentation" {% if request.path == campagna.url_modifica %}class="active"{% endif %}>
            <a href="{{ campagna.url_modifica }}" class="text-danger">
                <i class="fa fa-fw fa-edit"></i>
                Modifica
            </a>
        </li>
        <li role="presentation" {% if request.path == campagna.url_aggiungi_donazione %}class="active"{% endif %}>
            <a href="{{ campagna.url_aggiungi_donazione }}" class="text-danger">
                <i class="fa fa-fw fa-plus-circle"></i>
                Nuova Donazione
            </a>
        </li>
        <li role="presentation" {% if request.path == campagna.url_importa_xls %}class="active"{% endif %}>
            <a href="{{ campagna.url_importa_xls }}" class="text-danger">
                <i class="fa fa-fw fa-file-excel-o"></i>
                Importa Donazioni
            </a>
        </li>
        {% endif %}
        <li role="presentation" {% if request.path == campagna.url_elenco_donazioni %}class="active"{% endif %}>
            <a href="{{ campagna.url_elenco_donazioni }}">
                <i class="fa fa-fw fa-money"></i>
                Donazioni
                <span class="badge">
                        <i class="fa fa-fw fa-eur"></i>
                        {{ campagna.totale_donazioni|default_if_none:"0" }}
                </span>

            </a>
        </li>
        <li role="presentation" {% if request.path == campagna.url_elenco_donatori %}class="active"{% endif %}>
            <a href="{{ campagna.url_elenco_donatori }}">
                <i class="fa fa-fw fa-male"></i>
                Donatori censiti
                <span class="badge">
                    {{ campagna.donatori_censiti.count }}
                </span>
            </a>
        </li>
        <li role="presentation" {% if request.path == campagna.url_responsabili %}class="active"{% endif %}>
            <a href="{{ campagna.url_responsabili }}">
                <i class="fa fa-fw fa-male"></i>
                Responsabili campagna
                <span class="badge">
                    {{ campagna.responsabili_attuali.count }}
                </span>
            </a>
        </li>
    </ul>

    <p>&nbsp;</p>
    {% block scheda_contenuto %}
    {% endblock %}

{% endblock app_contenuto %}