{% extends "donazioni_vuota.html" %}

{% load bootstrap3 %}
{% load static %}
{% load utils %}
{% load humanize %}

{% block pagina_titolo %}
    {% block scheda_titolo %}{% endblock %}
    {{ campagna.nome }} ({{ campagna.organizzatore.nome_completo }})
    &mdash; Campagna
{% endblock %}


{% block app_contenuto %}

    <h2 class="allinea-centro grassetto text-success">
        {{ campagna.nome }}
    </h2>

    {% if puo_modificare %}
        <div class="alert alert-warning alert-block">
             <p>
                {% checkbox campagna.responsabili_attuali %}:
                Aggiungi responsabili alla campagna;
            </p>
        </div>
    {% endif %}

    <p>&nbsp;</p>
    <ul class="nav nav-tabs">
        <li role="presentation" {% if request.path == campagna.url %}class="active"{% endif %}>
            <a href="{{ campagna.url }}">
                <i class="fa fa-fw fa-info"></i>
                Informazioni
            </a>
        </li>
        <li role="presentation" {% if request.path == campagna.url_elenco_donazioni %}class="active"{% endif %}>
            <a href="{{ campagna.url_elenco_donazioni }}">
                <i class="fa fa-fw fa-money"></i>
                Donazioni
                <span class="badge">
                        <i class="fa fa-fw fa-eur"></i>
                        {{ campagna.totale_donazioni }}
                </span>

            </a>
        </li>
        <li role="presentation" {% if request.path == campagna.url_elenco_donatori %}class="active"{% endif %}>
            <a href="{{ campagna.url_elenco_donatori }}">
                <i class="fa fa-fw fa-male"></i>
                Donatori censiti
                <span class="badge">
                    {{ campagna.donatori_censiti.count }}
                </span>
            </a>
        </li>
        <li role="presentation" {% if request.path == campagna.url_responsabili %}class="active"{% endif %}>
            <a href="{{ campagna.url_responsabili }}">
                <i class="fa fa-fw fa-male"></i>
                Responsabili campagna
                <span class="badge">
                    {{ campagna.responsabili_attuali.count }}
                </span>
            </a>
        </li>
    </ul>

    <p>&nbsp;</p>
    {% block scheda_contenuto %}
    {% endblock %}

    {% block scheda_pulsantiera %}
        <hr />
        {% if puo_modificare %}
        <div class="row">
            <div class="col-md-4">
                <p>
                <a href="{{ campagna.url_aggiungi_donazione }}" class="btn btn-large btn-info">Aggiungi una donazione</a>
                </p>
            </div>
            <div class="col-md-4">
                <p>
                <a href="{{ campagna.url_modifica }}" class="btn btn-large btn-info">Modifica campagna</a>
                </p>
            </div>
            <div class="col-md-4">
                <p>
                    {% if campagna.cancellabile %}
                        <a href="{{ campagna.url_cancella }}" class="btn btn-large btn-danger">Elimina campagna</a>
                    {% endif %}
                </p>
            </div>
        </div>
        {% endif %}
    {% endblock %}

<p></p>
    <hr />
    <div class="row">
    <div class="piu-piccolo allinea-centro">
        <i class="fa fa-fw fa-clock-o"></i>
        Ultimo aggiornamento {{ campagna.ultima_modifica }}
    </div>
    </div>


{% endblock %}