{% extends 'donazioni_vuota.html' %}

{% load bootstrap3 %}
{% load utils %}

{% block pagina_titolo %}
    Campagne raccolta fondi
{% endblock %}

{% block app_contenuto %}

    <h2 class="allinea-centro text-success">
        Campagne raccolta fondi
    </h2>
    {% if puo_creare %}
        <div class="alert alert-info">
            <h4><i class="fa fa-asterisk"></i> Vuoi creare una nuova campagna di raccolta fondi?</h4>
            <p>Se vuoi creare una nuova campagna di donazioni economiche, clicca su
                <a href="/donazioni/campagne/nuova/" class="btn btn-xs btn-primary">Crea una nuova campagna</a>.</p>
            <p>Potrai assegnare un Responsabile di Campagna che si occuper&agrave; di gestirne le donazioni.</p>
        </div>
    {% endif %}

    {% elenco elenco %}

{% endblock %}