{% extends 'donazioni_vuota.html' %}

{% load bootstrap3 %}

{% block pagina_titolo %}
    Lista donatori
{% endblock %}

{% block app_contenuto %}

    <h4 class="allinea-centro text-success">
        Lista donatori {% if campagna %} per la campagna {{ campagna.nome }}{% endif %}
    </h4>

    <table class="table table-striped table-bordered">
        <thead>
            <th>Nome</th>
            <th>Cognome</th>
            <th>Email</th>
            <th>Codice Fiscale</th>
            <th>Totale donazioni</th>
        </thead>

        {% for donatore in donatori %}

            <tr>
                <td>{{ donatore.nome}}</td>
                <td>{{ donatore.cognome}}</td>
                <td>{{ donatore.email }}</td>
                <td>{{ donatore.codice_fiscale }}</td>
                <td>{{ donatore.totale_donazioni }} €</td>
            </tr>

        {% empty %}
            <tr class="info">
                <td colspan="5">
                    <h4><i class="fa fa-fw fa-info-circle"></i> Non è presente ancora alcun donatore.</h4>
                </td>
            </tr>
        {% endfor %}
    </table>

{% endblock %}