{% extends 'donazioni_elenchi_inc_vuoto.html' %}
{% load donazioni %}

{% block placeholderfiltro %}"Filtra..."{% endblock %}
{% block elenco_intestazione %}

    <th>Data</th>
    <th>Donatore</th>
    <th>Importo</th>
    <th>Metodo Pagamento</th>

{% endblock %}


{% block elenco_riga %}

    <td class="piu-piccolo">
        <i class="fa fa-calendar"></i>
        {{ obj.data }}
    </td>

    <td class="piu-piccolo allinea-sinistra">
    {% if obj.donatore %}
        <a href="{{obj.donatore.url}}" target="_parent"><i class="fa fa-user"></i> {{ obj.donatore}}</a>
    {% endif %}
    </td>

    <td class="piu-piccolo allinea-sinistra">
        <i class="fa"></i>
        {{ obj.importo|importo }}
    </td>

    <td>
        {{ obj.get_metodo_pagamento_display }}
        {% if obj.modalita_singola_ricorrente == 'R' %}
            <br/><i>Donazione Ricorrente</i>
        {% endif %}
    </td>

{% endblock %}

{% block elenco_riga_azioni %}

    {% load utils %}
    {% permessi_almeno obj "modifica" as puo_modificare %}
    {% permessi_almeno obj "lettura" as puo_leggere %}
    {% permessi_almeno obj "completo" as puo_eliminare %}

    {% if puo_leggere %}
         <a href="{{ obj.url }}" class="btn btn-default btn-xs" target="_parent">
             <i class="fa fa-fw fa-file"></i><span>Scheda</span>
        </a>
    {% endif %}
    {% if puo_modificare %}
        <a href="{{ obj.url_modifica }}" class="btn btn-primary btn-xs" target="_parent">
            <i class="fa fa-fw fa-edit"></i><span>Modifica</span>
        </a>
    {% endif %}
    {% if puo_eliminare %}
        <a href="{{ obj.url_cancella }}" class="btn btn-primary btn-xs" target="_parent">
            <i class="fa fa-fw fa-remove"></i><span>Elimina</span>
        </a>
    {% endif %}

{% endblock %}
