{% extends 'donazioni_vuota.html' %}

{% load bootstrap3 %}

{% block pagina_titolo %}
    Etichette
{% endblock %}

{% block app_contenuto %}

    <h2 class="allinea-centro text-success">
        Etichette
    </h2>
    {% if puo_creare %}
        <div class="alert alert-success">
            <h4><i class="fa fa-asterisk"></i> Vuoi creare una nuova etichetta per un comitato?</h4>
            <p><a href="/donazioni/etichette/nuova/" class="btn btn-xs btn-success">Crea una nuova etichetta</a>.</p>
        </div>
    {% endif %}
    {% load utils %}
    {% elenco elenco %}

{% endblock %}