{% extends 'donazioni_vuota.html' %}

{% load bootstrap3 %}

{% block pagina_titolo %}
    Etichette
{% endblock %}

{% block app_contenuto %}

    <h2 class="allinea-centro text-success">
        Etichette
    </h2>
    {% if puo_creare %}
        <div class="alert alert-info">
        <p>
        <i class="fa fa-question-circle"></i> Le etichette servono per "taggare" le Campagne Donazioni Economiche,
            e quindi per catalogarle. Sono utili per la funzionalità di
            filtro nell'<a href="/donazioni/campagne/">elenco</a>.
            Puoi creare una nuova etichetta ed assegnarla ad una campagna successivamente.</p>
            <p>
        <i class="fa fa-info-circle"></i> In questo elenco, per comodità, sono visualizzate anche le etichette "globali"
            create dal Comitato Nazionale.
            Le etichette di default (i.e. quelle create ed assegnate automaticamente
            durante la creazione di una nuova campagna) non sono né modificabili né eliminabili.</p>
            <hr />
            <p><a href="/donazioni/etichette/nuova/" class="btn btn-xs btn-primary">Crea una nuova etichetta</a>.</p>

        </div>
    {% endif %}
    {% load utils %}
    {% elenco elenco %}

{% endblock %}