{% extends 'centrale_operativa_vuota.html' %}

{% block pagina_titolo %}
    Assegna Poteri
{% endblock %}

{% load bootstrap3 %}

{% block base_head_extra %}
    <meta http-equiv="refresh" content="45">
{% endblock %}

{% block app_contenuto %}

<div class="row">

    <div class="col-md-4">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h2 class="panel-title">
                    <i class="fa fa-fw fa-search"></i>
                    Filtra per giorno
                </h2>
            </div>
            <div class="panel-body">
                <form method="GET">
                    {% csrf_token %}
                    {% bootstrap_form modulo %}
                    <p class="btn-group btn-group-justified">
                        <a class="btn btn-info" href="{{ ieri }}" data-caricamento>
                            <i class="fa fa-fw fa-arrow-left"></i>
                        </a>
                        <a class="btn btn-info" href="{{ domani }}" data-caricamento>
                            <i class="fa fa-fw fa-arrow-right"></i>
                        </a>
                    </p>
                    <button type="submit" class="btn btn-primary btn-block">
                        <i class="fa fa-fw fa-search"></i>
                        Filtra
                    </button>
                </form>
            </div>
        </div>
    </div>

    <div class="col-md-8">
        <div class="alert alert-block alert-info">
            <p>
                <i class="fa fa-fw fa-info-circle"></i>
                Da qui puoi vedere i dettagli dei Volontari che stanno partecipando a una attivit&agrave;
                di Centrale Operativa, in modalit&agrave; "Manuale". Puoi "Conferire i poteri" di Centrale
                operativa ai partecipanti da questa pagina con un solo click.
            </p>
            <p>
                <i class="fa fa-fw fa-info-circle"></i>
                I poteri, sia conferiti "Manualmente" che "Automaticamente", sono abilitati da
                {{ minuti }} prima l'inizio a {{ minuti }} dopo la fine del turno di Centrale Operativa,
                al fine di facilitare il cambio dei volontari.
            </p>
            <p>
                <i class="fa fa-fw fa-warning"></i>
                Nota che, se l'attivit&agrave; &egrave; impostata in modalit&agrave; "Automatica",
                i Volontari con richiesta di partecipazione accettata al turno, riceveranno automaticamente
                i permessi di gestione della CO e non compariranno in questa pagina.
            </p>
        </div>
    </div>

</div>



<div class="panel panel-info">
    <div class="panel-heading">
        <h2 class="panel-title">
            <i class="fa fa-fw fa-list"></i>
            Partecipazioni che possono ricevere i poteri
        </h2>
    </div>
    <div class="panel-body">

        <table class="table table-striped">
            <thead>
            <tr>
                <th>Nome e cognome</th>
                <th>Turno</th>
                <th>Stato</th>
            </tr>
            </thead>

            {% for p in partecipazioni %}

                <tr>
                    <td class="grassetto">
                        {{ p.persona.nome_completo }}
                    </td>
                    <td>
                        <span class="grassetto">{{ p.turno.link|safe }}</span>
                        ({{ p.turno.inizio|date:"SHORT_DATETIME_FORMAT" }}&mdash;{{ p.turno.fine|date:"SHORT_DATETIME_FORMAT" }})


                        <br />
                        {{ p.turno.attivita.link|safe }}
                    </td>
                    <td>
                        {% if p.centrale_operativa %}

                            <span class="text-success">
                                <i class="fa fa-fw fa-check"></i>
                                Volontario abilitato alla gestione della CO
                                per la durata del turno.
                            </span>

                        {% else %}

                            <span class="text-danger">
                                <i class="fa fa-fw fa-times"></i>
                                Volontario non abilitato alla gestione della
                                CO per la durata del turno.
                            </span>

                        {% endif %}
                        <br />
                        <a href="/centrale-operativa/poteri/{{ p.pk }}/?next={{ request.get_full_path|urlencode }}"
                            data-caricamento="Salvataggio...">
                            <i class="fa fa-fw fa-cogs"></i>
                            {% if p.centrale_operativa %}
                                Ritira poteri
                            {% else %}
                                Assegna poteri
                            {% endif %}
                        </a>
                    </td>
                </tr>


            {% empty %}
                <tr class="alert alert-warning allinea-centro">
                    <td colspan="3">
                        <p>
                            <i class="fa fa-fw fa-info-circle"></i>
                            Nessuna partecipazione segnalata in questo momento
                            che richiede il conferimento manuale dei poteri di Centrale Operativa.
                        </p>


                    </td>
                </tr>

            {% endfor %}


        </table>


    </div>
</div>



{% endblock %}