{% extends 'aspirante_corso_base_scheda.html' %}
{% load utils %}
{% load bootstrap3 %}
{% load survey_templatetags %}

{% block scheda_titolo %}Questionario di gradimento{% endblock %}
{% block scheda_contenuto %}
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h2 class="panel-title"><i class="fa fa-fw fa-pencil"></i> Questionario di gradimento</h2>
        </div>
        <div class="panel-body">
          <h4>Introduzione</h4>
          <p>
            Ti chiediamo un parere sull’intervento di formazione cui hai partecipato, per conoscerne i punti di forza e le aree di miglioramento. Compilando il questionario, in forma anonima, ci consentirai di migliorare
            continuamente la qualità della formazione della Croce Rossa Italiana. Ti preghiamo quindi di completarlo entro una settimana dalla fine della formazione.
            Attraverso il questionario ti chiediamo di esprimere il tuo grado di soddisfazione sul corso, con particolare attenzione ai seguenti aspetti:
          </p>
          <p>
            <ul>
              <li>utilità percepita, interesse e partecipazione</li>
              <li>didattica: docenza e materiale didattico</li>
              <li>organizzazione e servizi</li>
            </ul>
          </p>
          <p>
            Le domande sono nella maggior parte dei casi a risposta chiusa con richiesta di attribuzione del voto da
            1(poco) a 10 (molto), alcune domande sono a risposta aperta (campo descrittivo).
            La tua opinione è per noi preziosa, per questo ti saremo grati se vorrai dedicare pochi minuti alla
            compilazione del questionario che segue. <br>
            Grazie!
          </p>

          <p class="survey__title">{{ survey.text }}</p>

          {% if puo_modificare and has_responses %}
            <p class="survey__download-text">
              <a href="{% url 'survey:course_download_results' corso.pk %}">Scaricare il Report con le risposte dei partecipanti</a>
            </p>
            <hr>
          {% endif %}

          <form method="POST">
              {% csrf_token %}

              {% bootstrap_form form as bootstrap_form %}
              {% add_questions_groups_to_survey_form bootstrap_form survey %}

              {% if puo_modificare %}
                {# Director of course can only read form data #}
              {% else %}
                <button type="submit" class="btn btn-primary btn-block"><i class="fa fa-fw fa-save"></i> Salva</button>
              {% endif %}
          </form>
        </div>
    </div>

<style>
  .survey__title {text-align: center; font-size: 23px;}
  .survey__download-text {text-align:center; font-weight:bold;}
  .survey__group-name {text-align:center; font-size:18px;}
</style>

{% endblock %}
