{% extends 'aspirante_corso_base_scheda.html' %}
{% load utils %}
{% load bootstrap3 %}
{% load survey_templatetags %}

{% block scheda_titolo %}Questionario di gradimento{% endblock %}
{% block scheda_contenuto %}
    <style>
      .survey__title {text-align: center; font-size: 23px;}
      .survey__download-text {text-align:center; font-weight:bold;}
      .survey__group-name {text-align:center; font-size:18px;}

      .step-form {}
      .step-form h4 {text-align: center; font-size:24px;}
      .step-form .form-group {display:block; margin: 0 0 30px; text-align: center;}

      // input text
      .step-form .form-group input[type="text"] {display: block !important; width: 75%; margin: 0 auto;}

      // input radio
      .step-form div div {text-align: center; display: inline-block;}
      .step-form div div .radio {padding: 10px;}
      .step-form div div .radio label {font-size:16px;}
      .step-form div div .radio label input {margin-right: 5px;}
    </style>

    <div class="panel panel-primary">
        <div class="panel-heading">
            <p class="survey__title">{{ survey.text }}</p>
        </div>
        <div class="panel-body">
            {% if puo_modificare and has_responses and False %}
                <p class="survey__download-text">
                    <a href="{% url 'survey:course_download_results' corso.pk %}">Scaricare il Report con le risposte dei partecipanti</a>
                    <hr>
                </p>
            {% endif %}

            {% if continue_step and not step %}
                <p style="text-align: center;">
                    {% if survey_result.current_step == survey_result.GRAZIE %}
                        Il questionario è già stato completato.
                    {% else %}
                        Vuoi continuare con la compilazione del questionario? <a href="{{ continue_step }}">Continua</a>
                    {% endif %}
                </p>

            {% else %}
                {% if step and form %}
                    <form action="." method="POST" class="step-form form-inline">
                        {% csrf_token %}
                        {% include template %}
                        <button type="submit" class="btn btn-primary btn-block"><i class="fa fa-fw fa-save"></i> Avanti</button>
                    </form>

                {% elif step == survey_result.final_step_id %}
                    {% include template %}
                {% else %}
                    {% include 'survey_step_0_inc.html' %}
                {% endif %}

            {% endif %}
        </div>
    </div>

{% endblock %}
