<style>
  .btn-avanti {
    text-transform: uppercase;
    display: block;
    margin: 0 auto;
    background-color: #ccc;
    color: #333;
    padding: 7px;
    width: 100%;
    text-align: center;
    text-decoration: none;
    max-width: 100px;
    font-weight: bold;
  }
</style>

<h4>Introduzione</h4>
<p>
  Ti chiediamo un parere sull’intervento di formazione cui hai partecipato, per conoscerne i punti di forza e le aree di miglioramento. Compilando il questionario, in forma anonima, ci consentirai di migliorare
  continuamente la qualità della formazione della Croce Rossa Italiana. Ti preghiamo quindi di completarlo entro una settimana dalla fine della formazione.
  Attraverso il questionario ti chiediamo di esprimere il tuo grado di soddisfazione sul corso, con particolare attenzione ai seguenti aspetti:
</p>
<p>
  <ul>
    <li>utilità percepita, interesse e partecipazione</li>
    <li>didattica: docenza e materiale didattico</li>
    <li>organizzazione e servizi</li>
  </ul>
</p>
<p>
  Le domande sono nella maggior parte dei casi a risposta chiusa con richiesta di attribuzione del voto da
  1 (poco) a 10 (molto), alcune domande sono a risposta aperta (campo descrittivo).
  La tua opinione è per noi preziosa, per questo ti saremo grati se vorrai dedicare pochi minuti alla
  compilazione del questionario che segue. <br>
  Grazie!
</p>

<a href="?step=sd&from=start" class="btn-avanti">Avanti</a>
