{% extends "veicoli_vuota.html" %}

{% load bootstrap3 %}

{% block pagina_titolo %}Nuovo fermo tecnico{% endblock %}

{% block app_contenuto %}

<div class="row">
    <div class="col-lg-8">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <i class="fa fa-car fa-fw"></i> Elenco Fermi Tecnici Veicolo {{ veicolo.targa }}
                </h4>
            </div>

            <div class="panel-body">
                <table class="table table-condensed table-responsive">
                    <thead>
                        <tr>
                            <th>Inizio</th>
                            <th>Fine</th>
                            <th>Motivo</th>
                            <th>Azioni</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for fermo in fermi %}
                            <tr {% if not fermo.fine %} class="success" {% endif %}>
                                <td>{{ fermo.inizio|date:"SHORT_DATE_FORMAT" }}</td>
                                <td>{% if fermo.fine %}{{ fermo.fine|date:"SHORT_DATE_FORMAT" }}{% else %}Indeterminato{% endif %}</td>
                                <td>{{ fermo.motivo }}</td>
                                <td>
                                    {% if not fermo.fine %}
                                    <a href="/veicolo/termina/fermo-tecnico/{{ fermo.pk }}/" class="btn btn-danger btn-sm"><i class="fa fa-trash-o"></i> Termina</a>
                                    {% endif %}
                                </td>
                            </tr>
                        {% empty %}
                            <tr>
                                <td colspan="4" class="alert alert-warning">
                                    <i class="fa fa-info-circle"></i> Nessun fermo tecnico.
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    {% if not veicolo.fermo_tecnico %}
    <div class="col-lg-4">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <i class="fa fa-plus"></i> Aggiungi fermo tecnico
                </h4>
            </div>
            <div class="panel-body">
                <form method="POST">
                    {% csrf_token %}
                    {% bootstrap_form modulo %}

                    <button class="btn btn-block btn-primary btn-lg">
                        <i class="fa fa-fw fa-check"></i>
                        Salva
                    </button>
                </form>
            </div>
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}