{% extends "veicoli_vuota.html" %}

{% load bootstrap3 %}

{% block pagina_titolo %}Gestione Autoparchi{% endblock %}

{% block app_contenuto %}


    <h2 class="allinea-centro text-success">
        Veicoli
    </h2>

    <p class="allinea-centro">
        <img  alt="Emblema CRI" src="https://upload.wikimedia.org/wikipedia/it/thumb/4/4a/Emblema_CRI.svg/300px-Emblema_CRI.svg.png" width="180" height="180" />
    </p>


    <div class="alert alert-info">
        <h4><i class="fa fa-info-circle"></i> Benvenuto nella sezione dedicata alla gestione dell'Autoparco.</h4>
        <p>Usa il men&ugrave; sulla sinistra che ti permetter&agrave; di accedere alle funzioni
        relative all'amministrazione dell'autoparco.</p>
    </div>

    <div class="row ">

        <div class="col-md-3 allinea-centro">
            <h3>{{ autoparchi.count }}</h3>
            <p class="grassetto">Autoparchi CRI</p>
        </div>

        <div class="col-md-3 allinea-centro">
            <h3>{{ veicoli.count }}</h3>
            <p class="grassetto">Veicoli CRI</p>
        </div>

        <div class="col-md-6">
            <p>Sei abilitato alla gestione degli Autoparchi per le seguenti sedi:</p>
            <ul>
                {% for sede in sedi %}
                    <li>{{ sede.link|safe }}</li>
                {% endfor %}
            </ul>
        </div>

    </div>


<div class="row">

    <div class="col-lg-6">
        <div class="panel panel-info">

            <div class="panel-heading">
                <h4 class="panel-title">
                    <i class="fa fa-car fa-fw"></i> Revisioni scadute o in scadenza
                </h4>

            </div>

            <div class="panel-body">
                <table class="table table-condensed table-responsive">
                    <thead>
                        <tr>
                            <th>Targa</th>
                            <th>Ultima revisione</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for veicolo in revisione %}
                        <tr>
                            <td>{{ veicolo.targa }}</td>
                            <td>{{ veicolo.ultima_revisione.data }}</td>
                        </tr>
                        {% empty %}
                            <tr>
                                <td colspan="7" class="bg-warning">
                                    <i class="fa fa-info"></i> Nessun veicolo necessita revisione.
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="panel panel-info">

            <div class="panel-heading">
                <h4 class="panel-title">
                    <i class="fa fa-car fa-fw"></i> Veicoli che necessitano manutenzione
                </h4>

            </div>

            <div class="panel-body">
                <table class="table table-condensed table-responsive">
                    <thead>
                        <tr>
                            <th>Targa</th>
                            <th>Ultima manutenzione</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for veicolo in manutenzione %}
                        <tr>
                            <td>{{ veicolo.targa }}</td>
                            <td>{{ veicolo.ultima_manutenzione.data }}</td>
                        </tr>
                        {% empty %}
                            <tr>
                                <td colspan="2" class="bg-warning">
                                    <i class="fa fa-info"></i> Nessun veicolo richiede manutenzione.
                                </td>
                            </tr>
                        {% endfor %}
                </table>
            </div>
        </div>
    </div>
</div>

{% endblock %}