{% extends "veicoli_vuota.html" %}

{% load bootstrap3 %}

{% block pagina_titolo %}Veicolo{% endblock %}

{% block app_contenuto %}


<div class="panel panel-primary">
    <div class="panel-heading">
        <h2 class="panel-title">
            {% if veicolo %}
                <i class="fa fa-fw fa-edit"></i>
                Modifica veicolo {{ veicolo.targa }}

            {% else %}
                <i class="fa fa-fw fa-plus-circle"></i>
                Registra nuovo veicolo

            {% endif %}
        </h2>
    </div>
    <div class="panel-body">
        <form method="POST">
            {% csrf_token %}
            {% bootstrap_form modulo %}

            <button class="btn btn-block btn-primary">
                <i class="fa fa-fw fa-save"></i>
                Salva veicolo
            </button>
        </form>

    </div>
</div>

{% endblock %}