{% extends 'attivita_scheda.html' %}

{% block scheda_titolo %}
    Informazioni
{% endblock %}

{% load utils %}
{% load social %}

{% block scheda_contenuto %}

    <div class="row">

        <div class="col-md-3">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <i class="fa fa-fw fa-user"></i>
                        Referenti
                        <span class="pull-right">
                            {{ attivita.delegati_attuali.count }}
                        </span>
                    </h3>
                </div>

                <div class="panel-body">
                    <div class="btn-group btn-group-vertical">
                    {% for referente in attivita.delegati_attuali %}
                        {% card referente extra_class='' %}<br />

                    {% empty %}
                        <i class="fa fa-fw fa-warning"></i>
                        Nessun referente.

                    {% endfor %}
                    </div>
                </div>

            </div>
        </div>

        <div class="col-md-3">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <i class="fa fa-fw fa-globe"></i>
                        Area d'intervento
                    </h3>
                </div>

                <div class="panel-body">
                    {{ attivita.area.nome }} <br />
                    <span class="text-muted">
                        Obiettivo Strategico
                        {{ attivita.area.obiettivo }}
                    </span>
                </div>

            </div>
        </div>

        <div class="col-md-3">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <i class="fa fa-fw fa-home"></i>
                        Organizzatore
                    </h3>
                </div>

                <div class="panel-body">
                    <strong>
                        <a href="{{ attivita.sede.url }}" target="_new">
                            {{ attivita.sede.nome }}
                        </a>
                    </strong><br />
                    {{ attivita.sede.get_tipo_display }} &mdash;
                    {{ attivita.sede.get_estensione_display }}
                </div>

            </div>
        </div>

        <div class="col-md-3">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <i class="fa fa-fw fa-lock"></i>
                        Aperto a
                    </h3>
                </div>

                <div class="panel-body">
                    {% if attivita.estensione %}
                        Tutti i Volontari di
                        <strong>
                        <a href="{{ attivita.estensione.url }}" target="_new">
                            {{ attivita.estensione.nome }}
                        </a>
                        </strong><br />
                        ({{ attivita.estensione.get_estensione_display }} e sottostanti)
                    {% else %}
                        Nessuno.
                    {% endif %}
                </div>

            </div>
        </div>

    </div>


    {% if me %}
        <div class="row">
            <div class="col-md-6">
                <h3><i class="fa fa-fw fa-info-circle"></i> Informazioni</h3>
                {{ attivita.descrizione|safe }}

            </div>

            <div class="col-md-6">
                <h3>
                    <i class="fa fa-fw fa-comments-o"></i>
                    Commenti
                    <span class="text-muted">
                        {{ attivita.commenti.count }}
                    </span>
                </h3>
                {% commenti attivita 10 %}

            </div>

        </div>
    {% else %}

        <div class="alert alert-info col-md-12">
            <h4><i class="fa fa-fw fa-key"></i> Accedi a Gaia per maggiori informazioni</h4>
            <p>Alcune informazioni, come la descrizione dell'attivit&agrave; e
            i commenti, sono visibili solo ai volontari che hanno effettuato
            l'accesso a Gaia. Se sei registrato/a, accedi a Gaia usando
            il pulsante in alto a destra a questa pagina.</p>
        </div>

    {% endif %}

{% endblock %}