{% extends 'attivita_vuota.html' %}

{% load bootstrap3 %}

{% block pagina_titolo %}
    Aree di Intervento
{% endblock %}

{% block app_contenuto %}

    <div class="alert alert-info alert-block">
        <p>
            <i class="fa fa-fw fa-info-circle"></i>
            Da qui puoi gestire le aree di intervento per
            il <strong>{{ sede.nome_completo }}</strong>.
        </p>
    </div>

    <div class="row">

        <div class="col-md-9">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h2 class="panel-title">
                        <i class="fa fa-fw fa-list"></i>
                        Elenco Aree/Progetti {{ sede.nome_completo }}
                    </h2>
                </div>
                <div class="panel-body">

                    <form method="POST">
                        {% csrf_token %}
                        {% bootstrap_form filtro layout='inline'%}
                        <button type="submit" class="btn btn-block btn-primary">
                            <i class="fa fa-fw fa-search"></i>
                            Filtra
                        </button>
                    </form>

                    <br><br>

                   <table class="table table-striped">

                        <thead>
                            <tr>
                                <th>Ob.#</th>
                                <th>Nome Area/Progetto</th>
                                <th>Responsabili</th>
                                <th>Attivit&agrave;/Servizi</th>
                                <th>Azioni</th>
                            </tr>
                        </thead>

                        <tbody>

                            {% for area in aree %}

                                <tr>
                                    <td class="piu-grande">
                                        {{ area.obiettivo }}
                                    </td>
                                    <td class="grassetto">
                                        {{ area.nome }}
                                    </td>
                                    <td class="piu-piccolo">
                                        {% for r in area.delegati_attuali %}
                                            {{ r.link|safe }}<br />
                                        {% empty %}
                                            Nessun responsabile
                                        {% endfor %}
                                    </td>
                                    <td>
                                        {{ area.attivita.count }} attivit&agrave;
                                    </td>
                                    <th>
                                        <div class="btn-group-vertical btn-block">
                                            <a href="/attivita/aree/{{ sede.pk }}/{{ area.pk }}/responsabili/"
                                               class="btn btn-sm btn-default">
                                                <i class="fa fa-fw fa-users"></i>
                                                Responsabili
                                            </a>
                                            {% if not area.attivita.exists %}
                                               <a href="/attivita/aree/{{ sede.pk }}/{{ area.pk }}/cancella/"
                                                   class="btn btn-xs btn-danger"
                                                   data-conferma="Sei sicuro di voler cancellare questa area?">
                                                    <i class="fa fa-fw fa-trash"></i>
                                                    Cancella
                                                </a>
                                            {% endif %}

                                        </div>

                                    </th>
                                </tr>
                            {% endfor %}
                            {% for progetto in progetti %}
                                <tr>
                                    <td class="piu-grande">
                                        {{ progetto.obiettivo }}
                                    </td>
                                    <td class="grassetto">
                                        {{ progetto.nome }}
                                    </td>
                                    <td class="piu-piccolo">
                                        {% for r in progetti.delegati_attuali %}
                                            {{ r.link|safe }}<br />
                                        {% empty %}
                                            Nessun responsabile
                                        {% endfor %}
                                    </td>
                                    <td>
{#                                        {{ progetto.attivita.count }} servizi#} X servizi
                                    </td>
                                    <th>
                                        <div class="btn-group-vertical btn-block">
                                            <a href="/attivita/aree/{{ sede.pk }}/{{ progetti.pk }}/responsabili/?progetto=true"
                                               class="btn btn-sm btn-default">
                                                <i class="fa fa-fw fa-users"></i>
                                                Responsabili
                                            </a>
                                            {% if not area.attivita.exists %}
                                               <a href="/attivita/aree/{{ sede.pk }}/{{ progetti.pk }}/cancella/?progetto=true"
                                                   class="btn btn-xs btn-danger"
                                                   data-conferma="Sei sicuro di voler cancellare questo progetto?">
                                                    <i class="fa fa-fw fa-trash"></i>
                                                    Cancella
                                                </a>
                                            {% endif %}

                                        </div>

                                    </th>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>


                </div>
            </div>

        </div>

        <div class="col-md-3">

            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h2 class="panel-title">
                        <i class="fa fa-fw fa-plus-circle"></i>
                        Nuova Area/Progetto
                    </h2>
                </div>
                <div class="panel-body">

                    <form method="POST">
                        {% csrf_token %}
                        {% bootstrap_form modulo %}
                        <button type="submit" class="btn btn-block btn-primary">
                            <i class="fa fa-fw fa-check"></i>
                            Crea area/progetti
                        </button>
                    </form>

                </div>
            </div>
        </div>
    </div>



{% endblock %}
