{% extends 'attivita_vuota.html' %}

{% block pagina_titolo %}
    Storico partecipazione alle attivit&agrave;
{% endblock %}

{% block app_contenuto %}

    <h2>Storico delle richieste di partecipazione</h2>

    <div class="alert alert-info">
        <i class="fa fa-fw fa-info-circle"></i> Da questa pagina puoi seguire lo stato e controllare lo storico delle
        tue richieste di partecipazione alle attivit&agrave;. <strong>Quando ti viene accettata una richiesta di partecipazione
        per un'attivit&agrave;, ti viene inviata una e-mail di notifica.</strong>
    </div>

    <table class="table table-striped table-bordered">
        <thead>
            <th>
                <i class="fa fa-fw fa-calendar"></i>
                Turno e Attivit&agrave;
            </th>
            <th>
                <i class="fa fa-fw fa-clock-o"></i>
                Data e ora
            </th>
            <th>
                <i class="fa fa-fw fa-info-circle"></i>
                Stato
            </th>
            <th>
                <i class="fa fa-fw fa-times"></i>
                Aggiornamento
            </th>
        </thead>

        <tbody>

        {% for richiesta in storico %}
            <tr
                    {% if richiesta.esito == richiesta.ESITO_NO %}class="bg-danger"{% endif %}
                    {% if richiesta.esito == richiesta.ESITO_PENDING %}class="bg-warning"{% endif %}
                    >
                <td>
                    <span class="piu-grande">{{ richiesta.turno.nome }}</span><br />
                    <a href="{{ richiesta.turno.attivita.url }}" target="_new">
                        {{ richiesta.turno.attivita.nome }}
                    </a>
                </td>
                <td>
                    Inizio: <strong>{{ richiesta.turno.inizio }}</strong><br />
                    Fine: {{ richiesta.turno.fine }}
                </td>
                <td>
                    <span class="piu-grande">
                        {{ richiesta.esito }}
                    </span>
                </td>
                <td>
                    {{ richiesta.ultima_modifica }}<br />
                    <span class="piu-piccolo">
                        Richiesta: {{ richiesta.creazione }}
                    </span>
                </td>
            </tr>

        {% empty %}
            <tr colspan="4" class="bg-info allinea-centro">
                <h4><i class="fa fa-fw fa-info-circle"></i> Nessuna richiesta di partecipazione</h4>
                <p>Vai al Calendario per trovare delle attivit&agrave; alle quali partecipare. Una volta richiesta
                    la partecipazione, torna in questa pagina.</p>

            </tr>
            Nessuna richiesta.
        {% endfor %}

        </tbody>


    </table>
{% endblock %}