        <div class=" btn-group btn-block btn-group-justified">

            <a href="{{ precedente_url }}" class="col-md-5 btn btn-default">
                <i class="fa fa-fw fa-arrow-left"></i>
                <strong>Precedente</strong>
                <span class="piu-piccolo hidden-xs hidden-sm">
                    ({{ precedente_inizio }}&mdash;{{ precedente_fine }})
                </span>
            </a>

            <a href="{{ oggi_url }}" class="col-md-2 btn btn-primary">
                <i class="fa fa-calendar"></i> Oggi

            </a>

            <a href="{{ successivo_url }}" class="col-md-5 btn btn-default">
                <strong>Successivo</strong>
                <span class="piu-piccolo hidden-xs hidden-sm">
                    ({{ successivo_inizio }}&mdash;{{ successivo_fine }})
                </span>
                <i class="fa fa-fw fa-arrow-right"></i>
            </a>

        </div>
