{% extends 'attivita_vuota.html' %}

{% load bootstrap3 %}

{% block pagina_titolo %}
    Storico partecipazione alle attivit&agrave;
{% endblock %}

{% block app_contenuto %}

    <div class="row">
        <div class="col-md-8">

            <div class="alert alert-info">
                <i class="fa fa-fw fa-info-circle"></i> Da questa pagina puoi seguire lo stato e controllare lo storico delle
                tue richieste di partecipazione alle attivit&agrave;. <strong>Quando ti viene accettata una richiesta di partecipazione
                per un'attivit&agrave;, ti viene inviata una e-mail di notifica.</strong>
            </div>
        </div>

        <div class="col-md-4">

            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h2 class="panel-title">
                        <i class="fa fa-fw fa-file"></i>
                        Foglio di servizio
                    </h2>
                </div>
                <div class="panel-body">
                    {% if storico.exists %}
                        <p>Il file, in formato Excel, conterr&agrave;
                            un foglio per ogni anno di servizio.</p>
                        <a href="/attivita/storico/excel/" class="btn btn-block btn-primary" download>
                            <i class="fa fa-fw fa-download"></i> Scarica Excel
                        </a>

                    {% else %}
                        <span class="text-muted">
                            <i class="fa fa-fw fa-info-circle"></i>
                            Nessun foglio di servizio disponibile: questo sar&agrave; disponibile
                            non appena ti sar&agrave; confermata la partecipazione a un'attivit&agrave;.

                        </span>

                    {% endif %}

                </div>
            </div>
        </div>

    </div>

    <div class="panel panel-primary">
        <div class="panel-heading">
            <h2 class="panel-title">
                <i class="fa fa-fw fa-bar-chart"></i>
                Statistiche
            </h2>
        </div>
        <div class="panel-body">
            {% include 'attivita_persona_statistiche_inc.html' %}

        </div>
    </div>


    <div class="panel panel-info">
        <div class="panel-heading">
            <h2 class="panel-title">
                <i class="fa fa-fw fa-list"></i>
                Storico delle richieste di partecipazione
            </h2>
        </div>
        <div class="panel-body">

            {% include 'attivita_storico_inc_tabella.html' %}

        </div>
    </div>
{% endblock %}