{% extends 'servizio_scheda.html' %}
{% load social %}
{% load utils %}
{% load util %}
{% load bootstrap3 %}

{% block pagina_titolo %}
    {% block scheda_titolo %}
        {% if nome %}
            {{ nome }}
        {% endif %}
    {% endblock %}
{% endblock %}

{% block scheda_contenuto %}
    <div class="row">
        <div class="col-md-6">

            <div class="panel panel-primary">

                <div class="panel-heading">
                    <h2 class="panel-title">
                        <i class="fa fa-fw fa-pencil-square-o"></i>
                        Modifica Specifiche del servizio
                    </h2>
                </div>

                <div class="panel-body">
                    <form method="POST">

                        {% csrf_token %}
                        {% bootstrap_form modulo %}

                        <p>&nbsp;</p>
                        <button type="submit" class="btn btn-lg btn-success">
                            <i class="fa fa-fw fa-save"></i>
                            Salva modifiche
                        </button>
                    </form>

                </div>


            </div>
        </div>

        <div class="col-md-6">
            <div class="panel panel-primary">

                <div class="panel-heading">
                    <h2 class="panel-title">
                        <i class="fa fa-fw fa-pencil-square-o"></i>
                        Modifica Turni
                    </h2>
                </div>

                <div class="panel-body">
                    <form method="POST">

                        {% csrf_token %}
                        {% bootstrap_form turni %}

                        <p>&nbsp;</p>
                        <button type="submit" class="btn btn-lg btn-success" id="aggiungi_turno">
                            <i class="fa fa-fw fa-save"></i>
                            Aggiungi
                        </button>
                    </form>

                </div>


            </div>
            <div class="panel panel-primary" id="turni_panel">
                <div class="panel-heading">
                    <h2 class="panel-title">
                        Turni
                    </h2>
                </div>
                <div class="panel-body">
                    <table class="table table-bordered table-striped">
                        <thead>
                                <th>Giorno</th>
                                <th>Apertura</th>
                                <th>Chiusura</th>
                                <th>Azione</th>
                        </thead>
                        <tbody>
                            {% for t in dayhour %}
                                <tr>
                                    <td>
                                        <ul>
                                            {% for day in  t|dammi:'field-1' %}
                                                <li>{{ day|parse_girni }}</li>
                                            {% endfor %}
                                        </ul>
                                    </td>
                                    <td>
                                        {{ t|dammi:'field-2' }}
                                    </td>
                                    <td>
                                        {{ t|dammi:'field-3' }}
                                    </td>
                                    <td>
                                        <a href="?dt={{ t.id }}">Elimina</a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

