{% extends "admin/base_custom.html" %}
{% load i18n admin_urls l10n %}

{% if not is_popup %}
{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
&rsaquo; <a href="{% url 'admin:app_list' app_label=opts.app_label %}">{{ opts.app_config.verbose_name }}</a>
&rsaquo; <a href="{% url opts|admin_urlname:'changelist' %}">{{ opts.verbose_name_plural|capfirst }}</a>
</div>
{% endblock %}
{% endif %}

{% block content %}
    <p>
        Le persone che rientrano in almeno uno de seguenti criteri non saranno soggette a trasferimento:
        <ul>
            <li>Non sono volontari (ma solo dimessi, espulsi, sostenitori, aspiranti, ...)</li>
            <li>Non sono associati ad alcun comitato</li>
            <li>Sono associati allo stesso comitato verso cui viene effettuato il trasferimento</li>
        </ul>
    </p>
    {% if not eseguito %}
    <form action="{{ url }}" method="post" {% if form.is_multipart %}enctype="multipart/form-data"{% endif %}>
    {{ form.errors }}
        {% csrf_token %}
        <input type="hidden" name="action" value="{{ action }}">
        <input type="hidden" name="do_action" value="yes">
        {{ form.as_p }}
        <div>
            <input type="submit" class="default" style="float: none" value="{{ etichetta_invio }}">
        </div>
        <input type="hidden" name="{{ action_checkbox_name }}" value="{{ pks|join:',' }}" />
    </form>
    {% endif %}
    {% if eseguito %}
        <h2><a href="{% url "admin:anagrafica_persona_changelist" %}">Torna alla lista</a></h2>
        {% if errori %}
            <h3>Trasferimenti non effettuati</h3>
            <ul>
            {% for persona in errori %}
                {% include "admin/anagrafica/riga_trasferimento_errori.html" with etichetta_sede="Sede attuale" %}
            {% endfor %}
            </ul>
        {% endif %}
        {% if trasferimenti %}
            <h3>Trasferimenti effettuati</h3>
            <ul>
            {% for persona in trasferimenti %}
                {% include "admin/anagrafica/riga_trasferimento.html" with etichetta_sede="Sede nuova" %}
            {% endfor %}
            </ul>
        {% endif %}
        {% if esclusi %}
            <h3>Non volontari</h3>
            <p>Le persone seguenti sono state escluse in quanto non volontari</p>
            <ul>
            {% for persona in esclusi %}
                {% include "admin/anagrafica/riga_trasferimento.html" with etichetta_sede="Sede attuale" %}
            {% endfor %}
            </ul>
        {% endif %}
    {% elif dati_csv %}
        <h2>Trasferimenti</h2>
        Le seguenti persone saranno trasferite alla sede indicata:
        <p>Le persone indicate in rosso non rispettano uno o più dei criteri indicati e non saranno trasferite</p>
        <ul>
        {% for persona in dati_csv %}
            {% include "admin/anagrafica/riga_trasferimento_dati.html" with etichetta_sede="Sede attuale" persona=persona.persona nuova_sede=persona.sede data_trasferimento=persona.inizio_appartenenza motivazione=persona.motivazione %}
        {% endfor %}
        </ul>
    {% elif dati_pronti %}
        <h2>Trasferimenti</h2>
        Le seguenti persone sono candidate al trasferimento alla sede indicata (si veda sopra per i criteri che devono rispettare):
        <ul>
        {% for persona in queryset %}
            {% include "admin/anagrafica/riga_trasferimento.html" with etichetta_sede="Sede attuale" %}
        {% endfor %}
        </ul>
    {% endif %}
{% endblock %}